@use "./vars" as *;

@mixin button($BACKGROUND, $COLOR, $BORDER-COLOR: $COLOR) {
    color: $COLOR;
    border-color: $BORDER-COLOR;

    :is(&, &:hover, &:active) {
        background: $BACKGROUND;
    }
}

@mixin link($COLOR) {
    color: $COLOR;

    :is(&:hover, &:active) .contents__322f4 {
        --button--underline-color: #{$COLOR};
    }
}

@mixin control($BACKGROUND, $COLOR, $BORDER-COLOR: $COLOR) {
    box-shadow: inset 0 0 0 $size-xs $BORDER-COLOR;
    background: $BACKGROUND;

    &,
    .centerIcon_e3df23 {
        color: $COLOR;
    }
}
