@use "vars" as *;

@mixin large {
    border-radius: $size-l;
    border: $size-xs solid $cream;
    background: unset;
    color: $cream;
    overflow: hidden;
}

@mixin round {
    border-radius: $size-max;
    border: $size-xs solid $cream;
    background: $black;
    color: $cream;
}
