// Colours

$red: var(--ieytd-color-1);
$cream: var(--ieytd-color-2);
$black: var(--ieytd-color-3);

// Sizes

$size-xs: 2px;
$size-s: 3px;
$size-m: 10px;
$size-l: 15px;
$size-xl: 25px;
$size-max: 999px;

$embed-outer: 15px;
$embed-inner: $embed-outer - $size-s;

$channel-spacing: 4px;
