// Colours

$red: var(--ieytd-color-1);
$cream: var(--ieytd-color-2);
$black: var(--ieytd-color-3);

// Sizes

$size-xxs: 1px;
$size-xs: 2px;
$size-s: 3px;
$size-m: 10px;
$size-l: 15px;
$size-xl: 25px;
$size-max: 999px;

$channel-spacing: 4px;

// Misc
$root: ".appMount-2yBXZl";
