// Colours

$red: var(--ieytd-color-1);
$cream: var(--ieytd-color-2);
$black: var(--ieytd-color-3);

// Sizes

$x-thin: 2px;
$thin: 3px;
$thick: 10px;
$max: 999px;

$embed-outer: 15px;
$embed-inner: ($embed-outer - $thin);

$textarea-outer: 25px;
