@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Large popouts
.recentMentionsPopout_ddb5b4,
.messagesPopoutWrap_ac90a2 {
    @include card.outer;
    max-height: 85vh !important;
}

// Small popouts
.popoutContainer_cf58b5,
.popout_c5b389,
.menu_d90b3d {
    @include card.outer;
}

// Header
.header_ac90a2,
.header_e664f3 {
    background: $red;

    // Top title
    :is(h1, h2, h3, h4, h5),
    .inboxTitle_f0cd33,
    .title_e664f3 {
        color: $black;
        @include filter.shadow;
    }
}

// Footer
.footer_ac90a2,
.footer_e6af9c {
    background: $red;
}
