/* Account switcher */
#account {
    background: var(--ieytd-color-3);
}
.username-Iwoq2j div:last-child {
    color: var(--ieytd-color-3) !important;
}
.hintText-1gwhJG {
    color: var(--ieytd-color-2) !important;
}
.focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuDiscriminator-2Vj2p9,
.focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuText-2e3Dry {
    color: var(--ieytd-color-2);
}
.activeIcon-1ykRnF circle {
    fill: var(--ieytd-color-2);
}
.activeIcon-1ykRnF path {
    fill: var(--ieytd-color-3);
}
