@use "../../top/vars" as *;
@use "../../top/card";

// Activities suggestion on hover in voice chat panel

.container_c344de {
    @include card.outer;

    .titleContainer__04773 :is(path, polygon)[fill] {
        fill: $cream;
    }

    .activityItem_a6e176 {
        @include card.large;
        transform: none !important;
    }

    .wumpusRocketOuterContainer__2f463 {
        display: none;
    }
}
