@use "../../top/vars" as *;
@use "../../top/card";

// Activity status
.popout_a9414b {
    @include card.outer;

    // Preset activities
    @at-root .iconsContainer_a9414b {
        @include card.large;
        padding: 0;

        @at-root .iconWidget_a9414b {
            &,
            &:hover,
            &.selectedWidget_a9414b {
                border: 0;
                background: none;
            }
        }
    }

    // Custom activity button
    @at-root .setCustomButton_a9414b {
        &:hover {
            background: unset;
        }
        @at-root .editIconColor_a9414b {
            color: $cream;
        }
    }
}
