@use "../../top/vars" as *;
@use "../../top/card";

// Activities suggestion on hover in voice chat panel

.container__79284 {
    @include card.outer;

    .titleContainer__3427f :is(path, polygon)[fill] {
        fill: $cream;
    }

    .activityItem_da8d98 {
        @include card.large;
        transform: none !important;
    }

    .wumpusRocketOuterContainer_aa48ff {
        display: none;
    }
}
