@use "../../top/vars" as *;
@use "../../top/card";

// On hover channel with threads
.row_c5b389 {
    border-radius: $size-max;
    color: $cream;
    .timestamp_c5b389 {
        color: $cream;
    }

    &:hover {
        background: $cream;
        color: $black;

        .timestamp_c5b389 {
            color: $black;
        }
    }
}

.more_c5b389 {
    border-top: 0;
    color: $red;
}
