@use "../../top/vars" as *;
@use "../../top/card";

// On hover channel with threads
.row__4daf2 {
    border-radius: $size-max;
    color: $cream;
    .timestamp_e48059 {
        color: $cream;
    }

    &:hover {
        background: $cream;
        color: $black;

        .timestamp_e48059 {
            color: $black;
        }
    }
}

.more__14345 {
    border-top: 0;
    color: $red;
}
