@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/svg";

// Voice chat connection status on "Voice connected" click

.container__13b2a {
    @include card.outer;

    .graphContainer_cc9e14 {
        @include card.med;
    }

    .popoutText_aa3bfa {
        color: $cream;
    }

    .separator__5e7b0 {
        display: none;
    }

    .popoutBottom__4228a {
        margin-top: $size-m;

        .secured_d13ee6 {
            color: $cream;

            &::before {
                background: svg.$lock;
            }
        }
    }
}
