@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/svg";

// Voice chat connection status on "Voice connected" click

.container__0810b {
    @include card.outer;

    .graphContainer_ee4dc1 {
        @include card.med;
    }

    .popoutText__56f7e {
        color: $cream;
    }

    .separator_b26b65 {
        display: none;
    }

    .popoutBottom_f1aeca {
        margin-top: $size-m;

        .secured__615be {
            color: $cream;

            &::before {
                background: svg.$lock;
            }
        }
    }
}
