@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";
@use "../../top/svg";

.wrapper_c6ee36:not(.emojiPickerHasTabWrapper_c6ee36),
.contentWrapper_af5dbb,
.contentWrapper_eab878,
.contentWrapper_eab878.isBurstReactionPicker_b9ca03 {
    @include card.outer;
    background: $red;
    box-shadow: none;
}

// Header
.header_c6ee36 {
    background: $red;
}

// Tabs
:is(.navList__8438b, .navList_af5dbb) {
    @include tabs.bar($ISBORDER: false);
    padding-top: 2px;

    & > :not(.betaTag__403f6) {
        @include tabs.tab;
    }

    .navButton__0565e {
        &,
        &:hover {
            color: $cream;
        }
    }

    .navButtonActive_b003de,
    .navButtonActive_af5dbb {
        @include tabs.tab($ISINVERT: true);
        &:hover {
            color: $black;
        }
    }

    div:has(> .navButtonSuperReactActive__01546) {
        @include tabs.tab($ISINVERT: true);
    }
    .navButtonSuperReactActive__01546 {
        background: unset;
        &,
        &:hover {
            color: $black;
        }
    }
}

// Gif selector header
#{$root} .header_b56bbc {
    box-shadow: none;
}

// Skin tone selector
.diversitySelectorOptions_cce80d {
    @include card.round;

    .diversityEmojiItem_cce80d:hover {
        background: unset;
    }
}

// Search
.container_effbe2 {
    @include card.round;

    .clear_effbe2 .icon_effbe2,
    .icon_effbe2 {
        color: $cream;
    }
}

// Back
#{$root} .backButton_b56bbc {
    &,
    &:hover {
        color: $cream;
    }
}

// Server sidebar
.wrapper_ba23fe.wrapper_ba23fe {
    background: $cream;
    top: 54px;

    // Every circle
    .categoryItemGuildCategory_dfa278,
    .categoryItemPackCategory__3ad73,
    .categoryItemDefaultCategory_dfa278,
    .stickerCategory_a7a485 {
        box-shadow: 0 0 0 $size-xs $black;
        border-radius: $size-max;
        overflow: hidden;
    }

    // Default categories
    .categoryItemDefaultCategory_dfa278,
    .stickerCategoryGeneric_a7a485,
    .guildIcon_bfabc4 {
        background: $red;
    }
    .categoryIcon_dfa278,
    .stickerCategoryGenericIcon_a7a485 {
        color: $cream;
    }

    .categoryItemDefaultCategory_dfa278,
    .categoryItemDefaultCategorySelected_dfa278 {
        margin-bottom: 8px;
        &,
        &:hover {
            .categoryIcon_dfa278 {
                color: $cream;
            }
        }
    }

    // Default sticker packs
    .standardStickerShortcut_a7a485 {
        &,
        &:hover {
            background: $red;
        }
    }

    // Server
    .categoryItem_dfa278 {
        border-radius: $size-max;
        overflow: hidden;

        .guildIcon_bfabc4 {
            background: $red;
        }
    }

    .guildCategorySeparator_dfa278 {
        display: none;
    }

    // Circle time
    .mask_bfabc4 foreignObject {
        mask: none;
    }

    // Jump to default emojis
    .unicodeShortcut_dfa278,
    .standardStickerShortcut_a7a485 {
        background: $red;
        color: $cream;
    }
}

// Emoji panel
.bodyWrapper_c6ee36,
.listWrapper_d8cdac {
    background: $black;

    // Group header
    .wrapper_e06857 {
        background: black;

        .header_e06857 {
            color: $cream;
        }
    }

    // Emoji selector
    .emojiItem_fbfedd.emojiItemSelected_fbfedd {
        @include card.med;
        overflow: visible;
        padding: 2px;
    }

    // Emoji image
    .image_b000dd,
    .imageLoading_b000dd {
        border-radius: $size-m;
    }

    // Sticker selector
    .stickerInspected_a708c4 .inspectedIndicator_a708c4 {
        @include card.med;
        box-sizing: border-box;
    }

    // Sticker image
    .stickerAsset_cb3343 {
        border-radius: $size-m;
    }

    // Create sticker
    :is(.createInspected_a708c4, .createSticker_a708c4) {
        background: $black;

        .iconWrapper_a708c4 {
            background: $cream;
            color: $black;
        }
    }

    // Loading
    .error_cb3343,
    .loadingIndicator_cb3343,
    .imageLoading_b000dd {
        background: $cream;
        opacity: 0.3;
    }

    .assetWrapperMasked_cb3343,
    .loadingIndicator_cb3343 {
        mask: none;
    }

    // Unsendables
    .stickerUnsendable_a708c4,
    .emojiItemDisabled__843ea {
        @include filter.sepia;
        opacity: 0.7;
    }
}

// Gif panel
.content_b56bbc {
    background: $black;

    // Favourites
    .categoryFadeBlurple_af1167 {
        opacity: 0.5;
        &,
        &:hover {
            background: $cream;
        }
    }

    .categoryText_af1167 {
        color: $cream;
    }

    .focused_bad108,
    .result_bad108:hover {
        box-shadow: none;

        &::after {
            box-shadow:
                inset 0 0 0 2px $cream,
                inset 0 0 0 3px $black;
        }
    }
}

// Emoji info
.inspector_c3120f {
    background: $red;
}

// No nitro
.premiumPromo_ca9b56 {
    background: $black;

    .premiumPromoTitle_ca9b56,
    .premiumPromoDescription_ca9b56 {
        color: $cream;
    }

    .premiumPromoImage_ca9b56 {
        @include filter.sepia;
    }

    .premiumPromoClose_ca9b56 {
        background-image: svg.$close;
    }
}
