@use "../../top/vars" as *;
@use "../../top/card";

// Emoji info

// Loading
.popoutLoadingForeground__1d922 {
    background: $cream;
    opacity: 0.3;
}

// Server info
.guildSection__15ac6 {
    background: $cream;
    padding: $size-m;

    .svg_bb7847 {
        border-radius: $size-max;
        border: $size-xs solid $black;
        background: $red;
        width: 40px;
        height: 40px;
    }

    .guildTitle_e577f7,
    .defaultColor__77578 {
        color: $black;
    }

    .text-xs-normal_ccc5fb {
        color: $black !important;
    }

    foreignObject {
        mask: none;
    }
}
