@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/svg";
@use "../../top/filter";

// Emoji selector on hover / click in voice chat panel
.container_ad6d5c {
    @include card.outer;

    .emojiPickerHeader_e5f6a0 {
        background: unset;
        transition: background-color 0.5s;

        &.emojiPickerHeaderExpanded__6c1b3 {
            background: $red;
        }

        // Animation toggle
        .label__73b15 {
            @include card.round;
            background: svg.$tada center no-repeat;
            min-width: 22px;
            height: 22px;

            img {
                display: none;
            }
        }

        .dropDown_dec7a8 {
            &,
            &:hover {
                color: $cream;
            }
        }
    }

    // Emoji
    .contents__322f4 {
        > div {
            transform: none !important;
        }
    }

    // Expanded emoji picker
    .categoryList_eac4ac {
        top: 62px;
        border-radius: 0;
    }
    // Emojis
    // No emojis
    .wrapper_c307ba {
        color: $cream;
        .sadImage__4d614 {
            @include filter.sepia;
        }
    }
}
