@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";
@use "../../top/svg";

.wrapper__0757b:not(.emojiPickerHasTabWrapper__63198),
.contentWrapper_e0bb2c,
.contentWrapper_eab878,
.contentWrapper_eab878.isBurstReactionPicker_b9ca03 {
    @include card.outer;
    background: $red;
    box-shadow: none;
}

// Header
.header_e5d8b2 {
    background: $red;
}

// Tabs
:is(.navList__8438b, .navList__5c9f4) {
    @include tabs.bar($ISBORDER: false);
    padding-top: 2px;

    & > :not(.betaTag__403f6) {
        @include tabs.tab;
    }

    .navButton__0565e {
        &,
        &:hover {
            color: $cream;
        }
    }

    .navButtonActive_b003de,
    .navButtonActive__0c878 {
        @include tabs.tab($ISINVERT: true);
        &:hover {
            color: $black;
        }
    }

    div:has(> .navButtonSuperReactActive__01546) {
        @include tabs.tab($ISINVERT: true);
    }
    .navButtonSuperReactActive__01546 {
        background: unset;
        &,
        &:hover {
            color: $black;
        }
    }
}

// Gif selector header
#{$root} .header_aac16f {
    box-shadow: none;
}

// Skin tone selector
.diversitySelectorOptions_daea2d {
    @include card.round;

    .diversityEmojiItem__48e39:hover {
        background: unset;
    }
}

// Search
.container_ec5ce2 {
    @include card.round;

    .clear__70411 .icon__5c8c7,
    .icon__5c8c7 {
        color: $cream;
    }
}

// Back
#{$root} .backButton_d9b964 {
    &,
    &:hover {
        color: $cream;
    }
}

// Server sidebar
.wrapper__45980.wrapper__45980 {
    background: $cream;
    top: 54px;

    // Every circle
    .categoryItemGuildCategory_a121c6,
    .categoryItemPackCategory__3ad73,
    .categoryItemDefaultCategory__6c3db,
    .stickerCategory__12120 {
        box-shadow: 0 0 0 $size-xs $black;
        border-radius: $size-max;
        overflow: hidden;
    }

    // Default categories
    .categoryItemDefaultCategory__6c3db,
    .stickerCategoryGeneric_ac28b6,
    .guildIcon_ed1ab4 {
        background: $red;
    }
    .categoryIcon_d0a396,
    .stickerCategoryGenericIcon__6fdc6 {
        color: $cream;
    }

    .categoryItemDefaultCategory__6c3db,
    .categoryItemDefaultCategorySelected__7d6e0 {
        margin-bottom: 8px;
        &,
        &:hover {
            .categoryIcon_d0a396 {
                color: $cream;
            }
        }
    }

    // Default sticker packs
    .standardStickerShortcut_e9a698 {
        &,
        &:hover {
            background: $red;
        }
    }

    // Server
    .categoryItem__4a642 {
        border-radius: $size-max;
        overflow: hidden;

        .guildIcon_ed1ab4 {
            background: $red;
        }
    }

    .guildCategorySeparator__5ea84 {
        display: none;
    }

    // Circle time
    .mask__7c181 foreignObject {
        mask: none;
    }

    // Jump to default emojis
    .unicodeShortcut__01a83,
    .standardStickerShortcut_e9a698 {
        background: $red;
        color: $cream;
    }
}

// Emoji panel
.bodyWrapper__5f209,
.listWrapper__588b8 {
    background: $black;

    // Group header
    .wrapper__91b2c {
        background: black;

        .header__8e271 {
            color: $cream;
        }
    }

    // Emoji selector
    .emojiItem_de65fd.emojiItemSelected__023be {
        @include card.med;
        overflow: visible;
        padding: 2px;
    }

    // Emoji image
    .image__43623,
    .imageLoading_fb7de7 {
        border-radius: $size-m;
    }

    // Sticker selector
    .stickerInspected__29120 .inspectedIndicator__0c5e3 {
        @include card.med;
        box-sizing: border-box;
    }

    // Sticker image
    .stickerAsset_ab864f {
        border-radius: $size-m;
    }

    // Create sticker
    :is(.createInspected_e93230, .createSticker__59b5f) {
        background: $black;

        .iconWrapper_b4aa1f {
            background: $cream;
            color: $black;
        }
    }

    // Loading
    .error__4a58f,
    .loadingIndicator__22567,
    .imageLoading_fb7de7 {
        background: $cream;
        opacity: 0.3;
    }

    .assetWrapperMasked_c4c689,
    .loadingIndicator__22567 {
        mask: none;
    }

    // Unsendables
    .stickerUnsendable__6d4dd,
    .emojiItemDisabled__843ea {
        @include filter.sepia;
        opacity: 0.7;
    }
}

// Gif panel
.content__2faa3 {
    background: $black;

    // Favourites
    .categoryFadeBlurple_ffb0c5 {
        opacity: 0.5;
        &,
        &:hover {
            background: $cream;
        }
    }

    .categoryText__1b8ff {
        color: $cream;
    }

    .focused__79359,
    .result_e1fc74:hover {
        box-shadow: none;

        &::after {
            box-shadow:
                inset 0 0 0 2px $cream,
                inset 0 0 0 3px $black;
        }
    }
}

// Emoji info
.inspector__80c84 {
    background: $red;
}

// No nitro
.premiumPromo__9e1ca {
    background: $black;

    .premiumPromoTitle_abafab,
    .premiumPromoDescription_c432cb {
        color: $cream;
    }

    .premiumPromoImage__0f616 {
        @include filter.sepia;
    }

    .premiumPromoClose_bb9fb2 {
        background-image: svg.$close;
    }
}
