/* Emoji info popout */
.popoutContainer-2wbmiM {
    border: 2px solid var(--ieytd-color-2);
}
/* Emoji info loading */
.popoutLoadingForeground-3xnRkg {
    background: var(--ieytd-color-2);
}
/* Get nitro button */
.popoutContainer-2wbmiM .shinyButton-2Q9MDB,
.popoutContainer-2wbmiM .shinyButton-2Q9MDB:hover,
.popoutContainer-2wbmiM .shinyButton-2Q9MDB:active {
    background: var(--ieytd-color-3);
}
