@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/svg";
@use "../../top/filter";

// Emoji selector on hover / click in voice chat panel
.container__77df0 {
    @include card.outer;

    .emojiPickerHeader_bed3a2 {
        background: unset;
        transition: background-color 0.5s;

        &.emojiPickerHeaderExpanded_f37789 {
            background: $red;
        }

        // Animation toggle
        .label__8e2ef {
            @include card.round;
            background: svg.$tada center no-repeat;
            min-width: 22px;
            height: 22px;

            img {
                display: none;
            }
        }

        .dropDown__8be15 {
            &,
            &:hover {
                color: $cream;
            }
        }
    }

    // Emoji
    .contents_fb6220 {
        > div {
            transform: none !important;
        }
    }

    // Expanded emoji picker
    .categoryList_f8c48f {
        top: 62px;
        border-radius: 0;
    }
    // Emojis
    // No emojis
    .wrapper_d951b6 {
        color: $cream;
        .sadImage_e4e5ab {
            @include filter.sepia;
        }
    }
}
