@use "../../top/vars" as *;
@use "../../top/card";

// Form tag overflow menu
.container_ae7412 {
    @include card.outer;

    .headerLeft_aab82b {
        gap: $size-m;
    }

    .separator_afbd59 {
        display: none;
    }

    .clear__72191 {
        color: $cream;
    }
}
