@use "../../top/vars" as *;
@use "../../top/card";

// Form tag overflow menu
.container_ae4f46 {
    @include card.outer;

    .headerLeft_ae4f46 {
        gap: $size-m;
    }

    .separator_ae4f46 {
        display: none;
    }

    .clear_ae4f46 {
        color: $cream;
    }
}
