@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/tabs";
@use "../../top/pip";

.header__58a85 {
    .inboxIcon__300b0 {
        color: $cream;
    }

    .inboxTitle__6b2e6 {
        font-family: var(--font-display);
        font-size: 22px;
        line-height: 26px;
    }

    .friendRequestsButton__77e10,
    .secondary__45d4f {
        @include card.round;

        &:hover:not(.disabled__4d064) {
            background: $black;
            color: $cream;
        }
    }

    .eyebrow_c15ff6 {
        font-family: var(--font-primary);
        font-weight: normal;
        background: unset !important;
        color: $cream;
    }

    // Tabs
    .topPill__63ad4 {
        padding-top: 16px;
        padding-left: 0;

        // New message
        .circleBadge__548de {
            background: $red !important;
        }
    }
}

// Channel group
.channelHeader_ea0f89 {
    background: $black;

    .channelName_bac162 {
        svg {
            zoom: 1.2;
        }

        .channelNameSpan__472c9 {
            font-size: 18px;
            line-height: 24px;
            margin: -$size-s 0 0 $size-s;
        }
    }

    .dmIcon__160f0,
    .guildIcon__6a5d6 {
        border-radius: $size-max;
        border: $size-s solid $cream;
        background: $red;
    }
}

// Message
.messageContainer_cb3d47,
.messages__1aaa1 {
    background: unset;
}

.jumpButton__6c38c {
    @include card.round;
    padding-top: 0;

    &:hover.text__76b99,
    .text__76b99 {
        color: $cream;
    }
}

// For you
.container_cdf5a8 {
    background: unset;

    // Unread activity
    .unread_ade69e {
        @include pip.pip($COLOR: $cream);
        left: 0;
        top: 24px;
    }
}

// Close section
.tertiary_ad6d80 {
    &,
    &:hover:not(.disabled__4d064) {
        background: unset;
        color: $cream;
    }
}

// No messages
.iconContainer__58374 {
    .icon_c68d99 {
        color: $black;
        background: $cream;
    }
    .stars__0a083 path {
        fill: $cream;
    }
}
