@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/tabs";
@use "../../top/pip";

.header-145e10 {
    .inboxIcon-1XO7FO {
        color: $cream;
    }

    .friendRequestsButton-77veU7,
    .secondary-2bzKEX {
        @include card.round;

        &:hover:not(.disabled-184-il) {
            background: $black;
            color: $cream;
        }
    }

    .eyebrow-132Xza {
        font-family: var(--font-primary);
        font-weight: normal;
        background: unset !important;
        color: $cream;
    }

    // Tabs
    .topPill-2vcLsa {
        @include tabs.bar($ISBORDER: false);
        padding-top: 16px;
        padding-left: 0;

        .item-2GWPIy {
            &,
            &:hover:not(.disabled-2G98Nl) {
                @include tabs.tab($ISINVERT: true);
            }

            &.selected-1sf9UK,
            &.selected-1sf9UK:hover:not(.disabled-2G98Nl) {
                @include tabs.tab;
            }
        }
    }
}

// Channel group
.channelHeader-DFRX8q {
    background: $black;

    .channelNameSpan-1rY63L {
        font-size: 18px;
        line-height: 18px;
        margin: -$size-s 0 0 $size-s;
    }
}

// Message
.messageContainer-3VTXBC,
.messages-23can0 {
    background: unset;
}

.jumpButton-1V_1FA {
    @include card.round;
    padding-top: 0;

    &:hover.text-2ifC_x,
    .text-2ifC_x {
        color: $cream;
    }
}

// For you
.container-1A0qQO {
    background: unset;

    // Unread activity
    .unread-O4ZgUu {
        @include pip.pip($COLOR: $cream);
        left: 0;
        top: 24px;
    }
}

// Close section
.tertiary-1e-lAP {
    &,
    &:hover:not(.disabled-184-il) {
        background: unset;
        color: $cream;
    }
}
