/* Mark inbox as read button */
.secondary-2bzKEX {
    color: var(--ieytd-color-2);
}
.secondary-2bzKEX:hover:not(.disabled-184-il) {
    color: var(--ieytd-color-2);
}
/* Inbox tutorial */
.tutorial-Nb3Zz5 .base-21yXnu {
    color: var(--ieytd-color-1);
}
.recentMentionsPopout-2bI1ZN .lookFilled-yCfaCM.colorBrand-I6CyqQ,
.tutorialIcon-25VF3Q {
    background: var(--ieytd-color-1);
    color: var(--ieytd-color-2);
}
/* Inbox channel name */
.channelName-3APnhp {
    overflow: visible;
    color: var(--ieytd-color-2);
}
.colorHeaderSecondary-g5teka {
    color: var(--ieytd-color-2);
}
/* Inbox notification / mark as read / filter buttons */
.tertiary-1e-lAP {
    color: var(--ieytd-color-1);
}
.tertiary-1e-lAP:hover:not(.disabled-184-il) {
    color: var(--ieytd-color-1);
    background: var(--ieytd-color-3);
}
/* inbox ping icon */
.recentMentionsPopout-2bI1ZN .wrapper-2olG5t {
    background: var(--ieytd-color-3);
    width: 3px;
    height: 15px;
    padding: 2px 7px;
    border-radius: 10px;
}
/* Inbox jump button */
.jumpButton-1V_1FA {
    border-radius: 20px;
    padding: 4px 8px;
}
.jumpButton-1V_1FA:hover .text-2ifC_x {
    color: var(--ieytd-color-1);
}
/* Inbox setting checkboxes */
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: var(--ieytd-color-3);
}
/* Channel in inbox */
.guildName-y1svcU {
    color: var(--ieytd-color-2);
}
