@forward "./addgame";
@forward "./channeldetail";
@forward "./emojiinfo";
@forward "./emojipicker";
@forward "./forumtags";
@forward "./inbox";
@forward "./languageselector";
@forward "./loading";
@forward "./memberfilter";
@forward "./menu";
@forward "./noisesuppression";
@forward "./pinned";
@forward "./search";
@forward "./selectfriends";
@forward "./soundpicker";
@forward "./statusedit";
@forward "./threads";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Large popouts
.recentMentionsPopout-2bI1ZN,
.messagesPopoutWrap-3zryHW {
    @include card.outer;
    max-height: 85vh !important;
}

// Small popouts
.popoutContainer-2wbmiM,
.popout-TdhJ6Z,
.menu-2TXYjN {
    @include card.outer;
}

// Header
.header-1w9Q93,
.header-3_zmOb {
    background: $red;

    // Top title
    :is(h1, h2, h3, h4, h5),
    .inboxTitle-EQkQZa,
    .title-10Au0i {
        color: $black;
        @include filter.shadow;
    }
}

// Footer
.footer-5ji8u1,
.footer-C9oLp9 {
    background: $red;
}
