@forward "./activities";
@forward "./addgame";
@forward "./channeldetail";
@forward "./connectionstats";
@forward "./emojiinfo";
@forward "./emojipicker";
@forward "./emojivc";
@forward "./forumtags";
@forward "./inbox";
@forward "./languageselector";
@forward "./loading";
@forward "./memberfilter";
@forward "./menu";
@forward "./noisesuppression";
@forward "./pinned";
@forward "./search";
@forward "./selectfriends";
@forward "./soundpicker";
@forward "./statusedit";
@forward "./threads";
@forward "./voice";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Large popouts
.recentMentionsPopout__826a9,
.messagesPopoutWrap_b3b384 {
    @include card.outer;
    max-height: 85vh !important;
}

// Small popouts
.popoutContainer__7b9a3,
.popout__24e32,
.menu_dc52c6 {
    @include card.outer;
}

// Header
.header_f5cc88,
.header__53b07 {
    background: $red;

    // Top title
    :is(h1, h2, h3, h4, h5),
    .inboxTitle__7e65d,
    .title__47111 {
        color: $black;
        @include filter.shadow;
    }
}

// Footer
.footer_a3029c,
.footer__274e8 {
    background: $red;
}
