@forward "./activities";
@forward "./activitystatus";
@forward "./addgame";
@forward "./channeldetail";
@forward "./connectionstats";
@forward "./emojiinfo";
@forward "./emojipicker";
@forward "./emojivc";
@forward "./forumtags";
@forward "./inbox";
@forward "./languageselector";
@forward "./loading";
@forward "./memberfilter";
@forward "./menu";
@forward "./noisesuppression";
@forward "./pinned";
@forward "./postguidelines";
@forward "./search";
@forward "./selectfriends";
@forward "./soundpicker";
@forward "./statusedit";
@forward "./threads";
@forward "./voice";
@forward "./watchstream";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Large popouts
.recentMentionsPopout__40c54,
.messagesPopoutWrap__10dd1 {
    @include card.outer;
    max-height: 85vh !important;
}

// Small popouts
.popoutContainer__66068,
.popout__24e32,
.menu__088f7 {
    @include card.outer;
}

// Header
.header__21b33,
.header__6d44a {
    background: $red;

    // Top title
    :is(h1, h2, h3, h4, h5),
    .inboxTitle__6b2e6,
    .title__8c726 {
        color: $black;
        @include filter.shadow;
    }
}

// Footer
.footer__6b9ef,
.footer__062a1 {
    background: $red;
}
