@use "../../top/vars" as *;
@use "../../top/card";

// Select language on uploaded text file

.languageSelector__4840c {
    @include card.outer;

    .item__287de {
        border-radius: $size-max;
        color: $cream;
        margin-bottom: 0;

        &:hover:not(.disabled_ef860a),
        &.selected__32a6a {
            background: $cream;
            color: $black;
        }
    }
}
