@use "../../top/vars" as *;
@use "../../top/card";

// Select language on uploaded text file

.languageSelector_ad9cbd {
    @include card.outer;

    .item_eef3ef {
        border-radius: $size-max;
        color: $cream;
        margin-bottom: 0;

        &:hover:not(.disabled_eef3ef),
        &.selected_eef3ef {
            background: $cream;
            color: $black;
        }
    }
}
