@use "../../top/vars" as *;
@use "../../top/card";

// Display Roles filter in Server Settings > Server Members

.container_d27846 {
    @include card.outer;

    .container__7712a {
        @include card.round;
    }

    .item__287de {
        color: $cream;
    }

    .focused__2b1b2,
    .item__287de:hover:not(.disabled__1c6ff),
    .selected__511cf {
        background: unset;
        color: $cream;
    }
}
