@use "../../top/vars" as *;
@use "../../top/card";

// Display Roles filter in Server Settings > Server Members

.container_ac201b {
    @include card.outer;

    .item_eef3ef {
        color: $cream;
    }

    .focused_eef3ef,
    .item_eef3ef:hover:not(.disabled_eef3ef),
    .selected_eef3ef {
        background: unset;
        color: $cream;
    }
}
