@use "../../top/vars" as *;
@use "../../top/card";

// Right click menu

.colorDefault_e361cf {
    border-radius: $size-max;
    color: $cream;

    :is(.caret_ce50ce, .checkbox__378d3, .radioSelection__41d1e, .subtext__694e2) {
        color: $cream;
    }

    .check__8d1bd {
        color: $black;
    }

    &.focused_dcafb9,
    &:active:not(.hideInteraction__0b569) {
        background: $cream;
        color: $black;

        :is(.caret_ce50ce, .checkbox__378d3, .radioSelection__41d1e, .subtext__694e2) {
            color: $black;
        }

        .check__8d1bd {
            color: $cream;
        }
    }
}

.separator__174fc {
    display: none;
}
