@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Pinned messages in current channel

.messageGroupWrapper__1fce2 {
    background: unset;
    border: 0;
    .jumpButton__309d6 {
        @include card.round;
        height: 20px;
        padding: 4px;
        padding-top: 0;

        div {
            color: $cream;
            line-height: 24px;
        }
    }
}

.image_bbc9d9 {
    @include filter.sepia;
}

.header__21b33 {
    padding: 12px 16px;

    .closeIcon__5dce1 {
        &,
        &:hover {
            color: $cream;
        }
    }
}
