@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Pinned messages in current channel

.messageGroupWrapper_f8c6e9 {
    background: unset;
    border: 0;
    .jumpButton__0329d {
        @include card.round;
        height: 20px;
        padding: 4px;
        padding-top: 0;

        div {
            color: $cream;
            line-height: 24px;
        }
    }
}

.image__0a0fc {
    @include filter.sepia;
}

.header_f5cc88 {
    padding: 12px 16px;

    .closeIcon__93269 {
        &,
        &:hover {
            color: $cream;
        }
    }
}
