@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Pinned messages in current channel

.messageGroupWrapper-1jf_7C {
    background: unset;
    border: 0;
    .jumpButton-1ZwI_j {
        @include card.round;
        height: 20px;
        padding: 4px;
        padding-top: 0;

        div {
            color: $cream;
            line-height: 24px;
        }
    }
}

.image-t6rLT3 {
    @include filter.sepia;
}

.header-1w9Q93 {
    padding: 12px 16px;

    .closeIcon-2IriN1 {
        &,
        &:hover {
            color: $cream;
        }
    }
}
