@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Search chat history

#{$root} {
    .container__84c26 {
        @include card.outer;
    }

    // Header
    .focused__68b93 {
        background: $red;
    }

    .queryContainer_c1cb2f {
        color: $cream;

        strong {
            color: $cream;
        }
    }
}

// Group header
.resultsGroup_b221b0 {
    .header__00739 {
        color: $cream;
    }

    .searchLearnMore__17e18,
    .searchClearHistory__7fe75 {
        &,
        &:hover {
            color: $cream;
        }
    }
}

// Search option
.searchOption__3c857 {
    .filter__851fb {
        color: $red;
    }
    .answer__9ff92 {
        color: $cream;
    }
}

// History / options
.option__91497 {
    &:hover,
    &[aria-selected="true"] {
        background: unset;

        .plusIcon__3ff01 {
            color: $cream;
        }
    }

    &::after,
    &:hover::after {
        display: none;
    }

    &,
    &:hover {
        :is(.nonText_fbd88d, .answer__9ff92, .filter__851fb, strong) {
            color: $cream;
        }
    }

    // From user
    &.user__97b4c .displayedNick_ee206c {
        color: $cream;
        font-family: var(--font-display);
        margin-top: -6px;
    }
    &.user__97b4c .displayUsername__41697 {
        color: $red;
    }
}

.resultsGroup_b221b0::before {
    display: none;
}

// Date picker
#{$root} .calendarPicker__47c85 {
    .react-datepicker__header,
    .react-datepicker {
        background: $black;
    }

    .react-datepicker {
        padding: 15px;
    }

    // Left right navigation
    .react-datepicker__navigation.react-datepicker__navigation {
        border-radius: $size-max;
        border: $size-xs solid $cream;
        box-sizing: content-box;
        height: $size-xl;
        width: $size-xl;
        @include filter.sepia;
    }

    // Month title
    .react-datepicker__current-month {
        color: $cream;
        border-bottom: 0;
        padding: $size-m 0;
    }

    // Day names
    .react-datepicker__day-name {
        color: $cream;
    }

    // Actual calendar
    .react-datepicker__month {
        @include card.large;
    }

    // Days
    .react-datepicker__day {
        // Revert all backgrounds
        &:hover,
        &.react-datepicker__day--keyboard-selected,
        &.react-datepicker__day--selected:hover,
        &.react-datepicker__day--outside-month,
        &.react-datepicker__day--disabled,
        &.react-datepicker__day--disabled:hover {
            background: unset;
        }

        // Selectable
        &,
        &.react-datepicker__day--outside-month {
            color: $cream;
        }

        // Unselectable
        &.react-datepicker__day--disabled,
        &.react-datepicker__day--disabled:hover {
            color: $red;
        }

        // Hovered
        &:not(.react-datepicker__day--disabled):hover {
            &::before {
                $size: 35px;
                width: $size;
                height: $size;
                top: calc(20px - $size / 2);
                left: calc(20px - $size / 2);
                content: "";
                position: absolute;
                @include card.round;
                box-sizing: border-box;
                background: unset;
            }
        }

        // Selected
        &.react-datepicker__day--selected:after {
            background-color: $cream;
        }
    }
}

// Footer
.datePicker_df63a7 .datePickerHint_d023b6 {
    background: $red;
    margin: 0;
    padding: 20px;
    border-top: 0;

    .hint__460f1 {
        color: $cream;
    }

    .hintValue__0c960 {
        border-radius: $size-max;

        &,
        &:hover {
            background: $cream;
            color: $black;
        }
    }
}

/* search modifiers, eg. has: from: */
#{$root} {
    // Search modifiers
    .searchFilter_dbda51 {
        background: $cream;
        color: $black;
        border-radius: $size-max 0 0 $size-max;
        padding: 0 3px 0 6px;
    }
    .searchAnswer__2ccaf {
        background: $red;
        color: $black;
        border-radius: 0 $size-max $size-max 0;
        padding: 0 6px 0 2px;
    }

    // In channel
    .searchResultChannelCategory__3c246,
    .searchResultChannelIcon__80f46 {
        color: $cream;
    }
}
