@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Search chat history

#{$root} {
    .container_eedf95 {
        @include card.outer;
    }

    // Header
    .focused_eedf95 {
        background: $red;
    }

    .queryContainer_eedf95 {
        color: $cream;

        strong {
            color: $cream;
        }
    }
}

// Group header
.resultsGroup_b0286e {
    .header_b0286e {
        color: $cream;
    }

    .searchLearnMore_b0286e,
    .searchClearHistory_b0286e {
        &,
        &:hover {
            color: $cream;
        }
    }
}

// Search option
.searchOption_b0286e {
    .filter_b0286e {
        color: $red;
    }
    .answer_b0286e {
        color: $cream;
    }
}

// History / options
.option_b0286e {
    &:hover,
    &[aria-selected="true"] {
        background: unset;

        .plusIcon_b0286e {
            color: $cream;
        }
    }

    &::after,
    &:hover::after {
        display: none;
    }

    &,
    &:hover {
        :is(.nonText_b0286e, .answer_b0286e, .filter_b0286e, strong) {
            color: $cream;
        }
    }

    // From user
    &.user_b0286e .displayedNick_b0286e {
        color: $cream;
        font-family: var(--font-display);
        margin-top: -6px;
    }
    &.user_b0286e .displayUsername_b0286e {
        color: $red;
    }
}

.resultsGroup_b0286e::before {
    display: none;
}

// Date picker
#{$root} .calendarPicker__47c85 {
    .react-datepicker__header,
    .react-datepicker {
        background: $black;
    }

    .react-datepicker {
        padding: 15px;
    }

    // Left right navigation
    .react-datepicker__navigation.react-datepicker__navigation {
        border-radius: $size-max;
        border: $size-xs solid $cream;
        box-sizing: content-box;
        height: $size-xl;
        width: $size-xl;
        @include filter.sepia;
    }

    // Month title
    .react-datepicker__current-month {
        color: $cream;
        border-bottom: 0;
        padding: $size-m 0;
    }

    // Day names
    .react-datepicker__day-name {
        color: $cream;
    }

    // Actual calendar
    .react-datepicker__month {
        @include card.large;
    }

    // Days
    .react-datepicker__day {
        // Revert all backgrounds
        &:hover,
        &.react-datepicker__day--keyboard-selected,
        &.react-datepicker__day--selected:hover,
        &.react-datepicker__day--outside-month,
        &.react-datepicker__day--disabled,
        &.react-datepicker__day--disabled:hover {
            background: unset;
        }

        // Selectable
        &,
        &.react-datepicker__day--outside-month {
            color: $cream;
        }

        // Unselectable
        &.react-datepicker__day--disabled,
        &.react-datepicker__day--disabled:hover {
            color: $red;
        }

        // Hovered
        &:not(.react-datepicker__day--disabled):hover {
            &::before {
                $size: 35px;
                width: $size;
                height: $size;
                top: calc(20px - $size / 2);
                left: calc(20px - $size / 2);
                content: "";
                position: absolute;
                @include card.round;
                box-sizing: border-box;
                background: unset;
            }
        }

        // Selected
        &.react-datepicker__day--selected:after {
            background-color: $cream;
        }
    }
}

// Footer
.datePicker_b0286e .datePickerHint_b0286e {
    background: $red;
    margin: 0;
    padding: 20px;
    border-top: 0;

    .hint_b0286e {
        color: $cream;
    }

    .hintValue_b0286e {
        border-radius: $size-max;

        &,
        &:hover {
            background: $cream;
            color: $black;
        }
    }
}

/* search modifiers, eg. has: from: */
#{$root} {
    // Search modifiers
    .searchFilter_b0fa94 {
        background: $cream;
        color: $black;
        border-radius: $size-max 0 0 $size-max;
        padding: 0 3px 0 6px;
    }
    .searchAnswer_b0fa94 {
        background: $red;
        color: $black;
        border-radius: 0 $size-max $size-max 0;
        padding: 0 6px 0 2px;
    }

    // In channel
    .searchResultChannelCategory_b0286e,
    .searchResultChannelIcon_b0286e {
        color: $cream;
    }
}
