@use "../../top/vars" as *;

// Select friends to create group DM

.friend_ebf869 .discordTag_ebf869 {
    color: $cream;
}

#{$root} .friendSelected_ebf869 {
    background: unset;
}

#{$root} .tag_effbe2 {
    border-radius: $size-max;
    background: $cream;
    color: $black;

    &:hover {
        opacity: 1;
    }
}
