/* Select friends to create new group chat */
.theme-dark .root-g14mjS.popout-3gby1q {
    background: var(--ieytd-color-1);
}
/* Header */
.popout-3gby1q .header-1zd7se {
    box-shadow: none;
    flex-flow: row wrap;
    justify-content: space-between;
}
.theme-dark .subtitle-3v29zT {
    color: var(--ieytd-color-1);
}
.searchBar-14YqL- .searchBarComponent-18D6hD {
    background: var(--ieytd-color-3);
    border: 2px solid var(--ieytd-color-2);
    border-radius: 20px;
}
.medium-13kyaW .tag-15zcD_ {
    background: var(--ieytd-color-1);
    border-radius: 20px;
}
/* Content */
#uid_14 {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    border-left: 3px solid var(--ieytd-color-2);
}
.friendWrapper-2x5j0A {
    background: var(--ieytd-color-3);
    border: 2px solid var(--ieytd-color-2);
    border-radius: 25px;
    margin: 0 8px;
}
.theme-dark .friend-8ZraY7 {
    color: var(--ieytd-color-2);
}
.theme-dark .friendSelected-3cwmD7 {
    background: transparent;
}
.friend-8ZraY7 .nickname-1PdAp3 {
    font-family: var(--font-display);
    color: var(--ieytd-color-2);
}
.friend-8ZraY7 .discordTag-2ke74W {
    color: var(--ieytd-color-2);
}
.theme-dark .checkbox-f1HnKB {
    border: 2px solid var(--ieytd-color-2) !important;
    border-radius: 50%;
}
.theme-dark .checkbox-f1HnKB.checked-1pZh2h svg path {
    fill: var(--ieytd-color-2);
}
/* Footer */
.footer-C9oLp9 {
    background: var(--ieytd-color-2);
    border-radius: 0 0 5px 5px;
}
.footer-C9oLp9 .lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: var(--ieytd-color-1);
    color: var(--ieytd-color-2);
}
