@use "../../top/vars" as *;
@use "../../top/card";

// Soundboard picker

.picker_cd703d {
    @include card.outer;
    background: $black;
}

// Header
.header_d0dc1d {
    background: $red;

    .settingsClickArea_ca5acd {
        color: $cream;
    }
}

// Server sidebar
.categoryList_ceda83 {
    top: 64px;
    left: $size-s;
    bottom: $size-s;
    border-bottom-left-radius: $size-l;

    .category_ceda83 {
        border-radius: $size-max;
        background: $red;
        overflow: hidden;
        box-shadow: 0 0 0 2px $black;
    }

    .categoryIconIcon_ceda83 {
        color: $cream;
    }
}

// Sound panel
.listWrapper_d0dc1d {
    left: 47px;
    width: calc(100% - 47px);

    // Group header
    .sectionHeader_ca5acd {
        position: sticky;
        margin: 0;
        top: 0;
        z-index: 1;
        background: $black;
        color: $cream;
        height: 32px;
        align-items: center;

        .guildIcon_bfabc4 {
            border-radius: $size-max;
            background: $red;
        }

        .sectionTitle_ca5acd {
            color: $cream;
            font-size: 12px;
            line-height: 12px;
            font-family: var(--font-primary);
        }
    }

    // Sound
    .soundButton_f40049 {
        @include card.med;

        // Hover to select
        &.focused_f40049.hoverActiveBackground_f40049,
        &:focus-within.hoverActiveBackground_f40049,
        &:hover.hoverActiveBackground_f40049 {
            background: unset;

            .secondaryButton_f40049 {
                color: $cream;
            }

            .favoriteIconFavorite_f40049 path:last-child {
                fill: $cream;
            }
        }

        // Hover to play
        .buttonOverlayBackground_f40049 {
            background: $cream;
        }
        .buttonOverlay_f40049:has(.buttonOverlayBackground_f40049) {
            .playIcon_f40049,
            .secondaryButton_f40049 {
                color: $black;
            }

            .favoriteIconFavorite_f40049 path:last-child {
                fill: $black;
            }
        }
    }

    // Add sound
    .soundAddButton__896b6 {
        border: 0;

        .soundAddIcon_c06ee5 {
            color: $cream;
        }
    }
}
