@use "../../top/vars" as *;
@use "../../top/card";

// Soundboard picker

.picker__6dca7 {
    @include card.outer;
    background: $black;
}

// Header
.header_bf5f46 {
    background: $red;

    .settingsClickArea__307ff {
        color: $cream;
    }
}

// Server sidebar
.categoryList__173de {
    top: 64px;
    left: $size-s;
    bottom: $size-s;
    border-bottom-left-radius: $size-l;

    .category_f1b389 {
        border-radius: $size-max;
        background: $red;
        overflow: hidden;
        box-shadow: 0 0 0 2px $black;
    }

    .categoryIconIcon_ae84ad {
        color: $cream;
    }
}

// Sound panel
.listWrapper__2275d {
    left: 47px;
    width: calc(100% - 47px);

    // Group header
    .sectionHeader_c664ae {
        position: sticky;
        margin: 0;
        top: 0;
        z-index: 1;
        background: $black;
        color: $cream;
        height: 32px;
        align-items: center;

        .guildIcon__4d796 {
            border-radius: $size-max;
            background: $red;
        }

        .sectionTitle__8df35 {
            color: $cream;
            font-size: 12px;
            line-height: 12px;
            font-family: var(--font-primary);
        }
    }

    // Sound
    .soundButton__5ad7b {
        @include card.med;

        // Hover to select
        &.focused_a3fd1a.hoverActiveBackground__32054,
        &:focus-within.hoverActiveBackground__32054,
        &:hover.hoverActiveBackground__32054 {
            background: unset;

            .secondaryButton__41267 {
                color: $cream;
            }

            .favoriteIconFavorite_a2c6b6 path:last-child {
                fill: $cream;
            }
        }

        // Hover to play
        .buttonOverlayBackground_ec646a {
            background: $cream;
        }
        .buttonOverlay__76d7d:has(.buttonOverlayBackground_ec646a) {
            .playIcon__68d2d,
            .secondaryButton__41267 {
                color: $black;
            }

            .favoriteIconFavorite_a2c6b6 path:last-child {
                fill: $black;
            }
        }
    }

    // Add sound
    .soundAddButton__896b6 {
        border: 0;

        .soundAddIcon__0f1fb {
            color: $cream;
        }
    }
}
