@use "../../top/vars" as *;
@use "../../top/card";

// Soundboard picker

.picker__6dca7 {
    @include card.outer;
    background: $black;
}

// Header
.header__93ab0 {
    background: $red;

    .settingsClickArea__2839d {
        color: $cream;
    }
}

// Server sidebar
.categoryList__2f64f {
    top: 64px;
    left: $size-s;
    bottom: $size-s;
    border-bottom-left-radius: $size-l;

    .category__81549 {
        border-radius: $size-max;
        background: $red;
        overflow: hidden;
        box-shadow: 0 0 0 2px $black;
    }

    .categoryIconIcon__18765 {
        color: $cream;
    }
}

// Sound panel
.listWrapper_b28f3e {
    left: 47px;
    width: calc(100% - 47px);

    // Group header
    .sectionHeader_d974fe {
        position: sticky;
        margin: 0;
        top: 0;
        z-index: 1;
        background: $black;
        color: $cream;
        height: 32px;
        align-items: center;

        .guildIcon_ed1ab4 {
            border-radius: $size-max;
            background: $red;
        }

        .sectionTitle__1a48e {
            color: $cream;
            font-size: 12px;
            line-height: 12px;
            font-family: var(--font-primary);
        }
    }

    // Sound
    .soundButton__845c7 {
        @include card.med;

        // Hover to select
        &.focused__19c38.hoverActiveBackground_b12fe7,
        &:focus-within.hoverActiveBackground_b12fe7,
        &:hover.hoverActiveBackground_b12fe7 {
            background: unset;

            .secondaryButton_e685be {
                color: $cream;
            }

            .favoriteIconFavorite__1fe90 path:last-child {
                fill: $cream;
            }
        }

        // Hover to play
        .buttonOverlayBackground__9265a {
            background: $cream;
        }
        .buttonOverlay_f5fc59:has(.buttonOverlayBackground__9265a) {
            .playIcon__7aba3,
            .secondaryButton_e685be {
                color: $black;
            }

            .favoriteIconFavorite__1fe90 path:last-child {
                fill: $black;
            }
        }
    }

    // Add sound
    .soundAddButton__896b6 {
        border: 0;

        .soundAddIcon_e10649 {
            color: $cream;
        }
    }
}
