@use "../../top/vars" as *;
@use "../../top/card";

// Status menu on clicking user panel

// Online status
.statusItem__24445 {
    .description_d1e167 {
        display: none;
    }
}

// Account switcher
.userMenuItem__7b29e {
    .activeIcon_b2fa28 {
        circle {
            fill: $black;
        }
        path {
            fill: $cream;
        }
    }
}
.focused_a7ad64 {
    .userMenuUsername_d2fe10 .userMenuDiscriminator__2334c,
    .userMenuUsername_d2fe10 .userMenuText_b1842d {
        color: $black;
    }
    .activeIcon_b2fa28 {
        circle {
            fill: $cream;
        }
        path {
            fill: $black;
        }
    }
}
