@use "../../top/vars" as *;
@use "../../top/card";

// Status menu on clicking user panel

// Online status
.statusItem_ad5fac {
    .description_ad5fac {
        display: none;
    }
}

// Account switcher
.userMenuItem_e1268c {
    .activeIcon_e1268c {
        circle {
            fill: $black;
        }
        path {
            fill: $cream;
        }
    }
}
.focused_e1268c {
    .userMenuUsername_e1268c .userMenuDiscriminator_e1268c,
    .userMenuUsername_e1268c .userMenuText_e1268c {
        color: $black;
    }
    .activeIcon_e1268c {
        circle {
            fill: $cream;
        }
        path {
            fill: $black;
        }
    }
}
