@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.container-18GwIk {
    background: $black;
    @include card.outer;
}

.closeIcon-11tHJX,
.threadIcon-rd1kqG {
    color: $cream;
}

.divider-2xk5N2 {
    display: none;
}

// Thread
.container-2rzKKA {
    @include card.large;

    &:hover {
        border-color: $cream;
    }

    .threadName-2k9mLl {
        color: $cream;
    }

    .moreUsers-_v6T-L,
    .noAvatarIcon-3Jqqzy {
        background: $cream;
        color: $black;
    }
}

// No threads
.icon-mJhEWn {
    background: $cream;
    color: $black;
}
.stars-3UP9-A {
    @include filter.sepia;
}
