@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Threads in current channel

.container_f93da8 {
    background: $black;
    @include card.outer;
}

// Header
.header__6d44a {
    height: auto;
    min-height: unset;
    padding: 12px 16px;

    .searchBox__9423b {
        @include card.round;
    }

    .closeIcon_ab1a00,
    .threadIcon_a292d5 {
        color: $cream;
    }

    .divider__622af {
        display: none;
    }
}

// Thread
.container__9922f {
    @include card.large;

    &:hover {
        border-color: $cream;
    }

    .threadName_f3cd38 {
        color: $cream;
    }

    .moreUsers__61edd,
    .noAvatarIcon__9480d {
        background: $cream;
        color: $black;
    }
}

// No threads
.icon__89b22 {
    background: $cream;
    color: $black;
}
.stars__11579 {
    @include filter.sepia;
}
