@use "../../top/vars" as *;

/* Member profile (not lock) popout */
.layer-2aCOJ3 {
    box-shadow: var(--elevation-high);
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .root-g14mjS {
    background: $cream;
}
/* Inner sections mini */
.headerTop-3GPUSF,
    .body-2wLx-E,
    .bodyInnerWrapper-2bQs1k,
    .footer-3naVBw,
    .avatar-2Vndt_,
    /* Inner sections full */
    .topSection-13QKHs,
    .avatar-3QF_VA {
    background: $black;
}
.footer-3naVBw {
    box-shadow: 1px 0 2px 2px $black;
}
/* Avatar */
.avatar-2Vndt_ {
    border: 4px solid $cream;
    box-shadow: 0 0 0 2px $cream inset;
}
.avatarHint-k7pYop {
    top: 4px;
    left: 4px;
}
.avatarHintInner-2HUAWj {
    color: $cream;
}
/* Name */
.nickname-t08Mck,
.headerTagUsernameNoNickname-1TjuLc,
.headerTagUsernameBase-XYisdh,
.discrimBase-1VOoau,
.username-1g6Iq1,
.discriminator-1bqsd3 {
    color: $cream;
}
/* About me etc titles */
.base-21yXnu.muted-eZM05q,
.activityUserPopout-2MzGCj .overflow-1wOqNV,
.activityName-3YXl6e {
    color: $cream;
    font-size: 18px;
    overflow: visible;
}
/* Roles */
.role-2TIOKu {
    border-radius: 10px;
}
/* Install bot button, also Send message / send friend request button */
.applicationInstallButton-taCWKH.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.applicationInstallButton-1-58qm.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background: $red;
    color: $cream;
    border-radius: 16px;
}
/* Danger buttons */
.colorDanger-3n-KnP,
.colorDanger-3n-KnP .checkbox-hADx5o,
.colorDanger-3n-KnP .radioSelection-1UHp0b {
    color: $black;
}
.focused-3qFvc8.colorDanger-3n-KnP,
.focused-3qFvc8.colorDanger-3n-KnP .checkbox-hADx5o,
.focused-3qFvc8.colorDanger-3n-KnP .radioSelection-1UHp0b {
    background: $cream;
    color: $black;
}
/* DM box */
.footer-3naVBw .input-2g-os5,
.footer-3naVBw .input-2g-os5:hover,
.footer-3naVBw .input-2g-os5.focused-1AtTHC,
.footer-3naVBw .input-2g-os5:focus {
    border-radius: 20px;
    border: 2px solid $cream;
    background-color: $red;
}
/* Note */
.note-Go5ZP2 .input-2g-os5 {
    border: 0;
    background: $black;
    border-radius: 0;
}
