@use "../../top/vars" as *;
@use "../../top/card";

// Current happenings in voice channel
.container__56cd1 {
    @include card.outer;

    .container__60a4a {
        background: $cream;
        color: $black;
    }

    .headerDivider_ec8d1f {
        display: none;
    }

    .activity_b1eb7a + .activity_b1eb7a {
        border-top: 0;
    }

    .channelIcon__45e38,
    .headerLink__285a3,
    .colorHeaderSecondary_dc8da1 {
        color: $cream;
    }

    .activityVoiceChannel_e4ac9b {
        .activityName__47e51,
        .name_b6124d,
        .nameNormal__1d540,
        .nameWrap__7263f,
        .content_d7cb7f,
        .details__445eb,
        .playTime__2df8e,
        .state_a85ac0,
        .timestamp__1ce6c {
            color: $cream;
        }
    }
}
