@use "../../top/vars" as *;
@use "../../top/card";

// Current happenings in voice channel
.container__56cd1 {
    @include card.outer;

    .container__03b79 {
        background: $cream;
        color: $black;
    }

    .headerDivider_ec8d1f {
        display: none;
    }

    .activity_b1eb7a + .activity_b1eb7a {
        border-top: 0;
    }

    .channelIcon__45e38,
    .headerLink_fa1b11,
    .colorHeaderSecondary__4dd3a {
        color: $cream;
    }

    .activityVoiceChannel_f9653e {
        .activityName_a7b7de,
        .name__0ac4b,
        .nameNormal_cb5c2b,
        .nameWrap_b61c4b,
        .content__7246b,
        .details_e26997,
        .playTime_a445ec,
        .state_a85ac0,
        .timestamp__78895 {
            color: $cream;
        }
    }
}
