@use "../../top/vars" as *;
@use "../../top/card";

// Current happenings in voice channel
.container_e88961 {
    @include card.outer;

    // Channel info
    @at-root .popoutHeaderContainer_e88961 {
        // Channel icon
        @at-root .channelIcon_aab567 {
            color: $cream;
        }

        // Connected users
        @at-root .container_c23582 {
            background: $cream;

            @at-root .peopleIcon_c23582 {
                color: $black;
            }
            .userCountText_c23582 {
                color: $black !important;
            }
        }
    }

    // No dividers
    .headerDivider_e88961 {
        display: none;
    }
    .activity_d5aa01 + .activity_d5aa01 {
        border-top: 0;
    }

    // Interact with activity button
    .button_d5aa01 {
        &,
        &:hover {
            color: $cream;
        }
    }

    .activityVoiceChannel_d5089b {
        .activityName_d5089b,
        .name_d5089b,
        .nameNormal_d5089b,
        .nameWrap_d5089b,
        .content_d5089b,
        .details_d5089b,
        .playTime_d5089b,
        .state_d5089b,
        .timestamp_d5089b {
            color: $cream;
        }
    }
}
