@use "../../top/vars" as *;
@use "../../top/card";

// Stream preview / watch stream

#{$root} .streamPreview_adbea6 {
    @include card.outer;

    .watchButton_adbea6 {
        color: $cream;

        &:hover {
            border-color: $cream;
        }
    }

    .white_adbea6 {
        color: $cream;
    }
}
