@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.backdrop__1a911 {
    background: linear-gradient($black, $red) !important;
}

.root_f9a4c9:not(:has(.wrapper_aa8ea9)) {
    @include card.outer;
    box-shadow: 0 0 20px $red !important;
}

#{$root} {
    .footer_f9a4c9,
    .header_f9a4c9 {
        background: $red;
    }

    .footerText_cedfaf,
    .footerText_cedfaf .anchor_af404b {
        color: $cream;
    }
}

// Header
.header_f9a4c9 {
    // Top title
    :is(h1, h2, h3, h4, h5):is(.defaultColor__77578, .defaultColor_c46f6a) {
        color: $black;
        @include filter.shadow;
    }

    // Subtitle
    .defaultColor__77578 {
        color: $cream;
    }

    // Close button
    .close_f9a4c9 {
        opacity: 1;
        .closeIcon_f9a4c9 {
            color: $cream;
        }
    }

    .image-mRW1cg {
        @include filter.sepia;
        height: inherit;
        inset: unset;
    }
}

// Content
.content_f9a4c9:not(:has(.sidebarContainer_e5b5f9), .guildList_f1b3cc) {
    padding-top: $size-m;
}

// Footer
#{$root} .footerSeparator_f9a4c9 {
    box-shadow: none;

    .button-18kCi0 {
        color: $cream;
    }
}
