@use "../../top/vars" as *;
@use "../../top/card";

// Voice chat activities

// Header image
.shelfTopBackground-R55ED9 {
    display: none;
}
.activityShelfTitle-1rkbSI {
    margin-top: 0;
}

.modalDivider-MtZbPb {
    display: none;
}

.scrollTierBackground-BnWR8k {
    background: unset;
}

// Activities
.shelf__32747 {
    gap: 10px;

    // Activity
    .activityItem__2bb92 {
        @include card.large;
    }

    // Tag
    .activityTag__1f89a {
        @include card.round;
    }
}
