@use "../../top/vars" as *;
@use "../../top/card";

// Add a new payment method

.cardInput__72fe9 {
    @include card.round;
}

.cardIcon_c45a0b {
    top: $size-l;
    left: $size-l;
    transform: none;
}
