@use "../../top/vars" as *;
@use "../../top/card";

// Add a new payment method

.cardInput_c04e45 {
    @include card.round;
}

.cardIcon_c04e45 {
    top: $size-l;
    left: $size-l;
    transform: none;
}
