/* Header */
.header-1zd7se {
    background: var(--ieytd-color-2);
    overflow: hidden;
}
/* x to close */
.close-1mLglB {
    opacity: 1;
}
.closeIcon-11LhXr {
    color: var(--ieytd-color-1);
}
/* Content */
.content-2hZxGK {
    background: var(--ieytd-color-1);
    border: solid var(--ieytd-color-2);
    border-width: 4px;
    border-radius: 5px;
}
.content-2hZxGK:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}
.content-2hZxGK:not(:last-of-type) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}
/* Mini titles */
.h5-2RwDNl {
    color: var(--ieytd-color-3);
}
/* Footer */
.theme-dark .footer-31IekZ {
    background-color: var(--ieytd-color-2);
    box-shadow: none;
}
/* Major button */
.lookFilled-yCfaCM.colorRed-rQXKgM {
    color: var(--ieytd-color-1);
    background-color: var(--ieytd-color-2);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:hover,
.lookFilled-yCfaCM.colorRed-rQXKgM:active {
    background-color: var(--ieytd-color-3);
}
/* Minor button */
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
    color: var(--ieytd-color-2);
}
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg, transparent, transparent 1px, var(--ieytd-color-2) 0, var(--ieytd-color-2) 2px, transparent 0);
}
/* Buttons */
.theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
.theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    color: var(--ieytd-color-2);
    background: var(--ieytd-color-1);
}
