@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Boost server
.content_cc6017,
.perks_fcea2f {
    background: unset;
}

.heroImage_fcea2f,
.perkIconContainer_a899f7 {
    @include filter.sepia;
}

.perkDescription_a899f7 {
    color: $cream;
}

.perkRow_a899f7 {
    border-bottom: 0;
}
