@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Boost server
.content__1b8a0,
.perks__63e5a {
    background: unset;
}

.heroImage_a3a7a7,
.perkIconContainer_c07486 {
    @include filter.sepia;
}

.perkDescription__1119f {
    color: $cream;
}

.perkRow_bdbcf6 {
    border-bottom: 0;
}
