/* Channel description focus lock popout */
/* Content */
.content-2hZxGK.content-FDHp32 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-width: 4px;
}
.content-FDHp32 a {
    color: var(--color-three);
}
