@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Create a server
.header_fc9dae,
.header_f5507e,
.header_c1ee6b {
    padding-bottom: 24px;
}

// Templates
.templatesList_fc9dae {
    margin-top: 0;
}

// Next step
.container_a47d49,
.rowContainer-3t7486 {
    @include card.large;

    &:hover,
    &:active {
        background: unset;
    }

    .arrow_a47d49,
    .rowArrow-TIwwIc,
    .rowIcon-1mRvtM {
        @include filter.sepia;
    }
}

// Add server icon
.uploadIcon_c1ee6b {
    color: $cream;

    circle {
        fill: $cream;
    }

    path[fill="white"] {
        fill: $black;
    }
}

// Invite link
.input_e8a9c7 {
    background: unset;
}

// Link error
.formTitle_e8a9c7.error_e8a9c7 {
    color: $red;
}

// Example links
.sampleLink_e8a9c7 {
    color: $cream;
}
