@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Create a server
.header_a19620,
.header__1d70d,
.header__2b2b9 {
    padding-bottom: 24px;
}

// Templates
.templatesList__7837c {
    margin-top: 0;
}

// Next step
.container__9dd63,
.rowContainer-3t7486 {
    @include card.large;

    &:hover,
    &:active {
        background: unset;
    }

    .arrow__5e540,
    .rowArrow-TIwwIc,
    .rowIcon-1mRvtM {
        @include filter.sepia;
    }
}

// Add server icon
.uploadIcon__1b138 {
    color: $cream;

    circle {
        fill: $cream;
    }

    path[fill="white"] {
        fill: $black;
    }
}

// Invite link
.input__0c568 {
    background: unset;
}

// Link error
.formTitle__4546d.error_ae96c7 {
    color: $red;
}

// Example links
.sampleLink__0b2d6 {
    color: $cream;
}
