/* Create a new server / Add a server focus lock popout */
.theme-light .root-g14mjS {
    background: transparent;
}
/* Header */
.header-1c1AhF,
.header-12n7su,
.header-1AP5SJ {
    padding: 16px 24px;
}
/* Subtitle */
.header-1c1AhF .colorHeaderSecondary-g5teka,
.header-12n7su .colorHeaderSecondary-g5teka,
.header-1AP5SJ .colorHeaderSecondary-g5teka {
    color: var(--color-one);
}
/* Content */
.templatesList-uohY49,
.optionsList-dmHy1l {
    margin-top: 0;
    padding-top: 24px;
}
.createGuild-2m1V10 {
    margin: 0;
    padding: 16px 4px 16px 24px;
}
/* Links */
.optionsList-dmHy1l .anchor-1MIwyf,
.createGuild-2m1V10 .anchor-1MIwyf {
    color: var(--color-three);
}
/* Footer */
.footer-31IekZ {
    background: var(--color-two);
}
/* Button */
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
    color: var(--color-two);
    background: var(--color-one);
}
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
    background: var(--color-three);
}
