@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Server events

// Header
.header_f9a4c9 {
    .divider_fa4e6d {
        visibility: hidden;
        margin-left: 0;
    }

    // Events icon
    .icon_fa4e6d,
    .iconButton_fa4e6d:hover .icon_fa4e6d {
        color: $cream;
    }
}

// Event demo
.sparkleIcon_c5e69b {
    @include filter.sepia;
}
.circle_c1cfd2,
.iconContainer-36kI2p {
    background: $cream;
}
.icon-1DBCvl,
.icon-UTJvnX {
    color: $black;
}

// Event icon
.eventStatusBrand__08773 {
    color: $cream;
}

// Event creator

// Steps
.stepContainer_f2ceaa {
    cursor: pointer;

    // Text
    .colorMuted_fbc755 {
        color: $cream;
    }
    .colorBrand_fbc755 {
        color: $red;
    }

    // Bars
    .progressBar_f2ceaa {
        background: $cream;

        &.selectedProgressBar_f2ceaa {
            background: $red;
        }
    }
}

// Start date calendar icon
.icon_f4830e {
    color: $cream;
}

// More menu options
.icon-12Gd96 {
    color: $cream;
}

// Calendar popout
.didRender_f88ae3 .calendarPicker__47c85 {
    @include card.outer;
}

// Upload image
.imageUploaderHint_de76e4 {
    color: $cream;
}

// Edit image
.overlay_ba5b9e {
    box-shadow: 0 0 200px $black;
    border-color: $cream;
}
.icon_ba5b9e {
    color: $cream;
}

// Event card
:is(#{$root} .previewCard_f9a98f, .card_cc2c09) {
    @include card.med;

    // New event
    .newBadge_d6a475 {
        div {
            color: $black !important;
        }
    }

    // People count
    .rsvpCount_a4ec62 {
        background: $cream;

        .rsvpIcon_a4ec62 {
            color: $black;
        }
        div {
            color: $black !important;
        }
    }

    // Channel
    .channelContainer_cc2c09 {
        color: $cream;
    }

    .divider_cc2c09 {
        display: none;
    }
}

// Close event creator
.close_d7123a {
    &,
    &:hover {
        color: $cream;
    }
}

// Close full event info
.closeIconBanner_a31cc1 {
    &,
    .closeButton_a31cc1:focus &,
    .closeButton_a31cc1:hover & {
        color: $black;
        background: $cream;
        border-radius: $size-max;
    }
}

// Full event info
// Tabs
.container_a31cc1 {
    border-bottom: $size-xs solid $cream;
    background: $red;
}

// Description
.contentContainer_b747e2 {
    background: unset;

    .row_ecbdaf,
    .listRow-3v94Wr {
        color: $cream;
    }

    // username
    .creator_ecbdaf {
        font-family: var(--font-display);
    }
}
