@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Server events

// Header
.header__5e5a6 {
    .divider__69314 {
        visibility: hidden;
        margin-left: 0;
    }

    // Events icon
    .icon__399f9,
    .iconButton__66963:hover .icon__399f9 {
        color: $cream;
    }
}

// Event demo
.sparkleIcon_f97bad {
    @include filter.sepia;
}
.circle__2100f,
.iconContainer-36kI2p {
    background: $cream;
}
.icon-1DBCvl,
.icon-UTJvnX {
    color: $black;
}

// Event icon
.eventStatusBrand__08773 {
    color: $cream;
}

// Event creator

// Steps
.stepContainer_d7ac7f {
    cursor: pointer;

    // Text
    .colorMuted__413e9 {
        color: $cream;
    }
    .colorBrand__65cd6 {
        color: $red;
    }

    // Bars
    .progressBar_f61abb {
        background: $cream;

        &.selectedProgressBar__26b4d {
            background: $red;
        }
    }
}

// Start date calendar icon
.icon__93353 {
    color: $cream;
}

// More menu options
.icon-12Gd96 {
    color: $cream;
}

// Calendar popout
.didRender__7e24c .calendarPicker__47c85 {
    @include card.outer;
}

// Upload image
.imageUploaderHint__3b483 {
    color: $cream;
}

// Edit image
.overlay_c2c1c9 {
    box-shadow: 0 0 200px $black;
    border-color: $cream;
}
.icon_b24a96 {
    color: $cream;
}

// Event card
:is(#{$root} .previewCard__980d0, .card__7865b) {
    @include card.med;

    // New event
    .newBadge_e55d5e {
        div {
            color: $black !important;
        }
    }

    // People count
    .rsvpCount_f38818 {
        background: $cream;

        .rsvpIcon_c679d2 {
            color: $black;
        }
        div {
            color: $black !important;
        }
    }

    // Channel
    .channelContainer__2364e {
        color: $cream;
    }

    .divider_ad3577 {
        display: none;
    }
}

// Close event creator
.close__01697 {
    &,
    &:hover {
        color: $cream;
    }
}

// Close full event info
.closeIconBanner__99a8f {
    &,
    .closeButton_f1b4b2:focus &,
    .closeButton_f1b4b2:hover & {
        color: $black;
        background: $cream;
        border-radius: $size-max;
    }
}

// Full event info
// Tabs
.container__56345 {
    border-bottom: $size-xs solid $cream;
    background: $red;
}

// Description
.contentContainer__5d27b {
    background: unset;

    .row_e54bc9,
    .listRow-3v94Wr {
        color: $cream;
    }

    // username
    .creator__228f3 {
        font-family: var(--font-display);
    }
}
