@use "../../top/vars" as *;
@use "../../top/card";

// Grant external application permission
.authorize_c5a065 {
    background: unset;

    .header_ac2a99,
    .scopes_cf14a8 {
        border-bottom: 0;
    }

    // Connection
    .ellipse_ac2a99 {
        background: $cream;
        opacity: 0.7;
    }

    // Permissions granted
    .scopes_cf14a8 {
        padding: 0;

        // Checkmark
        .scopeCheck_c4c2dd {
            background: $cream;
        }
        .icon_cf14a8 {
            color: $black;
        }

        // Joke permission
        .scope_cf14a8:has(.scopeTimes__83c10) {
            display: none;
        }
    }

    // Details icon
    .entryIcon_d6f023 {
        color: $cream;
    }

    .footer_c5a065 {
        background: $red;
    }
}
