@use "../../top/vars" as *;
@use "../../top/card";

// Grant external application permission
.authorize__4ddfc {
    background: unset;

    .header_d9f9a8,
    .scopes__1f403 {
        border-bottom: 0;
    }

    // Connection
    .ellipse__63620 {
        background: $cream;
        opacity: 0.7;
    }

    // Permissions granted
    .scopes__1f403 {
        padding: 0;

        // Checkmark
        .scopeCheck_c4c2dd {
            background: $cream;
        }
        .icon__33514 {
            color: $black;
        }

        // Joke permission
        .scope__51160:has(.scopeTimes__83c10) {
            display: none;
        }
    }

    // Details icon
    .entryIcon_f234ab {
        color: $cream;
    }

    .footer__04ee2 {
        background: $red;
    }
}
