/* Folder settings focus lock popout */
/* Content */
.content-2hZxGK {
    padding-top: 16px;
}
/* colour picker */
.theme-dark .colorPickerCustom-1swUKF {
    background: var(--ieytd-color-3);
    border: 2px solid var(--ieytd-color-2);
    border-radius: 15px;
}
/* hue drag handle */
.hue-2nWTuO > div > div > div > div,
.alpha-VcPGeR > div > div > div > div {
    background: var(--ieytd-color-2) !important;
}
