@use "../../top/vars" as *;

/* Folder settings focus lock popout */
/* Content */
.content-2hZxGK {
    padding-top: 16px;
}
/* colour picker */
.theme-dark .colorPickerCustom-1swUKF {
    background: $black;
    border: 2px solid $cream;
    border-radius: 15px;
}
/* hue drag handle */
.hue-2nWTuO > div > div > div > div,
.alpha-VcPGeR > div > div > div > div {
    background: $cream !important;
}
