@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Try out forums
.container_d66623 {
    margin-top: 0;
    background: $black;

    // Forum panel
    .browser_d66623 {
        // Tag
        .tag_d66623,
        .inlineTag_d66623 {
            background: $cream;
            color: $black !important;
        }

        // Post
        .post_d66623 {
            @include card.large;

            .bullet_d66623 {
                display: none;
            }
        }
    }

    // Thread panel
    .previewContainer_d66623 {
        background: $black;
        border-left: $size-s solid $cream;
        padding: 0;
        height: 100%;

        .preview_d66623 {
            background: unset;
        }

        .forumPostIcon_d66623,
        .opTag_d66623 {
            background: $cream;
            color: $black;
        }

        .topSeparator_d66623,
        .bottomSeparator_d66623 {
            display: none;
        }

        .fakeReactions_d66623 {
            @include card.round;
        }

        .chatInput_d66623 {
            @include card.round;
        }
    }
}
