@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Try out forums
.container_b634d9 {
    margin-top: 0;
    background: $black;

    // Forum panel
    .browser__2f60f {
        // Tag
        .tag__5bfc0,
        .inlineTag_dbd8e6 {
            background: $cream;
            color: $black !important;
        }

        // Post
        .post__13d06 {
            @include card.large;

            .bullet_ac954b {
                display: none;
            }
        }
    }

    // Thread panel
    .previewContainer__0f3c5 {
        background: $black;
        border-left: $size-s solid $cream;
        padding: 0;
        height: 100%;

        .preview_c16c3b {
            background: unset;
        }

        .forumPostIcon__3d972,
        .opTag__3454d {
            background: $cream;
            color: $black;
        }

        .topSeparator__5bb6b,
        .bottomSeparator__3e1ef {
            display: none;
        }

        .fakeReactions_e99691 {
            @include card.round;
        }

        .chatInput__06d78 {
            @include card.round;
        }
    }
}
