@use "../../top/vars" as *;
@use "../../top/card";

// Full size image viewer
.wrapper__8e1d7 {
    @include card.outer;
    box-shadow: 0 0 20px $red !important;

    // Open in browser
    .downloadLink_e5ebe9 {
        @include card.round;
        padding: 0 $size-m;
        color: $cream !important;
        top: unset;
        bottom: $size-m;
        left: $size-m;
        opacity: 0;
    }
    &:hover .downloadLink_e5ebe9 {
        opacity: 1;
    }
}

// Carousel gallery viewer
.carouselModal_c0d5b7 {
    // Navigation
    .nav_f39c29 {
        @include card.round;
    }
}
