@use "../../top/vars" as *;
@use "../../top/card";

// Full size image viewer
.wrapper__4350e {
    @include card.outer;
    box-shadow: 0 0 20px $red !important;

    // Open in browser
    .downloadLink_d6df2d {
        @include card.round;
        padding: 0 $size-m;
        color: $cream !important;
        top: unset;
        bottom: $size-m;
        left: $size-m;
        opacity: 0;
    }
    &:hover .downloadLink_d6df2d {
        opacity: 1;
    }
}

// Carousel gallery viewer
.carouselModal__7e22f {
    // Navigation
    .nav__584bc {
        @include card.round;
    }
}
