@forward "./activities";
@forward "./addpayment";
@forward "./ban";
@forward "./boost";
@forward "./channelfull";
@forward "./createserver";
@forward "./deletemessage";
@forward "./events";
@forward "./externalapplication";
@forward "./feedback";
@forward "./forumdemo";
@forward "./image";
@forward "./invite";
@forward "./linkwarning";
@forward "./quickswitcher";
@forward "./screenshare";
@forward "./studenthub";
@forward "./studenthubs";
@forward "./videochat";
@forward "./whatsnew";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.backdrop__1a911 {
    background: linear-gradient($black, $red) !important;
}

.root_a28985:not(:has(.wrapper__4350e)) {
    @include card.outer;
    box-shadow: 0 0 20px $red !important;
}

#{$root} {
    .footer_e0b400,
    .header__5e5a6 {
        background: $red;
    }

    .footerText_f55c0f,
    .footerText_f55c0f .anchor_c8ddc0 {
        color: $cream;
    }
}

// Header
.header__5e5a6 {
    // Top title
    :is(h1, h2, h3, h4, h5):is(.defaultColor__77578, .defaultColor_e04945) {
        color: $black;
        @include filter.shadow;
    }

    // Subtitle
    .defaultColor__77578 {
        color: $cream;
    }

    // Close button
    .close__1080c {
        opacity: 1;
        .closeIcon__16020 {
            color: $cream;
        }
    }

    .image-mRW1cg {
        @include filter.sepia;
        height: inherit;
        inset: unset;
    }
}

// Content
.content_b28aab:not(:has(.sidebarContainer__6f8e5), .guildList__571da) {
    padding-top: $size-m;
}

// Footer
#{$root} .footerSeparator__2af8d {
    box-shadow: none;

    .button-18kCi0 {
        color: $cream;
    }
}
