@forward "./activities";
@forward "./addpayment";
@forward "./ban";
@forward "./boost";
@forward "./channelfull";
@forward "./createserver";
@forward "./deletemessage";
@forward "./events";
@forward "./externalapplication";
@forward "./feedback";
@forward "./forumdemo";
@forward "./image";
@forward "./invite";
@forward "./linkwarning";
@forward "./quickswitcher";
@forward "./screenshare";
@forward "./studenthub";
@forward "./studenthubs";
@forward "./videochat";
@forward "./whatsnew";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.backdrop__7e89b {
    background: linear-gradient($black, $red) !important;
}

.root_a28985:not(:has(.wrapper__8e1d7)) {
    @include card.outer;
    box-shadow: 0 0 20px $red !important;
}

#{$root} {
    .footer__89240,
    .header__6d5ea {
        background: $red;
    }

    .footerText__614f3,
    .footerText__614f3 .anchor_c8ddc0 {
        color: $cream;
    }
}

// Header
.header__6d5ea {
    // Top title
    :is(h1, h2, h3, h4, h5):is(.defaultColor__77578, .defaultColor_d757c2) {
        color: $black;
        @include filter.shadow;
    }

    // Subtitle
    .defaultColor__77578 {
        color: $cream;
    }

    // Close button
    .close__1080c {
        opacity: 1;
        .closeIcon__5bab9 {
            color: $cream;
        }
    }

    .image-mRW1cg {
        @include filter.sepia;
        height: inherit;
        inset: unset;
    }
}

// Content
.content__764ce:not(:has(.sidebarContainer__5583d), .guildList__70c68) {
    padding-top: $size-m;
}

// Footer
#{$root} .footerSeparator__57d95 {
    box-shadow: none;

    .button-18kCi0 {
        color: $cream;
    }
}
