@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Send invite to friend

// Search
.hubFriendSearch__27bf9,
.searchBar__285ec {
    @include card.round;
}

.headerChannelContainer__74461 {
    display: flex;
    align-items: center;

    .channelIcon__78020 {
        color: $cream;
        margin: 0;
        zoom: 1.2;
    }

    .text-md-normal__6a4eb {
        color: $cream !important;
        font-family: var(--font-display);
        font-size: 22px;
    }
}

// Friend
#{$root} .inviteRow_d6ad74 {
    &:hover {
        background: unset;
    }

    .inviteRowName__60057 {
        color: $cream;
        font-family: var(--font-display);
        line-height: 24px;
    }
}
