@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Send invite to friend

// Search
.hubFriendSearch_b8309c,
.searchBar_b2ff4e {
    @include card.round;
}

.headerChannelContainer_ff9b9d {
    display: flex;
    align-items: center;

    .channelIcon_c3a04b {
        color: $cream;
        margin: 0;
        zoom: 1.2;
    }

    .text-md-normal__6a4eb {
        color: $cream !important;
        font-family: var(--font-display);
        font-size: 22px;
    }
}

// Friend
#{$root} .inviteRow_a25947 {
    &:hover {
        background: unset;
    }

    .inviteRowName_bc8b23 {
        color: $cream;
        font-family: var(--font-display);
        line-height: 24px;
    }
}
