@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Send invite to friend

// Search
.hubFriendSearch-CqIyV8,
.searchBar-_eXmb9 {
    @include card.round;
}

.headerChannelContainer-2CYZLQ {
    display: flex;
    align-items: center;

    .channelIcon-LCo76K {
        color: $cream;
        margin: 0;
        zoom: 1.2;
    }

    .text-md-normal-2rFCH3 {
        color: $cream !important;
        font-family: var(--font-display);
        font-size: 22px;
    }
}

// Friend
.appMount-2yBXZl .inviteRow-2Vjla6 {
    &:hover {
        background: unset;
    }

    .inviteRowName-fgAFVw {
        color: $cream;
        font-family: var(--font-display);
        line-height: 24px;
    }
}
