/* Link warning focus lock popout */
/* Content */
.title-3hptVQ {
    color: var(--color-three);
    font-size: 22px;
}
/* Footer */
.footer-31IekZ .lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: var(--color-one);
    color: var(--color-two);
    border-radius: 40px;
}
.footer-31IekZ .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: var(--color-three);
}
.minorAction-194-_3 {
    color: var(--color-three);
}
