@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Ctrl+T quickswitcher

// Root
.container_f03f1d {
    height: 365px + 12px;
    background: $black !important;
}

.quickswitcher_a3d29a {
    box-shadow: none;
    background: $black;
    color: $cream;
}

// Searchbox
.input__848cd {
    @include card.round;
}

// Results
.scroller__52ae7 {
    background: unset;

    .contentDefault_f2e62d,
    .contentUnread__50b0f,
    .header_a2a437,
    .icon_f8a8b6,
    .misc__9152e,
    .note__181ba {
        color: $cream;
    }
}

// Old ping bubble
.wrapper__87791 {
    background: $cream;
    color: $black;
    border-radius: $size-max;
    font-family: var(--font-display);
    line-height: 12px;
    width: 18px;
    padding: 0 0 5px 6px;
}

// No results
.emptyState_afda24 {
    @include filter.sepia;
}

// Footer tip
.protip__84833.hasContent__6eae1 {
    border-top: 0;
}
