/* Ctrl+T quickswitcher focus lock popout */
.quickswitcher-pKcM9U {
    background: var(--ieytd-color-1);
    border: 2px solid var(--ieytd-color-2);
}
.input-3r5zZY {
    background: var(--ieytd-color-3);
    border-radius: 50px;
    border: 3px solid var(--ieytd-color-2);
}
.scroller-2qwVWY::-webkit-scrollbar-track {
    background: transparent !important;
}
.header-1ZpMzy {
    font-family: var(--font-display);
    color: var(--ieytd-color-3);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
}
/* ping bubble */
.wrapper-2olG5t {
    background: var(--ieytd-color-3);
    color: var(--ieytd-color-2);
    border-radius: 50%;
    width: 18px;
}
/* autocomplete */
.autocompleteQuerySymbol-1iAOG7 {
    color: var(--ieytd-color-3);
}
