@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Ctrl+T quickswitcher

// Root
.container_f4e139 {
    height: 365px + 12px;
    background: $black !important;
}

.quickswitcher_f4e139 {
    box-shadow: none;
    background: $black;
    color: $cream;
}

// Searchbox
.input_f4e139 {
    @include card.round;
}

// Results
.scroller_f4e139 {
    background: unset;

    .contentDefault_f14193,
    .contentUnread_f14193,
    .header_f14193,
    .icon_f14193,
    .misc_f14193,
    .note_f14193 {
        color: $cream;
    }
}

// Old ping bubble
.wrapper_dc0b29 {
    background: $cream;
    color: $black;
    border-radius: $size-max;
    font-family: var(--font-display);
    line-height: 12px;
    width: 18px;
    padding: 0 0 5px 6px;
}

// No results
.emptyState_f4e139 {
    @include filter.sepia;
}

// Footer tip
.protip_f4e139.hasContent_f4e139 {
    border-top: 0;
}
