@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Join a student hub
.sidebarContainer__5583d {
    background: $black;
    border-right: $size-s solid $cream;

    .iconContainer__4f05c {
        background: $cream;
        .icon_c2566c {
            background: svg.$hub;
        }
    }
}

.topImage__6730c {
    @include filter.sepia;
}

.close__1080c {
    right: 12px;

    &,
    &:hover {
        color: $cream;
    }
}
