@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Welcome and set name in student hub
.formImage_bacf97 {
    @include filter.sepia;
}

// Add server to student hub
.tabBar_f1b3cc.top_a0 {
    padding-top: 0;
    margin-top: 0;
    width: calc(100% + 18px);
}

.guildList_f1b3cc {
    margin-top: 0;
    padding-top: $size-m;

    .guildRow_f1b3cc {
        @include card.large;

        .icon_f11207 {
            background: $red;
            border: $size-xs solid $cream;
        }

        & > img {
            display: none;
        }
    }
}
