@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Join a student hub
.sidebarContainer__6f8e5 {
    background: $black;
    border-right: $size-s solid $cream;

    .iconContainer__00402 {
        background: $cream;
        .icon__77722 {
            background: svg.$hub;
        }
    }
}

.topImage_d2f2ec {
    @include filter.sepia;
}

.close__1080c {
    right: 12px;

    &,
    &:hover {
        color: $cream;
    }
}
