@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Welcome and set name in student hub
.formImage_e7b113 {
    @include filter.sepia;
}

// Add server to student hub
.tabBar__9f2e7.top__592a7 {
    padding-top: 0;
    margin-top: 0;
    width: calc(100% + 18px);
}

.guildList__70c68 {
    margin-top: 0;
    padding-top: $size-m;

    .guildRow_b1c31c {
        @include card.large;

        .icon_c48348 {
            background: $red;
            border: $size-xs solid $cream;
        }

        & > img {
            display: none;
        }
    }
}
