@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Join a student hub
.sidebarContainer_e5b5f9 {
    background: $black;
    border-right: $size-s solid $cream;

    .iconContainer_f38045 {
        background: $cream;
        .icon_f38045 {
            background: svg.$hub;
        }
    }
}

.topImage_e5a030 {
    @include filter.sepia;
}

.close_f9a4c9 {
    right: 12px;

    &,
    &:hover {
        color: $cream;
    }
}
