/* Member profile focus lock popout */
/* Top section */
.topSection-13QKHs {
    border: 3px solid var(--ieytd-color-2);
    box-shadow: 0 0 0 1px var(--ieytd-color-2) inset;
}
/* Colour / image banner */
.profileBanner-1owKI5,
.profileBannerPremium-KD60EB {
    width: auto;
}
/* Avatar */
.avatar-3QF_VA {
    border: 6px solid var(--ieytd-color-2);
    box-shadow: 0 0 0 2px var(--ieytd-color-2) inset;
}
/* Tabs in full */
.tabBarContainer-sCZC4w {
    border-bottom: 0;
}
.tabBar-2hXqzU {
    height: 30px;
}
.top-K_jibn .item-3XjbnG {
    border: 2px solid var(--ieytd-color-2);
    border-bottom: 0;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
}
.top-K_jibn .selected-g-kMVV.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
    background: var(--ieytd-color-2);
}
/* Body in full */
.body-1Ukv50 {
    background: var(--ieytd-color-2);
    border-top: 3px solid var(--ieytd-color-2);
}
/* About me etc. */
.body-1Ukv50 .userInfoSectionHeader-2mYYun,
.body-1Ukv50 .overflow-1wOqNV {
    color: var(--ieytd-color-3);
    overflow: visible;
}
/* Note and about me text */
.body-1Ukv50 .input-2g-os5,
.body-1Ukv50 .input-2g-os5:hover,
.body-1Ukv50 .input-2g-os5.focused-1AtTHC,
.body-1Ukv50 .input-2g-os5:focus,
.body-1Ukv50 .markup-eYLPri,
.theme-dark .newProfileActivityStyles .content-tXPNDw,
.theme-dark .newProfileActivityStyles .nameNormal-2fPMD2,
.theme-dark .newProfileActivityStyles .activityName-3YXl6e {
    background: var(--ieytd-color-2);
    color: var(--ieytd-color-1);
}
/* Connected accounts, Mutual servers */
.listScroller-entkMk .listRow-2nO1T6,
.connectedAccount-1xKpli {
    background: var(--ieytd-color-3);
    border-radius: 27px;
    margin-bottom: 3px;
}
/* Member profile modal fixes */
.userInfoText-2MFCmH div {
    color: var(--ieytd-color-1);
}
.theme-dark .activityProfile-1712BN .activityName-3YXl6e,
.theme-dark .activityProfile-1712BN .content-tXPNDw,
.theme-dark .activityProfile-1712BN .details-2-ciHo,
.theme-dark .activityProfile-1712BN .name-1-Q7l2,
.theme-dark .activityProfile-1712BN .nameNormal-2fPMD2,
.theme-dark .activityProfile-1712BN .nameWrap-3TyM52,
.theme-dark .activityUserPopout-2MzGCj .activityName-3YXl6e,
.theme-dark .activityUserPopout-2MzGCj .content-tXPNDw,
.theme-dark .activityUserPopout-2MzGCj .details-2-ciHo,
.theme-dark .activityUserPopout-2MzGCj .name-1-Q7l2,
.theme-dark .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
.theme-dark .activityUserPopout-2MzGCj .nameWrap-3TyM52,
.theme-dark .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
.theme-dark .activityUserPopoutV2-3eKqzY .content-tXPNDw,
.theme-dark .activityUserPopoutV2-3eKqzY .details-2-ciHo,
.theme-dark .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
.theme-dark .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
.theme-dark .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52,
.theme-light .activityProfile-1712BN .activityName-3YXl6e,
.theme-light .activityProfile-1712BN .content-tXPNDw,
.theme-light .activityProfile-1712BN .details-2-ciHo,
.theme-light .activityProfile-1712BN .name-1-Q7l2,
.theme-light .activityProfile-1712BN .nameNormal-2fPMD2,
.theme-light .activityProfile-1712BN .nameWrap-3TyM52,
.theme-light .activityUserPopout-2MzGCj .activityName-3YXl6e,
.theme-light .activityUserPopout-2MzGCj .content-tXPNDw,
.theme-light .activityUserPopout-2MzGCj .details-2-ciHo,
.theme-light .activityUserPopout-2MzGCj .name-1-Q7l2,
.theme-light .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
.theme-light .activityUserPopout-2MzGCj .nameWrap-3TyM52,
.theme-light .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
.theme-light .activityUserPopoutV2-3eKqzY .content-tXPNDw,
.theme-light .activityUserPopoutV2-3eKqzY .details-2-ciHo,
.theme-light .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
.theme-light .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
.theme-light .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52 {
    color: var(--ieytd-color-1);
}
.barInner-3dHef4 {
    background-color: var(--ieytd-color-1);
}
.text-31kWmP {
    color: var(--ieytd-color-1);
}
