@use "../../top/vars" as *;
@use "../../top/card";

// What's new to discord updates
.root_f9a4c9 .root_f9a4c9 {
    border: 0;
    border-radius: 0;
    width: 100%;

    .content_dc3a33 {
        a {
            color: $red;
        }

        ul li {
            color: $cream;

            &::before {
                background: $cream;
            }
        }
    }

    .socialLink__64e09 {
        color: $cream;
    }
}
