@use "../../top/vars" as *;

// Bars

// Full width bars
:is(.chatHeaderBar__28ee6, .chatHeaderBar_c1df53) {
    background: $red;

    &.narrow__77960 {
        padding: 8px 16px;
    }

    :is(.chatHeaderBarText_ac67c3, .chatHeaderBarText__7696a) {
        color: $black !important;
    }

    .button_afdfd9 {
        height: 32px;
        min-height: 32px;
    }
}

// Scooped bars
.jumpToPresentBar__0ff7f,
.newMessagesBar__8b6d7,
.messagesErrorBar__06c0a {
    border: $size-s solid $black;
    background: $cream;
    opacity: 1;

    .barButtonBase__8fa46 {
        color: $black;
    }
}

// Top bars
.newMessagesBar__8b6d7 {
    border-top: none;
    border-radius: 0 0 $size-l $size-l;
    height: auto;

    .barButtonBase__8fa46 {
        padding: 0 $size-l;
    }
}

// Bottom bars
.jumpToPresentBar__0ff7f,
.messagesErrorBar__06c0a {
    border-bottom: none;
    border-radius: $size-l $size-l 0 0;
    bottom: -20px;
    padding: 0 $size-m;
    padding-bottom: 28px;
}
