@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Chatbox
.form_d8a4a1::before {
    display: none;
}

// Area including bars
.channelTextArea__648e5 {
    background: unset;

    // Bars
    .attachedBars_c1606a {
        @include card.round;
        margin-bottom: $size-s;
        // width: fit-content;
    }

    // Reply bar
    .replyBar_ed6afc {
        background: $black;

        // Cancel reply
        .closeButton__82377 {
            color: $cream;
        }
    }
}

// Follow channel only
.wrapper__57349 {
    @include card.outer;
    border-radius: $size-max;

    .image__7ea68 {
        @include filter.sepia;
    }
}

// Actual typing area
.scrollableContainer_ff917f {
    @include card.outer;

    .channelTextAreaDisabled_d0f0e8 & {
        opacity: 1;
    }

    // Attachments
    .channelAttachmentArea__5e46a {
        .upload_c98ecb {
            @include card.large;
        }
        .actionBar_a15295 {
            transform: none;
        }
    }

    // Attachment icons
    .icon__33bb5 {
        &.video__8cddc,
        &.acrobat_f9eccb,
        &.ae__6000b,
        &.sketch__56bd2,
        &.ai_ccaee8,
        &.archive__066f8,
        &.code_b9f306,
        &.document_fc4197,
        &.photoshop_a35613,
        &.ps_c2543e,
        &.spreadsheet_d4cb36,
        &.webcode_f10fab,
        &.audio__16d30,
        &.unknown_d51edd {
            @include filter.sepia;
        }
    }

    // Add attachment button
    .attachButton__56f98 {
        &,
        &:hover {
            .attachButtonPlus_fd0021 {
                fill: $cream;
            }
        }
    }

    // Right side buttons
    .button__437ce,
    .active_a5045e .buttonWrapper_bd4bd7,
    .buttonWrapper_bd4bd7:hover {
        color: $cream;
    }
    &.webkit__8d35a .buttons__7ecff {
        margin-right: 0;
    }

    // Emoji button
    .sprite__294b3 {
        filter: saturate(var(--saturation-factor, 1)) sepia(1) !important;
        transform: none !important;
    }

    // "Message #channel-name" placeholder
    .placeholder_dec8c7 {
        font-family: var(--font-display);
        line-height: 1.2rem;
        color: $cream;
        opacity: 0.7;
    }

    // Formatting preview
    // Typed links
    .fakeLink_e091e1 {
        color: $red;
    }

    // Inline code
    .after_inlineCode__59586,
    .before_inlineCode__48f7c,
    .inlineCode__0cacf {
        background: unset;
    }

    // Block code
    .codeBlockSyntax__4104a {
        font-family: var(--font-code);
    }
}

// Autocomplete
#{$root} .autocomplete__743a5 {
    @include card.outer;

    // Emoji/username autocomplete

    // Query
    .contentTitle_b6c2bb {
        font-size: 20px;
        font-family: var(--font-display);
        padding: 0 8px;

        strong {
            font-family: var(--font-primary);
            font-size: 16px;
            color: $cream;
        }
    }

    // Username
    .autocompleteRowContentPrimary__5db7d:not(:last-child) > div {
        font-family: var(--font-display);
    }

    // Command autocomplete
    .listItems__49027 {
        right: 0 !important;
    }

    .icon__9f010 {
        color: $cream;
    }

    // Category list
    .wrapper__35c78 {
        background: $cream;
        width: 56px - ($size-s * 2);

        .wrapper__85934 {
            background: unset;
        }

        .listItems__49027 {
            left: 12px - $size-s !important;
        }

        // Category
        .wrapper__35c78,
        .svg_bb7847 {
            border-radius: $size-max;
            box-shadow: 0 0 0 2px $black;
            background: $red;
        }

        // Selected category
        .selected_fd9558,
        .selected_fd9558:hover {
            display: none;
        }

        // Default category
        .icon__9f010 {
            color: $cream;
        }

        // Server category
        foreignObject {
            mask: none;
        }

        // Divider
        .builtInSeparator__3f669 {
            display: none;
        }
    }

    // Suggestion list
    .categorySection_ad5877 {
        // Category header
        .categoryHeader__70c8e {
            @include card.round;
            top: $size-m;
            height: 32px + ($size-s * 2);

            &::after {
                display: none;
            }

            .header__8e271 {
                color: $cream;
            }
        }

        // Suggestion
        .itemWrapper__171ac {
            // Mandatory params
            .option__2b069 {
                background: transparent;
                color: $red;
            }

            // Optional params
            .optionals__2aaef {
                border-left: 0;
                opacity: 0.7;
            }

            // Optional param counter
            .optionalCount__2e126 {
                color: $cream;
            }
        }

        // Loading suggestion
        .usageWrapper__3f47b,
        .description_f4ebdd,
        .source_ab029c {
            background: $cream;
            opacity: 0.3;
        }
    }
}

// Sticker suggestion
.container__3ac06 {
    @include card.outer;

    foreignObject {
        mask: none;
    }

    .descriptionText_d5a3e7 {
        line-height: 28px;
    }

    .closeIcon_b3efc2 {
        &,
        &:hover {
            color: $cream;
        }
    }

    .maskBackground__4b2ff,
    .textDivider__21df5,
    .containerBackground__65bbe {
        display: none;
    }
}

// Typing info
.typing__6fd1d {
    // Users who are typing
    .typingDots__0448d,
    .dots_a97068 {
        color: $cream;
    }

    // Usernames
    strong {
        font-family: var(--font-display);
    }
}
