@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Chatbox
.form_a7d72e::before {
    display: none;
}

// Area including bars
.channelTextArea_d0696b {
    background: unset;

    // Bars
    .attachedBars_d0696b {
        @include card.round;
        margin-bottom: $size-s;
        // width: fit-content;
    }

    // Reply bar
    .replyBar_b11c5e {
        background: $black;

        // Cancel reply
        .closeButton_b11c5e {
            color: $cream;
        }
    }
}

// Follow channel only
.wrapper_faf5ab {
    @include card.outer;
    border-radius: $size-max;

    .image_faf5ab {
        @include filter.sepia;
    }
}

// Actual typing area
.scrollableContainer_d0696b {
    @include card.outer;

    .channelTextAreaDisabled_d0696b & {
        opacity: 1;
    }

    // Attachments
    .channelAttachmentArea_e8c527 {
        .upload_df1eaf {
            @include card.large;
        }
        .actionBar_df1eaf {
            transform: none;
        }
    }

    // Attachment icons
    .icon_f847a3 {
        &.video_f847a3,
        &.acrobat_f847a3,
        &.ae_f847a3,
        &.sketch_f847a3,
        &.ai_f847a3,
        &.archive_f847a3,
        &.code_f847a3,
        &.document_f847a3,
        &.photoshop_f847a3,
        &.ps_f847a3,
        &.spreadsheet_f847a3,
        &.webcode_f847a3,
        &.audio_f847a3,
        &.unknown_f847a3 {
            @include filter.sepia;
        }
    }

    // Add attachment button
    .attachButton_f298d4 {
        &,
        &:hover {
            .attachButtonPlus_f298d4 {
                fill: $cream;
            }
        }
    }

    // Right side buttons
    .button_cecf00,
    .active_cecf00 .buttonWrapper_cecf00,
    .buttonWrapper_cecf00:hover {
        color: $cream;
    }
    &.webkit__8d35a .buttons_d0696b {
        margin-right: 0;
    }

    // Emoji button
    @at-root .sprite_af14ca {
        filter: saturate(var(--saturation-factor, 1)) sepia(1) !important;
        transform: none !important;
    }

    // "Message #channel-name" placeholder
    .placeholder_a552a6 {
        font-family: var(--font-display);
        line-height: 1.2rem;
        color: $cream;
        opacity: 0.7;
    }

    // Formatting preview
    // Typed links
    .fakeLink_cdb578 {
        color: $red;
    }

    // Inline code
    .after_inlineCode_cdb578,
    .before_inlineCode_cdb578,
    .inlineCode_cdb578 {
        background: unset;
    }

    // Block code
    .codeBlockSyntax_cdb578 {
        font-family: var(--font-code);
    }
}

// Autocomplete
#{$root} .autocomplete_f23da8 {
    @include card.outer;

    // Emoji/username autocomplete

    // Query
    .contentTitle_f23da8 {
        font-size: 20px;
        font-family: var(--font-display);
        padding: 0 8px;

        strong {
            font-family: var(--font-primary);
            font-size: 16px;
            color: $cream;
        }
    }

    // Username
    .autocompleteRowContentPrimary_f23da8:not(:last-child) > div {
        font-family: var(--font-display);
    }

    // Command autocomplete
    .listItems_dcade6 {
        right: 0 !important;
    }

    .icon_c9d951 {
        color: $cream;
    }

    // Category list
    .wrapper_efd8e6 {
        background: $cream;
        width: 56px - ($size-s * 2);

        .wrapper_dc0b29 {
            background: unset;
        }

        .listItems_dcade6 {
            left: 12px - $size-s !important;
        }

        // Category
        .wrapper_efd8e6,
        .svg_d48241 {
            border-radius: $size-max;
            box-shadow: 0 0 0 2px $black;
            background: $red;
        }

        // Selected category
        .selected_a69fe5,
        .selected_a69fe5:hover {
            display: none;
        }

        // Default category
        .icon_c9d951 {
            color: $cream;
        }

        // Server category
        foreignObject {
            mask: none;
        }

        // Divider
        .builtInSeparator_efd8e6 {
            display: none;
        }
    }

    // Suggestion list
    .categorySection_fe2299 {
        // Category header
        .categoryHeader_fe2299 {
            @include card.round;
            top: $size-m;
            height: 32px + ($size-s * 2);

            &::after {
                display: none;
            }

            .header_e06857 {
                color: $cream;
            }
        }

        // Suggestion
        .itemWrapper_fe2299 {
            // Mandatory params
            .option_bea3ee {
                background: transparent;
                color: $red;
            }

            // Optional params
            .optionals_e18e73 {
                border-left: 0;
                opacity: 0.7;
            }

            // Optional param counter
            .optionalCount_e18e73 {
                color: $cream;
            }
        }

        // Loading suggestion
        .usageWrapper_b2fcf5,
        .description_b2fcf5,
        .source_b2fcf5 {
            background: $cream;
            opacity: 0.3;
        }
    }
}

// Sticker suggestion
.container_ccd3df {
    @include card.outer;

    foreignObject {
        mask: none;
    }

    .descriptionText_ccd3df {
        line-height: 28px;
    }

    .closeIcon_ccd3df {
        &,
        &:hover {
            color: $cream;
        }
    }

    .maskBackground_ccd3df,
    .textDivider_ccd3df,
    .containerBackground_ccd3df {
        display: none;
    }
}

// Typing info
.typing_d7ebeb {
    // Users who are typing
    .typingDots_d7ebeb,
    .dots_ce0450 {
        color: $cream;
    }

    // Usernames
    strong {
        font-family: var(--font-display);
    }
}
