@use "../../top/vars" as *;
@use "../../top/button" as button;

// Embeds
@mixin embedtxt() {
    font-family: var(--font-display);
    font-size: 20px;
}

.embedFull-1HGV2S,
.imageWrapper-oMkQl4,
.hidden-3B-Rum,
.wrapperAudio-1Bzv_Z,
.container-rr3Ruk,
.attachment-1PZZB2,
.wrapper-1HIH0j,
.embedSpotify-1rDvOE,
.giftCodeContainer-3ObH0O .tile-2mmK5T,
.invite-3uuHYQ {
    border: $thin solid var(--ieytd-color-1) !important;
    border-radius: $embed-outer;
    background: var(--ieytd-color-2);
    --header-primary: var(--ieytd-color-3);
    --text-normal: var(--ieytd-color-3);
}

// Remove embed button
.embedSuppressButton-1rZHq6 {
    --interactive-normal: var(--ieytd-color-2);
    --interactive-hover: var(--ieytd-color-2);
    right: -26px;
}

// Embed mentions
.mention {
    --mention-foreground: var(--ieytd-color-2);
    --mention-background: var(--ieytd-color-3);
    padding: 0 4px;
}

// Audio/video metadata
// File name
.metadataName-1KMZtB {
    @include embedtxt();
}
// File size
.metadataSize-2A2s1T {
    color: var(--ieytd-color-3);
    opacity: 1;
}

// Audio/video controls
.audioControls-3fmemK,
.videoControls-2NzHnF {
    border-radius: 0 0 $embed-inner $embed-inner;
    background: var(--ieytd-color-1);
}
// Play button
.controlIcon-1grhw_ {
    opacity: 1;
}
// Bar background
.mediaBarWrapper-33h1oY,
.mediaBarWrapper-33h1oY::after,
.mediaBarWrapper-33h1oY::before {
    background: var(--ieytd-color-2);
}
// Loaded content bar, low opacity
.buffer-3eVqKK,
.buffer-3eVqKK::after,
.buffer-3eVqKK::before {
    background: var(--ieytd-color-3);
}
// Mouseover amount bar
.mediaBarPreview-1gUbVy,
.mediaBarPreview-1gUbVy::after,
.mediaBarPreview-1gUbVy::before {
    background: var(--ieytd-color-3);
}
// Played content bar
.mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317,
.mediaBarProgress-38I317::after,
.mediaBarProgress-38I317::before {
    background: var(--ieytd-color-3);
}
// Time tooltip
.bubble-3XikHF {
    border-radius: $max;
    background: var(--ieytd-color-3);
    color: var(--ieytd-color-2);
}
// Full screen icon
.controlIcon-10O-4h {
    color: var(--ieytd-color-3);
}
// Volume popup
.mediaBarInteractionVolume-zGrOSh {
    background: var(--ieytd-color-1);
}

// Audio embeds
.wrapperAudio-1Bzv_Z {
    padding: 10px 0 0 0;
    color: var(--ieytd-color-3);
    .audioMetadata-1Hrt8T {
        padding: 0 10px;
        .metadataName-1KMZtB {
            line-height: 12px;
        }
    }
}

// Video embeds
.wrapper-1FP9YQ {
    color: var(--ieytd-color-3);
    // On-video play button
    .playPausePop-1x3uED {
        color: var(--ieytd-color-2);
    }
    // On-hover metatdata panel
    .metadata-3IncIG {
        background: var(--ieytd-color-1);
        padding-top: 15px;
        height: 60px;
        .metadataName-1KMZtB {
            line-height: 28px;
            margin-top: -6px;
        }
        // Download
        .metadataDownload-3IY84h {
            opacity: 1;
            margin-top: 4px;
            .metadataIcon-3QMhu9 {
                color: var(--ieytd-color-3);
            }
        }
    }
}

// Text upload embed
.container-rr3Ruk {
    .textContainer-36wgKK {
        background: var(--ieytd-color-3);
        border: none;
        border-radius: $embed-inner $embed-inner 0 0;
        ::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thin-thumb);
        }
    }
    .footer-GXWBBp {
        background: var(--ieytd-color-1);
        border: none;
        // File name
        .attachmentName-vgRpzs {
            @include embedtxt();
            line-height: 30px;
            margin-top: -8px;
        }
        // File size
        .formattedSize-1YbZww {
            color: var(--ieytd-color-3);
        }
        // Download button
        .downloadButton-2PkwZg:not(:hover) {
            color: var(--ieytd-color-2);
        }
    }
}

// File upload embed
.attachment-1PZZB2 {
    .metadata-1E7Z4i {
        color: var(--ieytd-color-3);
    }
}

// Invite embed
.wrapper-1HIH0j {
    // Server banner
    .inviteSplash-2nkLRX {
        border-radius: $embed-inner $embed-inner 0 0;
    }
    // Invite title
    .header-3anOjb {
        font-size: 16px;
        margin-top: -4px;
    }
    // Server name
    .guildNameWrapper-OUvDrW {
        margin-top: -8px;
    }
    // Invalid invite
    .inviteDestinationExpired-1n9a5a {
        margin-top: -8px;
        --status-danger: var(--ieytd-color-1);
    }
    // Server about
    .flowerStar-2tNFCR {
        color: var(--ieytd-color-3);
    }
    .icon-3BYlXK,
    .boostedGuildIconGem-u5aHBL {
        color: var(--ieytd-color-2);
    }
    // Server icon
    .guildIcon-3ZfRfI {
        border-radius: 50%;
        border: $thin solid var(--ieytd-color-3);
        background-color: var(--ieytd-color-3);
    }
    // Online / members pips
    .statusOffline-2R-ArP {
        background: var(--ieytd-color-3);
    }
    .statusOnline-Iw3r2o {
        background: var(--ieytd-color-1);
    }
}

// Game invite / listening party embed
.invite-3uuHYQ {
    // Invite title
    .header-1Fx4D1 {
        @include embedtxt();
        font-size: 16px;
        margin-top: -4px;
        color: var(--ieytd-color-3);
    }
    // Game progress
    .partyStatus-2-VcyG {
        color: var(--ieytd-color-3);
    }
    // Join game button
    .lookFilled-yCfaCM.colorPrimary-2AuQVo {
        &[aria-disabled="true"],
        &:disabled {
            @include button.button(var(--ieytd-color-3), var(--ieytd-color-2), var(--ieytd-color-1));
        }
    }
    // Game image
    .coverImageWrapper-2wx5q1 {
        background-color: var(--ieytd-color-1);
        opacity: 1;
    }
    // Game name
    .name-QjR4Jk {
        color: var(--ieytd-color-2);
    }
    // Help
    .helpIcon-24pk1Z {
        background: var(--ieytd-color-2);
        opacity: 1;
        g {
            fill: var(--ieytd-color-1);
        }
    }
}

// Gift embed
.giftCodeContainer-3ObH0O .tile-2mmK5T {
    // Text
    .description-X8_53U,
    .tagline-3DhQWg {
        color: var(--ieytd-color-3);
    }
    // Invalid gift
    .invalidPoop--w1123 {
        background-color: var(--ieytd-color-1);
    }
}

// Spoiler embed
.hidden-3B-Rum {
    .spoilerWarning-8ovW0v {
        color: var(--ieytd-color-2);
        background: var(--ieytd-color-3);
    }
}
