@use "../../top/vars" as *;
@use "../../top/card";

// Overflow: yes
.zalgo_ec86aa {
    .messageContent_ec86aa,
    &.message_ddb5b4,
    &.cozy_ec86aa .header_ec86aa,
    &.compact_ec86aa .messageContent_ec86aa {
        overflow: visible;
    }
}

// Text
.markup_d6076c {
    // Titles
    :is(h1, h2, h3) {
        color: $cream;
    }

    // Code
    code {
        background: $black;

        &.inline {
            border-radius: 0;
        }

        &.hljs {
            border: $size-xs dashed $cream;
            border-radius: $size-m;
        }
    }

    // Quote
    .blockquoteDivider_d6076c {
        background: $cream;
    }

    // Edited
    .timestamp_ec86aa {
        color: $cream;
        opacity: 0.7;
    }

    // System messages
    // Username
    .content_e62b38 a {
        color: $cream;
        font-family: var(--font-display);
        margin-top: -0.4rem;
    }
}

// Mention
.wrapper_d4fa29 {
    @include card.round;

    &:hover {
        color: $cream;
        background: $black;
    }
}

// Chat message
.wrapper_ec86aa {
    // User avatar
    .avatar_ec86aa,
    .avatarContainer_bf4197 {
        border: $size-s solid $red;
    }

    // Seasonal avatar decorations
    .avatarDecoration_ec86aa {
        left: 12px + $size-s;
    }

    // Username
    .username_bf4197,
    .username_ec86aa {
        font-family: var(--font-display);
        font-size: 1.5rem;
        color: $cream;
    }

    // Timestamp
    .timestamp_ec86aa,
    .timestamp_ec86aa.alt_ec86aa {
        color: $cream;
        opacity: 0.7;
    }

    // Message action buttons
    .wrapper_ef319f,
    .full-motion & .wrapper_ef319f:hover {
        box-shadow: 0 0 0 $size-xs $cream inset;
        background: $black;
        border-radius: $size-max;
    }
}

// Compact mode specific
.compact_ec86aa {
    .botTagCompact_bac328 {
        margin-top: 0.3rem;
    }
}

// Cosy mode specific
.cozy_ec86aa {
    .header_ec86aa,
    .headerText_ec86aa {
        display: flex;
        align-items: baseline;
    }

    .username_ec86aa {
        overflow: visible;
    }
}
