@use "../../top/vars" as *;
@use "../../top/card";

// Overflow: yes
.zalgo__39311 {
    .messageContent__21e69,
    &.message_f3a9e4,
    &.cozy_f5c119 .header__39b23,
    &.compact__54ecc .messageContent__21e69 {
        overflow: visible;
    }
}

// Text
.markup_a7e664 {
    // Titles
    :is(h1, h2, h3) {
        color: $cream;
    }

    // Code
    code {
        background: $black;

        &.inline {
            border-radius: 0;
        }

        &.hljs {
            border: $size-xs dashed $cream;
            border-radius: $size-m;
        }
    }

    // Quote
    .blockquoteDivider__96157 {
        background: $cream;
    }

    // Edited
    .timestamp_cdbd93 {
        color: $cream;
        opacity: 0.7;
    }

    // System messages
    // Username
    .content__72fdc a {
        color: $cream;
        font-family: var(--font-display);
        margin-top: -0.4rem;
    }
}

// Mention
.wrapper__2d9b1 {
    @include card.round;

    &:hover {
        color: $cream;
        background: $black;
    }
}

// Chat message
.wrapper__09ecc {
    // User avatar
    .avatar__08316,
    .avatarContainer_f5815b {
        border: $size-s solid $red;
    }

    // Seasonal avatar decorations
    .avatarDecoration__14b3c {
        left: 12px + $size-s;
    }

    // Username
    .username__60f9f,
    .username_d30d99 {
        font-family: var(--font-display);
        font-size: 1.5rem;
        color: $cream;
    }

    // Timestamp
    .timestamp_cdbd93,
    .timestamp_cdbd93.alt__6c563 {
        color: $cream;
        opacity: 0.7;
    }

    // Message action buttons
    .wrapper_c727b6,
    .full-motion & .wrapper_c727b6:hover {
        box-shadow: 0 0 0 $size-xs $cream inset;
        background: $black;
        border-radius: $size-max;
    }
}

// Compact mode specific
.compact__54ecc {
    .botTagCompact_bac328 {
        margin-top: 0.3rem;
    }
}

// Cosy mode specific
.cozy_f5c119 {
    .header__39b23,
    .headerText_f47574 {
        display: flex;
        align-items: baseline;
    }

    .username_d30d99 {
        overflow: visible;
    }
}
