@forward "./accessories";
@forward "./bar";
@forward "./chatbox";
@forward "./essentials";

@use "../../top/vars" as *;

// Chat panel
.chatContent_f087cb {
    background: unset;

    // Channel info
    .emptyChannelIcon_d45c50 {
        display: none;
    }
    .description__51014 {
        color: $cream;
    }

    // Messages loading
    .wrapper__11501 {
        background: transparent;

        // Fake message block
        .wrapper__6b7d8 {
            background: transparent;

            .avatar_eb6eba,
            .attachment_d24cc3,
            .blob__8d5bd {
                background: $cream;
            }
        }
    }
}
