@forward "./accessories";
@forward "./bar";
@forward "./chatbox";
@forward "./divider";
@forward "./essentials";
@forward "./loading";

@use "../../top/vars" as *;

// Chat panel
.chatContent_a7d72e {
    background: unset;

    // Channel info
    .emptyChannelIcon_c2668b {
        display: none;
    }
    .description_c2668b {
        color: $cream;
    }
}
