@forward "./accessories";
@forward "./bar";
@forward "./chatbox";
@forward "./essentials";

@use "../../top/vars" as *;

// Chat panel
.chatContent__5dca8 {
    background: unset;

    // Channel info
    .emptyChannelIcon__1a1ba {
        display: none;
    }
    .description__57d03 {
        color: $cream;
    }

    // Messages loading
    .wrapper_b8c724 {
        background: transparent;

        // Fake message block
        .wrapper__5c5cd {
            background: transparent;

            .avatar_eb6eba,
            .attachment__7a2d0,
            .blob__8d5bd {
                background: $cream;
            }
        }
    }
}
