@use "../../top/vars" as *;

// Messages loading
@at-root .wrapper_cdfd51 {
    background: transparent;

    // Fake message block
    .wrapper_b211c6 {
        background: transparent;

        .avatar_b211c6,
        .attachment_b211c6,
        .blob_b211c6 {
            background: $cream;
        }
    }
}
