@use "../../top/vars" as *;

// Message accessories
.container-2sjPya {
    --text-link: var(--ieytd-color-3);
    --interactive-normal: var(--ieytd-color-3);
    --interactive-hover: var(--ieytd-color-3);

    // Text
    .embedMargin-2PsaQ4 {
        color: var(--ieytd-color-3);
    }

    // Thread preview
    .container-3i3IzO {
        background: var(--ieytd-color-3);
        border: $x-thin solid var(--ieytd-color-1);
        border-radius: $embed-outer;

        // Thread title
        .name-13vPlv {
            font-family: var(--font-display);
            font-style: italic;
            font-size: 16px;
            margin-top: -4px;
            color: var(--ieytd-color-1);
        }

        // Recent poster username
        .username-h_Y3Us {
            margin-top: -4px;
        }
    }

    // Reacts
    .reaction-3vwAF2 {
        background: var(--ieytd-color-3);
        border: $x-thin solid var(--ieytd-color-1);
        border-radius: $max;
        --interactive-normal: var(--ieytd-color-1);
        --interactive-hover: var(--ieytd-color-1);
        --interactive-active: var(--ieytd-color-1);

        &:hover {
            background: var(--ieytd-color-3);
            border: $x-thin solid var(--ieytd-color-1);
        }

        &.reactionMe-1PwQAc {
            border-color: var(--ieytd-color-2);

            .reactionCount-26U4As {
                color: var(--ieytd-color-2);
            }
        }
    }
}
