@use "../../top/vars" as *;

// Message accessories
.container-2sjPya {
    --text-link: $black;
    --interactive-normal: $black;
    --interactive-hover: $black;

    // Text
    .embedMargin-2PsaQ4 {
        color: $black;
    }

    // Thread preview
    .container-3i3IzO {
        background: $black;
        border: $x-thin solid $red;
        border-radius: $embed-outer;

        // Thread title
        .name-13vPlv {
            font-family: var(--font-display);
            font-style: italic;
            font-size: 16px;
            margin-top: -4px;
            color: $red;
        }

        // Recent poster username
        .username-h_Y3Us {
            margin-top: -4px;
        }
    }

    // Reacts
    .reaction-3vwAF2 {
        background: $black;
        border: $x-thin solid $red;
        border-radius: $max;
        --interactive-normal: $red;
        --interactive-hover: $red;
        --interactive-active: $red;

        &:hover {
            background: $black;
            border: $x-thin solid $red;
        }

        &.reactionMe-1PwQAc {
            border-color: $cream;

            .reactionCount-26U4As {
                color: $cream;
            }
        }
    }
}
