@use "../../top/vars" as *;

// Typing extarea
.form-3gdLxP::before {
    display: none;
}

// Area including bars
.channelTextArea-1VQBuV {
    background: $red;
    border-radius: $textarea-outer;
    --channeltextarea-background: $black;
    --channel-text-area-placeholder: $red;
    --textbox-markdown-syntax: $cream;

    // Bars
    .attachedBars-2BCP3l {
        background: $black;
        border-radius: $textarea-outer $textarea-outer 0 0;

        // Reply bar
        .replyBar-1oi75v {
            background: $red;
            border-radius: $textarea-outer $textarea-outer 0 0;

            // Replying to username
            .username-u-ebrn {
                font-family: var(--font-display);
                font-size: 16px;
            }

            // Mention on/off button
            .mentionButton-3C5YMI {
                --text-link: $cream;
                --text-muted: $black;
            }

            // Cancel reply
            .closeButton-3IEry2 {
                --interactive-normal: $cream;
                --interactive-hover: $cream;
            }
        }
    }

    // Actual typing area
    .scrollableContainer-15eg7h {
        border: $size-s solid $red;
        border-radius: $textarea-outer;

        // "Message #channel-name" placeholder
        .placeholder-1rCBhr {
            font-family: var(--font-display);
            line-height: 1.2rem;
        }

        // Typed links
        .fakeLink-1wGafz {
            color: $red;
        }

        // Inline code
        .after_inlineCode-2_JXPm,
        .before_inlineCode-1zngJj,
        .inlineCode-ERyvy_ {
            background: $black;
        }

        // Block code
        .codeBlockSyntax-3mFGiA {
            font-family: var(--font-code);
        }
    }

    // Autocomplete
    .autocomplete-3NRXG8 {
        background: $black;
        border-radius: $textarea-outer;
        border: $size-s solid $red;

        // Emoji/username autocomplete

        // Title
        .contentTitle-3CylD3 {
            color: $red;
            font-size: 20px;
            font-family: var(--font-display);
            padding: 0 8px;

            strong {
                font-family: var(--font-primary);
                font-size: 16px;
                color: $cream;
            }
        }

        // Suggestion
        .autocompleteRowContent-1cjfD2 {
            --interactive-active: $cream;
            --interactive-normal: $red;
        }

        // @ suggestion
        .autocompleteRowContentPrimary-1kUW9H:not(:last-child) .text-md-normal-304U3g {
            font-family: var(--font-display);
            font-size: 20px;
            margin-top: -4px;
        }

        // Command autocomplete

        // Category list
        .wrapper-3z7DuG,
        .wrapper-22rqw6 {
            background: $red;
            --background-primary: $black;
            --interactive-active: $red;
            --interactive-normal: $black;
            --interactive-hover: $black;

            // Category
            .wrapper-1wwiGV {
                border-radius: 50%;
            }
        }

        // Suggestion list
        .categorySection-3hl0bM {
            --interactive-active: $cream;
            --interactive-normal: $red;

            // Suggestion category name
            .categoryHeader-OpJ1Ly {
                .header-1XpmZs {
                    --interactive-normal: $black;
                    --header-secondary: $black;
                }

                background: $red;
                border-radius: $size-max;
                border: $size-s solid $black;
                height: 32px+ ($size-s * 2);

                &::after {
                    display: none;
                }
            }

            // Suggestion
            .itemWrapper-CeTtIp {
                // Optional params
                .optionals-2w-NPQ {
                    border-left: none;
                }

                // Mandatory params
                .option-Tt7anD {
                    background: transparent;
                    color: $red;
                }
            }
        }
    }
}

// Typing info
.typing-2J1mQU {
    // Users who are typing
    .typingDots-1Y8dki {
        color: $red;

        // ...
        .dots-1BwzZQ.themed-3T-OPr {
            color: $red;
        }

        // Usernames
        strong {
            font-family: var(--font-display);
        }
    }

    // Cooldown
    .cooldownWrapper-2k1jHK {
        color: $red !important;
    }
}
