/* User settings */
/* Sidebar */
.sidebarRegionScroller-FXiQOh {
    background: var(--color-two);
}
    .sidebar-nqHbhN {
        background: var(--color-one);
    }
        /* Settings sidebar options*/
        .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
        .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
            background-color: var(--color-two);
            color: var(--color-three);
        }
/* Headings */
.contentColumn-1C7as6 .title-3hptVQ,
.contentColumn-1C7as6 .heading-lg-bold-3uwrwG {
    color: var(--color-two);
}
.contentColumn-1C7as6 .h1-34Txb0,
.contentColumn-1C7as6 .heading-lg-bold-3uwrwG {
    font-size: 40px;
}
.contentColumn-1C7as6 .h5-2RwDNl {
    font-size: 16px;
}
/* Toggles */
.control-1fl03- .container-2nx-BQ {
    background-color: var(--color-one)!important;
}
    .control-1fl03- .container-2nx-BQ .slider-32CRPX rect {
        fill: var(--color-two);
    }
    .control-1fl03- .container-2nx-BQ .slider-32CRPX svg path {
        fill: var(--color-one);
    }
.bd-switch-body {
    --switch-color: var(--color-one);
}
    .bd-switch-handle {
        fill: var(--color-two);
    }
.control-1fl03- .checked-25WXMf {
    background-color: var(--color-two)!important;
}
    .control-1fl03- .checked-25WXMf .slider-32CRPX rect {
        fill: var(--color-one);
    }
    .control-1fl03- .checked-25WXMf .slider-32CRPX svg path {
        fill: var(--color-two);
    }
.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--color-two);
}
    .bd-switch input:checked+.bd-switch-body .bd-switch-handle {
        fill: var(--color-one);
    }
.sidebarRegionScroller-FXiQOh {
    background: var(--color-one);
    border-right: 4px solid var(--color-two);
}
    .sidebar-nqHbhN {
        background: var(--color-one);
    }
/* Large radio selectors in Privacy & Safety */
.itemFilled-1cPbtg[aria-checked=true],
.itemFilled-1cPbtg:hover:not([aria-checked=true]),
/* Settings sidebar options*/
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: var(--color-two);
    color: var(--color-three);
}
/* Unsaved changes settings warning */
.noticeRegion-qjyUVg .container-20TyK0 {
    background-color: var(--color-two)!important;
}
.noticeRegion-qjyUVg .container-20TyK0 .message-3C6JQ1,
.noticeRegion-qjyUVg .container-20TyK0 .contents-3ca1mk span {
    color: var(--color-three)!important;
}
/* Links in textboxes */
.fakeLink-1wGafz {
    color: inherit;
}
/* User setting sections */
/* Connections */
.connection-YOVI9j {
    background: var(--color-three);
}
.connectionDelete-3YgMVq {
    color: var(--color-one);
}
    .connectionOptionsWrapper-3aVWcp {
        border: 3px solid var(--color-two);
        border-radius: 0 0 8px 8px;
    }
.contentColumn-1C7as6 .accountList-Wii_T5 .h5-2RwDNl,
.contentColumn-1C7as6 .connectionHeader-Ixbb1s .description-30xx7u,
.contentColumn-1C7as6 .accountList-Wii_T5 .colorStandard-1Xxp1s {
    color: var(--color-three);
}
/* Nitro */
.premiumLabel-3HPvdB.selected-2Uns2B {
    color: var(--color-three);
}
.planComparisonTableContainer-2toIGM .text-md-semibold-3xVVGu,
.planComparisonTableContainer-2toIGM .checkmarkIcon-21vhV_ {
    color: var(--color-two)!important;
}
#discord-nitro-tab .defaultColor-HXu-5n {
    color: var(--color-two)!important;
}
#discord-nitro-tab .bigPerkCardContainer-100zsH .defaultColor-HXu-5n,
#discord-nitro-tab .smallPerkCard-2sX_-- .defaultColor-HXu-5n {
    color: var(--color-three)!important;
}
#discord-nitro-tab .smallPerkCardDescription-2lM2_J {
    color: var(--color-one);
}
#discord-nitro-tab .lookInverted-2mDUMi.colorBrand-I6CyqQ {
    background-color: var(--color-one);
}
#discord-nitro-tab .buttonWhite-hd8TaT {
    color: var(--color-two)!important;
    border-color: var(--color-two)!important;
}
/* Server boost */
#nitro-server-boost-tab .defaultColor-HXu-5n,
#nitro-server-boost-tab .marketingLogoIcon-3HQY2K,
#nitro-server-boost-tab .descriptionStandalone-3ChjDk {
    color: var(--color-two);
}
/* Gift inventory */
.theme-dark .emptyStateHeader-Wexj4l,
.theme-dark .emptyStateSubtext-29V2rK {
    color: var(--color-two);
}
/* Billing */
.theme-dark .defaultIndicator-2ndWks,
.theme-dark .codeRedemptionRedirect-2hYMSQ {
    background-color: var(--color-two);
    color: var(--color-three);
}
/* Appearance */
/* Slider settings */
.defaultValue-19SZ-q .markValue-2U_-UG {
    color: var(--color-one);
}
.theme-dark .bar-1Bhnl9, .theme-dark .markDash-yk2kJ- {
    background: var(--color-one);
}
.grabber-2GQyvM {
    background-color: var(--color-one);
    border: 3px solid var(--color-two);
}
/* Accessibility */
.checkboxWrapper-2fDzaA .checkbox-f1HnKB {
    background-color: var(--color-three)!important;
}
.lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background-color: var(--color-two);
}
/* Voice & Video */
/* Mic test */
.container-3NTP7o {
    border-radius: 10px;
    border: 3px solid var(--color-two);
}
    .theme-dark .progress-1S-TDF {
        background-color: var(--color-three);
    }
    .theme-dark .notches-2w7UZJ.gray-3wP137 {
        background-image: none;
    }
/* Edit keyboard shortcut */
.editIcon-e7sZ3b {
    background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m20 5h-16c-1.1 0-1.99.9-1.99 2l-.01 10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-9 3h2v2h-2zm0 3h2v2h-2zm-3-3h2v2h-2zm0 3h2v2h-2zm-1 2h-2v-2h2zm0-3h-2v-2h2zm9 7h-8v-2h8zm0-4h-2v-2h2zm0-3h-2v-2h2zm3 3h-2v-2h2zm0-3h-2v-2h2z' fill='rgb(225,204,154)' fill-rule='nonzero'/%3E%3Cpath d='m0 0h24v24h-24zm0 0h24v24h-24z'/%3E%3C/g%3E%3C/svg%3E");
}
/* Video background option */
.backgroundOptionRing-1vvQ0C {
    border: 2px solid var(--color-two);
}
/* Keybinds */
/* Remove keybind */
.filled-2zYazI {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h18v18H0'/%3E%3Cpath fill='rgb(225,204,154)' d='M14.25 4.8075L13.1925 3.75 9 7.9425 4.8075 3.75 3.75 4.8075 7.9425 9 3.75 13.1925 4.8075 14.25 9 10.0575l4.1925 4.1925 1.0575-1.0575L10.0575 9'/%3E%3C/g%3E%3C/svg%3E");
}
/* Keybind key */
.theme-dark .keybindShortcut-3zF1P9,
.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
    color: var(--color-three);
}
.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
    box-shadow: inset 0 -4px 0 var(--color-one);
}
.key-N5VmHN g {
    fill: var(--color-three)!important;
}
/* Headers */
.defaultKeybindGroupHeader-18_214 {
    color: var(--color-two);
    font-size: 16px;
}
/* Registered Games */
.theme-dark .nowPlayingAdd-3I4RbE,
.theme-light .nowPlayingAdd-3I4RbE,
.theme-dark .gameName-zbZetm {
    color: var(--color-two);
}
.theme-dark .lastPlayed-1jum9A,
.theme-dark .overlayStatusText-In0YrK {
    color: var(--color-one);
}
.nowPlayingAdd-3I4RbE .button-f2h6uQ {
    background: var(--color-two);
    margin-left: 4px;
}
.theme-dark .gameNameInput-2wbDJ9:focus,
.theme-dark .gameNameInput-2wbDJ9:hover {
    background-color: var(--color-three);
    border-color: var(--color-two);
}
.theme-dark .overlayToggleIconOn-21NN2N .fill-297bdf {
    fill: var(--color-two);
}
.theme-dark .default-1Tkeeg {
    background-color: var(--color-one);
    background-image: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m14.25 4.808-1.057-1.058-4.193 4.192-4.192-4.192-1.058 1.058 4.192 4.192-4.192 4.193 1.058 1.057 4.192-4.193 4.193 4.193 1.057-1.057-4.193-4.193z' fill='rgb(225,204,154)' fill-rule='nonzero'/%3E%3Cpath d='m0 0h18v18h-18z'/%3E%3C/g%3E%3C/svg%3E");
}
.theme-dark .game-2f2vPC {
    box-shadow: 0 1px 0 0 var(--color-two);
}
/* Verified game */
.flowerStar-2tNFCR path {
    fill: var(--color-one);
}
    .childContainer-U_a6Yh path {
        fill: var(--color-two);
    }
/* Game Overlay */
.option-1QI4c9 {
    background-color: var(--color-one);
}
.disabledIcon-1rpL82 {
    color: var(--color-one);
}
.wrapper-SdcMKg.disabledSelected-1jqfsw {
    border: 2px solid var(--color-one);
}
/* What's new popover*/
.theme-dark .content-FDHp32 ol,
.theme-dark .content-FDHp32 p,
.theme-dark .content-FDHp32 ul li,
.theme-dark .date-2tmzZM {
    color: var(--color-three);
}
.added-mQcv9V {
    color: var(--color-two);
}
.added-mQcv9V:after {
    background-color: var(--color-two);
}
/* Hypesquad */
.introHeader-3UyMHl {
    color: var(--color-two);
}