@use "../top/vars" as *;
@use "../top/button" as button;

.lookFilled-yCfaCM {
    border-radius: $max;
    border: $x-thin solid;

    // I'm keeping track of where I styled these buttons
    // In case they cause conflicts in other places.

    // Follow announcement channel
    &.colorPrimary-2AuQVo {
        @include button.button($black, $cream);

        &[aria-disabled="true"],
        &:disabled {
            --button-secondary-background-disabled: $black;
        }
    }

    // Join server in invite embed
    &.colorGreen-3y-Z79 {
        @include button.button($black, $cream, $red);
    }

    // Gift inventory in gift embed
    &.colorBrand-I6CyqQ {
        @include button.button($black, $cream, $red);
    }
}

.lookBlank-21BCro {
    border-radius: $max;

    // Edit channel button at start of text channel
    .buttonContainer-2zLp7E & {
        color: $red;
        padding: 6px 12px;
        border: $x-thin solid;
    }
}
