@use "../top/vars" as *;
@use "../top/button" as button;

#{$root} {
    :is(.lookFilled__19298, .lookOutlined__46d54, .lookInverted_ee4261) {
        border-radius: $size-max;
        border: $size-xs solid;

        &.colorPrimary__6ed40 {
            @include button.button($black, $cream);

            &[aria-disabled="true"],
            &:disabled {
                --button-secondary-background-disabled: $black;
            }
        }

        &.colorGreen__5f181 {
            @include button.button($black, $cream);
        }

        &.colorRed_d6b062 {
            @include button.button($black, $red);
        }

        :is(&.colorBrand_b2253e, &.colorBrandNew_fd170a) {
            @include button.button($black, $cream);
        }

        &.colorWhite__43488 {
            @include button.button($red, $cream);
        }

        &.cta__69e2a,
        &.button__6ac9e,
        &.buttonColor_fa1bb3,
        &.buttonColor__6f6b0,
        &.buttonColor__01bf8 {
            @include button.button($black, $cream);
        }

        &.viewServerButton__1ce42 {
            @include button.button($black, $cream);
        }

        &.buttonWhite__30853 {
            color: $cream !important;
            border-color: $cream !important;
        }
    }

    .lookLink__93965 {
        &.colorPrimary__6ed40 {
            @include button.link($cream);
        }

        &.colorLink_b651e5 {
            @include button.link($red);
        }

        &.colorRed_d6b062 {
            @include button.link($black);
        }

        &.colorWhite__43488 {
            @include button.link($cream);
        }
    }

    .borderPrimary__60ecd {
        border-color: $cream !important;
    }

    .button__57d93 {
        @include button.button($black, $cream);
        border-radius: $size-max;
        border: $size-xs solid;

        &:hover {
            border-color: $cream;
        }
    }
}

.lookBlank__7ca0a {
    border-radius: $size-max;

    .buttonContainer__51200 & {
        color: $red;
        padding: 6px 12px;
        border: $size-xs solid;
    }
}

// Action buttons
.button_d553e5 {
    &,
    &:hover,
    &:active {
        color: $cream;
    }

    &:active {
        padding: 4px;
    }

    &.dangerous_b60ec0 {
        &,
        &:hover,
        &:active {
            color: $red;
        }
    }
}

.button__66e8c.buttonColor_a6eb73 {
    &,
    &:hover {
        background: $black;
        color: $cream;
    }
}
