@use "../top/vars" as *;
@use "../top/button" as button;

.lookFilled-yCfaCM {
    border-radius: $max;
    border: $x-thin solid;

    // I'm keeping track of where I styled these buttons
    // In case they cause conflicts in other places.

    // Follow announcement channel
    &.colorPrimary-2AuQVo {
        @include button.button(var(--ieytd-color-3), var(--ieytd-color-2));

        &[aria-disabled="true"],
        &:disabled {
            --button-secondary-background-disabled: var(--ieytd-color-3);
        }
    }

    // Join server in invite embed
    &.colorGreen-3y-Z79 {
        @include button.button(var(--ieytd-color-3), var(--ieytd-color-2), var(--ieytd-color-1));
    }

    // Gift inventory in gift embed
    &.colorBrand-I6CyqQ {
        @include button.button(var(--ieytd-color-3), var(--ieytd-color-2), var(--ieytd-color-1));
    }
}

.lookBlank-21BCro {
    border-radius: $max;

    // Edit channel button at start of text channel
    .buttonContainer-2zLp7E & {
        color: var(--ieytd-color-1);
        padding: 6px 12px;
        border: $x-thin solid;
    }
}
