@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

// Info cards, mainly in settings
#{$root} .card__4dc22 {
    @include card.large;
    background: $black;

    a {
        color: $red;
    }

    .icon_c4178d.lightThemeColorOnly__15cda {
        color: $cream;
    }
}
