@use "../top/vars" as *;
@use "../top/text";

// Body font - similar to Adrianna
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Mukta&display=swap");

@font-face {
    font-family: "Groteskia";
    src: url("https://saltssaumure.github.io/ieytd-discord-theme/font/groteskia.regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Groteskia";
    src: url("https://saltssaumure.github.io/ieytd-discord-theme/font/groteskia.oblique.otf");
    font-weight: normal;
    font-style: oblique;
}

:root {
    --font-primary: "Mukta", Helvetica, Arial, sans-serif;
    --font-display: "Groteskia", "Impact", sans-serif;
    --font-headline: "Groteskia", "Impact", sans-serif;
    --font-code: "PT Mono", "Consolas", monospace;
}

code,
.markup_d6076c code.inline,
.codeBlockText_cdb578,
.codeLine_cdb578 {
    font-family: var(--font-code);
}

.eyebrow_dd94cb,
.eyebrow__1fb7a,
.eyebrow__68c11,
.eyebrow__42dd7,
.eyebrow_f92eb2,
.eyebrow_c15ff6,
.eyebrow__5d57b,
.eyebrow_e17fae,
.eyebrow_c46f6a,
.eyebrow_e5a66c,
.eyebrow_dc00ef,
[class*="heading-deprecated-12-"] {
    @include text.sizeup(12px, 16px);
}

.markup_d6076c h3,
[class*="heading-sm-"] {
    @include text.sizeup(14px, 18px);
}

.h3_c46f6a {
    @include text.sizeup(16px, 24px);
}

.h2_c46f6a,
.h4_c46f6a,
[class*="heading-md-"] {
    @include text.sizeup(16px, 20px);
}

.markup_d6076c h2,
.h1_c46f6a,
.userTag_b69b77,
[class*="heading-lg-"] {
    @include text.sizeup(20px, 24px, 12px);
}

[class*="heading-xl-"] {
    @include text.sizeup(24px, 30px, 12px);
}

.markup_d6076c h1,
[class*="heading-xxl-"] {
    @include text.sizeup(32px, 40px, 12px);
}

.defaultColor_e9e35f,
.defaultColor__77578,
.defaultColor_c46f6a,
.colorStandard_fbc755,
.description_b89ec7,
.labelDescriptor_b89ec7,
.h5_c46f6a,
.label_c46f6a,
.legend_c46f6a,
.markup_d6076c,
.title_ed1d57,
.userTag_b69b77,
.base_d0da3e,
.channelName_fef602,
.sourceName_c26824,
.imageUploader_de76e4 .sizeInfo_de76e4,
#{$root} .inputDefault__591c7,
.guildSource_c26824,
#{$root} .hiddenMessage_e7355b,
.body_ac90a2,
.input_effbe2 {
    color: $cream;
}

.description_e72811,
.helpText_e72811,
.titleText_c69589,
:is(h1, h2, h3, h4),
:is(span, div):not(.desaturateUserColors_c7819f, .username_d272d6, .username_ec86aa, .username_cdc675) {
    &:where([style^="color"]) {
        color: $cream !important;
    }
}

.anchor_af404b,
a,
.markup_d6076c a {
    color: $red;
}

::selection {
    color: $black;
    background: $cream;
}
