@use "../top/vars" as *;
@use "../top/text";

// Body font - similar to Adrianna
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Mukta&display=swap");

@font-face {
    font-family: "Groteskia";
    src: url("https://saltssaumure.github.io/ieytd-discord-theme/font/groteskia.regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Groteskia";
    src: url("https://saltssaumure.github.io/ieytd-discord-theme/font/groteskia.oblique.otf");
    font-weight: normal;
    font-style: oblique;
}

:root {
    --font-primary: "Mukta", Helvetica, Arial, sans-serif;
    --font-display: "Groteskia", "Impact", sans-serif;
    --font-headline: "Groteskia", "Impact", sans-serif;
    --font-code: "PT Mono", "Consolas", monospace;
}

code,
.markup_a7e664 code.inline,
.codeBlockText__6172e,
.codeLine__3797b {
    font-family: var(--font-code);
}

.eyebrow__003da,
.eyebrow__35262,
.eyebrow__41622,
.eyebrow__42dd7,
.eyebrow__4498b,
.eyebrow__60985,
.eyebrow__7b0c0,
.eyebrow__847c8,
.eyebrow_b7df6b,
.eyebrow_e5a66c,
.eyebrow_f53856,
[class*="heading-deprecated-12-"] {
    @include text.sizeup(12px, 16px);
}

.markup_a7e664 h3,
[class*="heading-sm-"] {
    @include text.sizeup(14px, 18px);
}

.h3_de2650 {
    @include text.sizeup(16px, 24px);
}

.h2_f0b768,
.h4_b54400,
[class*="heading-md-"] {
    @include text.sizeup(16px, 20px);
}

.markup_a7e664 h2,
.h1__90460,
.userTag__4ca14,
[class*="heading-lg-"] {
    @include text.sizeup(20px, 24px, 12px);
}

[class*="heading-xl-"] {
    @include text.sizeup(24px, 30px, 12px);
}

.markup_a7e664 h1,
[class*="heading-xxl-"] {
    @include text.sizeup(32px, 40px, 12px);
}

.defaultColor__87d87,
.defaultColor__77578,
.defaultColor_d757c2,
.colorStandard__5111e,
.description__7af71,
.labelDescriptor__6432e,
.h5__884a2,
.label__5447e,
.legend__31ccc,
.markup_a7e664,
.title__28a65,
.userTag__4ca14,
.base__7ba63,
.channelName__9d08b,
.sourceName__6e76b,
.imageUploader__8d497 .sizeInfo__254b6,
#{$root} .inputDefault__0d65a,
.guildSource__662f7,
#{$root} .hiddenMessage__19ef2,
.body__13cde,
.input_f4043f {
    color: $cream;
}

.description__548d5,
.helpText__1b4f8,
.titleText_c58c2c,
div:not(.desaturateUserColors_b72bd3),
:is(h1, h2, h3, h4),
span:not(.username_d272d6, .username_d30d99) {
    &:where([style^="color"]) {
        color: $cream !important;
    }
}

.anchor_c8ddc0,
a,
.markup_a7e664 a {
    color: $red;
}
