@use "../top/vars" as *;
@use "../top/card";
@use "../top/grabber";
@use "../top/svg";

::placeholder {
    color: $cream !important;
}

.placeholder_cd49f8 {
    color: $cream;
}

// Typing inputs
.input_f27786 {
    @include card.round;

    &:hover,
    &.disabled_fd136f,
    &.focused__86d46,
    &:focus {
        border-color: $cream;
    }

    &.error__18f19 {
        border: $size-s solid $red;
    }
}

// Single line input
.inputPrefix-1HHwWv {
    color: $cream;
}
.inputDefault__22335 {
    @include card.round;
}

// Multi line input
.textArea__6e373 {
    @include card.xlarge;
}

// Char limit
.characterCount__61e39,
.maxLength_cf9f48 {
    color: $cream;
}

// Click to copy input
#{$root} .copyInput_f549fd {
    @include card.round;
}

// Keybind editor
.editIcon__570b4 {
    background: svg.$keyboard;
}

// Dropdown selector
.lookFilled__9c1ef.select_fe2671 {
    border-radius: $size-max;
    background: $black;
    border: $size-xs solid $cream;
}

// Toggle
.container__2ed72 {
    zoom: 1.2;

    &:not(.checked__36fdc) {
        background-color: $red !important;
        color: $red;
    }

    &.checked__36fdc {
        background-color: $cream !important;
        color: $cream;
    }

    rect {
        fill: $black;
    }

    path {
        fill: currentColor;
    }
}

// Checkbox
#{$root} .checkbox_fcf2ad {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    &.checked__16f88 {
        background: $black !important;
        border-color: $cream !important;

        path {
            fill: $cream;
        }
    }
}

.checkbox__1d469 {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    &.selected__5e5aa {
        background: unset;
        border: $size-xs solid $cream;
    }

    .checkmark__368b4 {
        color: $cream;
    }
}

// Slider
.slider__22e99 {
    // Tick
    .markDash__54545 {
        background: $red;
    }
    // Label
    .markValue_c91c4e {
        color: $cream;
    }

    // Bar
    .bar_e58961 {
        background: $red;
        .barFill__1f56b {
            background: $cream;
        }
    }

    // Grabber
    .grabber_e3daf3 {
        @include grabber.full;
    }
}

// Mini slider
.mini_d6d84c {
    .grabber_e3daf3 {
        @include grabber.mini;
    }
}

// Keybind
#{$root} .container__8267c {
    @include card.large;
    border-radius: $size-max;

    &:not(.disabled__97701):focus-within,
    &:not(.disabled__97701):hover {
        border-color: $red;
    }

    // Current keys
    .input__94e8e {
        color: $cream;
    }
}

// Dropdown
.select_fe2671,
.wrapper__6b00c {
    color: $cream;
}

// Dropdown options
.popout_a6e77f {
    @include card.xlarge;
    background: $black;

    &::-webkit-scrollbar {
        display: none;
    }

    .option_eb83e4 {
        color: $cream;

        &[aria-selected="true"]:not(.option_eb83e4.multi__8d15f),
        &:hover,
        &:focus,
        &.focused_d14fa7 {
            background: unset;
            color: $cream;
        }
    }
}

// Selected
.selectedIcon_e9ecc2 {
    color: $cream;

    circle {
        fill: $black;
    }
}

// Search input and icon
.icon_fb52f0,
.input__48d49 {
    color: $cream;
}

// Search input type 2
.container__33507 {
    @include card.round;
}
