@use "../top/vars" as *;
@use "../top/card";
@use "../top/grabber";
@use "../top/svg";

::placeholder {
    color: $cream !important;
}

.placeholder__3de13 {
    color: $cream;
}

// Typing inputs
.input_d266e7 {
    @include card.round;

    &:hover,
    &.disabled_d259df,
    &.focused_db7916,
    &:focus {
        border-color: $cream;
    }

    &.error__18f19 {
        border: $size-s solid $red;
    }
}

// Single line input
.inputPrefix-1HHwWv {
    color: $cream;
}
.inputDefault__80165 {
    @include card.round;
}

// Multi line input
.textArea__97e3f {
    @include card.xlarge;
}

// Char limit
.characterCount_d74de4,
.maxLength_f4921c {
    color: $cream;
}

// Click to copy input
#{$root} .copyInput_c1c679 {
    @include card.round;
}

// Keybind editor
.editIcon__29477 {
    background: svg.$keyboard;
}

// Dropdown selector
.lookFilled__3dba3.select__0eb48 {
    border-radius: $size-max;
    background: $black;
    border: $size-xs solid $cream;
}

// Toggle
.container__871ba {
    zoom: 1.2;

    &:not(.checked__6bdb0) {
        background-color: $red !important;
        color: $red;
    }

    &.checked__6bdb0 {
        background-color: $cream !important;
        color: $cream;
    }

    rect {
        fill: $black;
    }

    path {
        fill: currentColor;
    }
}

// Checkbox
#{$root} .checkbox_c7f690 {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    &.checked__24ad6 {
        background: $black !important;
        border-color: $cream !important;

        path {
            fill: $cream;
        }
    }
}

.checkbox__9abca {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    &.selected__2d410 {
        background: unset;
        border: $size-xs solid $cream;
    }

    .checkmark__4dfc9 {
        color: $cream;
    }
}

// Slider
.slider__22e99 {
    // Tick
    .markDash_dc3ae9 {
        background: $red;
    }
    // Label
    .markValue_e7a6e4 {
        color: $cream;
    }

    // Bar
    .bar_e58961 {
        background: $red;
        .barFill__30e17 {
            background: $cream;
        }
    }

    // Grabber
    .grabber_d2868c {
        @include grabber.full;
    }
}

// Mini slider
.mini_d6d84c {
    .grabber_d2868c {
        @include grabber.mini;
    }
}

// Keybind
#{$root} .container__0c807 {
    @include card.large;
    border-radius: $size-max;

    &:not(.disabled__8d382):focus-within,
    &:not(.disabled__8d382):hover {
        border-color: $red;
    }

    // Current keys
    .input__956cc {
        color: $cream;
    }
}

// Dropdown
.select__0eb48,
.wrapper__555a0 {
    color: $cream;
}

// Dropdown options
.popout_a6e77f {
    @include card.xlarge;
    background: $black;

    &::-webkit-scrollbar {
        display: none;
    }

    .option_be8b2e {
        color: $cream;

        &[aria-selected="true"]:not(.option_be8b2e.multi__8d15f),
        &:hover,
        &:focus,
        &.focused_a2f507 {
            background: unset;
            color: $cream;
        }
    }
}

// Selected
.selectedIcon__4b0ba {
    color: $cream;

    circle {
        fill: $black;
    }
}

// Search input and icon
.icon__37cc1,
.input__74754 {
    color: $cream;
}
