@use "../top/vars" as *;

#{$root} .combo__57290 .key__6a8d9 {
    background: $black;
    border-radius: $size-max;
    zoom: 1.2;
    border: $size-xs solid $cream;
    color: $cream;
    border-bottom-width: $size-s * 1.5;

    &:active {
        border: $size-xs solid $cream;
        color: $cream;
        box-shadow: none;
    }

    .bindArrow__98f6f g {
        fill: $cream;
    }
}
