@use "../top/vars" as *;

#{$root} {
    // Combo container
    .keyComboContainer_f51af4 {
        background: unset;
    }

    // Key
    .combo_c90023 .key_c90023 {
        background: $black;
        border-radius: $size-max;
        zoom: 1.2;
        border: $size-xs solid $cream !important;
        color: $cream !important;
        border-bottom-width: $size-s * 1.5 !important;
        box-shadow: none !important;

        &:active {
            border: $size-xs solid $cream;
            color: $cream;
            box-shadow: none;
        }

        .bindArrow_c90023 g {
            fill: $cream;
        }
    }
}
