@use "../top/vars" as *;

// Rotating cubes
.wanderingCubes_ce37c6 {
    zoom: 3;
    .item__0e5d6 {
        background: $red;

        &:last-child {
            background: $cream;
        }
    }
}

// Three dots
.lowMotion_ff2273 .item__0e5d6,
#{$root} .lookFilled__19298 .spinnerItem_c07231 {
    background: $cream;
}

// Spinner
.circular__36661 {
    .path__5eb4b {
        stroke: $cream;
    }
}
