@use "../top/vars" as *;

// Rotating cubes
.wanderingCubes_b6db20 {
    zoom: 3;
    .item_b6db20 {
        background: $red;

        &:last-child {
            background: $cream;
        }
    }
}

// Three dots
.lowMotion_b6db20 .item_b6db20,
#{$root} .lookFilled_dd4f85 .spinnerItem_dd4f85 {
    background: $cream;
}

// Spinner
.circular_b6db20 {
    .path_b6db20 {
        stroke: $cream;
    }
}
