@use "../top/vars" as *;

// Rotating cubes
.wanderingCubes-2A046F {
    zoom: 3;
    .item-2VgEex {
        background: $red;

        &:last-child {
            background: $cream;
        }
    }
}

// Three dots
.lowMotion-1G5A7p .item-2VgEex,
.lookFilled-1H2Jvj.colorBrand-2M3O3N .spinnerItem-3Y5NsU,
.lookFilled-1H2Jvj.colorRed-2VFhM4 .spinnerItem-3Y5NsU {
    background: $red;
}
