@use "../top/vars" as *;
@use "../top/card";
@use "../top/grabber";

// Progress
:is(.mediaBarInteraction-tUE5dq, .mediaBarInteractionDragging-3XLL8k) {
    // Progress bar
    .mediaBarWrapper-33h1oY {
        @include card.round;
        overflow: visible;

        // Loaded
        .buffer-3eVqKK {
            background: $red;
            opacity: 0.7;
            border-radius: $size-max;
        }

        // Mouseover
        .mediaBarPreview-1gUbVy {
            background: $cream;
            opacity: 0.5;
        }

        // Played
        .mediaBarProgress-38I317 {
            background: $cream;
        }
    }

    // Progress bar square ends
    .fakeEdges-18N907 {
        &::after,
        &::before {
            display: none;
        }
    }

    // Grabber
    &:hover .mediaBarGrabber-FvJKJg {
        margin-left: 0;
        box-sizing: border-box;
    }
    .vertical-3GO7H5 &:hover .mediaBarGrabber-FvJKJg {
        @include grabber.mini;
        background: $black;
        margin-top: calc(12px / -2);
    }
    .horizontal-2HFjqv &:hover .mediaBarGrabber-FvJKJg {
        @include grabber.full;
        background: $red;
        margin-right: calc(20px / -2);
    }
}
