@use "../top/vars" as *;
@use "../top/card";
@use "../top/grabber";

// Progress
:is(.mediaBarInteraction__0633c, .mediaBarInteractionDragging__0a2ee) {
    // Progress bar
    .mediaBarWrapper_f312bd {
        @include card.round;
        overflow: visible;

        // Loaded
        .buffer_e14781 {
            background: $red;
            opacity: 0.7;
            border-radius: $size-max;
        }

        // Mouseover
        .mediaBarPreview__2937c {
            background: $cream;
            opacity: 0.5;
        }

        // Played
        .mediaBarProgress__29db2 {
            background: $cream;
        }
    }

    // Progress bar square ends
    .fakeEdges__17ee5 {
        &::after,
        &::before {
            display: none;
        }
    }

    // Grabber
    &:hover .mediaBarGrabber_c64ff9 {
        margin-left: 0;
        box-sizing: border-box;
    }
    .vertical__13de4 &:hover .mediaBarGrabber_c64ff9 {
        @include grabber.mini;
        background: $black;
        margin-top: calc(12px / -2);
    }
    .horizontal__3deed &:hover .mediaBarGrabber_c64ff9 {
        @include grabber.full;
        background: $red;
        margin-right: calc(20px / -2);
    }
}
