@use "../top/vars" as *;
@use "../top/card";
@use "../top/grabber";

// Progress
:is(.mediaBarInteraction_f7877e, .mediaBarInteractionDragging_f7877e) {
    // Progress bar
    .mediaBarWrapper_f7877e {
        @include card.round;
        overflow: visible;

        // Loaded
        .buffer_f7877e {
            background: $red;
            opacity: 0.7;
            border-radius: $size-max;
        }

        // Mouseover
        .mediaBarPreview_f7877e {
            background: $cream;
            opacity: 0.5;
        }

        // Played
        .mediaBarProgress_f7877e {
            background: $cream;
        }
    }

    // Progress bar square ends
    .fakeEdges_f7877e {
        &::after,
        &::before {
            display: none;
        }
    }

    // Grabber
    &:hover .mediaBarGrabber_f7877e {
        margin-left: 0;
        box-sizing: border-box;
    }
    .vertical_f7877e &:hover .mediaBarGrabber_f7877e {
        @include grabber.mini;
        background: $black;
        margin-top: calc(12px / -2);
    }
    .horizontal_f7877e &:hover .mediaBarGrabber_f7877e {
        @include grabber.full;
        background: $red;
        margin-right: calc(20px / -2);
    }
}
