@use "../top/vars" as *;

// Beta tag
.textBadge_f05120.eyebrow_c15ff6 {
    font-size: 14px;
    line-height: 12px;
    background: $cream !important;
    color: $black;
}

// Boost requirement tags
.availabilityIndicator__52d73,
.guildFeatureAvailabilityIndicator__21431 {
    align-items: baseline;
    background: unset;
    margin-bottom: 0;
}

// Bot tag
.px__7f04f.botTag__4211a,
.rem_be1e7a.botTag__4211a {
    border-radius: $size-max;
}

// OP tag
.rem_be1e7a.botTag__4211a.botTagOP_e48ddb {
    border-radius: $size-max;
    position: relative;
    margin-top: 0;
    top: -0.25rem;
}

// Bot tag
.botTagRegular_c89c9a {
    background: $cream;
    color: $black;
}

// Safety setup > Activity alerts channel
.valuePill__75168 {
    background: $cream;
    color: $black !important;
}
