@use "../top/vars" as *;

// Beta tag
.textBadge-1fdDPJ.eyebrow-132Xza {
    font-size: 14px;
    line-height: 12px;
    background: $cream !important;
    color: $black;
}

// Boost requirement tags
.availabilityIndicator-KldT0d,
.guildFeatureAvailabilityIndicator-34eQAP {
    align-items: baseline;
    background: unset;
}
