@forward "./server";
@forward "./user";

@use "../../top/vars" as *;
@use "../../top/filter";
@use "../../top/card";
@use "../../top/svg";

.layer__2efaa,
.standardSidebarView__1129a {
    background: transparent;
    gap: $size-m;
}

// Menu
.sidebarRegion__60457 {
    max-width: 312px;

    .sidebarRegionScroller__1fa7e {
        background: $red;
    }

    .sidebar__9e3e2 {
        padding: 0 0 $size-m;

        &::before {
            content: "";
            position: fixed;
            top: 22px;
            left: 15px;
            width: 80px;
            height: 100%;
            background: svg.$key 0 -30px;
        }
    }

    // Title
    .header_f72511:first-child {
        padding-top: 6px;
    }
    .eyebrow_e5a66c {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: $black;
        font-style: oblique;
    }

    // Entry
    :is(.item__48dda.themed_b957e8, .item__48dda.themed_b957e8:hover:not(.disabled__85bca)) {
        @include card.round;

        &.selected__5711d {
            background: $cream;
            color: $black;
            border-color: $black;
        }

        .selected_d25ad4 {
            color: $black;

            path {
                fill: $black;
            }
        }
    }

    // Nitro
    .selectedBackground_d847da {
        display: none;
    }
    .premiumLabel_f2cd55 svg {
        @include filter.sepia;
    }
    .serverBoostTabItem_b19426 {
        .icon__11372 {
            fill: $cream;
        }

        &[aria-selected="true"] {
            background: $cream !important;
            color: $black !important;

            .icon__11372 {
                fill: $black !important;
            }
        }
    }

    // Social media icons
    .socialLinks_c1fc99 {
        display: flex;
        justify-content: space-evenly;
        margin-top: $size-m;
        .link_b006df {
            color: $cream;
        }
    }

    // Build info
    .line__75801 {
        color: $cream !important;
    }
}

// Content
.contentRegion__0bec1 {
    background: $black;
    .contentRegionScroller__86c79 {
        background: $black;
    }
}

// Streamer mode
.streamerModeEnabledImage_a0d94f {
    @include filter.sepia;
}
.streamerModeEnabledBtn__51c2f {
    @include card.round;

    &:hover {
        background: unset;
    }
}

// Close button
:is(.closeButton__34341, .keybind__57645) {
    color: $cream;

    &:hover,
    &:hover + .keybind__57645 {
        color: $cream;
        background: unset;
    }
}

// Breadcrumb trail
.breadcrumbs__5ffc6 {
    overflow: visible;

    .breadcrumbWrapper__34bfa {
        align-items: flex-end;

        .breadcrumbClickWrapper__48502,
        .breadcrumbFinalWrapper__71907 {
            overflow: visible;
        }

        .breadcrumbInactive_eeb224 {
            &,
            &:hover {
                color: $red;
            }
        }

        .breadcrumbArrow__05b4d {
            zoom: 1.5;
            color: $cream;
        }
    }
}

// Back button
.backButton__54768 {
    color: $cream;
}

// Unsaved changes
.noticeRegion__2779f {
    .container__467eb {
        @include card.outer;
        background: $red !important;
        box-shadow: none;
        transition: background 1s;

        &[style*="background-color: rgb(17, 18, 20);"] {
            background: unset !important;
        }
    }
}
