@forward "./server";
@forward "./user";

@use "../../top/vars" as *;
@use "../../top/filter";
@use "../../top/card";
@use "../../top/svg";

.layer_d4b6c5,
.standardSidebarView_c25c6d {
    background: transparent;
    gap: $size-m;
}

// Menu
.sidebarRegion_c25c6d {
    max-width: 312px;

    .sidebarRegionScroller_c25c6d {
        background: $red;
    }

    .sidebar_c25c6d {
        padding: 0 0 $size-m;

        &::before {
            content: "";
            position: fixed;
            top: 22px;
            left: 15px;
            width: 80px;
            height: 100%;
            background: svg.$key 0 -30px;
        }
    }

    // Title
    .header_a0:first-child {
        padding-top: 6px;
    }
    .eyebrow_e5a66c {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: $black;
        font-style: oblique;
    }

    // Entry
    :is(.item_a0.themed_a0, .item_a0.themed_a0:hover:not(.disabled_a0)) {
        @include card.round;

        &.selected_a0 {
            background: $cream;
            color: $black;
            border-color: $black;
        }

        .selected_ae3c77 {
            color: $black;

            path {
                fill: $black;
            }
        }
    }

    // Nitro
    .selectedBackground_ae3c77 {
        display: none;
    }
    .premiumLabel_ae3c77 svg {
        @include filter.sepia;
    }
    .serverBoostTabItem_f7189e {
        .icon_f7189e {
            fill: $cream;
        }

        &[aria-selected="true"] {
            background: $cream !important;
            color: $black !important;

            .icon_f7189e {
                fill: $black !important;
            }
        }
    }

    // External site icon
    .linkIcon_ebb2c7 {
        color: $cream;
    }

    // Social media icons
    .socialLinks_c44e94 {
        display: flex;
        justify-content: space-evenly;
        margin-top: $size-m;
        .link_c44e94 {
            color: $cream;
        }
    }

    // Build info
    .line_c5a741 {
        color: $cream !important;
    }
}

// Content
.contentRegion_c25c6d {
    background: $black;
    .contentRegionScroller_c25c6d {
        background: $black;
    }
}

// Streamer mode
.streamerModeEnabledImage_c50c8b {
    @include filter.sepia;
}
.streamerModeEnabledBtn_c50c8b {
    @include card.round;

    &:hover {
        background: unset;
    }
}

// Close button
:is(.closeButton_df5532, .keybind_df5532) {
    color: $cream;

    &:hover,
    &:hover + .keybind_df5532 {
        color: $cream;
        background: unset;
    }
}

// Breadcrumb trail
.breadcrumbs_bac619 {
    overflow: visible;

    .breadcrumbWrapper__75797 {
        align-items: flex-end;

        .breadcrumbClickWrapper__6bef1,
        .breadcrumbFinalWrapper__7e7bd {
            overflow: visible;
        }

        .breadcrumbInactive_f9e5d0 {
            &,
            &:hover {
                color: $red;
            }
        }

        .breadcrumbArrow__58361 {
            zoom: 1.5;
            color: $cream;
        }
    }
}

// Back button
.backButton_a4e2c3 {
    color: $cream;
}

// Unsaved changes
.noticeRegion_c25c6d {
    .container_b6cd66 {
        @include card.outer;
        background: $red !important;
        box-shadow: none;
        transition: background 1s;

        &[style*="background-color: rgb(17, 18, 20);"] {
            background: unset !important;
        }
    }
}
