@forward "./server";
@forward "./user";

@use "../../top/vars" as *;
@use "../../top/filter";

.layer-86YKbF,
.standardSidebarView-E9Pc3j {
    background: transparent;
    gap: 10px;
}

// Menu
.sidebarRegion-1VBisG {
    max-width: 312px;

    .sidebarRegionScroller-FXiQOh {
        background: $red;
    }

    .sidebar-nqHbhN {
        padding: 0 0 10px;

        &::before {
            content: "";
            position: fixed;
            left: 15px;
            width: 80px;
            height: 100%;
            background: $key 0 -30px;
        }
    }

    // Title
    .header-2F5_LB:first-child {
        padding-top: 6px;
    }
    .eyebrow-1Shfyi {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: $black;
        font-style: oblique;
    }

    // Entry
    :is(.item-2GWPIy.themed-qqoYp3, .item-2GWPIy.themed-qqoYp3:hover:not(.disabled-2G98Nl)) {
        border: $size-xs solid $cream;
        background: $black;
        border-radius: $size-max;
        color: $cream;

        &.selected-1sf9UK {
            background: $cream;
            color: $black;
            border-color: $black;
        }

        .selected-2Uns2B {
            color: $black;

            path {
                fill: $black;
            }
        }
    }

    // Nitro
    .selectedBackground-1t6xXq {
        display: none;
    }
    .premiumLabel-3HPvdB svg {
        @include filter.sepia;
    }

    // Separator
    .separator-2N511j {
        display: none;
    }

    // Social media icons
    .socialLinks-3ywLUf {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        .link-1-SDSV {
            color: $cream;
        }
    }

    // Build info
    .line-18uChy {
        color: $cream !important;
    }
}

// Content
.contentRegion-3HkfJJ {
    .contentRegionScroller-2_GT_N {
        background: $black;
    }
}

// Close button
:is(.closeButton-PCZcma, .keybind-13vtq8) {
    color: $cream;

    &:hover,
    &:hover + .keybind-13vtq8 {
        color: $cream;
        background: unset;
    }
}
