// Message accessories
.container-2sjPya {
    --text-link: var(--color-three);
    --interactive-normal: var(--color-three);
    --interactive-hover: var(--color-three);

    // Text
    .embedMargin-2PsaQ4 {
        color: var(--color-three);
    }

    $embed-outer: 15px;
    $embed-inner: ($embed-outer - $thin);

    // Thread preview
    .container-3i3IzO {
        background: var(--color-three);
        border: $x-thin solid var(--color-one);
        border-radius: $embed-outer;
        // Thread title
        .name-13vPlv {
            font-family: var(--font-display);
            font-style: italic;
            font-size: 16px;
            margin-top: -4px;
            color: var(--color-one);
        }
        // Recent poster username
        .username-h_Y3Us {
            margin-top: -4px;
        }
    }

    // Embeds in separate file
    @import "embeds";

    // Reacts
    .reaction-3vwAF2 {
        background: var(--color-three);
        border: $x-thin solid var(--color-one);
        border-radius: $max;
        --interactive-normal: var(--color-one);
        --interactive-hover: var(--color-one);
        --interactive-active: var(--color-one);
        &:hover {
            background: var(--color-three);
            border: $x-thin solid var(--color-one);
        }
        &.reactionMe-1PwQAc {
            border-color: var(--color-two);
            .reactionCount-26U4As {
                color: var(--color-two);
            }
        }
    }
}