/**
 * @name IEYTD
 * @author Saltssaumure#7557
 * @description I Expect You To Die inspired Discord theme.
 * @version Autoupdate v2
 * @source https://github.com/Saltssaumure/ieytd-discord-theme
 * @website https://saltssaumure.github.io/ieytd-discord-theme
 * @donate https://ko-fi.com/saltssaumure
 * @invite ieytd
*/

/*
                                                Made by:
 _______  _______  _    _________ _______  _______  _______           __   __           _______  _______ 
(  ____ \(  ___  )( \   \__   __/(  ____ \(  ____ \(  ___  )|\     /|(  \ /  )|\     /|(  ____ )(  ____ \
| (____\/| (___) || |      | |   | (____\/| (____\/| (___) || |   | || || || || |   | || (____)|| (__  \/
(_____  )|  ___  || |      | |   (_____  )(_____  )|  ___  || |   | || |(_)| || |   | || __  __)|  __)   
/\____) || )   ( || (____/\| |   /\____) |/\____) || )   ( || (___) || )   ( || (___) || ) \ \__| (____/\
\_______)|/     \|(_______/)_(   \_______)\_______)|/     \|(_______)|/     \|(_______)|/   \__/(_______/
                                       donut steel (but do fork)!
*/

@import url("https://saltssaumure.github.io/ieytd-discord-theme/ieytd-main.css");
@import url("https://saltssaumure.github.io/ieytd-discord-theme/ieytd-alpha.css");
@import url("https://saltssaumure.github.io/ieytd-discord-theme/ieytd-beta.css");
@import url("https://saltssaumure.github.io/ieytd-discord-theme/ieytd-gamma.css");

/* User editable colours below. 
Use this or your favourite colour picker to get a hex code: https://casesandberg.github.io/react-color/ */

.theme-dark,
.theme-light {
    --color-one: #c34938;
    --color-two: #e1cc9a;
    --color-three: #000;
}
