/**
 * @name IEYTD - Alpha
 * @author Saltssaumure#7557
 * @description Alpha portion of I Expect You To Die inspired Discord theme. Please download the autoupdater from GitHub instead!
 * @version 0.1
 * @source https://github.com/Saltssaumure/ieytd-discord-theme
 * @website https://saltssaumure.github.io/ieytd-discord-theme
 * @donate https://ko-fi.com/saltssaumure
 * @invite ieytd
*/

/* FILE CONTENTS
Popouts
    SMALL POPOUTS
        Pinned messages, mini user profiles, inbox
        Select friends to create new group chat 
        Emoji picker
        Account switcher
    FOCUS LOCK POPOUTS
        Channel description popout DONE
        Member profile popout DONE
        Ctrl+T Quickswitcher DONE
        Add new server DONE
        Folder settings DONE
        Link warning DONE
        Nitro popout DONE
    Search popout
    Tooltips
*/


/* Small popouts */
/* pinned messages */
.messagesPopoutWrap-3zryHW,
/* mini user profiles */
.userPopout-2j1gM4, 
/* inbox */
.container-2ebMPP,
/* chat */
.container-18GwIk {
    border: 2px solid var(--color-two);
    box-shadow: 0 0 0 1px var(--color-two) inset;
}
    /* Header */
        /* Header icons */
        .threadIcon-rd1kqG,
        .closeIcon-11tHJX,
        .closeIcon-11tHJX:hover,
        .searchIcon-zpxirk,
        .searchIcon-zpxirk:hover {
            color: var(--color-one);
        }
        /* Header buttons in popouts */
        .header-3_zmOb .topPill-3DJJNV .item-3XjbnG {
            border-radius: 12px;
        } /* Unselected */
        .header-3_zmOb .themed-2-lozF.item-3XjbnG:not(.selected-g-kMVV),
        .header-145e10 .themed-2-lozF.item-3XjbnG:not(.selected-g-kMVV){
            color: var(--color-one);
        } /* Selected */
        .theme-dark .header-3_zmOb .tabBar-2WhZ9G .tab-2Jo-cu.active-346HgG,
        .theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy{
            background: var(--color-one);
        }
        /* divider */
        .divider-2xk5N2 {
            background: var(--color-one);
            width: 2px;
        }
        /* Thread searchbox */
        .searchBox-3IjAC1 {
            background: var(--color-three);
            border: 2px solid var(--color-one);
            border-radius: 14px;
        }
        /* Thread title */
        .threadName-2k9mLl {
            font-size: 18px;
            line-height: 28px;
            margin-top: -6px;
        }
        /* Thread author */
        .authorName-1zsPTp {
            font-family: var(--font-display);
            display: inline-block;
            margin-bottom: 6px;
        }
        /* Bullet separator */
        .bullet-1MYz6d {
            padding: 2px;
        }
        /* Thread users more */
        .moreUsers-_v6T-L {
            color: var(--color-three);
        }
        /* Mark inbox as read button */
        .secondary-2bzKEX {
            color: var(--color-two);
        }
        .secondary-2bzKEX:hover:not(.disabled-184-il) {
            color: var(--color-two);
        }
    /* Inbox tutorial */
    .tutorial-Nb3Zz5 .base-21yXnu {
        color: var(--color-one);
    }
    .recentMentionsPopout-2bI1ZN .lookFilled-yCfaCM.colorBrand-I6CyqQ,
    .tutorialIcon-25VF3Q {
        background: var(--color-one);
        color: var(--color-two);
    }
    /* Inbox channel name */
    .channelName-3APnhp {
        overflow: visible;
        color: var(--color-two);
    }
    .colorHeaderSecondary-g5teka {
        color: var(--color-two);
    }
    /* Inbox notification / mark as read / filter buttons */
    .tertiary-1e-lAP {
        color: var(--color-one);
    }
    .tertiary-1e-lAP:hover:not(.disabled-184-il) {
        color: var(--color-one);
        background: var(--color-three);
    }
    /* inbox ping icon */
    .recentMentionsPopout-2bI1ZN .wrapper-2olG5t {
        background: var(--color-three);
        width: 3px;
        height: 15px;
        padding: 2px 7px;
        border-radius: 10px;
    }
    /* Inbox jump button */
    .jumpButton-1V_1FA {
        border-radius: 20px;
        padding: 4px 8px;
    }
        .jumpButton-1V_1FA:hover .text-2ifC_x {
            color: var(--color-one);  
        }
    /* Inbox setting checkboxes */
    .colorDefault-CDqZdO .checkbox-hADx5o,
    .colorDefault-CDqZdO .radioSelection-1UHp0b {
        color: var(--color-three);
    }
    /* Channel in inbox */
    .guildName-y1svcU {
        color: var(--color-two);
    }
    /* Popout right click options menu */
    .menu-1QACrS {
        border: 3px solid var(--color-three);
    }
    .colorDefault-CDqZdO.focused-3qFvc8,
    .colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o,
    .colorDefault-CDqZdO.focused-3qFvc8 .radioSelection-1UHp0b,
    .colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE,
    .colorDefault-CDqZdO .check-3HZJs4,
    .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_){
        color: var(--color-two);
    }
    /* Channel threads popout */
    .popout-TdhJ6Z {
        border: 2px solid var(--color-two);
        background-color: var(--color-three);
        box-shadow: var(--elevation-medium);
    }
        .row-1qtctT:hover,
        .row-1qtctT:hover .timestamp-3gPmzJ{
            color: var(--color-three);
        }
    /* Protip */
    .tip-Jl__cG {
        color: var(--color-three);
    }
    /* Pinned message jump */
    .jumpButton-1ZwI_j,
    .jumpButton-1ZwI_j:hover {
        border-radius: 20px;
        padding: 4px 8px; 
        color: var(--color-one);  
        background: var(--color-two);
    }

/* Member profile (not lock) popout */
.layer-2aCOJ3 {
    box-shadow: var(--elevation-high);
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .root-g14mjS {
    background: var(--color-two);
}
    /* Inner sections mini */
    .headerTop-3GPUSF,
    .body-2wLx-E,
    .bodyInnerWrapper-2bQs1k,
    .footer-3naVBw,
    .avatar-2Vndt_,
    /* Inner sections full */
    .topSection-13QKHs,
    .avatar-3QF_VA {
        background: var(--color-three);
    }
    .footer-3naVBw {
        box-shadow: 1px 0 2px 2px var(--color-three);
    }
        /* Avatar */
        .avatar-2Vndt_ {
            border: 4px solid var(--color-two);
            box-shadow: 0 0 0 2px var(--color-two) inset;
        }
        .avatarHint-k7pYop {
            top: 4px;
            left: 4px;
        }
            .avatarHintInner-2HUAWj {
                color: var(--color-two);
            }
        /* Name */
        .nickname-t08Mck,
        .headerTagUsernameNoNickname-1TjuLc,
        .headerTagUsernameBase-XYisdh,
        .discrimBase-1VOoau,
        .username-1g6Iq1,
        .discriminator-1bqsd3{
            color: var(--color-two);
        }
        /* About me etc titles */
        .base-21yXnu.muted-eZM05q,
        .activityUserPopout-2MzGCj .overflow-1wOqNV,
        .activityName-3YXl6e {
            color: var(--color-two);
            font-size: 18px;
            overflow: visible;
        }
        /* Roles */
        .role-2TIOKu {
            border-radius: 10px;
        }
        /* Install bot button, also Send message / send friend request button */
        .applicationInstallButton-taCWKH.lookFilled-yCfaCM.colorBrand-I6CyqQ,
        .applicationInstallButton-1-58qm.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
        .lookFilled-yCfaCM.colorGreen-3y-Z79,
        .lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
            background: var(--color-one);
            color: var(--color-two);
            border-radius: 16px;
        }
        /* Danger buttons */
        .colorDanger-3n-KnP,
        .colorDanger-3n-KnP .checkbox-hADx5o,
        .colorDanger-3n-KnP .radioSelection-1UHp0b{
            color: var(--color-three);
        }
        .focused-3qFvc8.colorDanger-3n-KnP,
        .focused-3qFvc8.colorDanger-3n-KnP .checkbox-hADx5o,
        .focused-3qFvc8.colorDanger-3n-KnP .radioSelection-1UHp0b{
            background: var(--color-two);
            color: var(--color-three);
        }
        /* DM box */
        .footer-3naVBw .input-2g-os5,
        .footer-3naVBw .input-2g-os5:hover,
        .footer-3naVBw .input-2g-os5.focused-1AtTHC,
        .footer-3naVBw .input-2g-os5:focus {
            border-radius: 20px;
            border: 2px solid var(--color-two);
            background-color: var(--color-one);
        }
        /* Note */
        .note-Go5ZP2 .input-2g-os5{
            border: 0;
            background: var(--color-three);
            border-radius: 0;
        }

/* Select friends to create new group chat */
.theme-dark .root-g14mjS.popout-3gby1q {
    background: var(--color-one);
}
    /* Header */
    .popout-3gby1q .header-1zd7se {
        box-shadow: none;
        flex-flow: row wrap;
        justify-content: space-between;
    }
        .theme-dark .subtitle-3v29zT {
            color: var(--color-one);
        }
        .searchBar-14YqL- .searchBarComponent-18D6hD {
            background: var(--color-three);
            border: 2px solid var(--color-two);
            border-radius: 20px;
        }
            .medium-13kyaW .tag-15zcD_ {
                background: var(--color-one);
                border-radius: 20px;
            }
    /* Content */
    #uid_14 {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        border-left: 3px solid var(--color-two);
    }
        .friendWrapper-2x5j0A {
            background: var(--color-three);
            border: 2px solid var(--color-two);
            border-radius: 25px;
            margin: 0 8px;
        }
        .theme-dark .friend-8ZraY7 {
            color: var(--color-two);
        }
        .theme-dark .friendSelected-3cwmD7 {
            background: transparent;
        }
            .friend-8ZraY7 .nickname-1PdAp3 {
                font-family: var(--font-display);
                color: var(--color-two);
            }
            .friend-8ZraY7 .discordTag-2ke74W {
                color: var(--color-two);
            }
            .theme-dark .checkbox-f1HnKB {
                border: 2px solid var(--color-two)!important;
                border-radius: 50%;
            }
                .theme-dark .checkbox-f1HnKB.checked-1pZh2h svg path {
                    fill: var(--color-two);
                }
    /* Footer */
    .footer-C9oLp9 {
        background: var(--color-two);
        border-radius: 0 0 5px 5px;
    }
        .footer-C9oLp9 .lookFilled-yCfaCM.colorBrand-I6CyqQ {
            background: var(--color-one);
            color: var(--color-two);
        }

/* Emoji picker */
.contentWrapper-3vHNP2 {
    border: 3px solid var(--color-two);
}
    /* Emoji picker header */
    .header-11eigE,
    .header-uVCAlo {
        box-shadow: none;
    }
        .searchBar-2M9mRP,
        .container-1SX9VC,
        .diversitySelectorOptions-3DhNYs {
            background-color: var(--color-three);
            border: 2px solid var(--color-two);
            border-radius: 26px;
        }
        /* Gifs stickers emoji buttons */
        .navButton-1XuvI- {
            border-radius: 14px;
        }
        .navButtonActive-1EqC5l,
        .navButtonActive-1EqC5l:hover {
            color: var(--color-three);
        }
    /* Emoji panel */
    .bodyWrapper-1eSOtW,
    .wrapper-1NNaWG,
    .wrapper-i1awk3,
    .content-A8TzKf,
    .wrapper-3z7DuG {
        background-color: var(--color-three);
    }
        /* Server group header */
        .wrapper-1NNaWG {
            border-bottom: 1px solid var(--color-two);
            margin-right: 4px;
        }
            .header-1XpmZs,
            .header-1XpmZs.interactive-MpGq2z:hover:hover {
                color: var(--color-two);
            }
        /* Selected emoji */
        .emojiItem-277VFM.emojiItemSelected-2Lg50V {
            background-color: var(--color-one);
        }
        /* Loading emoji */
        .theme-dark .imageLoading-2uloYN {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACPElEQVRoge3av08TYRzH8ReXiL/RxRhHgy4OaFxoDDcYFopuxEH/Cxdlk1Fc5K8QB0flJuLQRG8ypIsDEEdDWBQElC4OdyUtUGhpw9MmfY/X55r3J89z9zy573dAk5SKhUt4hIe4h5u4grPN/kcD/uE3fmAJn/EpTtI/zdw8cNyAUrFwCy/xFBdP7tkSW5jHbJykK0cNbBigVCycwwyeY7CTdi2wizm8ipP072EDDg1QKhaG8UG2VLqBJTw5bDYOBCgVC/exgOunINYKa5iMk/Rb7cW6APl6/4JrpyjWCut4UDsTewFKxcJ5fMXdAGKtUEYhTtIdiGp+mNH98jAic0U+A/lD+x1nwji1TAV34iRdqc7AtN6RJ3OdhoFSsXAZP53eJtUptnAjwqTekydznowwHtqkDcYj2VPdq4xEGA5t0QbDEYZCW7TBUCTcSbMTDEbHj+lu+gFC0w8Qmn6A0PQDhKYfIDT9AKHpBwhNJPsC3KvsRtgIbdEGGxFWQ1u0wWok+1jaq5QjLIa2aIPFSFbM2AptcgK2sRDFSbqJ96FtTsB8nKSb1X3gteyTda9QwSz5RpaXbN6GNGqRuThJlzlYoemFN1JZTYVmL0Bec5qSFdK6lXVMxUm6Xb1QdxbKl9KErKTZbaxhYn+t+MBhLq/Djumu5VTG2P4aMQ1Oo3nKUbwR9u1UyR1GG/VMNNPscRsv8AwXOqrXmB28kzV7LB818NgAVfJ2m8fq222uar+6WcEv9e02H5ttt/kPJ8OM8JSfpsEAAAAASUVORK5CYII=");
        }
    /* Emoji server sidebar */
    .emojiPickerInExpressionPicker-2nOwH8 .categoryList-2qRrlj,
    #sticker-picker-tab-panel .categoryList-2GgCrD {
        top: 54px;
    }
            .categoryIcon-2cYeku,
            .categoryItemDefaultCategory-3haEDq:hover .categoryIcon-2cYeku {
                color: var(--color-one);
            }
        .categoryItemDefaultCategorySelected-2YeRUu,
        .categoryItemDefaultCategorySelected-2YeRUu:hover {
            background-color: var(--color-one);
            border-radius: 50%;
        }
            .categoryItemDefaultCategorySelected-2YeRUu .categoryIcon-2cYeku,
            .categoryItemDefaultCategorySelected-2YeRUu:hover .categoryIcon-2cYeku {
                color: var(--color-three);
            }
        .inspector-DFKXwB,
        .unicodeShortcut-3N8oDe,
        .standardStickerShortcut-ObSns3 {
            background-color: var(--color-one);
        }
        .premiumCategorySelected-2KWLhN,
        .premiumCategorySelected-2KWLhN:hover,
        .stickerCategoryGenericSelected-DnO2K8,
        .stickerCategoryGenericSelected-DnO2K8:hover {
            background-color: var(--color-two);
        }
            .stickerCategory-2f6iSo,
            .stickerCategoryGenericSelected-DnO2K8 .stickerCategoryGenericIcon-3wumVD {
                color: var(--color-one);
            }
    /* Gif selector favourites */
    .theme-dark .categoryFadeBlurple-1l49_Q,
    .theme-light .categoryFadeBlurple-1l49_Q,
    .theme-dark .categoryFadeBlurple-1l49_Q:hover,
    .theme-light .categoryFadeBlurple-1l49_Q:hover {
        background-color: transparent;
    }
    /* Gif selector category text */
    .theme-dark .categoryText-3B1jLN,
    .theme-light .categoryText-3B1jLN {
        color: var(--color-two);
        text-shadow: none;
    }

/* Emoji info popout */
.popoutContainer-2wbmiM {
    border: 2px solid var(--color-two);
}
    /* Emoji info loading */
    .popoutLoadingForeground-3xnRkg {
        background: var(--color-two);
    }
    /* Get nitro button */
    .popoutContainer-2wbmiM .shinyButton-2Q9MDB,
    .popoutContainer-2wbmiM .shinyButton-2Q9MDB:hover,
    .popoutContainer-2wbmiM .shinyButton-2Q9MDB:active {
        background: var(--color-three);
    }

/* Account switcher */
#account {
    background: var(--color-three);
}
    .username-Iwoq2j div:last-child {
        color: var(--color-three)!important;
    }
    .hintText-1gwhJG {
        color: var(--color-two)!important;
    }
    .focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuDiscriminator-2Vj2p9,
    .focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuText-2e3Dry {
        color: var(--color-two);
    }
    .activeIcon-1ykRnF circle {
        fill: var(--color-two);
    }
    .activeIcon-1ykRnF path {
        fill: var(--color-three);
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
*/


/* Focus lock popouts
    (All)
    Channel description
    Member profile
    Ctrl+t quickswitcher
    Create/Add new server
    Folder settings
    Link warning
*/

/* Header */
.header-1zd7se {
    background: var(--color-two);
    overflow: hidden;
}
    /* x to close */
    .close-1mLglB {
        opacity: 1;
    }
        .closeIcon-11LhXr {
            color: var(--color-one);
        }
/* Content */
.content-2hZxGK {
    background: var(--color-one);
    border: solid var(--color-two);
    border-width: 4px;
    border-radius: 5px;
} .content-2hZxGK:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
} .content-2hZxGK:not(:last-of-type) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}
    /* Mini titles */
    .h5-2RwDNl {
        color: var(--color-three);
    }
/* Footer */
.theme-dark .footer-31IekZ {
    background-color: var(--color-two);
    box-shadow: none;
}
    /* Major button */
    .lookFilled-yCfaCM.colorRed-rQXKgM {
        color: var(--color-one);
        background-color: var(--color-two);
    }
    .lookFilled-yCfaCM.colorRed-rQXKgM:hover,
    .lookFilled-yCfaCM.colorRed-rQXKgM:active {
        background-color: var(--color-three);
    }
    /* Minor button */
    .theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
        color: var(--color-two);
    }
    .theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk {
        background-image: linear-gradient(0deg,transparent,transparent 1px,var(--color-two) 0,var(--color-two) 2px,transparent 0);
    }
    /* Buttons */
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo,
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
        color: var(--color-two);
        background: var(--color-one);
    }

/* Channel description focus lock popout */
    /* Content */
    .content-2hZxGK.content-FDHp32 {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-width: 4px;
    }
    .content-FDHp32 a {
        color: var(--color-three);
    }

/* Member profile focus lock popout */
    /* Top section */
    .topSection-13QKHs {
        border: 3px solid var(--color-two);
        box-shadow: 0 0 0 1px var(--color-two) inset;
    }
        /* Colour / image banner */
        .profileBanner-1owKI5,
        .profileBannerPremium-KD60EB {
            width: auto;
        }
        /* Avatar */
        .avatar-3QF_VA {
            border: 6px solid var(--color-two);
            box-shadow: 0 0 0 2px var(--color-two) inset;
        }
        /* Tabs in full */
        .tabBarContainer-sCZC4w {
            border-bottom: 0;
        }
            .tabBar-2hXqzU {
                height: 30px;
            }
            .top-K_jibn .item-3XjbnG {
                border: 2px solid var(--color-two);
                border-bottom: 0;
                margin-right: 5px;
                padding: 0 10px;
                border-radius: 15px 15px 0 0;  
            }
            .top-K_jibn .selected-g-kMVV.item-3XjbnG,
            .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
                background: var(--color-two);
            }
    /* Body in full */
    .body-1Ukv50 {
        background: var(--color-two);
        border-top: 3px solid var(--color-two);
    }
        /* About me etc. */
        .body-1Ukv50 .userInfoSectionHeader-2mYYun,
        .body-1Ukv50 .overflow-1wOqNV {
            color: var(--color-three);
            overflow: visible;
        }
        /* Note and about me text */
        .body-1Ukv50 .input-2g-os5,
        .body-1Ukv50 .input-2g-os5:hover,
        .body-1Ukv50 .input-2g-os5.focused-1AtTHC,
        .body-1Ukv50 .input-2g-os5:focus,
        .body-1Ukv50 .markup-eYLPri,
        .theme-dark .newProfileActivityStyles .content-tXPNDw,
        .theme-dark .newProfileActivityStyles .nameNormal-2fPMD2,
        .theme-dark .newProfileActivityStyles .activityName-3YXl6e {
            background: var(--color-two);
            color: var(--color-one);
        }
        /* Connected accounts, Mutual servers */
        .listScroller-entkMk .listRow-2nO1T6,
        .connectedAccount-1xKpli {
            background: var(--color-three);
            border-radius: 27px;
            margin-bottom: 3px;
        }
    /* Member profile modal fixes */
    .userInfoText-2MFCmH div {
        color: var(--color-one);
    }
    .theme-dark .activityProfile-1712BN .activityName-3YXl6e,
    .theme-dark .activityProfile-1712BN .content-tXPNDw,
    .theme-dark .activityProfile-1712BN .details-2-ciHo,
    .theme-dark .activityProfile-1712BN .name-1-Q7l2,
    .theme-dark .activityProfile-1712BN .nameNormal-2fPMD2,
    .theme-dark .activityProfile-1712BN .nameWrap-3TyM52,
    .theme-dark .activityUserPopout-2MzGCj .activityName-3YXl6e,
    .theme-dark .activityUserPopout-2MzGCj .content-tXPNDw,
    .theme-dark .activityUserPopout-2MzGCj .details-2-ciHo,
    .theme-dark .activityUserPopout-2MzGCj .name-1-Q7l2,
    .theme-dark .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
    .theme-dark .activityUserPopout-2MzGCj .nameWrap-3TyM52,
    .theme-dark .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
    .theme-dark .activityUserPopoutV2-3eKqzY .content-tXPNDw,
    .theme-dark .activityUserPopoutV2-3eKqzY .details-2-ciHo,
    .theme-dark .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
    .theme-dark .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
    .theme-dark .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52,
    .theme-light .activityProfile-1712BN .activityName-3YXl6e,
    .theme-light .activityProfile-1712BN .content-tXPNDw,
    .theme-light .activityProfile-1712BN .details-2-ciHo,
    .theme-light .activityProfile-1712BN .name-1-Q7l2,
    .theme-light .activityProfile-1712BN .nameNormal-2fPMD2,
    .theme-light .activityProfile-1712BN .nameWrap-3TyM52,
    .theme-light .activityUserPopout-2MzGCj .activityName-3YXl6e,
    .theme-light .activityUserPopout-2MzGCj .content-tXPNDw,
    .theme-light .activityUserPopout-2MzGCj .details-2-ciHo,
    .theme-light .activityUserPopout-2MzGCj .name-1-Q7l2,
    .theme-light .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
    .theme-light .activityUserPopout-2MzGCj .nameWrap-3TyM52,
    .theme-light .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
    .theme-light .activityUserPopoutV2-3eKqzY .content-tXPNDw,
    .theme-light .activityUserPopoutV2-3eKqzY .details-2-ciHo,
    .theme-light .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
    .theme-light .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
    .theme-light .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52 {
        color: var(--color-one);
    }
    .barInner-3dHef4 {
        background-color: var(--color-one);
    }
    .text-31kWmP {
        color: var(--color-one);
    }
    
/* Ctrl+T quickswitcher focus lock popout */
.quickswitcher-pKcM9U {
    background: var(--color-one);
    border: 2px solid var(--color-two);
}
    .input-3r5zZY {
        background: var(--color-three);
        border-radius: 50px;
        border: 3px solid var(--color-two);
    }
    .scroller-2qwVWY::-webkit-scrollbar-track {
        background: transparent!important;
    }
    .header-1ZpMzy {
        font-family: var(--font-display);
        color: var(--color-three);
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        font-style: italic;
    }
    /* ping bubble */
    .wrapper-2olG5t {
        background: var(--color-three);
        color: var(--color-two);
        border-radius: 50%;
        width: 18px;
    }
    /* autocomplete */
    .autocompleteQuerySymbol-1iAOG7 {
        color: var(--color-three);
    }

/* Create a new server / Add a server focus lock popout */
.theme-light .root-g14mjS {
    background: transparent;
}
    /* Header */
    .header-1c1AhF,
    .header-12n7su,
    .header-1AP5SJ {
        padding: 16px 24px;
    }
        /* Subtitle */
        .header-1c1AhF .colorHeaderSecondary-g5teka,
        .header-12n7su .colorHeaderSecondary-g5teka,
        .header-1AP5SJ .colorHeaderSecondary-g5teka {
            color: var(--color-one);
        }
    /* Content */
    .templatesList-uohY49,
    .optionsList-dmHy1l {
        margin-top: 0;
        padding-top: 24px;
    }
    .createGuild-2m1V10 {
        margin: 0;
        padding: 16px 4px 16px 24px;
    }
        /* Links */
        .optionsList-dmHy1l .anchor-1MIwyf,
        .createGuild-2m1V10 .anchor-1MIwyf {
            color: var(--color-three);
        }
    /* Footer */
    .footer-31IekZ {
        background: var(--color-two);
    }
        /* Button */
        .theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
            color: var(--color-two);
            background: var(--color-one);
        } .theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
            background: var(--color-three);
        }

/* Folder settings focus lock popout */
    /* Content */
    .content-2hZxGK {
        padding-top: 16px;
    }
        /* colour picker */
        .theme-dark .colorPickerCustom-1swUKF {
            background: var(--color-three);
            border: 2px solid var(--color-two);
            border-radius: 15px;
        }
            /* hue drag handle */
            .hue-2nWTuO > div > div > div > div, .alpha-VcPGeR > div > div > div > div {
                background: var(--color-two)!important;
            }

/* Link warning focus lock popout */
    /* Content */
    .title-3hptVQ {
        color: var(--color-three);
        font-size: 22px;
    }
    /* Footer */
    .footer-31IekZ .lookFilled-yCfaCM.colorBrand-I6CyqQ {
        background: var(--color-one);
        color: var(--color-two);
        border-radius: 40px;
    } .footer-31IekZ .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
        background: var(--color-three);
    }
    .minorAction-194-_3 {
        color: var(--color-three);
    }

/* "Wanna upload your own banner?" Nitro popout */
.theme-dark .root-g14mjS {
    box-shadow: none;
}
    .artContainer-1yaXct {
        box-shadow: none;
    }
    .theme-dark .root-g14mjS .content-2hZxGK {
        border: none;
    }
    /* Links in nitro popout */
    .root-g14mjS .anchor-1MIwyf {
        color: var(--color-three);
    }
    /* Footer in nitro popout */
    /* Minor buttons in nitro popout footer */
    .theme-dark .footer-31IekZ .lookLink-15mFoz.colorPrimary-2AuQVo {
        color: var(--color-three);
    }
    /* Subscribe button in nitro popout footer */
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorGreen-3y-Z79 {
        background: var(--color-three);
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------
*/


/* Search popout */
.theme-dark .container-2McqkF {
    background: var(--color-three);
    border: 2px solid var(--color-two);
}
    /* Search for: */
    .theme-dark .queryContainer-ZunrLZ,
    .theme-dark .queryContainer-ZunrLZ strong,
    .theme-dark .keybindShortcut-3zF1P9,
    .theme-dark .dim-2Uxgxb span,
    .theme-dark .resultsGroup-cfY57t .header-1BR0Ro,
    .theme-dark .resultsGroup-cfY57t .plusIcon-1RVszG,
    .theme-dark .resultsGroup-cfY57t .searchClearHistory-3nIKUO,
    .theme-dark .resultsGroup-cfY57t .searchLearnMore-1gNL3A a,
    .theme-dark .option-ayUoaq .answer-14OVbQ,
    .theme-dark .option-ayUoaq .nonText-28q_Ot,
    .theme-dark .option-ayUoaq strong {
        background: transparent;
        color: var(--color-two);
    }
    /* keyboard shortcut enter*/
    .theme-dark .keybindShortcut-3zF1P9 span {
        box-shadow: inset 0 -4px 0 var(--color-two);
    }
    /* from: has: mentions: etc. */
    .theme-dark .searchOption-3u1gRt .filter-2QaH9y,
    .theme-dark .option-ayUoaq .filter-2QaH9y {
        color: var(--color-one);
    }
    /* Suggestion after element */
    .theme-dark .option-ayUoaq:after {
        display: none;
    }
    /* Search date calendar */
    .theme-dark .calendarPicker-sDhzdi .react-datepicker,
    .theme-dark .calendarPicker-sDhzdi .react-datepicker__header,
    .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
    .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
    .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month:hover,
    .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
    .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover
    {
        background: var(--background-primary);
    }
        /* day box */
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__day,
        /* week day */
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name,
        /* current month */
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month {
            color: var(--color-two);
        }
        /* Day box border fix */
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__week .react-datepicker__day:last-of-type {
            border-right-color: var(--deprecated-text-input-border-disabled);
        }
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__week:last-of-type .react-datepicker__day {
            border-bottom-color: var(--deprecated-text-input-border-disabled);
        }
        /* Hovered days */
        .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected,
        .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
        .calendarPicker-sDhzdi .react-datepicker__day:hover {
            background: var(--color-one);
        }
        /* Disabled days */
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
            color: var(--color-one);
        }
        /* previous / next month buttons */
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
        .theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
            border: 0;
        }
        /* Hint */
        .theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 {
            border-top: 1px solid var(--color-two);
        }
            .theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hint-3D5yHh {
                color: var(--color-two);
            }
            .theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
                color: var(--color-three);
                border-radius: 11px;
                padding: 0 10px;
            }
    /* search modifiers, eg. has: from: */
    .theme-dark .searchFilter-2UfsDk {
        background: var(--color-two);  
        color: var(--color-three);
        border-radius: 10px 0 0 10px;
        padding: 0 3px 0 6px;
    }
    /* search modifier options, eg. image, embed */
    .theme-dark .searchAnswer-23w-CH {
        background: var(--color-one);  
        color: var(--color-three);
        border-radius: 0 10px 10px 0;
        padding: 0 6px 0 2px;
    }
    /* Search suggestion icon and description */
    .theme-dark .searchResultChannelCategory-19ujDo,
    .theme-dark .searchResultChannelIcon-C-3P9x {
        color: var(--color-one);
    }
    /* Search suggestion option */
    .theme-dark .option-ayUoaq[aria-selected=true] {
        background: transparent;
    }
    /* Search suggestion name */ 
    .theme-dark .option-ayUoaq.user-1dKxvu .displayedNick-1atSpT {
        color: var(--color-two);
        font-family: var(--font-display);
        margin-top: -6px;
    }
    .theme-dark .option-ayUoaq.user-1dKxvu .displayUsername-UTerwm {
        color: var(--color-one);
    }


/* Tooltips */
.theme-dark .tooltipPrimary-3qLMbS,
.aboutMeGuildIconTooltip-1hnrui {
    background: var(--color-three);
    border: 2px solid var(--color-two);
}
.theme-dark .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
    border-top-color: var(--color-two);
}
    /* Verified server */
    .icon-3BYlXK {
        color: var(--color-three);
    }

/* Emoji tooltip Click to learn more */
.clickCTA-1bk0UN {
    color: var(--color-one);
}