/**
 * @name IEYTD
 * @author Saltssaumure
 * @authorLink https://github.com/Saltssaumure
 * @description A tri-tone theme inspired by IEYTD, built for BetterDiscord.
 * @version Autoupdate v3
 * @invite uy8nKQVatp
 * @source https://github.com/Saltssaumure/ieytd-discord-theme
 * @donate https://ko-fi.com/saltssaumure
*/

/*
                                                Made by
 _______  _______  _    _________ _______  _______  _______           __   __           _______  _______ 
(  ____ \(  ___  )( \   \__   __/(  ____ \(  ____ \(  ___  )|\     /|(  \ /  )|\     /|(  ____ )(  ____ \
| (____\/| (___) || |      | |   | (____\/| (____\/| (___) || |   | || || || || |   | || (____)|| (__  \/
(_____  )|  ___  || |      | |   (_____  )(_____  )|  ___  || |   | || |(_)| || |   | || __  __)|  __)   
/\____) || )   ( || (____/\| |   /\____) |/\____) || )   ( || (___) || )   ( || (___) || ) \ \__| (____/\
\_______)|/     \|(_______/)_(   \_______)\_______)|/     \|(_______)|/     \|(_______)|/   \__/(_______/
                                         Licensed under GPL-3.0

Discord: Saltssaumure#7557
GitHub: https://github.com/Saltssaumure/ieytd-discord-theme
Join Salt's Discord Themes server: https://discord.gg/uy8nKQVatp
*/

@import url("https://saltssaumure.github.io/ieytd-discord-theme/main.min.css");

.theme-dark {
    --color-one: #c34938;
    --color-two: #e1cc9a;
    --color-three: #000;
}

.theme-light {
    --color-one: #c34938;
    --color-two: #e1cc9a;
    --color-three: #000;
}
