@use "../../../../../top/vars" as *;
@use "../../../../../top/card";
@use "../../../../../top/filter";

// Audio embeds
#{$root} .wrapperAudio__555ce.newMosaicStyle_fb18b9 {
    padding: 0;
    overflow: visible;

    .audioMetadata_e546a8 {
        padding: $size-m $size-m 0;

        &::before {
            @include filter.sepia;
        }

        .metadataSize__42428 {
            color: $cream;
            opacity: 0.7;
        }
    }
}
