@use "../../../../../top/vars" as *;
@use "../../../../../top/card";
@use "../../../../../top/filter";

// Audio embeds
#{$root} .wrapperAudio_f316dd.newMosaicStyle_f316dd {
    padding: 0;
    overflow: visible;

    .audioMetadata_f316dd {
        padding: $size-m $size-m 0;

        &::before {
            @include filter.sepia;
        }

        .metadataSize_f316dd {
            color: $cream;
            opacity: 0.7;
        }
    }
}
