@use "../../../../../top/vars" as *;
@use "../../../../../top/card";
@use "../../../../../top/grabber";

// Audio/video controls
:is(.audioControls_da7066, .videoControls__7bc92) {
    border-radius: 0 0 ($size-l - $size-s) ($size-l - $size-s);
    margin-top: 0;
    background: $red;

    .controlIcon_d1bbd7,
    .controlIcon__73723,
    .durationTimeWrapper__81fcd {
        opacity: 1;
        color: $cream;
    }
}
