@use "../../../../../top/vars" as *;
@use "../../../../../top/card";
@use "../../../../../top/grabber";

// Audio/video controls
:is(.audioControls-3fmemK, .videoControls-2NzHnF) {
    border-radius: 0 0 ($size-l - $size-s) ($size-l - $size-s);
    margin-top: 0;
    background: $red;

    .controlIcon-1grhw_,
    .controlIcon-10O-4h,
    .durationTimeWrapper-LdSEv8 {
        opacity: 1;
        color: $cream;
    }
}
