@use "../../../../../top/vars" as *;
@use "../../../../../top/card";
@use "../../../../../top/grabber";

// Audio/video controls
:is(.audioControls-3fmemK, .videoControls-2NzHnF) {
    border-radius: 0 0 ($size-l - $size-s) ($size-l - $size-s);
    margin-top: 0;
    background: $red;

    .controlIcon-1grhw_,
    .controlIcon-10O-4h,
    .durationTimeWrapper-LdSEv8 {
        opacity: 1;
        color: $cream;
    }

    // Progress bar
    .mediaBarWrapper-33h1oY {
        @include card.round;
        overflow: visible;

        // Loaded
        .buffer-3eVqKK {
            background: $red;
            opacity: 0.7;
            border-radius: $size-max;
        }

        // Mouseover
        .mediaBarPreview-1gUbVy {
            background: $cream;
            opacity: 0.5;
        }

        // Played
        .mediaBarProgress-38I317 {
            background: $cream;
        }
    }

    // Progress bar square ends
    .fakeEdges-18N907 {
        &::after,
        &::before {
            display: none;
        }
    }

    // Grabber
    .mediaBarGrabber-FvJKJg {
        margin-left: 0;
        box-sizing: border-box;
    }

    // Volume grabber
    .vertical-3GO7H5 .mediaBarGrabber-FvJKJg {
        @include grabber.mini;
        background: $black;
        margin-top: calc(12px / -2);
    }

    // Timeline grabber
    .horizontal-2HFjqv .mediaBarGrabber-FvJKJg {
        @include grabber.full;
        background: $red;
        margin-right: calc(20px / -2);
    }
}
