@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/filter";

// Game invite / listening party embed
.invite__2a93b {
    // Text
    .header__1c712,
    .partyStatus__12fc2,
    .name__14833 {
        color: $cream;
    }

    // Links
    .textLink__811f1,
    .message-group .textLink__811f1 {
        color: $red;
    }

    // Party members
    .partyMemberEmpty__01e36,
    .moreUsers__4af66 {
        background: $cream;
        color: $black;
        opacity: 0.7;
    }

    // Session over
    .coverImageNotActionable__8e34a,
    .artworkSpotifySessionEnded_c0cf09 {
        @include filter.sepia;
    }

    // Help
    .helpIcon_dbf835 {
        background: $cream;
        g {
            fill: $black;
        }
    }
}
