@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/filter";

// Game invite / listening party embed
.invite_cdcad9 {
    // Text
    .header_cdcad9,
    .partyStatus_cdcad9,
    .name_cdcad9 {
        color: $cream;
    }

    // Links
    .textLink_cdcad9,
    .message-group .textLink_cdcad9 {
        color: $red;
    }

    // Party members
    .partyMemberEmpty_cdcad9,
    .moreUsers_cdcad9 {
        background: $cream;
        color: $black;
        opacity: 0.7;
    }

    // Session over
    .coverImageNotActionable_cdcad9,
    .artworkSpotifySessionEnded_cdcad9 {
        @include filter.sepia;
    }

    // Help
    .helpIcon_cdcad9 {
        background: $cream;
        g {
            fill: $black;
        }
    }
}
