@forward "./gameinvite";
@forward "./genericfile";
@forward "./gift";
@forward "./link";
@forward "./media";
@forward "./playable";
@forward "./serverinvite";
@forward "./spotify";
@forward "./textfile";
@forward "./uploading";

@use "../../../../top/vars" as *;
@use "../../../../top/card";

// Game invite
.appMount-2yBXZl .invite-3uuHYQ,
// Audio
.appMount-2yBXZl .wrapperAudio-1Bzv_Z,
// Generic file
.attachment-1PZZB2.newMosaicStyle-35X6XO,
.container-rr3Ruk,
// Gift
.giftCodeContainer-3ObH0O .tile-2mmK5T,
// .hidden-3B-Rum,
// Server invite
.wrapper-1HIH0j {
    @include card.large;
}

.messageAttachment-CZp8Iv {
    overflow: visible;
}

// Remove embed
.embedSuppressButton-1rZHq6 {
    right: 4px;
    top: 4px;
    background: $cream;
    border-radius: $size-max;
    width: 32px;
    height: 32px;
    color: $black;
    padding: 8px;
    box-sizing: border-box;
    z-index: 2;
    opacity: 0.8;

    &:hover {
        background: $red;
    }
}
