@forward "./gameinvite";
@forward "./genericfile";
@forward "./gift";
@forward "./link";
@forward "./media";
@forward "./playable";
@forward "./serverinvite";
@forward "./spotify";
@forward "./textfile";
@forward "./uploading";

@use "../../../../top/vars" as *;
@use "../../../../top/card";

// Game invite
#{$root} .invite__2a93b,
// Audio
#{$root} .wrapperAudio__178e9,
// Generic file
.attachment__06ca3.newMosaicStyle_b4aa24,
.container__10c80,
// Gift
.giftCodeContainer_fedf35 .tile_ebc93b,
// .hidden_f44e41,
// Server invite
.wrapper__8a5dd {
    @include card.large;
}

.messageAttachment__5dae1 {
    overflow: visible;
}

// Remove embed
.embedSuppressButton__5aae1 {
    right: 4px;
    top: 4px;
    background: $cream;
    border-radius: $size-max;
    width: 22px;
    height: 22px;
    color: $black;
    padding: $size-s;
    box-sizing: border-box;
    z-index: 2;

    &:hover {
        background: $red;
        color: $black;
    }
}
