@use "../../../../top/vars" as *;
@use "../../../../top/card";

// Webpage link embed
#{$root} .embedFull__8dc21 {
    @include card.large;

    .gridContainer_de8cdc {
        border-left: $size-m solid;
        border-left-color: inherit;
    }

    .embedAuthorName_a1274b,
    .embedFieldName_d42d0c,
    .embedTitle__31740,
    .embedDescription__33443,
    .embedFieldValue__53d47,
    .embedFooterText_dc937f {
        color: $cream;
    }
}
