@use "../../../../top/vars" as *;
@use "../../../../top/card";

// Webpage link embed
#{$root} .embedFull_ad0b71 {
    @include card.large;

    .gridContainer_ad0b71 {
        border-left: $size-m solid;
        border-left-color: inherit;
    }

    .embedAuthorName_ad0b71,
    .embedFieldName_ad0b71,
    .embedTitle_ad0b71,
    .embedDescription_ad0b71,
    .embedFieldValue_ad0b71,
    .embedFooterText_ad0b71 {
        color: $cream;
    }
}
