@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/svg";

// Images, videos, gifs

// Direct uploads
.mediaAttachmentsContainer-1WGRWy {
    @include card.large;
    width: auto;
}

// Embedded from link
.inlineMediaEmbed-1m3ApS {
    @include card.large;
    width: fit-content;
}

// Inner
.imageWrapper-oMkQl4 {
    border-radius: 0;
}
.embedImage-2Ynqkh,
.embedThumbnail-2nTasl,
.embedVideo-2ixt5A {
    img,
    video {
        border-radius: 0;
    }
}

// Gif tag
.gifTag-1TvtGO {
    background: svg.$giftag;
}
.gifFavoriteButton-3ZomyF {
    color: $cream;
}

// Alt text
.altText-sAs-Ao {
    background: $red;
    color: $black;
    padding: 0.25rem;
    margin: 0;
}

// Action buttons
.hoverButtonGroup-2yZIzC {
    border-radius: $size-max;
    background: $cream;

    .removeAttachmentHoverButton-3gHROs:hover,
    .keyboard-mode .removeAttachmentHoverButton-3gHROs:focus {
        background: $red;
    }

    .hoverButton-36QWJk {
        color: $black;
    }
}
.hoverButtonGroup-2yZIzC:hover,
.removeAttachmentButton-1iO1qS:focus-within,
.removeAttachmentButton-1iO1qS:hover,
.keyboard-mode .hoverButtonGroup-2yZIzC:focus-within,
:hover + .hoverButtonGroup-2yZIzC,
:hover + .removeAttachmentButton-1iO1qS {
    opacity: 0.8;
}
