@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/svg";

// Images, videos, gifs

// Direct uploads
.mediaAttachmentsContainer__242e2 {
    @include card.large;
    width: auto;
}

// Embedded from link
.inlineMediaEmbed_ad0b71 {
    @include card.large;
    width: fit-content;
}

// Inner
.imageWrapper__178ee {
    border-radius: 0;
}
.embedImage_ad0b71,
.embedThumbnail_ad0b71,
.embedVideo_ad0b71 {
    img,
    video {
        border-radius: 0;
    }
}

// Gif tag
.gifTag_b30195 {
    background: svg.$giftag;
}
.gifFavoriteButton_b558d0 {
    color: $cream;
}

// Alt text
.altText_cf58b5 {
    background: $red;
    color: $black;
    padding: 0.25rem;
    margin: 0;
}

// Action buttons
.hoverButtonGroup__304b2 {
    border-radius: $size-max;
    background: $cream;

    .removeAttachmentHoverButton__161a2:hover,
    .keyboard-mode .removeAttachmentHoverButton__161a2:focus {
        background: $red;
    }

    .hoverButton_be4802 {
        color: $black;
    }
}
.hoverButtonGroup__304b2:hover,
.removeAttachmentButton__692b5:focus-within,
.removeAttachmentButton__692b5:hover,
.keyboard-mode .hoverButtonGroup__304b2:focus-within,
:hover + .hoverButtonGroup__304b2,
:hover + .removeAttachmentButton__692b5 {
    opacity: 0.8;
}
