@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/status";
@use "../../../../top/filter";

.wrapper_b9fe76 {
    // Server name
    .infoTitle_bf4cdc {
        align-items: baseline;
    }

    // Member count
    .count_b9fe76 {
        color: $cream;
    }

    // Status dots
    .status_b9fe76 {
        background: $cream;
    }

    // Offline status
    .statusWrapper_b9fe76:has(.statusOffline_b9fe76) {
        position: relative;
        &::before {
            @include status.dot;
            position: absolute;
            left: 2px;
        }
    }

    // Server icon
    .guildIcon_b9fe76 {
        background-color: $red;
        border-radius: $size-max;
        width: 56px;
        height: 56px;

        // Expired invite icon
        &.guildIconExpired_b9fe76 {
            @include filter.sepia;
        }
    }
}
