@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/status";
@use "../../../../top/filter";

.wrapper_efe67f {
    // Server name
    .infoTitle_f6594a {
        align-items: baseline;
    }

    // Member count
    .count__72c4c {
        color: $cream;
    }

    // Status dots
    .status__5b71e {
        background: $cream;
    }

    // Offline status
    .statusWrapper__11af5:has(.statusOffline__84b14) {
        position: relative;
        &::before {
            @include status.dot;
            position: absolute;
            left: 2px;
        }
    }

    // Server icon
    .guildIcon_bcc098 {
        background-color: $red;
        border-radius: $size-max;
        width: 56px;
        height: 56px;

        // Expired invite icon
        &.guildIconExpired__1d51f {
            @include filter.sepia;
        }
    }
}
