@use "../../../../top/vars" as *;

// Text area
.textContainer__65f57,
.hljs {
    background: $black;
}

// Footer
.footer__90194 {
    background: $red;

    .footerGap_e4a082 {
        display: none;
    }

    .downloadSection__849a6,
    .codeIcon_f2e957:hover {
        color: $cream;
    }
}
