@use "../../../../top/vars" as *;

// Text area
.textContainer__709ff,
.hljs {
    background: $black;
}

// Footer
.footer__06f4b {
    background: $red;

    .footerGap__9a0ad {
        display: none;
    }

    .downloadSection_a31362,
    .codeIcon__14a76:hover {
        color: $cream;
    }
}
