@use "../../../../top/vars" as *;

// Text area
.textContainer-36wgKK,
.hljs {
    background: $black;
}

// Footer
.footer-GXWBBp {
    background: $red;

    .footerGap-1kdFHQ {
        display: none;
    }

    .downloadSection-20OayS,
    .codeIcon-Ni8XUA:hover {
        color: $cream;
    }
}
