@use "../../top/vars" as *;
@use "../../top/channel";

// Overall background
.privateChannels_f0963d,
#{$root} .scroller_c47fa9 {
    background: $red;
}

// Find or start a conversation
.searchBar_f0963d .searchBarComponent_f0963d {
    border-radius: $size-max;
    border: $size-xs solid $cream;
    background: $black;
    color: $cream;
    text-align: center;
}

// Direct messages header
.container_cc72c1.privateChannelsHeaderContainer_c47fa9 {
    padding: 0;
    align-items: flex-end;

    &:hover,
    .privateChannelRecipientsInviteButtonIcon_c47fa9 {
        color: $black;
    }
}

// DM
.channel_c91bad {
    background: $black;
    height: channel.height(44px);
    box-sizing: border-box;
    border: $size-xs solid $cream;
    border-left: 0;
    border-radius: 0 channel.radius(44px) channel.radius(44px) 0;
    margin: $channel-spacing 0 0;
    max-width: unset;

    .layout_f9647d {
        height: 36px;
    }

    // Text
    .interactive_f5eb4b:focus-within,
    .interactive_f5eb4b:hover,
    .highlighted_f9647d {
        color: $cream;
    }

    // Mentions
    .base__5ed84 {
        border: $size-xs solid $cream;
        color: $black;
        padding: 0 0 4px 2px;
        background: $cream !important;
    }
}

// Inverted when connected or selected
.channel_c91bad:has(.interactiveSelected_c91bad, .selected_f5eb4b) {
    background: $cream;
    border-color: $black !important;

    .interactiveSelected_c91bad,
    .overflow_c74e70,
    .highlighted_f9647d {
        color: $black;
    }

    // Mentions
    .base__5ed84 {
        border-color: $black;
        color: $cream;
        background: $black !important;
    }
}
