@use "../../top/vars" as *;
@use "../../top/channel";

// Overall background
.privateChannels__93473,
#{$root} .scroller__4b984 {
    background: $red;
}

// Find or start a conversation
.searchBar_e4ea2a .searchBarComponent__22760 {
    border-radius: $size-max;
    border: $size-xs solid $cream;
    background: $black;
    color: $cream;
    text-align: center;
}

// Direct messages header
.container_de798d.privateChannelsHeaderContainer_ddcec6 {
    padding: 0;
    align-items: flex-end;

    &:hover,
    .privateChannelRecipientsInviteButtonIcon__1e8fc {
        color: $black;
    }
}

// DM
.channel_c21703 {
    background: $black;
    height: channel.height(44px);
    box-sizing: border-box;
    border: $size-xs solid $cream;
    border-left: 0;
    border-radius: 0 channel.radius(44px) channel.radius(44px) 0;
    margin: $channel-spacing 0 0;
    max-width: unset;

    .layout__59abc {
        height: 36px;
    }

    // Text
    .interactive__776ee:focus-within,
    .interactive__776ee:hover,
    .highlighted__7bba7 {
        color: $cream;
    }

    // Mentions
    .base__92a12 {
        border: $size-xs solid $cream;
        color: $black;
        padding: 0 0 4px 2px;
        background: $cream !important;
    }
}

// Inverted when connected or selected
.channel_c21703:has(.interactiveSelected_ec846b, .selected_d94cf9) {
    background: $cream;
    border-color: $black !important;

    .interactiveSelected_ec846b,
    .overflow__87fe8,
    .highlighted__7bba7 {
        color: $black;
    }

    // Mentions
    .base__92a12 {
        border-color: $black;
        color: $cream;
        background: $black !important;
    }
}
