@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// DM with user

//
.divider__75dfe {
    display: none;
}

// Wave to user
.compactButton__0f247,
.compactButtonDisabled_f3bf7b {
    @include card.round;
}
.compactButton__0f247:hover {
    background: $black;
}

// Channel name change message
.channelNameChange__6b031 {
    color: $cream;
    .content__72fdc {
        align-items: baseline;
    }

    strong {
        font-family: var(--font-display);
    }
}

// Actions
.iconContainer_dfc268 {
    @include filter.sepia;
}

// Profile panel
.profilePanel__12596 {
    border-left: $size-m solid $cream;

    .userPanelInnerThemed__1804b {
        background: $black;
    }

    .badgeList_ef4131 {
        background: unset;
    }

    // Mutual connections
    .profilePanelConnections__3c232 {
        gap: $size-m;

        .mutualFriendsList__632b5,
        .mutualGuildsList__6e961 {
            @include card.xlarge;
            width: auto;
        }

        .iconWrapper__9d1e6 {
            color: $cream;
        }

        .icon_c48348 {
            border-radius: $size-max;
            background-color: $red;
            border: $size-xs solid $cream;
        }
    }
}
