@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// DM with user

//
.divider_dc0b54 {
    display: none;
}

// Wave to user
.compactButton_fcbce6,
.compactButtonDisabled_fcbce6 {
    @include card.round;
}
.compactButton_fcbce6:hover {
    background: $black;
}

// Channel name change message
.channelNameChange_bfe4f5 {
    color: $cream;
    .content_e62b38 {
        align-items: baseline;
    }

    strong {
        font-family: var(--font-display);
    }
}

// Actions
.iconContainer_e62b38 {
    @include filter.sepia;
}

// Profile panel
.profilePanel_b433b4 {
    border-left: $size-m solid $cream;

    .userPanelInnerThemed_c69a7b {
        background: $black;
    }

    .badgeList_ab525a {
        background: unset;
    }

    // Mutual connections
    .profilePanelConnections_b433b4 {
        gap: $size-m;

        .mutualFriendsList_b433b4,
        .mutualGuildsList_b433b4 {
            @include card.xlarge;
            width: auto;
        }

        .iconWrapper_ce1058 {
            color: $cream;
        }

        .icon_f11207 {
            border-radius: $size-max;
            background-color: $red;
            border: $size-xs solid $cream;
        }
    }
}
