@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// DM with user

//
.divider__9daf4 {
    display: none;
}

// Wave to user
.compactButton__00b66,
.compactButtonDisabled_c3934d {
    @include card.round;
}
.compactButton__00b66:hover {
    background: $black;
}

// Channel name change message
.channelNameChange_b1420c {
    color: $cream;
    .content__945f5 {
        align-items: baseline;
    }

    strong {
        font-family: var(--font-display);
    }
}

// Actions
.iconContainer_d0200f {
    @include filter.sepia;
}

// Profile panel
.profilePanel_e2cafe {
    border-left: $size-m solid $cream;

    .userPanelInnerThemed__651e4 {
        background: $black;
    }

    .badgeList__76720 {
        background: unset;
    }

    // Mutual connections
    .profilePanelConnections__34438 {
        gap: $size-m;

        .mutualFriendsList__02caf,
        .mutualGuildsList__5e9f3 {
            @include card.xlarge;
            width: auto;
        }

        .iconWrapper__0578f {
            color: $cream;
        }

        .icon__94164 {
            border-radius: $size-max;
            background-color: $red;
            border: $size-xs solid $cream;
        }
    }
}
