@use "../../top/vars" as *;
@use "../../top/filter";

.container_d576e9 .contentPanel_d576e9 {
    background: $black;
    align-items: center;

    // Boxes
    .container_b01337,
    .container_d00e26,
    .container_a2e886,
    .box_f70f48 {
        background: $black;
        border: $size-xs solid $red;
    }

    // Inner box
    .row_e677b7 {
        background: $black;
        border: $size-xs solid $cream;
    }

    // Text
    .text-sm-medium_bc6ffc,
    .groupHeader_e677b7,
    .anchor_af404b,
    .header_e677b7,
    .text-xs-medium__220aa,
    .eyebrow_e5a66c {
        color: $cream !important;
    }

    // Sepiaify images
    .headerImage_b01337,
    .artContainer_a2e886,
    .bannerArt_f70f48,
    .image_e3f20c {
        @include filter.sepia;
    }

    // Icons
    :is(.circle_d7c696, .iconContainer_e677b7) {
        background: unset;

        svg {
            width: 36px;
            height: 36px;

            path {
                fill: $cream;
            }
        }
    }

    // Steps
    .stepNumber_f70f48 {
        background: unset;
        h2 {
            color: $red !important;
            font-size: 32px;
            margin-top: -8px;
        }
    }

    // Discord forgot to style this scrollbar
    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-auto-track);
    }
}
