@use "../../top/vars" as *;
@use "../../top/filter";

.container_ec90d4 .contentPanel__463ae {
    background: $black;
    align-items: center;

    // Boxes
    .container_d5dec4,
    .container_db1b74,
    .container__5a2c3,
    .box__6431e {
        background: $black;
        border: $size-xs solid $red;
    }

    // Inner box
    .row__9455d {
        background: $black;
        border: $size-xs solid $cream;
    }

    // Text
    .text-sm-medium_bc6ffc,
    .groupHeader_f579ed,
    .anchor_c8ddc0,
    .header_af678b,
    .text-xs-medium__220aa,
    .eyebrow_e5a66c {
        color: $cream !important;
    }

    // Sepiaify images
    .headerImage_cc1002,
    .artContainer_d3a8bb,
    .bannerArt_df0202,
    .image__2a197 {
        @include filter.sepia;
    }

    // Icons
    :is(.circle_cbbd13, .iconContainer_fe08af) {
        background: unset;
        svg {
            color: $cream;
            width: 36px;
            height: 36px;
        }
    }

    // Steps
    .stepNumber__2f0cb {
        background: unset;
        h2 {
            color: $red !important;
            font-size: 32px;
            margin-top: -8px;
        }
    }

    // Discord forgot to style this scrollbar
    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-auto-track);
    }
}
