@use "../../top/vars" as *;
@use "../../top/filter";

.container_a87c5e .contentPanel__2fdef {
    background: $black;
    align-items: center;

    // Boxes
    .container__6968f,
    .container__9c82e,
    .container__9f90c,
    .box__6431e {
        background: $black;
        border: $size-xs solid $red;
    }

    // Inner box
    .row_c1b980 {
        background: $black;
        border: $size-xs solid $cream;
    }

    // Text
    .text-sm-medium_bc6ffc,
    .groupHeader__076cf,
    .anchor_c8ddc0,
    .header__74e4a,
    .text-xs-medium__220aa,
    .eyebrow_e5a66c {
        color: $cream !important;
    }

    // Sepiaify images
    .headerImage__3069c,
    .artContainer_aa6b1f,
    .bannerArt_a00519,
    .image_af5cb1 {
        @include filter.sepia;
    }

    // Icons
    :is(.circle__7dd22, .iconContainer__82920) {
        background: unset;
        svg {
            color: $cream;
            width: 36px;
            height: 36px;
        }
    }

    // Steps
    .stepNumber_f429db {
        background: unset;
        h2 {
            color: $red !important;
            font-size: 32px;
            margin-top: -8px;
        }
    }

    // Discord forgot to style this scrollbar
    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-auto-track);
    }
}
