@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";

// Friends panel

// Header
.container__11d72 {
    .topPill__0cdf1 {
        padding-top: 0;
        position: relative;
        margin-bottom: -9px;
    }

    .addFriend__80542.addFriend__80542.addFriend__80542 {
        @include tabs.tab($ISINVERT: true);

        &[aria-selected="true"] {
            @include tabs.tab;
        }
    }
}

// Main panel
.peopleColumn__51df3 {
    background: $black;

    // Search bar
    .searchBar_ff8800 {
        background: $red;
        margin: 0;
        border-radius: 0;

        .inner__999f6 {
            @include card.round;
            margin: $size-m;
        }
    }

    // Title
    .sectionTitle__69d2d {
        background: $red;
        border-bottom: $size-s solid $cream;
        .title_dc625c {
            color: $black;
            margin: 0 0 $size-m;
        }
    }

    // Users
    .peopleList__2379e {
        margin-top: 0;
        .content__23cab {
            display: flex;
            flex-direction: column;
            gap: $size-m;
        }
    }

    // User
    :is(
            .peopleListItem_d14722,
            .peopleListItem_d14722.active__6b8ff + .peopleListItem_d14722,
            .peopleListItem_d14722:hover + .peopleListItem_d14722
        ) {
        @include card.large;
        margin: 0 $size-m;
        padding: 16px $size-m;

        // Text
        :is(.username__81ee6, .discriminator_aef524, .text__1dddb, .icon_d942d4, .icon__7215c, .subtext__1a662) {
            color: $cream;
        }

        // Name
        .username__81ee6 {
            font-family: var(--font-display);
            margin-top: -0.2rem;
        }

        // Discrim
        .discriminator_aef524 {
            visibility: visible;
        }

        // Message button
        .actionButton__23182 {
            background: unset;

            &:first-child {
                display: none;
            }
        }
    }

    .header__6113c {
        border-bottom: 0;

        // Add friend search
        .addFriendInputWrapper__4bf8e {
            padding: 0;
            background: unset;
            border: 0;
        }

        .input_d5574d {
            padding-left: $size-m;
        }
    }

    // Explore discoverable
    .container_a308ae {
        @include card.round;
        padding: 0;

        .icon__28d6c {
            border-radius: $size-max;
            @include filter.sepia;
        }

        .arrow_e1c67a {
            &,
            &:hover {
                color: $cream;
            }
        }
    }
}

// No friends
.image__98a59 {
    @include filter.sepia;
}

// Active now sidebar
.container__0a6a9 {
    background: $red;
    border-left: $size-m solid $cream;

    .scroller__00e7e {
        border-left: 0;
        padding-top: 0;
    }

    // Header
    .header__123bf {
        text-transform: uppercase;
        font-style: oblique;
        color: $black;
        text-align: center;
        margin-bottom: 8px;
    }

    // User card
    .itemCard__1f162 {
        @include card.xlarge;

        &,
        &.outer_a41cf3:hover {
            background: $black;
        }

        // Game
        .inset__0bfb3 {
            background: unset;
            border: $size-xs solid $cream;
            border-radius: $size-l $size-l 0 0;
            border-bottom: 0;
            margin-bottom: -16px;

            .section_efc22d {
                background: unset;
                border-radius: 0;
            }
        }

        // Text
        .defaultColor__77578,
        .textContent__45dd0 {
            color: $cream !important;
        }
    }

    // No activity
    .emptyCard_f82dde {
        @include card.xlarge;
        background: $black;

        .emptyText_dd45f0 {
            color: $cream;
        }
    }
}
