@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";

// Friends panel

// Header
.container__26baa {
    .topPill__63ad4 {
        padding-top: 0;
        position: relative;
        margin-bottom: -9px;
    }

    .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2 {
        @include tabs.tab($ISINVERT: true);

        &[aria-selected="true"] {
            @include tabs.tab;
        }
    }
}

// Main panel
.peopleColumn__0c784 {
    background: $black;

    // Search bar
    .searchBar__310d8 {
        background: $red;
        margin: 0;
        border-radius: 0;

        .inner__999f6 {
            @include card.round;
            margin: $size-m;
        }
    }

    // Title
    .sectionTitle_b622ce {
        background: $red;
        border-bottom: $size-s solid $cream;
        .title_c42cad {
            color: $black;
            margin: 0 0 $size-m;
        }
    }

    // Users
    .peopleList_d2f527 {
        margin-top: 0;
        .content__690c5 {
            display: flex;
            flex-direction: column;
            gap: $size-m;
        }
    }

    // User
    :is(
            .peopleListItem_dab480,
            .peopleListItem_dab480.active__6b8ff + .peopleListItem_dab480,
            .peopleListItem_dab480:hover + .peopleListItem_dab480
        ) {
        @include card.large;
        margin: 0 $size-m;
        padding: 16px $size-m;

        // Text
        :is(.username__267df, .discriminator__463fe, .text_bd79a3, .icon__1ab4f, .icon__4ee3f, .subtext__72c72) {
            color: $cream;
        }

        // Name
        .username__267df {
            font-family: var(--font-display);
            margin-top: -0.2rem;
        }

        // Discrim
        .discriminator__463fe {
            visibility: visible;
        }

        // Message button
        .actionButton__2b4bb {
            background: unset;

            &:first-child {
                display: none;
            }
        }
    }

    .header__6ddae {
        border-bottom: 0;

        // Add friend search
        .addFriendInputWrapper__2b30b {
            padding: 0;
            background: unset;
            border: 0;
        }

        .input__3006b {
            padding-left: $size-m;
        }
    }

    // Explore discoverable
    .container__048f4 {
        @include card.round;
        padding: 0;

        .icon_e26761 {
            border-radius: $size-max;
            @include filter.sepia;
        }

        .arrow_e1c67a {
            &,
            &:hover {
                color: $cream;
            }
        }
    }
}

// No friends
.image__08515 {
    @include filter.sepia;
}

// Active now sidebar
.container__3673d {
    background: $red;
    border-left: $size-m solid $cream;

    .scroller__7c25e {
        border-left: 0;
        padding-top: 0;
    }

    // Header
    .header_c56a27 {
        text-transform: uppercase;
        font-style: oblique;
        color: $black;
        text-align: center;
        margin-bottom: 8px;
    }

    // User card
    .itemCard_b64118 {
        @include card.xlarge;

        &,
        &.outer_a41cf3:hover {
            background: $black;
        }

        // Game
        .inset__61d5b {
            background: unset;
            border: $size-xs solid $cream;
            border-radius: $size-l $size-l 0 0;
            border-bottom: 0;
            margin-bottom: -16px;

            .section__253ec {
                background: unset;
                border-radius: 0;
            }
        }

        // Text
        .defaultColor__77578,
        .textContent_e33074 {
            color: $cream !important;
        }
    }

    // No activity
    .emptyCard__204d9 {
        @include card.xlarge;
        background: $black;

        .emptyText__18c2a {
            color: $cream;
        }
    }
}
