@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";

// Friends panel

// Header
.container_e44302 {
    .topPill_a0 {
        padding-top: 0;
        position: relative;
        margin-bottom: -9px;
    }

    .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c {
        @include tabs.tab($ISINVERT: true);

        &[aria-selected="true"] {
            @include tabs.tab;
        }
    }
}

// Main panel
.peopleColumn_c2739c {
    background: $black;

    // Search bar
    .searchBar_e0840f {
        background: $red;
        margin: 0;
        border-radius: 0;

        .inner__999f6 {
            @include card.round;
            margin: $size-m;
        }
    }

    // Title
    .sectionTitle_e0840f {
        background: $red;
        border-bottom: $size-s solid $cream;
        .title_a1cafe {
            color: $black;
            margin: 0 0 $size-m;
        }
    }

    // Users
    .peopleList_e0840f {
        margin-top: 0;
        .content_eed6a8 {
            display: flex;
            flex-direction: column;
            gap: $size-m;
        }
    }

    // User
    :is(
            .peopleListItem_d51464,
            .peopleListItem_d51464.active_d51464 + .peopleListItem_d51464,
            .peopleListItem_d51464:hover + .peopleListItem_d51464
        ) {
        @include card.large;
        margin: 0 $size-m;
        padding: 16px $size-m;

        // Text
        :is(.username_f3939d, .discriminator_f3939d, .text_f7ebfd, .icon_ad923e, .icon_e01b91, .subtext_f3939d) {
            color: $cream;
        }

        // Name
        .username_f3939d {
            font-family: var(--font-display);
            margin-top: -0.2rem;
        }

        // Discrim
        .discriminator_f3939d {
            visibility: visible;
        }

        // Message button
        .actionButton_e01b91 {
            background: unset;

            &:first-child {
                display: none;
            }
        }
    }

    .header_c96274 {
        border-bottom: 0;

        // Add friend search
        .addFriendInputWrapper_de812f {
            padding: 0;
            background: unset;
            border: 0;
        }

        .input_de812f {
            padding-left: $size-m;
        }
    }

    // Explore discoverable
    .container_aef5fd {
        @include card.round;
        padding: 0;

        .icon_aef5fd {
            border-radius: $size-max;
            @include filter.sepia;
        }

        .arrow_aef5fd {
            &,
            &:hover {
                color: $cream;
            }
        }
    }
}

// No friends
.image__08515 {
    @include filter.sepia;
}

// Active now sidebar
.container_bf550a {
    background: $red;
    border-left: $size-m solid $cream;

    .scroller_bf550a {
        border-left: 0;
        padding-top: 0;
    }

    // Header
    .header_bf550a {
        text-transform: uppercase;
        font-style: oblique;
        color: $black;
        text-align: center;
        margin-bottom: 8px;
    }

    // User card
    .itemCard_f02fcf {
        @include card.xlarge;

        &,
        &.outer_c0f6a6:hover {
            background: $black;
        }

        // Game
        .inset_c0f6a6 {
            background: unset;
            border: $size-xs solid $cream;
            border-radius: $size-l $size-l 0 0;
            border-bottom: 0;
            margin-bottom: -16px;

            .section_cd82a7 {
                background: unset;
                border-radius: 0;
            }
        }

        // Text
        .defaultColor__77578,
        .textContent_cd82a7 {
            color: $cream !important;
        }
    }

    // No activity
    .emptyCard_f02fcf {
        @include card.xlarge;
        background: $black;

        .emptyText_f02fcf {
            color: $cream;
        }
    }
}
