@use "../../top/vars" as *;

// Library panel
.container__82f88 .container_a8317e,
.container__82f88 .scroller_ddc925 {
    background: $black;
}

// Sticky header
.header__119bc {
    background: $red;
    width: 100%;
    border-bottom: $size-s solid $cream;

    .headerCell__1746e {
        border-left: 0;
    }

    .headerCellContent__8e785 {
        font-family: var(--font-display);
        font-size: 20px;
        color: $black;
    }
}

// Game
.rowWrapper__801a0 {
    padding-bottom: $size-xxs;
    margin-bottom: -$size-xxs;

    .row__8780b {
        color: $cream;

        .nameCellText_c1f2a7,
        .textCell_f73533 {
            color: $cream;
        }
    }
}

// Settings
.container__82f88 {
    // Text
    .title__8b9e4,
    .description_b0e07c,
    .h5__28baa,
    .rowTitle_b5204a,
    .rowBody__03a1f,
    .defaultLocationCheckbox_a39f40 {
        color: $cream;
    }

    // Default install location
    .defaultIndicator__5e476 {
        border-radius: $size-max;
        background: $cream;
        color: $black;
    }

    // Storage remaining wheel;
    .background__31e4d {
        stroke: $black;
    }
    .foreground_c28dd7 {
        stroke: $red;
    }
    .usageInfo__719bc {
        color: $red;
    }

    // Install location row
    .installationPath_dade94 {
        box-shadow: none;
    }

    // Install location edit box
    .installationPathEditing_cb3789 {
        background: unset;
        border: $size-xs solid $cream;
        border-radius: $size-l;

        .separator_b3d5ac {
            border-top: 0;
            margin-bottom: 0;
        }

        // Make this my default location
        .defaultLocationCheckbox_a39f40 {
            margin-top: 12px;
        }
    }
}
