@use "../../top/vars" as *;

// Library panel
.container_c64a9f .container__0eeef,
.container_c64a9f .scroller__9c698 {
    background: $black;
}

// Sticky header
.header_b5ab54 {
    background: $red;
    width: 100%;
    border-bottom: $size-s solid $cream;

    .headerCell__7a86a {
        border-left: 0;
    }

    .headerCellContent_b91aca {
        font-family: var(--font-display);
        font-size: 20px;
        color: $black;
    }
}

// Game
.rowWrapper__2d725 {
    padding-bottom: $size-xxs;
    margin-bottom: -$size-xxs;

    .row_f3cc85 {
        color: $cream;

        .nameCellText__43eda,
        .textCell_edd42f {
            color: $cream;
        }
    }
}

// Settings
.container_c64a9f {
    // Text
    .title__28a65,
    .description__7af71,
    .h5__884a2,
    .rowTitle_ec0ae0,
    .rowBody__737e5,
    .defaultLocationCheckbox__39884 {
        color: $cream;
    }

    // Default install location
    .defaultIndicator__2a4ea {
        border-radius: $size-max;
        background: $cream;
        color: $black;
    }

    // Storage remaining wheel;
    .background__0a6fb {
        stroke: $black;
    }
    .foreground__26bd6 {
        stroke: $red;
    }
    .usageInfo_a68f86 {
        color: $red;
    }

    // Install location row
    .installationPath_fa3a82 {
        box-shadow: none;
    }

    // Install location edit box
    .installationPathEditing__33f5f {
        background: unset;
        border: $size-xs solid $cream;
        border-radius: $size-l;

        .separator__22180 {
            border-top: 0;
            margin-bottom: 0;
        }

        // Make this my default location
        .defaultLocationCheckbox__39884 {
            margin-top: 12px;
        }
    }
}
