@use "../../top/vars" as *;

// Message requests
#{$root} .content__1a4fe {
    // Title
    .sectionTitle_b0b357 {
        color: $cream;
    }
    background: $black;

    .messageRequestItem__3b951 {
        border-bottom: 0;

        .username_a5a631 {
            color: $cream;
            font-family: var(--font-display);
        }

        .timestampWithPreview_e9d53a {
            color: $cream !important;
        }
    }
}
