@use "../../top/vars" as *;

// Message requests
#{$root} .content__01e65 {
    // Title
    .sectionTitle_caffb1 {
        color: $cream;
    }
    background: $black;

    .messageRequestItem__9f70d {
        border-bottom: 0;

        .username__4f77d {
            color: $cream;
            font-family: var(--font-display);
        }

        .timestampWithPreview__44a71 {
            color: $cream !important;
        }
    }
}
