@use "../../top/vars" as *;

// Message requests
#{$root} .content_a7d72e {
    // Title
    .sectionTitle_cc7518 {
        color: $cream;
    }
    background: $black;

    .messageRequestItem_a5de62 {
        border-bottom: 0;

        .username_e4d6ba {
            color: $cream;
            font-family: var(--font-display);
        }

        .timestampWithPreview_e4d6ba {
            color: $cream !important;
        }
    }
}
