@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.applicationStore__444b9 .scroller__49aa3 {
    background: $black;
}

.hero-1gKM4P,
.ctaWrapperTier2-1hk2M8,
.ctaWrapperTier0-1GlgHE {
    background: $red;
}

.ctaWrapper-4Js5Q6,
.ctaButtonInner-2VRelf,
.checkmarkIcon__7e991,
.closeIcon-3aZ-RA {
    color: $cream;
}

.heroHeading-2yVSUj,
.pricePerInterval_c2c66a,
.ctaCopy-1CkXTE,
.perksGridFeatureHeading-3wq2Tn,
.existingSubscriberSpacing-3auAAB div {
    color: $cream !important;
}

.icon__77190 {
    color: $red;
    height: 20px;
    width: 20px;
}

.heroImages-2g-v0-,
.heroLogo-2rSeWP,
.ctaWrapperTier2-1hk2M8 .ctaImages-1s97vM,
.ctaWrapperTier0-1GlgHE .ctaImages-1s97vM,
.featureImage-91H2fC,
.root__3594f,
.wumpusImageContainer__22112,
.perksCardArt__7ba7a,
.logo__78595 {
    @include filter.sepia;
}

.divider-2JN8Vy {
    display: none;
}

// Feature cards
#{$root} .feature-2IUcBI {
    background: $black;
    border: $size-xs solid $cream;

    // Early access badge
    .featureNewBadge-27qr_t {
        background: $cream !important;
        color: $black;
        line-height: 13px;
    }

    .learnMoreLink-2JwgbJ {
        color: $red;
    }
}

.card_e97590 {
    @include card.xlarge;

    .cardDescription__40255 {
        background: linear-gradient(black, transparent);
    }
}

.tier0__2e127,
.tier2__1364f,
.bigPerkCard-1uwmWV,
.smallPerkCard-2sX_-- {
    @include card.xlarge;
    background: $black;
    overflow: visible;
}

.tier0__2e127.withTier0Rim__291d2::before,
.tier2__1364f.withTier2Rim_c3d2f1::before {
    display: none;
}

.rowBottomBorder__70fb8 {
    border-bottom: 0;
}

.tier2ColumnOuter_c78c33 {
    border-color: $red;
}

.bogoPillWithSparkles-2cfttm,
.freeTrialPillWithSparkles-3fINgJ,
.freeTrialPillWithSparkles__33d74 {
    path {
        fill: $cream;
    }

    .freeTrialPill_b54f1a {
        background: $red;

        div {
            color: $black;
        }
    }
}
