@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.applicationStore_fc7d76 .scroller__244e5 {
    background: $black;
}

.hero-1gKM4P,
.ctaWrapperTier2-1hk2M8,
.ctaWrapperTier0-1GlgHE {
    background: $red;
}

.ctaWrapper-4Js5Q6,
.ctaButtonInner-2VRelf,
.checkmarkIcon__3c0bb,
.closeIcon-3aZ-RA {
    color: $cream;
}

.heroHeading-2yVSUj,
.pricePerInterval_c8c787,
.ctaCopy-1CkXTE,
.perksGridFeatureHeading-3wq2Tn,
.existingSubscriberSpacing-3auAAB div {
    color: $cream !important;
}

.icon_c4178d {
    color: $red;
    height: 20px;
    width: 20px;
}

.heroImages-2g-v0-,
.heroLogo-2rSeWP,
.ctaWrapperTier2-1hk2M8 .ctaImages-1s97vM,
.ctaWrapperTier0-1GlgHE .ctaImages-1s97vM,
.featureImage-91H2fC,
.root__3594f,
.wumpusImageContainer__5990c,
.perksCardArt__35e0c,
.logo__78595 {
    @include filter.sepia;
}

.divider-2JN8Vy {
    display: none;
}

// Feature cards
#{$root} .feature-2IUcBI {
    background: $black;
    border: $size-xs solid $cream;

    // Early access badge
    .featureNewBadge-27qr_t {
        background: $cream !important;
        color: $black;
        line-height: 13px;
    }

    .learnMoreLink-2JwgbJ {
        color: $red;
    }
}

.tier0__2e127,
.tier2__1364f,
.bigPerkCard-1uwmWV,
.smallPerkCard-2sX_-- {
    @include card.xlarge;
    background: $black;
    overflow: visible;
}

.tier0__2e127.withTier0Rim_fb8112::before,
.tier2__1364f.withTier2Rim_c22b42::before {
    display: none;
}

.rowBottomBorder_adf3eb {
    border-bottom: 0;
}

.tier2ColumnOuter__0b5e2 {
    border-color: $red;
}

.bogoPillWithSparkles-2cfttm,
.freeTrialPillWithSparkles-3fINgJ,
.freeTrialPillWithSparkles__467c4 {
    path {
        fill: $cream;
    }

    .freeTrialPill_ebb145 {
        background: $red;

        div {
            color: $black;
        }
    }
}
