@use "../../top/vars" as *;

.pageWrapperBackgroundPrimary__36469 {
    background: $black;
}

.shopCard_c23530 {
    --chat-border: #{$cream};
    --background-floating: #{$black};

    .darkCardBackground_c23530 {
        background: $black;
    }

    .productName_c23530,
    .description__2ad50 {
        color: $cream;
    }
}
