@use "../../top/vars" as *;
@use "../../top/filter";

// Server banner
.container_fd6364 {
    .headerContent_fd6364 {
        color: $cream;
        @include filter.shadow;

        // Server name
        .name_fd6364 {
            font-family: var(--font-display);
            position: relative;
            font-style: oblique;
            bottom: 4px;
            font-size: 22px;
            line-height: 32px;
            color: $black;
        }
    }

    // Public server bubble
    .communityInfoContainer_fd6364 {
        margin-top: $size-xxs;
        margin-left: -20px;
        --background-accent: $cream;

        .communityInfoPill_fd6364 {
            border-radius: 0 $size-max $size-max 0;
            color: $black;
        }
    }
}
