@use "../../top/vars" as *;

// Channel category
.icon_a08117 {
    color: $black;
    width: 20px;
    height: 20px;
}

:is(.icon_a08117, .name_a08117) {
    .wrapper_a08117.muted_a08117 & {
        color: $black;
        opacity: 0.6;
    }

    .wrapper_a08117:hover &,
    .wrapper_a08117.muted_a08117:hover & {
        color: $black;
    }
}
