@use "../../top/vars" as *;
@use "../../top/pip";
@use "../../top/channel";

$icon-size: calc(20px + 6px);
$spine-size: calc($icon-size / 1.5);
$invertible: ":is(.name_d8bfb3, .icon_d8bfb3, .overflow_c74e70, :is(.iconItem_f6f816, .iconItem_f6f816:hover) .actionIcon_f6f816)";

// Category
.wrapperCommon_a08117 {
    align-items: baseline;
    color: $black;
}

// Channel
.containerDefault_f6f816 {
    background: $black;
    height: channel.height(34px);
    box-sizing: border-box;
    border: $size-xs solid;
    border-left: 0;

    &:not(.container_e1e976 .containerDefault_f6f816) {
        border-color: $cream;
        border-radius: 0 channel.radius(34px) channel.radius(34px) 0;
        margin-top: $channel-spacing;
    }

    // Browse channels
    &.wrapper_d8bfb3 {
        margin-left: 0;
    }

    // Inner link
    .link_d8bfb3 {
        padding: 0 8px;
    }

    .name_d8bfb3 {
        line-height: $icon-size;
    }

    // Unread pip
    .unread_d8bfb3 {
        @include pip.pip($COLOR: $cream);
        margin-top: -(pip.$pip-size);
    }
}

// Names and icons
#{$invertible} {
    color: $cream;
    --interactive-normal: #{$cream};
}

// Channel icon
.icon_d8bfb3 {
    zoom: 1.3;
}

// Red when muted
.modeMuted_d8bfb3,
.modeMuted_d8bfb3:hover {
    #{$invertible} {
        color: $red;
        --interactive-normal: #{$red};
    }
}

// Cream when unread
.modeUnreadImportant_d8bfb3,
.modeUnreadImportant_d8bfb3:hover {
    #{$invertible} {
        color: $cream;
        --interactive-normal: #{$cream};
    }
}

// Inverted when connected or selected
.containerDefault_f6f816:has(.modeConnected_d8bfb3, .modeSelected_d8bfb3),
.containerDefault_f6f816.modeSelected_d8bfb3 {
    background: $cream;
    border-color: $black !important;
}

:is(.modeConnected_d8bfb3, .modeSelected_d8bfb3) {
    &,
    &:hover {
        #{$invertible} {
            color: $black;
            --interactive-normal: #{$black};
        }
    }
}

// Live channel
.iconLive_dce222 {
    color: $red !important;
}

// Threads
.container_e1e976 {
    overflow: hidden;
    border: solid $cream;
    border-width: 0 $size-xs $size-xs 0;
    width: 210px;
    border-radius: 0 0 channel.radius(34px) 0;

    // Thread
    .containerDefault_f6f816 {
        margin-top: 0;
        border: 0;
    }

    // Spine
    .spine_e1e976,
    .spineBorder_e1e976 {
        top: 0;
        height: $spine-size;
        width: $spine-size;
        color: $red;
    }

    .spine_e1e976 + .spine_e1e976 {
        transform: rotateX(180deg) translateY(4px - $spine-size) !important;
    }
}

// Channel info
.channelInfo_f6f816 {
    --text-muted: #{$cream};
    --text-brand: #{$cream};
}
// Mention badge
.numberBadge__40d6f {
    background: $red !important;
    color: $black;
    padding-left: 2px;
    padding-bottom: 5px;
}

// Events tab
.content_cc29d1 {
    align-items: center;

    .numberBadge_d8bfb3 {
        background: $red;
        color: $black;
        padding-left: 2px;
        padding-bottom: 5px;
    }
}
