@use "../../top/vars" as *;
@use "../../top/card";

// Current event info
.container_fa295b {
    margin: 0;

    &:not(:empty) {
        border-bottom: $size-s solid $cream;
    }

    .channelNotice_a6cd4e {
        @include card.xlarge;
        margin: 0 $size-m $size-m;
        padding: $size-m;
        background: $black;

        .closeIcon_a6cd4e,
        .stageIcon_a6cd4e {
            color: $cream;
        }

        .liveIndicator_a6cd4e {
            background: $cream;
        }

        .liveNowText_a6cd4e {
            color: $cream !important;
        }

        // Event Details button
        .joinButton_a6cd4e {
            @include card.round;
        }
    }
}
