@use "../../top/vars" as *;
@use "../../top/card";

// Get started tasks

.progressBarContainer_e31e8a {
    margin: 0 0 12px 8px;

    .progressBarText_e31e8a {
        h3 {
            font-family: var(--font-primary);
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .arrow_e31e8a {
            color: $cream;
        }
    }

    .progressBar_e31e8a {
        border: $size-xs solid $cream;
        border-radius: $size-max;
        background: $black !important;

        .progressBar_c6473a {
            height: 4px;
            background: linear-gradient(90deg, $red, $cream) !important;
        }
    }
}

.divider_e31e8a {
    display: none;
}
