@use "../../top/vars" as *;
@use "../../top/card";

.panels_a4d4d9,
.container_adcaac,
#{$root} .container_b2ca13,
#{$root} .panel_bf1a22 {
    background: $black;
}

.panels_a4d4d9 {
    border-top: $size-s solid $cream;

    // Activity panel
    .activityPanel_a4d4d9 {
        border-bottom: 0;
    }

    // VC controls
    .container_adcaac {
        border-bottom: 0;

        // Ping bars
        .ping_c0cb95 {
            color: $black;
        }
        .rtcConnectionQualityFine_c0cb95 .pingForeground_c0cb95,
        .rtcConnectionQualityAverage_c0cb95 .pingForeground_c0cb95:not(:last-child) {
            color: $cream;
        }
        .rtcConnectionQualityBad_c0cb95 .pingForeground_c0cb95:first-child {
            color: $red;
        }

        // Connection status text
        .rtcConnectionStatusConnected_c0cb95,
        .rtcConnectionStatusConnecting_c0cb95 {
            color: $cream;
        }
        .rtcConnectionStatusError_c0cb95 {
            color: $red;
        }

        // Connected users
        .voiceUsers_fb2f1c {
            gap: $size-s;

            .avatarContainer_fb2f1c,
            .expandButton_fb2f1c {
                border: $size-xs solid $cream;
                width: 24px;
            }

            .avatarIconOverlay_fb2f1c {
                color: $cream;
                .avatarIconRed_fb2f1c {
                    color: $red;
                }
            }

            // See all connected users
            .primary_a41c2a {
                background: $cream;
                color: $black;
                box-sizing: content-box;
                padding: 0;
            }
        }

        // Voice chat options
        .button_adcaac:not(.disabledButtonWrapper_dd4f85) {
            @include card.round;
        }
    }

    // Self panel
    .container_b2ca13 {
        // Username
        .title_d1da5f {
            font-family: var(--font-display);
            margin-top: -10px;
            line-height: 28px;
        }
    }

    .title_d1da5f,
    .subtext_e06aad,
    .button_f67531,
    .button_f67531.enabled_f67531:hover {
        color: $cream;
    }

    .lottieIcon_f73ef7.lottieIcon_f73ef7 path {
        fill: $cream;
    }

    .redIcon_b2ca13,
    .strikethrough_b2ca13 {
        color: $red;
    }
}
