@use "../../top/vars" as *;

// Show all voice channels button
.voiceChannelsButton_a08117 {
    border: $size-xs solid $cream;
    background: $black;
    color: $cream;
    border-radius: $size-max;
    margin-top: 4px;

    &:hover {
        background: $black;
    }

    div {
        color: $cream;
    }
}

// List of voice channel users in collapsed category
.voiceUserSummary_c43953 {
    @at-root .icon_c47562 {
        color: $black;
    }
}

// VC with users or description
.containerDefault_f6f816:has(.list_a478e5, .linkBottom_d8bfb3) {
    height: unset;
}

// Description
.linkBottom_d8bfb3 {
    margin-left: 32px;
}

// VC user list
.list_a478e5 {
    padding-left: 26px;
    padding-bottom: 2px;

    // Hidden names
    &.collapsed_a478e5 {
        padding-top: $size-s;
        padding-bottom: $size-m;
    }

    // Username
    :is(.voiceUser_cdc675, .voiceUser_cdc675:hover) .username_cdc675 {
        color: $cream;
    }

    // Audience counter
    .audienceContainer_ac3629 {
        // Hidden names
        &.audienceContainerCollapsed_ac3629 {
            background: $black;
            border: $size-xs solid $cream;

            .audienceIconContainer_ac3629 .audienceIcon_ac3629,
            .audienceIconContainer_ac3629 + div {
                color: $cream !important;
            }
        }

        div {
            color: $cream !important;
        }

        .audienceIconContainer_ac3629 {
            background: unset;
            margin: 2px 8px 0 0;
        }

        .audienceIcon_ac3629 {
            color: $cream;
            margin: 4px;
        }
    }

    // User
    .draggable_ac3629 {
        height: auto;

        .userSmall_cdc675 {
            height: auto;

            &.overlap_cdc675 {
                .avatar_cdc675 {
                    border: $size-xs solid $cream;
                    margin: 0;
                }
            }

            // User icon
            .avatar_cdc675 {
                margin: 2px 8px 0 0;
            }

            // Live bubble
            .live_e17fae {
                background: $cream !important;
                color: $black;
                line-height: 12px;
            }
        }
    }

    // More users
    .moreContainer_ac3629 {
        background: $black;
        border: $size-xs solid $cream;
    }
}

// VC user limit
.wrapper_a5bc92 {
    :is(.users_a5bc92, .total_a5bc92) {
        background: transparent;
        color: inherit;
        box-sizing: content-box;
        width: auto;
        padding: 0;
    }

    .users_a5bc92 {
        &::after {
            content: "/";
        }
    }

    .total_a5bc92 {
        &::after {
            display: none;
        }
    }
}

// Activity icon
.gameIcon_f394e5 {
    border-radius: $size-max;
}

// Speakers
.speaking_fb2f1c,
.avatarSpeaking_cdc675 {
    box-shadow: inset 0 0 0 $size-xs $red;
}

// Inverted when connected or selected
:is(.modeConnected_d8bfb3, .modeSelected_d8bfb3),
:has(.modeConnected_d8bfb3, .modeSelected_d8bfb3) {
    &,
    &:hover {
        + .list_a478e5 {
            // Username
            :is(.voiceUser_cdc675, .voiceUser_cdc675:hover) .username_cdc675,
            // Muted / deafened
            .icon_cdc675 {
                color: $black;
            }

            // Live bubble
            .live_e17fae {
                background: $black !important;
                color: $cream;
            }
        }

        .wrapper_a5bc92 {
            color: $black;
        }
    }
}
