@use "../../top/vars" as *;

// Show all voice channels button
.voiceChannelsButton_fd0b98 {
    border: $size-xs solid $cream;
    background: $black;
    color: $cream;
    border-radius: $size-max;
    margin-top: 4px;

    &:hover {
        background: $black;
    }

    div {
        color: $cream;
    }
}

// VC with users or description
.containerDefault_ae2ea4:has(.list__02208, .linkBottom__942a1) {
    height: unset;
}

// Description
.linkBottom__942a1 {
    margin-left: 32px;
}

// VC user list
.list__02208 {
    padding-left: 26px;
    padding-bottom: 2px;

    // Hidden names
    &.collapsed_ec1cfb {
        padding-top: $size-s;
        padding-bottom: $size-m;
    }

    // Username
    :is(.voiceUser__629a5, .voiceUser__629a5:hover) .username_a42504 {
        color: $cream;
    }

    // Audience counter
    .audienceContainer_a2547c {
        // Hidden names
        &.audienceContainerCollapsed_ccb162 {
            background: $black;
            border: $size-xs solid $cream;

            .audienceIconContainer__625ab .audienceIcon__4b212,
            .audienceIconContainer__625ab + div {
                color: $cream !important;
            }
        }

        div {
            color: $cream !important;
        }

        .audienceIconContainer__625ab {
            background: unset;
            margin: 2px 8px 0 0;
        }

        .audienceIcon__4b212 {
            color: $cream;
            margin: 4px;
        }
    }

    // User
    .draggable__68384 {
        height: auto;

        .userSmall__75fbe {
            height: auto;

            &.overlap__6969e {
                .avatar_a56eee {
                    border: $size-xs solid $cream;
                    margin: 0;
                }
            }

            // User icon
            .avatar_a56eee {
                margin: 2px 8px 0 0;
            }

            // Live bubble
            .live_b195a5 {
                background: $cream !important;
                color: $black;
                line-height: 12px;
            }
        }
    }

    // More users
    .moreContainer_dd4188 {
        background: $black;
        border: $size-xs solid $cream;
    }
}

// VC user limit
.wrapper__71278 {
    :is(.users__65981, .total_c01838) {
        background: transparent;
        color: inherit;
        box-sizing: content-box;
        width: auto;
        padding: 0;
    }

    .users__65981 {
        &::after {
            content: "/";
        }
    }

    .total_c01838 {
        &::after {
            display: none;
        }
    }
}

// Activity icon
.gameIcon_fc710a {
    border-radius: $size-max;
}

// Speakers
.speaking__33297,
.avatarSpeaking_f239de {
    box-shadow: inset 0 0 0 $size-xs $red;
}

// Inverted when connected or selected
:is(.modeConnected__52a8f, .modeSelected__473f1),
:has(.modeConnected__52a8f, .modeSelected__473f1) {
    &,
    &:hover {
        + .list__02208 {
            // Username
            :is(.voiceUser__629a5, .voiceUser__629a5:hover) .username_a42504,
            // Muted / deafened
            .icon__1e4c2 {
                color: $black;
            }

            // Live bubble
            .live_b195a5 {
                background: $black !important;
                color: $cream;
            }
        }

        .wrapper__71278 {
            color: $black;
        }
    }
}
