@use "../../../top/vars" as *;

// Themes
.defaultThemeSelection_cb7c27 {
    box-shadow: none;
}

// Selected theme
.selectionCircle_cb7c27 {
    box-shadow: inset 0 0 0 $size-s $cream;

    circle {
        fill: $black;
    }

    path {
        fill: $cream;
    }
}

// Basic themes
.basicThemeSelectors_ {
    margin: $size-m;

    // Sync theme icon
    .iconWrapper_cb7c27 path {
        fill: $cream;
    }
}

// Nitro themes hidden due to incompatibility
.themeTitle_a614a7 button {
    display: none;
}
.basicThemeSelectors_ {
    & + section {
        display: none;
    }
}
