@use "../../../top/vars" as *;

// Themes
.defaultThemeSelection_f6b081 {
    box-shadow: none;
}

// Selected theme
.selectionCircle_aa3fcd {
    box-shadow: inset 0 0 0 $size-s $cream;

    circle {
        fill: $black;
    }

    path {
        fill: $cream;
    }
}

// Basic themes
.basicThemeSelectors__5ca8c {
    margin: $size-m;

    // Sync theme icon
    .iconWrapper__660f6 path {
        fill: $cream;
    }
}

// Nitro themes hidden due to incompatibility
.themeTitle_ab0542 button {
    display: none;
}
.basicThemeSelectors__5ca8c {
    & + section {
        display: none;
    }
}
