@use "../../../top/vars" as *;

// Themes
.defaultThemeSelection__5c688 {
    box-shadow: none;
}

// Selected theme
.selectionCircle_f4288e {
    box-shadow: inset 0 0 0 $size-s $cream;

    circle {
        fill: $black;
    }

    path {
        fill: $cream;
    }
}

// Basic themes
.basicThemeSelectors_f6c054 {
    margin: $size-m;

    // Sync theme icon
    .iconWrapper__1fbd0 path {
        fill: $cream;
    }
}

// Nitro themes hidden due to incompatibility
.themeTitle__23d07 button {
    display: none;
}
.basicThemeSelectors_f6c054 {
    & + section {
        display: none;
    }
}
