@use "../../../top/vars" as *;

.authedApp_f0135d {
    max-height: 32px;
    box-sizing: content-box;
    overflow: hidden;
    transition: max-height 1s;

    &.outline_a298b8 {
        border-color: $cream;
    }

    &:hover {
        max-height: 100vh;
    }
}
