@use "../../../top/vars" as *;

.authedApp__71a52 {
    max-height: 32px;
    box-sizing: content-box;
    overflow: hidden;
    transition: max-height 1s;

    &.outline__16075 {
        border-color: $cream;
    }

    &:hover {
        max-height: 100vh;
    }
}
