@use "../../../top/vars" as *;
@use "../../../top/card";

.descriptionWrapper__0d577 {
    color: $cream;
}

#{$root} .defaultIndicator__855a2 {
    border-radius: $size-max;
    background: $cream;
    color: $black;
}

#billing-tab {
    // Editing card info
    .card__9c85a {
        background: unset;
        border-color: $cream;

        .subText_a66a1e,
        .sectionHeader_a9d2bb {
            color: $cream;
        }
    }
}

// Transaction history
.paymentPane__9cf01 {
    #{$root} & {
        @include card.large;
        color: $cream;
    }

    // Header
    .bottomDivider_a59d97 {
        border-bottom: 0;
    }
    .paymentRowHeader__930f3 {
        div {
            color: $cream;
            font-size: 16px;
        }
    }

    // Content
    .paginator_e620d3 {
        background: unset;
    }

    // Payment row
    .payment__7d702 {
        background: unset;

        &:hover {
            background: unset;
        }

        // Summary
        .summaryInfo_b57acb {
            color: $cream;

            .statusTagRed__8022a {
                background: $red;
                color: $cream;
                border-radius: $size-max;
            }
        }

        // Details
        .expandedInfo__47bad {
            @include card.large;

            .paymentHeader__50c05,
            .paymentText_deeaf4 {
                color: $cream;
            }
        }
    }

    // Nav buttons
    .pageActions__11ae3 {
        justify-content: space-between;
        padding: $size-m;

        :is(.pageButtonNext_b6c1ca, .pageButtonPrev__9ee28, .pageIndicator__973ca) {
            color: $cream;
            border: 0;

            &.disabled__238bc {
                color: $cream;
                opacity: 0.7;
            }
        }
    }
}
