@use "../../../top/vars" as *;
@use "../../../top/card";

.descriptionWrapper_ede133 {
    color: $cream;
}

#{$root} .defaultIndicator_ede133 {
    border-radius: $size-max;
    background: $cream;
    color: $black;
}

#billing-tab {
    // Editing card info
    .card_d96f24 {
        background: unset;
        border-color: $cream;

        .subText_d96f24,
        .sectionHeader_d96f24 {
            color: $cream;
        }
    }
}

// Transaction history
.paymentPane_f66684 {
    #{$root} & {
        @include card.large;
        color: $cream;
    }

    // Header
    .bottomDivider_f66684 {
        border-bottom: 0;
    }
    .paymentRowHeader_f66684 {
        div {
            color: $cream;
            font-size: 16px;
        }
    }

    // Content
    .paginator_f66684 {
        background: unset;
    }

    // Payment row
    .payment_a28a08 {
        background: unset;

        &:hover {
            background: unset;
        }

        // Summary
        .summaryInfo_a28a08 {
            color: $cream;

            .statusTagRed_a28a08 {
                background: $red;
                color: $cream;
                border-radius: $size-max;
            }
        }

        // Details
        .expandedInfo_a28a08 {
            @include card.large;

            .paymentHeader_a28a08,
            .paymentText_a28a08 {
                color: $cream;
            }
        }
    }

    // Nav buttons
    .pageActions_cb56ee {
        justify-content: space-between;
        padding: $size-m;

        :is(.pageButtonNext_cb56ee, .pageButtonPrev_cb56ee, .pageIndicator_cb56ee) {
            color: $cream;
            border: 0;

            &.disabled_cb56ee {
                color: $cream;
                opacity: 0.7;
            }
        }
    }
}
