@use "../../../top/vars" as *;
@use "../../../top/card";

.descriptionWrapper__75cd5 {
    color: $cream;
}

#{$root} .defaultIndicator_b89fc1 {
    border-radius: $size-max;
    background: $cream;
    color: $black;
}

#billing-tab {
    // Editing card info
    .card__9c85a {
        background: unset;
        border-color: $cream;

        .subText__2975e,
        .sectionHeader__9a59b {
            color: $cream;
        }
    }
}

// Transaction history
.paymentPane__541d7 {
    #{$root} & {
        @include card.large;
        color: $cream;
    }

    // Header
    .bottomDivider_c85b47 {
        border-bottom: 0;
    }
    .paymentRowHeader__36e9a {
        div {
            color: $cream;
            font-size: 16px;
        }
    }

    // Content
    .paginator__28ba5 {
        background: unset;
    }

    // Payment row
    .payment_f27ac6 {
        background: unset;

        &:hover {
            background: unset;
        }

        // Summary
        .summaryInfo__3df8a {
            color: $cream;

            .statusTagRed__90ce0 {
                background: $red;
                color: $cream;
                border-radius: $size-max;
            }
        }

        // Details
        .expandedInfo_efc786 {
            @include card.large;

            .paymentHeader__27aff,
            .paymentText__55e50 {
                color: $cream;
            }
        }
    }

    // Nav buttons
    .pageActions_ccda85 {
        justify-content: space-between;
        padding: $size-m;

        :is(.pageButtonNext__13132, .pageButtonPrev__9c384, .pageIndicator__1821d) {
            color: $cream;
            border: 0;

            &.disabled__82158 {
                color: $cream;
                opacity: 0.7;
            }
        }
    }
}
