@use "../../../top/vars" as *;
@use "../../../top/card";

.connectContainer_e2a436,
.connection_e2a436 {
    @include card.large;
}

// Add accounts to your profile
.connectContainer_e2a436 {
    // Text
    .connectHeader_e2a436,
    .text-xs-normal_ccc5fb {
        color: $cream !important;
    }

    // Platform
    .inner_c36ce4,
    .accountAddInner_e2a436 {
        border-radius: $size-m;
        background-color: $red;
        color: $cream;
    }
}

// List of existing connections
.connectionList_e2a436 {
    grid-gap: 8px;

    // Header
    .connectionHeader_e2a436 {
        background: $red;

        .connectionAccountValue_e2a436,
        .connectionAccountLabel_e2a436 {
            color: $black !important;
        }

        .connectionDelete_e2a436 {
            color: $cream;
        }
    }

    // Further info
    .container_f7e03d {
        @include card.large;
    }

    // Metadata
    .metadataContainer_e2a436 {
        @include card.large;

        // Text
        div {
            color: $cream !important;
        }

        .connectedAccountVanityMetadataTag_a1f026 {
            color: $black !important;
            background: $cream;
        }
    }
}
