@use "../../../top/vars" as *;
@use "../../../top/card";

.connectContainer__8050b,
.connection_fff5f6 {
    @include card.large;
}

// Add accounts to your profile
.connectContainer__8050b {
    // Text
    .connectHeader__04762,
    .text-xs-normal_ccc5fb {
        color: $cream !important;
    }

    // Platform
    .inner__51a43,
    .accountAddInner_d34c25 {
        border-radius: $size-m;
        background-color: $red;
        color: $cream;
    }
}

// List of existing connections
.connectionList__7b310 {
    grid-gap: 8px;

    // Header
    .connectionHeader__3c82d {
        background: $red;

        .connectionAccountValue__2ab34,
        .connectionAccountLabel_a71192 {
            color: $black !important;
        }

        .connectionDelete__988b5 {
            color: $cream;
        }
    }

    // Further info
    .container__17965 {
        @include card.large;
    }

    // Metadata
    .metadataContainer__7b316 {
        @include card.large;

        // Text
        div {
            color: $cream !important;
        }

        .connectedAccountVanityMetadataTag_f95c7c {
            color: $black !important;
            background: $cream;
        }
    }
}
