@use "../../../top/vars" as *;
@use "../../../top/card";

.sessions__7b95a {
    // Groups
    .children_aba8cb {
        @include card.large;
        margin-top: 16px;
    }

    // Session
    .session__201cb {
        padding: 16px;
        border-bottom: 0;
    }

    .sessionIcon_df2e9c {
        background: $cream;
        color: $black;
    }

    .sessionMoreButton_f38a79 {
        color: $red;
    }
}
