@use "../../../top/vars" as *;
@use "../../../top/card";

.sessions-2KZ0-Q {
    // Groups
    .children-2C96Ex {
        @include card.med;
        margin-top: 16px;
    }

    // Session
    .session-9khLqt {
        padding: 16px;
    }

    .sessionIcon-2fwSzb {
        background: $cream;
        color: $black;
    }

    .sessionMoreButton-2cApSx {
        color: $red;
    }
}
