@use "../../../top/vars" as *;
@use "../../../top/card";

.sessions_c7a2c0 {
    // Groups
    .children_a6ae9b {
        @include card.large;
        margin-top: 16px;
    }

    // Session
    .session_c7a2c0 {
        padding: 16px;
        border-bottom: 0;
    }

    .sessionIcon_c7a2c0 {
        background: $cream;
        color: $black;
    }

    .sessionMoreButton_c7a2c0 {
        color: $red;
    }
}
