@use "../../../top/vars" as *;
@use "../../../top/card";

// Overlay notifications
.wrapper__4beb8 {
    border: $size-s solid $cream;
    border-radius: $size-l;

    &.disabledSelected_dd29ae {
        border: $size-s solid $red;
    }

    .option_a0c054 {
        background: unset;
        border: $size-xs solid $cream;
        border-radius: $size-m;

        &.selected_ea51d6 {
            background: $cream;
        }
    }

    .disabled_ab18dc {
        color: $cream;

        &.selected_ea51d6 {
            color: $red;
        }
    }
}
