@use "../../../top/vars" as *;
@use "../../../top/card";

// Overlay notifications
.wrapper__4b6b3 {
    border: $size-s solid $cream;
    border-radius: $size-l;

    &.disabledSelected__7c065 {
        border: $size-s solid $red;
    }

    .option__1d8de {
        background: unset;
        border: $size-xs solid $cream;
        border-radius: $size-m;

        &.selected__4e154 {
            background: $cream;
        }
    }

    .disabled__586d3 {
        color: $cream;

        &.selected__4e154 {
            color: $red;
        }
    }
}
