@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.membershipDialog__2f195 {
    background: unset;
    border: $size-s solid;
    border-radius: $size-l;

    &.membershipDialogHouse1__24868 {
        border-color: var(--hypesquad-house-1);
    }

    &.membershipDialogHouse2_e343cb {
        border-color: var(--hypesquad-house-2);
    }

    &.membershipDialogHouse3_d0cf09 {
        border-color: var(--hypesquad-house-3);
    }

    .membershipDialogSwitchHousesAction__3508b:hover {
        color: $cream;
    }
}

.features_e727cc {
    .perkIcon__80b43 {
        @include filter.sepia;
    }

    .title_d8b71c,
    .description__2f445 {
        color: $cream;
    }
}

.featureBorder__46921,
.leaveActionWrapper__9f719 {
    border-top: 0;
}

.videoWrapper__7b3e0 {
    background: unset;
}
