@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.membershipDialog_dc8e43 {
    background: unset;
    border: $size-s solid;
    border-radius: $size-l;

    &.membershipDialogHouse1_dc8e43 {
        border-color: var(--hypesquad-house-1);
    }

    &.membershipDialogHouse2_dc8e43 {
        border-color: var(--hypesquad-house-2);
    }

    &.membershipDialogHouse3_dc8e43 {
        border-color: var(--hypesquad-house-3);
    }

    .membershipDialogSwitchHousesAction_dc8e43:hover {
        color: $cream;
    }
}

.features_c15a81 {
    .perkIcon_c15a81 {
        @include filter.sepia;
    }

    .title_c80ac3,
    .description_c80ac3 {
        color: $cream;
    }
}

.featureBorder_c80ac3,
.leaveActionWrapper_bf0360 {
    border-top: 0;
}

.videoWrapper_b8e00f {
    background: unset;
}
