@use "../../../top/vars" as *;
@use "../../../top/card";

// Keybinds disabled warning
.warning_f20685 {
    @include card.large;
    border-radius: $size-max;
    border-color: $red;

    .icon_f20685 {
        color: $red;
    }

    div[style] {
        color: $red !important;
    }
}

// Custom keybind
#{$root} .row_f916fc {
    box-shadow: none;

    .keybindGroup_f916fc {
        margin-top: 0;
    }

    .switch_f916fc {
        padding-top: 36px;
    }
}
