@use "../../../top/vars" as *;
@use "../../../top/card";

// Keybinds disabled warning
.warning__4da7a {
    @include card.large;
    border-radius: $size-max;
    border-color: $red;

    .icon_aa840e {
        color: $red;
    }

    div[style] {
        color: $red !important;
    }
}

// Custom keybind
#{$root} .row__7007e {
    box-shadow: none;

    .keybindGroup_aa4e13 {
        margin-top: 0;
    }

    .switch__8105e {
        padding-top: 36px;
    }
}
