@use "../../../top/vars" as *;

// My account
.accountProfileCard_b69b77 {
    border: $size-s solid $cream;
    border-radius: $size-xl;
    background: $black;

    .background_b69b77,
    .fieldList_b69b77 {
        background: $black;
    }

    .text-md-normal__6a4eb {
        color: $cream !important;
    }

    .profileCardUsernameRow_b69b77 {
        align-items: baseline;

        .overflowMenuIcon_b69b77 {
            color: $cream;
        }
    }

    // Badges
    @at-root .badgeList_b69b77 {
        background: none;
    }
}

// Password and authentication
.userSettingsSecurity_ad4a7c .isEnabled_ad4a7c {
    color: $cream;
    .lockIcon_ad4a7c {
        display: none;
    }
}
