@use "../../../top/vars" as *;

// My account
.accountProfileCard__744d8 {
    border: $size-s solid $cream;
    border-radius: $size-xl;
    background: $black;

    .background__4e802,
    .fieldList__4e6dd {
        background: $black;
    }

    .text-md-normal__6a4eb {
        color: $cream !important;
    }

    .profileCardUsernameRow_f8853e {
        align-items: baseline;

        .overflowMenuIcon_a3868f {
            color: $cream;
        }
    }
}

// Password and authentication
.userSettingsSecurity__6051f .isEnabled_a6d539 {
    color: $cream;
    .lockIcon_f844b1 {
        display: none;
    }
}
