@use "../../../top/vars" as *;
@use "../../../top/card";

div[role="radiogroup"] {
    @include card.large;

    .item_b7fb7e {
        border-radius: 0;
        margin-bottom: 0;
        color: $cream;

        &:hover:not([aria-checked="true"]):not(.disabled_af801d) {
            color: $cream;
        }
    }

    .itemFilled__373d7 {
        background: unset;
    }

    .radioBar__40e1b {
        border-radius: 0;
        border-left-width: $size-m;

        .radioIconForeground__99b9b {
            color: var(--radio-bar-accent-color);
        }
    }
}

// Feedback survey box
.feedback__2b8a9 {
    background: unset;
    padding: 8px 0;
    color: $cream;
}
