@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.customizationSection_b3a5c2 {
    border-bottom: 0;
    margin-bottom: 0;
}

// Profile theme
.colorSwatch_c66781 {
    .swatch_c66781 {
        border-radius: $size-m;
        border: $size-xs solid $cream !important;
    }

    .colorSwatchLabel_cf715d {
        color: $cream !important;
    }

    .editPencilIcon_c66781 path {
        fill: $cream;
    }
}

// About me
.channelTextArea_d0696b {
    .bioTextArea_ccf27d {
        @include card.large;
        height: 250px;
    }

    .characterCount_b82429 {
        color: $cream;
    }
}

// Preview
.fakeActivityIcon_dfbe6b {
    @include filter.sepia;
}

// Nitro upsell
.premiumFeatureBorder_c6d722 {
    background:
        linear-gradient($black, $black) padding-box,
        var(--custom-premium-colors-premium-gradient-tier-2-diagonal) border-box;
    border-radius: $size-l;
}
