@use "../../../top/vars" as *;

// Tabs
.tabBar-11FwuO {
    border-bottom: $size-xs solid $cream;
    border-radius: $size-xl $size-xl 0 0;
    padding: $size-m $size-l 0;
    gap: $size-l;
    background: $red;

    .item-2GWPIy,
    .item-2GWPIy.selected-1sf9UK,
    .item-2GWPIy:hover {
        background: $black;
        color: $cream;
        border: $size-xs solid;
        border-bottom: 0;
        border-radius: $size-l $size-l 0 0;
        margin: 0;
        padding: 4px 10px;
    }

    .item-2GWPIy.selected-1sf9UK {
        background: $cream;
        color: $black;
    }
}

.customizationSection-IGy2fS {
    border-bottom: 0;
    margin-bottom: 0;
}

// Profile theme
.colorSwatch-2UxEuG {
    .swatch-efj8wq {
        border-radius: $size-m;
        border: $size-xs solid $cream !important;
    }

    .colorSwatchLabel-3wZl63 {
        color: $cream !important;
    }

    .editPencilIcon-22tRaH path {
        fill: $cream;
    }
}

// About me
.channelTextArea-1VQBuV {
    .bioTextArea-dDGOeC {
        border: $size-xs solid $cream;
        border-radius: $size-l;
        background: $black;
        height: 250px;
    }

    .characterCount-8yNPfb {
        color: $cream;
    }
}
