@use "../../../top/vars" as *;
@use "../../../top/card";

// Current game
#{$root} {
    .nowPlaying_fd966d {
        @include card.large;

        :is(.gameName_fd966d, .lastPlayed_fd966d, .overlayStatusText__668e1) {
            color: $cream;
        }

        .toggleIconOn_fd966d .fill_fd966d {
            fill: $cream;
        }

        .toggleIconOff_fd966d :is(.fill_fd966d, rect) {
            fill: $red;
        }
    }

    .notDetected_fd966d {
        @include card.large;
        border-color: $red;

        :is(.gameName_fd966d, .lastPlayed_fd966d, .overlayStatusText__668e1) {
            color: $red;
        }
    }
}

// Not seeing your game
#{$root} .nowPlayingAdd_fd966d {
    color: $cream;
}

// Added games
#{$root} .game_fd966d {
    box-shadow: none;

    :is(.gameName_fd966d, .lastPlayed_fd966d, .overlayStatusText__668e1) {
        color: $cream;
    }

    .toggleIconOn_fd966d .fill_fd966d {
        fill: $cream;
    }

    .toggleIconOff_fd966d :is(.fill_fd966d, rect) {
        fill: $red;
    }
}
