@use "../../../top/vars" as *;
@use "../../../top/card";

// Current game
#{$root} {
    .nowPlaying__353c3 {
        @include card.large;

        :is(.gameName_aeeab5, .lastPlayed_accc56, .overlayStatusText__61367) {
            color: $cream;
        }

        .toggleIconOn_ca5bbe .fill__80e66 {
            fill: $cream;
        }

        .toggleIconOff_b79a58 :is(.fill__80e66, rect) {
            fill: $red;
        }
    }

    .notDetected__2a0c9 {
        @include card.large;
        border-color: $red;

        :is(.gameName_aeeab5, .lastPlayed_accc56, .overlayStatusText__61367) {
            color: $red;
        }
    }
}

// Not seeing your game
#{$root} .nowPlayingAdd__7caf1 {
    color: $cream;
}

// Added games
#{$root} .game__19f4b {
    box-shadow: none;

    :is(.gameName_aeeab5, .lastPlayed_accc56, .overlayStatusText__61367) {
        color: $cream;
    }

    .toggleIconOn_ca5bbe .fill__80e66 {
        fill: $cream;
    }

    .toggleIconOff_b79a58 :is(.fill__80e66, rect) {
        fill: $red;
    }
}
