@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.gradient_e94761,
.wrapper__26ed7 {
    background: $red;
    border-radius: $size-l;
}

.wave_e98f7c {
    fill: $black;
}

// Images
.backgroundImages__0cd3a,
.iconImage_e0a480,
.guildBoostGem_b873bb,
.boostIcon__131ee {
    @include filter.sepia;
}

// Top gem
.guildBoostGemWrapper__975b2 {
    background: $cream;

    .guildBoostGem_b873bb {
        mix-blend-mode: multiply;
    }
}

// Server
.guildContainer__9d362 {
    background: $red;
    padding: $size-l;

    .guildBoostStatsContainer_e7f379 {
        gap: $size-m;
    }

    .guildInfoContainer_e14cd7 {
        div {
            color: $black !important;
        }

        .guildBoostBadge_e16811 {
            color: $black;
            margin-right: 0;
        }
    }
}

// Active boost
.appliedBoostContainer_d3ed2e {
    @include card.large;

    // Individual boost
    .boostContainer__8cfa8 {
        background: unset;

        .boostSlotMenuIcon__24128 {
            color: $cream;
        }
    }
}

// Suggested boost
.recommendedServerCard__70a39 {
    border-radius: $size-l;
    border: $size-xs solid $cream;

    &::before,
    &::after {
        display: none;
    }

    // Sparkles
    .sparkle__4709d {
        color: $cream;
    }
}

// Boost any server
.wrapper__0df00 {
    @include card.large;

    .cta__4a98b {
        color: $red !important;
    }
}

// Table
.tierComparisonTable__3126f,
.tierComparisonTable_b4d962 {
    .booleanValueIcon__864e1 {
        color: $cream;
    }

    .columnHeading__7e90b,
    .tableCell__77206 {
        border-bottom: 0;
    }
}

// Give you community a boost and be recognised
.wrapper__26ed7 {
    h2[style] {
        color: $cream !important;
    }

    .card__67edb {
        @include card.large;
        background: $black;

        .icon_b814e3 {
            color: $cream;
        }
    }
}

// FAQ
.faq__1d001 {
    @include card.large;
}
.list__80e1b {
    border-top: 0;
    .listItem_df7f03 {
        border-bottom: 0;

        .questionWrapper_cbf471,
        .questionWrapper_cbf471:active,
        .questionWrapper_cbf471:hover,
        .questionWrapperExpanded__3c628 {
            color: $cream;
        }

        .answer_a88bb8 {
            color: $cream !important;
        }
    }
}
