@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.gradient_e74e54,
.wrapper_d1fdce {
    background: $red;
    border-radius: $size-l;
}

.wave_e74e54 {
    fill: $black;
}

// Images
.backgroundImages_d1fdce,
.iconImage_d1fdce,
.guildBoostGem_e74e54,
.boostIcon_b74960 {
    @include filter.sepia;
}

// Top gem
.guildBoostGemWrapper_e74e54 {
    background: $cream;

    .guildBoostGem_e74e54 {
        mix-blend-mode: multiply;
    }
}

// Server
.guildContainer_e0d799 {
    background: $red;
    padding: $size-l;

    .guildBoostStatsContainer_e0d799 {
        gap: $size-m;
    }

    .guildInfoContainer_e0d799 {
        div {
            color: $black !important;
        }

        .guildBoostBadge_e0d799 {
            color: $black;
            margin-right: 0;
        }
    }
}

// Active boost
.appliedBoostContainer_dba803 {
    @include card.large;

    // Individual boost
    .boostContainer_dba803 {
        background: unset;

        .boostSlotMenuIcon_dba803 {
            color: $cream;
        }
    }
}

// Suggested boost
.recommendedServerCard_ebbdfd {
    border-radius: $size-l;
    border: $size-xs solid $cream;

    &::before,
    &::after {
        display: none;
    }

    // Sparkles
    .sparkle__3c6bd {
        color: $cream;
    }
}

// Boost any server
.wrapper_d4ec61 {
    @include card.large;

    .cta_d4ec61 {
        color: $red !important;
    }
}

// Table
.tierComparisonTable_eaedb7,
.tierComparisonTable_a50853 {
    .booleanValueIcon_ebd3d3 {
        color: $cream;
    }

    .columnHeading_ebd3d3,
    .tableCell_ebd3d3 {
        border-bottom: 0;
    }
}

// Give you community a boost and be recognised
.wrapper_d1fdce {
    h2[style] {
        color: $cream !important;
    }

    .card_d1fdce {
        @include card.large;
        background: $black;

        .icon_d1fdce {
            color: $cream;
        }
    }
}

// FAQ
.faq_eaedb7 {
    @include card.large;
}
.list_e55051 {
    border-top: 0;
    .listItem_e55051 {
        border-bottom: 0;

        .questionWrapper_e55051,
        .questionWrapper_e55051:active,
        .questionWrapper_e55051:hover,
        .questionWrapperExpanded_e55051 {
            color: $cream;
        }

        .answer_e55051 {
            color: $cream !important;
        }
    }
}
