@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.sectionDescription__93f73,
.accountCreditDescription__59ab8 {
    color: $cream;
}

// Current nitro
.banner__79cec {
    @include card.large;
    color: $cream;

    // Cancelled or failed payment
    &.canceled__4a0b5,
    &.failedPayment__2e662 {
        background: $red;

        .planInfo_cd8cba,
        .planName__72790 {
            color: $black;
        }
    }

    .image__88ebc {
        @include filter.sepia;
    }
}

// Payment details
.detailsBlock__1191c {
    @include card.large;
    color: $cream;
}

// Subscription credits
.noItemsCard_f473e7 {
    color: $cream;

    .noItemsIcon__38ca2 {
        background: $red;
        color: $black;
    }
}

// Separators
.sectionAccountCredit__8ffc1,
.subscriptionDetails_f73fb4 {
    border-bottom: 0;
}
