@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.sectionDescription_a206c7,
.accountCreditDescription_e70817 {
    color: $cream;
}

// Current nitro
.banner_b12c98 {
    @include card.large;
    color: $cream;

    // Cancelled or failed payment
    &.canceled_b12c98,
    &.failedPayment_b12c98 {
        background: $red;

        .planInfo_b12c98,
        .planName_b12c98 {
            color: $black;
        }
    }

    .image_b12c98 {
        @include filter.sepia;
    }
}

// Payment details
.detailsBlock_a206c7 {
    @include card.large;
    color: $cream;
}

// Subscription credits
.noItemsCard_e70817 {
    color: $cream;

    .noItemsIcon_e70817 {
        background: $red;
        color: $black;
    }
}

// Separators
.sectionAccountCredit_e70817,
.subscriptionDetails_e70817 {
    border-bottom: 0;
}
