@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Mic test
.wrapper-UvA17F {
    .container-3NTP7o {
        background: $cream !important;
        border-radius: $size-max;
        border: $size-xs solid $cream;
    }

    .progress-1S-TDF {
        background: $red;
    }

    #pill-frame-pattern {
        display: none;
    }
}

// Soundboard
.soundButtonSettingContainer-3G4JEB {
    @include card.round;

    .secondaryButton-JGH-z5 {
        color: $cream;

        path[fill="var(--red-400)"] {
            fill: $red;
        }
    }
}

// Video preview
.cameraWrapper-nG8dpo {
    @include card.large;

    .previewImage-7EfQfc {
        @include filter.sepia;
    }
}

// Video background
.backgroundOptions-3OjbsL {
    margin-bottom: 16px;

    .backgroundOption-2mIYjm {
        .backgroundOptionInner-SSz19O {
            border-radius: $size-m;
            background: unset;
        }

        // Info
        .backgroundOptionContent-2-UepH {
            color: $cream;
        }

        // Selected
        .backgroundOptionRing-1vvQ0C {
            border-radius: $size-l;
            border: $size-s solid $cream;
        }

        // Animation icon
        .playIcon-dKlNBm {
            color: $cream;
        }
    }
}
