@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Mic test
.wrapper__61220 {
    .container__6d33c {
        background: $cream !important;
        border-radius: $size-max;
        border: $size-xs solid $cream;
    }

    .progress__2cc1d {
        background: $red;
    }

    #pill-frame-pattern {
        display: none;
    }
}

// Soundboard
.soundButtonSettingContainer__548af {
    @include card.round;

    .secondaryButton__41267 {
        color: $cream;

        path[fill="var(--red-400)"] {
            fill: $red;
        }
    }
}

// Video preview
.cameraWrapper__1ee6d {
    @include card.large;

    .previewImage__91c1c {
        @include filter.sepia;
    }
}

// Video background
.backgroundOptions_e72ce2 {
    margin-bottom: 16px;

    .backgroundOption__745bb {
        .backgroundOptionInner__1477f {
            border-radius: $size-m;
            background: unset;
        }

        // Info
        .backgroundOptionContent__2608d {
            color: $cream;
        }

        // Selected
        .backgroundOptionRing__1f209 {
            border-radius: $size-l;
            border: $size-s solid $cream;
        }

        // Animation icon
        .playIcon_af44c5 {
            color: $cream;
        }
    }
}
