@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Mic test
.wrapper_e5cdf3 {
    .container_e5cdf3 {
        background: $cream !important;
        border-radius: $size-max;
        border: $size-xs solid $cream;
    }

    .progress_e5cdf3 {
        background: $red;
    }

    #pill-frame-pattern {
        display: none;
    }
}

// Soundboard
.soundButtonSettingContainer_c801bb {
    @include card.round;

    .secondaryButton_f40049 {
        color: $cream;

        path[fill="var(--red-400)"] {
            fill: $red;
        }
    }
}

// Video preview
.cameraWrapper_ff1ac9 {
    @include card.large;

    .previewImage_ff1ac9 {
        @include filter.sepia;
    }
}

// Video background
.backgroundOptions_ad7d79 {
    margin-bottom: 16px;

    .backgroundOption_ad7d79 {
        .backgroundOptionInner_ad7d79 {
            border-radius: $size-m;
            background: unset;
        }

        // Info
        .backgroundOptionContent_ad7d79 {
            color: $cream;
        }

        // Selected
        .backgroundOptionRing_ad7d79 {
            border-radius: $size-l;
            border: $size-s solid $cream;
        }

        // Animation icon
        .playIcon_ad7d79 {
            color: $cream;
        }
    }
}
