@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Headers
.titleContainer_e87574 {
    background: inherit;
}
.header_bd05f1 {
    background: $black;
}

// Integration role warning
.warning_f20685 {
    align-items: center;
}

// Inner sidebar
.sidebar_e87574 {
    background: $red;
    border-right: $size-s solid $cream;

    .list_e87574 {
        padding: 0 16px 96px 24px;
    }

    .addRole_e87574,
    .title_e87574,
    .title_e87574:hover {
        color: $black;
    }

    :is(.item_a0, .themed_a0.item_a0:hover:not(.disabled_a0)) {
        @include card.round;

        &.selected_a0 {
            background: $cream;
            border-color: $black;

            div[style] {
                color: $black !important;
            }
        }
    }
}

// More options button
.menu_c69589 {
    color: $cream;
}
