@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Required field indicator
.required_b27bcc {
    color: $red;
}

// Colour picker
// Swatch
.colorPickerSwatch__343b4 {
    border-radius: 0;
    margin-right: 0;
    width: 30px;
    height: inherit;

    // Large swatch
    &.default__428e2,
    &.custom__383ac {
        border: $size-xs solid $cream;
        border-radius: $size-m;
    }

    // Dropper
    .colorPickerDropperFg__0d1bc,
    path:only-child {
        fill: $cream;
    }

    &.custom__383ac.noColor_e34214 {
        border-color: $cream;

        // Dropper
        .colorPickerDropperFg__0d1bc {
            fill: $cream;
        }
    }
}

// Default role colours
div:has(> .colorPickerRow_d31e23) {
    border: $size-xs solid $cream;
    border-radius: $size-m;
    margin-top: $size-m;
    overflow: hidden;

    .colorPickerRow_d31e23 {
        height: 23px;
        margin-top: 0;
    }
}

// Role custom icon
.previewContainer__8cd30 {
    @include card.large;

    .preview_c4fac1 {
        color: $cream;
    }
}
