@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Required field indicator
.required__0baf3 {
    color: $red;
}

// Colour picker
// Swatch
.colorPickerSwatch__87597 {
    border-radius: 0;
    margin-right: 0;
    width: 30px;
    height: inherit;

    // Large swatch
    &.default__8218c,
    &.custom__383ac {
        border: $size-xs solid $cream;
        border-radius: $size-m;
    }

    // Dropper
    .colorPickerDropperFg__72d34,
    path:only-child {
        fill: $cream;
    }

    &.custom__383ac.noColor_bf5131 {
        border-color: $cream;

        // Dropper
        .colorPickerDropperFg__72d34 {
            fill: $cream;
        }
    }
}

// Default role colours
div:has(> .colorPickerRow__9a83e) {
    border: $size-xs solid $cream;
    border-radius: $size-m;
    margin-top: $size-m;
    overflow: hidden;

    .colorPickerRow__9a83e {
        height: 23px;
        margin-top: 0;
    }
}

// Role custom icon
.previewContainer_c7e80d {
    @include card.large;

    .preview__722b9 {
        color: $cream;
    }
}
