@forward "./display";
@forward "./links";
@forward "./managemembers";

@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Headers
.titleContainer_e558ff {
    background: inherit;
}
.header__63c59 {
    background: $black;
}

// Integration role warning
.warning__9db16 {
    align-items: center;
}

// Inner sidebar
.sidebar_bdf6b7 {
    background: $red;
    border-right: $size-s solid $cream;

    .list__41249 {
        padding: 0 16px 96px 24px;
    }

    .addRole__15998,
    .title__0cedc,
    .title__0cedc:hover {
        color: $black;
    }

    :is(.item__48dda, .themed_b957e8.item__48dda:hover:not(.disabled__85bca)) {
        @include card.round;

        &.selected__5711d {
            background: $cream;
            border-color: $black;

            div[style] {
                color: $black !important;
            }
        }
    }
}

// More options button
.menu_f84091 {
    color: $cream;
}
