@forward "./display";
@forward "./links";
@forward "./managemembers";

@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Headers
.titleContainer_d09261 {
    background: inherit;
}
.header_ee0bd9 {
    background: $black;
}

// Integration role warning
.warning__4da7a {
    align-items: center;
}

// Inner sidebar
.sidebar__37984 {
    background: $red;
    border-right: $size-s solid $cream;

    .list__41249 {
        padding: 0 16px 96px 24px;
    }

    .addRole__02262,
    .title__47308,
    .title__47308:hover {
        color: $black;
    }

    :is(.item__48dda, .themed_b957e8.item__48dda:hover:not(.disabled__2717e)) {
        @include card.round;

        &.selected_a523ff {
            background: $cream;
            border-color: $black;

            div[style] {
                color: $black !important;
            }
        }
    }
}

// More options button
.menu__22341 {
    color: $cream;
}
