@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Link integration warning
.warningContainer__0aa57 {
    @include card.round;
    border-color: $red;
    color: $red;

    .warningIcon_db5646 {
        color: $red;
    }

    div[style] {
        color: $red !important;
    }
}

// Requirements
.configurationsContainer__5da1f {
    // Account
    .container__8579d {
        padding: 0;
        background: unset;
        margin-bottom: $size-m;

        .closeIcon__651fa {
            color: $cream;
        }

        .ruleContainer__064c8 {
            border-top: 0;
            padding: 0 32px 16px 16px;
        }

        .ruleItemHeader__35b16 {
            margin-bottom: 8px;
        }
    }
}

// Add requirement
.addVerificationButtonAppend__37e56 {
    @include card.round;
}
