@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// Setup onboarding

// Step description overlay
.educationUpsellRoot_b5926e {
    .educationUpsell_b5926e {
        @include card.outer;
    }

    .wumpus_b5926e {
        @include filter.sepia;
    }
}

// Steps bar
.progressBar_a4e2c3 {
    &,
    .clickableProgressBar_a4e2c3:hover & {
        background: $red;
    }

    &.progressBarCurrent_a4e2c3,
    .clickableProgressBar_a4e2c3:hover &.progressBarCurrent_a4e2c3 {
        background: $cream;
    }
}

// Back / next bar
.container_b5926e {
    background: unset !important;
}

// Links
.anchor_af404b div {
    color: $red !important;
}

// Drag bars
.dragContainer_b19204,
.dragContainer_e88228 {
    color: $cream;
    left: $size-m;
    display: flex;
}

.dragIcon_e88228 {
    display: block;
}
