@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// 3. Customisation questions

.dot_df2e1e {
    display: none;
}

// Channels missing dropdown
.channelCoverage_df2e1e {
    @include card.large;

    .warning_df2e1e {
        color: $red;
    }

    .progressBar_c6473a {
        background: $cream !important;

        &[style$="background-color: var(--status-warning);"] {
            background: $red !important;
        }
    }

    .caret_df2e1e {
        color: $cream;
    }

    .channelCoverageDetails_df2e1e {
        background: unset;

        svg {
            display: none;
        }
    }

    .channelPill_df2e1e {
        @include card.round;
    }
}

// Question
.container_a90bed {
    @include card.large;

    .dragContainer_a90bed {
        color: $cream;
        display: flex;
    }

    .collapseButton_a90bed {
        color: $cream;
    }

    .removeButton_a90bed {
        color: $red;
    }

    // Examples
    .example_a90bed {
        @include card.round;
    }
}

// Answer
.optionCard_b19204 {
    @include card.round;
    padding-left: 32px;

    &:hover {
        border-color: $cream;
    }

    .plusIcon_b19204 {
        color: $cream;
    }
}

// Add question
.addPrompt_df2e1e {
    @include card.round;
    padding: $size-m $size-xl;
    width: fit-content;
    align-self: center;

    .plusIcon_df2e1e {
        color: $cream;
    }
}

.separatorSection_df2e1e {
    display: flex;
    flex-direction: column;
}

.divider_df2e1e {
    height: 0;
}

// Server guide banner gem
.icon_b29edb {
    color: $cream;
}
