@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// 3. Customisation questions

.dot__158dd {
    display: none;
}

// Channels missing dropdown
.channelCoverage__760f9 {
    @include card.large;

    .warning_d3ab98 {
        color: $red;
    }

    .progressBar__00a1a {
        background: $cream !important;

        &[style$="background-color: var(--status-warning);"] {
            background: $red !important;
        }
    }

    .caret__370c9 {
        color: $cream;
    }

    .channelCoverageDetails__9f0ab {
        background: unset;

        svg {
            display: none;
        }
    }

    .channelPill_a1112d {
        @include card.round;
    }
}

// Question
.container_ecc97e {
    @include card.large;

    .dragContainer_c611aa {
        color: $cream;
        display: flex;
    }

    .collapseButton_a19991 {
        color: $cream;
    }

    .removeButton__617fa {
        color: $red;
    }

    // Examples
    .example_ca938d {
        @include card.round;
    }
}

// Answer
.optionCard_b61e1c {
    @include card.round;
    padding-left: 32px;

    &:hover {
        border-color: $cream;
    }

    .plusIcon_dac4bc {
        color: $cream;
    }
}

// Add question
.addPrompt__527b9 {
    @include card.round;
    padding: $size-m $size-xl;
    width: fit-content;
    align-self: center;

    .plusIcon_f3eb9d {
        color: $cream;
    }
}

.separatorSection__98f02 {
    display: flex;
    flex-direction: column;
}

.divider__00189 {
    height: 0;
}

// Server guide banner gem
.icon_a857ab {
    color: $cream;
}
