@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// 2. Default channels

// Currently selected
.container_fe51c5 {
    @include card.large;
    position: sticky;
    top: $size-xl;

    .channelList_fe51c5,
    .header_fe51c5,
    .container_eff583 {
        background: unset;
    }

    // Progress bar
    .progressBar_dfa3ef {
        background: $cream !important;
    }

    // Check / cross
    .icon_eff583 {
        circle {
            fill: unset;
        }
        path[fill="var(--background-accent)"] {
            fill: $red;
        }
        path[fill="var(--brand-500)"] {
            fill: $cream;
        }
    }

    // No channels
    .emptyStateIcon_fe51c5 {
        display: none;
    }

    .caret_fe51c5,
    .channelIcon_fe51c5 {
        color: $cream;
    }

    .channelIcon_fe51c5 {
        zoom: 1.5;
    }

    .chattableIndicator_fe51c5 {
        background: $cream;
    }
}

.collapseButton_fdea3f {
    color: $cream;
}

// Channel list
.channelBrowserOuter_fdea3f {
    display: flex;
    gap: $size-s;
    flex-direction: column;
}

.categoryRow_a33fd3,
.channelRow_a33fd3 {
    margin: 0 $size-l;
    padding: 0;
}

// Category
.categoryRow_a33fd3 {
    margin-right: 0;
    margin-top: $size-l;
}

// Channel
.channelRow_a33fd3 {
    margin-right: $size-xl;

    &,
    &:hover:not(.disabled_a33fd3) {
        background: unset;
    }

    // Locked channel
    .lockedPill_a33fd3 {
        height: 24px;
        min-height: 24px;
    }
}

.divider_fe51c5,
.separator_a33fd3 {
    display: none;
}
