@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// 2. Default channels

// Currently selected
.container_eecf7e {
    @include card.large;
    position: sticky;
    top: $size-xl;

    .channelList_fcef42,
    .header_c118ee,
    .container_bc2742 {
        background: unset;
    }

    // Progress bar
    .progressBar__716bd {
        background: $cream !important;
    }

    // Check / cross
    .icon__7b48f {
        circle {
            fill: unset;
        }
        path[fill="var(--background-accent)"] {
            fill: $red;
        }
        path[fill="var(--brand-500)"] {
            fill: $cream;
        }
    }

    // No channels
    .emptyStateIcon__0afb4 {
        display: none;
    }

    .caret__61231,
    .channelIcon__52e97 {
        color: $cream;
    }

    .channelIcon__52e97 {
        zoom: 1.5;
    }

    .chattableIndicator_c6ac14 {
        background: $cream;
    }
}

.collapseButton_cbdf98 {
    color: $cream;
}

// Channel list
.channelBrowserOuter__56660 {
    display: flex;
    gap: $size-s;
    flex-direction: column;
}

.categoryRow_b920fb,
.channelRow__013aa {
    margin: 0 $size-l;
    padding: 0;
}

// Category
.categoryRow_b920fb {
    margin-right: 0;
    margin-top: $size-l;
}

// Channel
.channelRow__013aa {
    margin-right: $size-xl;

    &,
    &:hover:not(.disabled__569c5) {
        background: unset;
    }

    // Locked channel
    .lockedPill__57644 {
        height: 24px;
        min-height: 24px;
    }
}

.divider_f642fa,
.separator_f5f9d9 {
    display: none;
}
