@forward "./customisationquestions";
@forward "./defaultchannels";
@forward "./serverguide";
@forward "./review";

@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// Setup onboarding

// Step description overlay
.educationUpsellRoot_a01074 {
    .educationUpsell_ee1637 {
        @include card.outer;
    }

    .wumpus__659e8 {
        @include filter.sepia;
    }
}

// Steps bar
.progressBar__02515 {
    &,
    .clickableProgressBar__960fb:hover & {
        background: $red;
    }

    &.progressBarCurrent__44486,
    .clickableProgressBar__960fb:hover &.progressBarCurrent__44486 {
        background: $cream;
    }
}

// Back / next bar
.container_ecf1d0 {
    background: unset !important;
}

// Links
.anchor_c8ddc0 div {
    color: $red !important;
}

// Drag bars
.dragContainer_a05f7c,
.dragContainer__94876 {
    color: $cream;
    left: $size-m;
    display: flex;
}

.dragIcon_dff50a {
    display: block;
}
