@forward "./customisationquestions";
@forward "./defaultchannels";
@forward "./serverguide";
@forward "./review";

@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// Setup onboarding

// Step description overlay
.educationUpsellRoot__96ff6 {
    .educationUpsell__11611 {
        @include card.outer;
    }

    .wumpus__659e8 {
        @include filter.sepia;
    }
}

// Steps bar
.progressBar__86d52 {
    &,
    .clickableProgressBar_a79cf6:hover & {
        background: $red;
    }

    &.progressBarCurrent_e5cad1,
    .clickableProgressBar_a79cf6:hover &.progressBarCurrent_e5cad1 {
        background: $cream;
    }
}

// Back / next bar
.container_f0cc0d {
    background: unset !important;
}

// Links
.anchor_c8ddc0 div {
    color: $red !important;
}

// Drag bars
.dragContainer_e620f6,
.dragContainer_a69cd5 {
    color: $cream;
    left: $size-m;
    display: flex;
}

.dragIcon__35dad {
    display: block;
}
