@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// 5. Review

// Outer
.content_f6efd8,
.notice_b28daf {
    @include card.large;
    margin-top: $size-l;
}

.reviewHeader__0a240,
.onboardingStepContainer__4a9d0,
.iconContainer_ccedf9,
.helpSeparator__3a5bd {
    background: unset;
}

.wumpus_f09ba2 {
    @include filter.sepia;
}

// Toggle on/off
.review_e04a14 {
    background: unset;
    margin-top: 0;
}

// Channel icon
.channelIcon__7901b {
    color: $cream;
    zoom: 2;
}

// Requirement checks
.checkmark__6f954,
.warning__4b921 {
    color: $cream;
}

.danger__9cb5c {
    color: $red;

    & + .statusText__53188 {
        color: $red !important;
    }
}

.divider_b9338f {
    display: none;
}
