@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// 5. Review

// Outer
.content_addbba,
.notice_addbba {
    @include card.large;
    margin-top: $size-l;
}

.reviewHeader_addbba,
.onboardingStepContainer_a85c10,
.iconContainer_a85c10,
.helpSeparator_addbba {
    background: unset;
}

.wumpus_addbba {
    @include filter.sepia;
}

// Toggle on/off
.review_addbba {
    background: unset;
    margin-top: 0;
}

// Channel icon
.channelIcon_a85c10 {
    color: $cream;
    zoom: 2;
}

// Requirement checks
.checkmark_a85c10,
.warning_a85c10 {
    color: $cream;
}

.danger_a85c10 {
    color: $red;

    & + .statusText_a85c10 {
        color: $red !important;
    }
}
