@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// 4. Server guide

// Example
.previewImage__8a241 {
    @include filter.sepia;
}

// Sliding toggle
.pillContainer__2a7d8 {
    @include card.round;

    .pillItem_af8700 {
        color: $cream;

        &.pillItemSelected__2ede3 {
            background: $cream;
            color: $black;
            border-radius: $size-max;
        }
    }
}

// Add item centerer
.section__68e92,
.editResources_c02f8e {
    display: flex;
    flex-direction: column;
}

// Bad example
.example_bbc240 {
    @include card.large;
    border-color: $red;
    color: $red;
}

// Todo
.actionItem__872dc {
    @include card.large;
    padding-left: 32px;
}

.actionItemEmojiWrapper__51171,
.badExampleIcon__6e2b2 {
    color: inherit;
    background: unset;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        zoom: 2;
    }

    img {
        zoom: 1.5;
    }
}

// Add todo
.addActionItem__3881a {
    @include card.round;
    padding: $size-m $size-xl;
    width: fit-content;
    align-self: center;

    &:hover {
        background: unset;
    }
}

// Resource benefits
.bulletList__855f3 {
    color: $cream;
}

// Suggested channels
.suggestedChannelsDismissCheck__0b85b {
    color: $cream;
}
.suggestedChannels__0a3d8 {
    @include card.large;

    .suggestedChannelIcon__46d9c {
        color: $cream;
        zoom: 1.5;
        margin-right: 0;
    }
}

// Resource channel
.resourceChannel__94ad2 {
    @include card.large;
    padding-left: 32px;
}

.sectionSeparator_abd7cb {
    display: none;
}
