@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// 4. Server guide

// Example
.previewImage_e54b1b {
    @include filter.sepia;
}

// Sliding toggle
.pillContainer_e97d2d {
    @include card.round;

    .pillItem__2d9fa {
        color: $cream;

        &.pillItemSelected__3dd13 {
            background: $cream;
            color: $black;
            border-radius: $size-max;
        }
    }
}

// Add item centerer
.section__87af1,
.editResources_a93175 {
    display: flex;
    flex-direction: column;
}

// Bad example
.example__5d01c {
    @include card.large;
    border-color: $red;
    color: $red;
}

// Todo
.actionItem__36958 {
    @include card.large;
    padding-left: 32px;
}

.actionItemEmojiWrapper__09da8,
.badExampleIcon__70659 {
    color: inherit;
    background: unset;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        zoom: 2;
    }

    img {
        zoom: 1.5;
    }
}

// Add todo
.addActionItem__209df {
    @include card.round;
    padding: $size-m $size-xl;
    width: fit-content;
    align-self: center;

    &:hover {
        background: unset;
    }
}

// Resource benefits
.bulletList__81800 {
    color: $cream;
}

// Suggested channels
.suggestedChannelsDismissCheck_f2d54f {
    color: $cream;
}
.suggestedChannels__158f9 {
    @include card.large;

    .suggestedChannelIcon__78884 {
        color: $cream;
        zoom: 1.5;
        margin-right: 0;
    }
}

// Resource channel
.resourceChannel__1f331 {
    @include card.large;
    padding-left: 32px;
}

.sectionSeparator_a87254 {
    display: none;
}
