@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Onboarding introduction

// Art
.islands_aa7c25 {
    @include filter.sepia;
}

// Outer boxes
.testimonialHeroContainer_d3081b,
.upsellPreview_aa7c25 {
    @include card.large;
    overflow: visible;
}

// Channels and roles demo
.previewListItem_aa7c25 {
    @include card.round;
    overflow: visible;

    &.selected_aa7c25 {
        background: unset;
    }

    // Real channel icon
    .channelIcon_aa7c25 {
        color: $cream;
    }

    // Emoji icon
    span {
        @include filter.sepia;
    }

    // Checkmark
    .checkboxCircle_aa7c25 {
        background: $cream;

        .checkmark_aa7c25 {
            color: $black;
        }
    }
}

// Suggested actions demo
.action_e3f878 {
    @include card.round;

    .checkCircleCompleted_e3f878 {
        color: $cream;

        circle {
            fill: $black;
        }
    }

    .channelIconContainer_e3f878,
    .rulesIconContainer_e3f878 {
        background: unset;
        .channelIcon_e3f878 {
            zoom: 2;
            color: $cream;
        }
    }
}
