@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/tabs";

// App directory
#{$root} .directoryContainer_da3f59 {
    background: $black;

    .logo_cac7c5 {
        color: $cream;
        zoom: 1.4;
        margin-top: 4px;
    }

    .rightImage_a0e1d7 {
        @include filter.sepia;
    }

    .categoryList_ca364e {
        @include tabs.bar;

        .category_d7acc7 {
            @include tabs.tab;
            border-color: $cream;
        }
    }

    // Main app card
    .card_e90143 {
        @include card.xlarge;
    }

    // Carousel nav
    .themedPagination_af6b5a {
        .arrow_af6b5a {
            color: $cream;
        }
        .dot_af6b5a {
            background: $cream;
        }
    }

    // Smaller app cards
    .anchor_af404b {
        text-decoration: none;

        .listingDescription_d2c3da {
            color: $cream !important;
        }
    }
    .container_d9c848 {
        @include card.large;
        box-sizing: border-box;

        &.animatesOnHoverContainer_d9c848:hover {
            &,
            .image_d9c848 {
                transform: none;
            }
        }

        .bullet_ec1920 {
            display: none;
        }

        .moreGuilds_b3d866 {
            background: $cream;
            color: $black !important;
        }
    }

    // Arrow nav
    .scrollerButton_b503b8 {
        color: $cream;
    }

    // New to apps helper
    .container_bf1c84 {
        @include card.outer;

        .image_bf1c84 {
            @include filter.sepia;
        }
    }
}

.search_aabd24 {
    background: $black !important;
}

.back_da3f59 {
    &,
    &:hover {
        .backHeader_da3f59,
        .backIcon_da3f59 {
            color: $cream;
        }
    }

    .backHeader_da3f59 {
        margin-top: -4px;
    }
}

// App details page

// Banner
.headerBanner_a1eac2 {
    border-radius: $size-xl $size-xl 0 0;
}

// App icon
.headerIcon_a1eac2 {
    border-color: $black;
    background: $red;
}

// Server count
.headerSidebar_a1eac2 {
    border-bottom: 0;
}
.defaultIcon_b3d866,
.iconInteractive_a1eac2,
.iconInteractive_a1eac2:hover {
    color: $cream;
}

// Categories
.category_d169f5 {
    @include card.round;
}

// Overview
.detailedDescription_a1eac2 {
    color: $cream !important;

    &.markdown_d7f12d {
        code {
            background: unset;
            font-family: var(--font-code);
        }

        .codeInline_d7f12d {
            color: $cream;
        }
    }
}

.divider_a1eac2,
.separator_a1eac2 {
    background: $cream;
}

.showMoreButtonIcon_a1eac2 {
    color: $cream;
}

// Popular commands
.list_e0307d {
    @include card.large;

    .commandName_e0307d {
        background: unset;
        border: 0;
    }
}

// Privacy
.list_a06168,
.intentsContainer_f6d180 {
    @include card.large;
}

// Support server
.card_b5d566 {
    @include card.large;
}

// Links
.listIcon_d169f5,
.listItem_d169f5.linkItem_d169f5:hover .listIcon_d169f5,
.listItem_d169f5.linkItem_d169f5:hover .listText_d169f5 {
    color: $cream;
}

// Search results page
.sidebarImage_c0b10b,
.image_b9f1af {
    @include filter.sepia;
}

// Categories
.themed_a0 {
    @include card.round;

    &.selected_a0 {
        background: $cream;
        border-color: $black;

        &,
        &:hover {
            .icon_fa8ebf {
                color: $black;
            }
        }
        .defaultColor__77578,
        .count_fa8ebf {
            color: $black !important;
        }
    }

    &,
    &:hover {
        .icon_fa8ebf {
            color: $cream;
        }
    }
    .defaultColor__77578,
    .count_fa8ebf {
        color: $cream !important;
    }
}

// No results
.container_b9f1af {
    background: unset;
}
