@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/tabs";

// App directory
#{$root} .directoryContainer__36395 {
    background: $black;

    .headerName-2jZqFB {
        align-items: flex-start;

        .logo__16127 {
            color: $cream;
            zoom: 1.2;
            margin-top: 2px;
        }
    }

    .rightImage_b071fa {
        @include filter.sepia;
    }

    .categoryList__4f059 {
        @include tabs.bar;

        .category_c3da1d {
            @include tabs.tab;
            border-color: $cream;
        }
    }

    // Main app card
    .card__834d4 {
        @include card.xlarge;
    }

    // Carousel nav
    .themedPagination__13dbb {
        .arrow_fe649b {
            color: $cream;
        }
        .dot__6356c {
            background: $cream;
        }
    }

    // Smaller app cards
    .anchor_c8ddc0 {
        text-decoration: none;

        .listingDescription__033bc {
            color: $cream !important;
        }
    }
    .container_bdd168 {
        @include card.large;
        box-sizing: border-box;

        &.animatesOnHoverContainer_f1fedf:hover {
            &,
            .image__766a5 {
                transform: none;
            }
        }

        .bullet__2533d {
            display: none;
        }

        .moreGuilds_a49e5f {
            background: $cream;
            color: $black !important;
        }
    }

    // Arrow nav
    .scrollerButton__3da4e {
        color: $cream;
    }

    // New to apps helper
    .container__9c6ed {
        @include card.outer;

        .image_bcc9b6 {
            @include filter.sepia;
        }
    }
}

.search__24107 {
    background: $black !important;
}

.back_f08183 {
    &,
    &:hover {
        .backHeader_cff6da,
        .backIcon_d1658d {
            color: $cream;
        }
    }

    .backHeader_cff6da {
        margin-top: -4px;
    }
}

// App details page

// Banner
.headerBanner__7b8a3 {
    border-radius: $size-xl $size-xl 0 0;
}

// App icon
.headerIcon_f11f09 {
    border-color: $black;
    background: $red;
}

// Server count
.headerSidebar_ede28f {
    border-bottom: 0;
}
.defaultIcon__4db68,
.iconInteractive__29e48,
.iconInteractive__29e48:hover {
    color: $cream;
}

// Categories
.category__1ebd5 {
    @include card.round;
}

// Overview
.detailedDescription__9e4da {
    color: $cream !important;

    &.markdown__8e519 {
        code {
            background: unset;
            font-family: var(--font-code);
        }

        .codeInline_f5630b {
            color: $cream;
        }
    }
}

.divider_c275c7,
.separator_d3580d {
    background: $cream;
}

.showMoreButtonIcon__6411c {
    color: $cream;
}

// Popular commands
.list_b1e6a9 {
    @include card.large;

    .commandName__7c054 {
        background: unset;
        border: 0;
    }
}

// Privacy
.list_a19d86,
.intentsContainer_b8fe04 {
    @include card.large;
}

// Support server
.card__2ebbc {
    @include card.large;
}

// Links
.listIcon__68515,
.listItem__2c8d0.linkItem__23df5:hover .listIcon__68515,
.listItem__2c8d0.linkItem__23df5:hover .listText_e36086 {
    color: $cream;
}

// Search results page
.sidebarImage__4e4b2,
.image__8fd87 {
    @include filter.sepia;
}

// Categories
.themed_b957e8 {
    @include card.round;

    &.selected_a523ff {
        background: $cream;
        border-color: $black;

        &,
        &:hover {
            .icon__92516 {
                color: $black;
            }
        }
        .defaultColor__77578,
        .count_cc8bdf {
            color: $black !important;
        }
    }

    &,
    &:hover {
        .icon__92516 {
            color: $cream;
        }
    }
    .defaultColor__77578,
    .count_cc8bdf {
        color: $cream !important;
    }
}

// No results
.container_b15c33 {
    background: unset;
}
