@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Boost server
.scroller_a50853 {
    background: $black;
}

.header_a50853 {
    background: $red;
}

.headerWave_a586c4 {
    color: unset;
}

.bodyWave_a586c4 path {
    fill: $red !important;
    opacity: 0.3;
}

// Boost progress
.progressBar_e00a24 {
    // Bar
    .progressBarScrubber_e00a24 {
        @include card.round;
        border-width: $size-s;

        .progressBarTrack_e00a24 {
            background: unset;
        }
        .progressBarFill_e00a24 {
            background: linear-gradient(to right, $red, $cream);
        }
    }

    // Circle
    .progressBarMarker_c29408,
    .progressBarMarkerUnlocked_c29408 .progressBarMarkerIndicator_c29408 {
        background: $cream;
    }

    .progressBarMarkerCurrent_c29408 .progressBarMarkerIndicator_c29408 {
        box-shadow: none;
    }

    .boostedTierIcon_c29408 {
        color: $red;
    }
}

.full-motion {
    .guildBoostCtaBoostWrapper_cbe7a3:focus-within,
    .guildBoostCtaBoostWrapper_cbe7a3:hover,
    .guildBoostCtaSecondary_cbe7a3:focus,
    .guildBoostCtaSecondary_cbe7a3:hover {
        transform: none;
    }
}

// Sparkles
.tierCardSparkleHighlight_e3ebb9,
.containerColored_c9a524 .sparkle_c9a524.sparkleStarTopRight_c9a524,
.theme-light .sparkle_c9a524.sparkleStarTopRight_c9a524,
.containerColored_c9a524 .sparkle_c9a524.sparkleStarRight_c9a524,
.theme-light .sparkle_c9a524.sparkleStarRight_c9a524,
.containerColored_c9a524 .sparkle_c9a524.sparkleStarBottomLeft_c9a524,
.theme-light .sparkle_c9a524.sparkleStarBottomLeft_c9a524 {
    color: $cream;
}

.guildBoostCtaBoostWrapper_cbe7a3:focus-within .guildBoostCtaBoost_cbe7a3,
.guildBoostCtaBoostWrapper_cbe7a3:hover .guildBoostCtaBoost_cbe7a3,
.guildBoostCtaSecondary_cbe7a3:focus,
.guildBoostCtaSecondary_cbe7a3:hover {
    box-shadow: none;
}

.tierCard_e3ebb9,
.tierCardCurrentTier_e3ebb9,
.topPerksCard_adc107,
.wrapper_e55051,
.wrapper_d1fdce {
    @include card.large;
    background: $black;
    overflow: visible;
}

.topPerksCardImage_adc107,
.lowerBodyBackgroundImage_a50853 {
    @include filter.sepia;
}

.recommendedTierHighlight_ebd3d3:after,
.recommendedTierHighlight_ebd3d3:before {
    border-color: $red;
}
.recommendedTierHighlightTag_ebd3d3 {
    background: $red;
    border-radius: $size-max;
}

// Hovering footer
.innerWrapper_aecbd6 {
    background: $black;

    &::before,
    &::after {
        border-color: $cream;
    }
}
