@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Boost server
.scroller__7d61e {
    background: $black;
}

.header_b9d0dd {
    background: $red;
}

.headerWave_dda892 {
    color: unset;
}

.bodyWave__4a827 path {
    fill: $red !important;
    opacity: 0.3;
}

// Boost progress
.progressBar__6e68e {
    // Bar
    .progressBarScrubber__801c4 {
        @include card.round;
        border-width: $size-s;

        .progressBarTrack__669df {
            background: unset;
        }
        .progressBarFill__455be {
            background: linear-gradient(to right, $red, $cream);
        }
    }

    // Circle
    .progressBarMarker__28bea,
    .progressBarMarkerUnlocked__9a628 .progressBarMarkerIndicator_ec16e4 {
        background: $cream;
    }

    .progressBarMarkerCurrent_f2e4e1 .progressBarMarkerIndicator_ec16e4 {
        box-shadow: none;
    }

    .boostedTierIcon_b08c33 {
        color: $red;
    }
}

.full-motion {
    .guildBoostCtaBoostWrapper__2520d:focus-within,
    .guildBoostCtaBoostWrapper__2520d:hover,
    .guildBoostCtaSecondary_b56ac7:focus,
    .guildBoostCtaSecondary_b56ac7:hover {
        transform: none;
    }
}

// Sparkles
.tierCardSparkleHighlight_f59b10,
.containerColored__13042 .sparkle__14769.sparkleStarTopRight__07807,
.theme-light .sparkle__14769.sparkleStarTopRight__07807,
.containerColored__13042 .sparkle__14769.sparkleStarRight__9efe5,
.theme-light .sparkle__14769.sparkleStarRight__9efe5,
.containerColored__13042 .sparkle__14769.sparkleStarBottomLeft__798a0,
.theme-light .sparkle__14769.sparkleStarBottomLeft__798a0 {
    color: $cream;
}

.guildBoostCtaBoostWrapper__2520d:focus-within .guildBoostCtaBoost_ac9bf0,
.guildBoostCtaBoostWrapper__2520d:hover .guildBoostCtaBoost_ac9bf0,
.guildBoostCtaSecondary_b56ac7:focus,
.guildBoostCtaSecondary_b56ac7:hover {
    box-shadow: none;
}

.tierCard__292e9,
.tierCardCurrentTier__633bb,
.topPerksCard__0e34b,
.wrapper__4308f,
.wrapper_d3adb0 {
    @include card.large;
    background: $black;
    overflow: visible;
}

.topPerksCardImage__30257,
.lowerBodyBackgroundImage__497f6 {
    @include filter.sepia;
}

.recommendedTierHighlight__34465:after,
.recommendedTierHighlight__34465:before {
    border-color: $red;
}
.recommendedTierHighlightTag_bac630 {
    background: $red;
    border-radius: $size-max;
}

// Hovering footer
.innerWrapper_cfb768 {
    background: $black;

    &::before,
    &::after {
        border-color: $cream;
    }
}
