@use "../../top/vars" as *;

// Discord loading
.container__827e6 {
    background: linear-gradient($black, $red);
    opacity: 0.7 !important;

    .content_de05de {
        border-radius: $size-max;
        background: linear-gradient($cream, transparent);
        img {
        }

        .tipTitle_ebc1d5 {
            font-family: var(--font-display);
            font-size: 24px;
            line-height: 36px;
            &::after {
                content: "?";
            }
        }

        .tipTitle_ebc1d5,
        .tip__6e299 {
            color: $cream;
        }
    }

    .problems__4ae6d {
        .problemsText__5f1c5,
        .links_ab4aa2,
        .icon__7bff0 {
            color: $cream;
        }
    }
}
