@use "../../top/vars" as *;

// Discord loading
.container-2RRFHK {
    background: linear-gradient($black, $red);
    opacity: 0.7 !important;

    :is(.content-3AIQZv, .content-3m6Dij) {
        border-radius: $size-max;
        background: linear-gradient($cream, transparent);
        img {
        }

        :is(.tipTitle-3FYEQp, .tipTitle-1uYSgK) {
            font-family: var(--font-display);
            font-size: 24px;
            line-height: 36px;
            &::after {
                content: "?";
            }
        }

        :is(.tipTitle-3FYEQp, .tipTitle-1uYSgK),
        :is(.tip-1AwED_, .tip-LnjT57) {
            color: $cream;
        }
    }

    :is(.problems-CvGwpb, .problems-724zaE) {
        :is(.problemsText-1DBHh5, .problemsText-OxAwuw),
        :is(.links-30fqF9, .links-nEMU8c),
        :is(.icon-2qL2MI, .icon-3Zd-7e) {
            color: $cream;
        }
    }
}
