@use "../../top/vars" as *;

// Discord loading
.container_e40c16 {
    background: linear-gradient($black, $red);
    opacity: 0.7 !important;

    .content_e40c16 {
        border-radius: $size-max;
        background: linear-gradient($cream, transparent);
        img {
        }

        .tipTitle_e40c16 {
            font-family: var(--font-display);
            font-size: 24px;
            line-height: 36px;
            &::after {
                content: "?";
            }
        }

        .tipTitle_e40c16,
        .tip_e40c16 {
            color: $cream;
        }
    }

    .problems_e40c16 {
        .problemsText_e40c16,
        .links_e40c16,
        .icon_e40c16 {
            color: $cream;
        }
    }
}
