@use "../top/vars" as *;
@use "../top/card";

// Picture in picture

.pictureInPictureWindow_d0596b {
    @include card.outer;

    .headerTitle_cadaa5:hover {
        border-bottom-color: $cream;

        .backButton_cadaa5 {
            color: $cream;
        }
    }

    .backButton_cadaa5,
    .viewersIcon_bc9592,
    .bottomControls_cadaa5 {
        color: $cream;
    }
}
