@use "../top/vars" as *;
@use "../top/card";

// Picture in picture

.pictureInPictureWindow_dc49a8 {
    @include card.outer;

    .headerTitle__51f8e:hover {
        border-bottom-color: $cream;

        .backButton_fe22ec {
            color: $cream;
        }
    }

    .backButton_fe22ec,
    .viewersIcon__051bf,
    .bottomControls__96434 {
        color: $cream;
    }
}
