@use "../top/vars" as *;

// Tooltips

#{$root} {
    .tooltip__7b090 {
        background: $cream;
        color: $black;
        border: $size-xs solid $black;
        border-radius: $size-xl;

        // Pointer
        .tooltipPointer_f7411c {
            border-top-color: $black;
        }

        // Server type
        .flowerStar_fa5ad8 {
            path {
                fill: $black;
            }
        }
        .childContainer__3a40c path {
            fill: $cream;
        }

        // Text and most contents
        div:where([style^="color"]) {
            color: $black !important;
        }
        .guildNameText__2c549,
        .defaultColor__77578,
        .activityIcon_c97a7c {
            color: $black;
        }

        // Server muted
        .muteText__8f07b {
            color: $red !important;
        }

        // Listeners
        .stageListenerPill_e45f73 {
            background: $black;
            color: $cream;
            div {
                color: $cream !important;
            }
        }
    }
}

// More users
.moreUsers__61edd {
    background: $black;
    color: $cream;
}

.tooltipOverrideColor__7ffd2 {
    background: $cream;
    color: $black;
    border: $size-s solid $black;
    border-radius: $size-xl;

    &.caretTopCenter__99bb0:after {
        border-bottom-color: $black;
    }

    .defaultColor__77578 {
        color: $black;
    }

    .content_f59247 {
        color: $red !important;
    }
}
