@use "../top/vars" as *;

/* Tooltips */
.theme-dark .tooltipPrimary-3qLMbS,
.aboutMeGuildIconTooltip-1hnrui {
    background: $black;
    border: 2px solid $cream;
}
.theme-dark .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
    border-top-color: $cream;
}
/* Verified server */
.icon-3BYlXK {
    color: $black;
}

/* Emoji tooltip Click to learn more */
.clickCTA-1bk0UN {
    color: $red;
}

.appMount-2yBXZl .tooltipPrimary-2466a2 {
    background: $cream;
    color: $black;
    border: $size-xs solid $black;
    border-radius: $size-max;

    .flowerStar-2tNFCR {
        path {
            fill: $black;
        }
    }
    .childContainer-U_a6Yh path {
        fill: $cream;
    }

    // Server name
    .guildNameText-jBFbNC {
        color: $black;
    }

    // Server muted
    .muteText-13RgwP {
        color: $red !important;
    }
}
