@use "../top/vars" as *;

// Tooltips

#{$root} {
    .tooltip-33Jwqe {
        background: $cream;
        color: $black;
        border: $size-xs solid $black;
        border-radius: $size-xl;

        // Pointer
        .tooltipPointer-sMBQqe {
            border-top-color: $black;
        }

        // Server type
        .flowerStar-2tNFCR {
            path {
                fill: $black;
            }
        }
        .childContainer-U_a6Yh path {
            fill: $cream;
        }

        // Text and most contents
        div:where([style^="color"]) {
            color: $black !important;
        }
        .guildNameText-jBFbNC,
        .defaultColor-1EVLSt,
        .activityIcon-vfIBet {
            color: $black;
        }

        // Server muted
        .muteText-13RgwP {
            color: $red !important;
        }

        // More users
        .moreUsers-_v6T-L {
            background: $black;
            color: $cream;
        }

        // Listeners
        .stageListenerPill-1_QAPA {
            background: $black;
            color: $cream;
            div {
                color: $cream !important;
            }
        }
    }
}

.tooltipOverrideColor-2QdoQx {
    background: $cream;
    color: $black;
    border: $size-s solid $black;
    border-radius: $size-xl;

    &.caretTopCenter-1wqGIE:after {
        border-bottom-color: $black;
    }

    .defaultColor-1EVLSt {
        color: $black;
    }

    .content-3aT_vH {
        color: $red !important;
    }
}
