@use "../top/vars" as *;
@use "../top/filter";
@use "../top/card";

.userPopoutOuter_d739b2 {
    @include card.outer;
}

.userProfileOuter__46bb7,
.userProfileInnerThemedNonPremium__3d0a6,
.userProfileInnerThemedWithBanner_d5f991,
.userProfileInnerThemedPremiumWithoutBanner__703b1,
.overlayBackground__86b78 {
    background: $black;
}

.userProfileOuterThemed__6eb84.userPopoutOuter_d739b2,
.userProfileOuterThemed__6eb84.userProfileOuter__46bb7 {
    padding: 0;
}

// Overlay
.userProfileInner__8065b::before {
    display: none;
}

// Inner
.body__4c272 {
    border-radius: 0;
}

// View full profile
.avatarHintInner__3d1c9 {
    color: $cream;
}

.avatarWrapper_f77579 {
    left: 22px + $size-s;

    circle {
        fill: unset;
    }
}
.avatarPositionNormal__1797c {
    top: 16px + $size-s;
}
.avatarPositionPremiumBanner__1e83d {
    left: 21px;
}

// Profile badges
.profileBadges__7a7cb,
.badgeList_c193e3 {
    @include card.round;
}

// More options
.additionalActionsIcon__33de0 {
    &,
    &:hover,
    &:active {
        color: $cream;
    }
}

// Discrim
.discriminator_a801dd,
.userTagUsernameBase__75fb1,
.discrimBase_e0c4c5 {
    color: $cream;
}

// Status
.customStatus__3aa7f {
    color: $cream;
}

// Activity detailed
// Spotify timebar
#{$root} {
    .bar_e63719 {
        @include card.round;
    }

    .barInner_d1abc6 {
        background: $cream;
    }

    .textLeft_a97e50,
    .textRight__26208 {
        color: $cream;
    }
}

// Divider
.divider_ed0c1d {
    display: none;
}

// Tab bar
.userProfileOuter__46bb7 {
    .tabBarItem_b56b35 {
        height: auto;
    }
}

// Boxes after tab bar
.tabBarContainer__63f55 ~ div {
    padding: 0 $size-xl !important;
}

.userInfoSection__1daf8 + .userInfoSection__1daf8 {
    border-top: 0;
}

// Member since
.discordIcon_feeef1 {
    color: $cream;
}
.divider_d66e63 {
    background: $cream;
}

// Roles
.role__631a3 {
    background: $cream;
    border: 0;
    border-radius: $size-max;

    .defaultColor__77578,
    .addButtonIcon__6a05a {
        color: $black;
    }
}
.roleCircle_bae511 {
    box-shadow: 0 0 0 $size-xxs $black;
}

// Notes
.note_ba0c31 textarea {
    border-radius: $size-l;
}
.note_ba0c31 .inputDefault__80165 {
    border-radius: $size-m;
}

// Send DM
.messageInputContainer__768e6 {
    border: 0;
}

// Connected accounts
.connectedAccountContainer__23f00 {
    @include card.med;

    .connectedAccountOpenIcon_df549d {
        color: $cream;
    }
}

// Activity
#{$root} :is(.activityProfile__61b44, .activityProfileV2__4de28, .activityUserPopout_c7e67d, .activityUserPopoutV2__32328) {
    :is(
            .activityName__47e51,
            .content_d7cb7f,
            .details__445eb,
            .name_b6124d,
            .nameNormal__1d540,
            .nameWrap__7263f,
            .activityUserPopoutV2__32328 .headerText__7d203
        ) {
        color: $cream;
    }
}

// Mutuals
.listRow__60937 {
    color: $cream;
    &:hover {
        background: $black;
    }

    .listAvatar__907d4 {
        border-radius: $size-max;
    }

    .guildNick__01069 {
        color: $cream;
    }
}

// None
.emptyText__1869c {
    color: $cream;
}

// None image
.emptyIcon__655a1 {
    @include filter.sepia;
}
