@use "../top/vars" as *;
@use "../top/filter";
@use "../top/card";

.userPopoutOuter_c69a7b {
    @include card.outer;
}

.userProfileOuter_c69a7b,
.userProfileInnerThemedNonPremium_c69a7b,
.userProfileInnerThemedWithBanner_c69a7b,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b,
.overlayBackground_c69a7b {
    background: $black;
}

.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b,
.userProfileOuterThemed_c69a7b.userProfileOuter_c69a7b {
    padding: 0;
}

// Overlay
.userProfileInner_c69a7b::before {
    display: none;
}

// Inner
.body__07791 {
    border-radius: 0;
}

// View full profile
.avatarHintInner_f89da9 {
    color: $cream;
}

.avatarWrapper_f89da9 {
    left: 22px + $size-s;

    circle {
        fill: unset;
    }
}
.avatarPositionNormal_f89da9 {
    top: 16px + $size-s;
}
.avatarPositionPremiumBanner_f89da9 {
    left: 21px;
}

// Profile badges
.profileBadges_f89da9,
.badgeList_ec3b75 {
    @include card.round;
}

// More options
.additionalActionsIcon_ec3b75 {
    &,
    &:hover,
    &:active {
        color: $cream;
    }
}

// Discrim
.discriminator_afed89,
.userTagUsernameBase_c9ccf6,
.discrimBase_c9ccf6 {
    color: $cream;
}

// Status
.customStatus__3aa7f {
    color: $cream;
}

// Activity detailed
// Spotify timebar
#{$root} {
    .bar_aa267a {
        @include card.round;
    }

    .barInner_aa267a {
        background: $cream;
    }

    .textLeft_aa267a,
    .textRight_aa267a {
        color: $cream;
    }
}

// Divider
.divider_e6f9ab {
    display: none;
}

// Tab bar
.userProfileOuter_c69a7b {
    .tabBarItem_b9fccc {
        height: auto;
    }
}

// Boxes after tab bar
.tabBarContainer_b9fccc ~ div {
    padding: 0 $size-xl !important;
}

.userInfoSection_a24910 + .userInfoSection_a24910 {
    border-top: 0;
}

// Member since
.discordIcon__1e1be {
    color: $cream;
}
.divider__979dc {
    background: $cream;
}

// Roles
.role_f9575e {
    @include card.round;
    background: $cream;

    &:not(.highestRole_f51af4, .highestRole_a39fe9) .defaultColor_a595eb {
        color: $black;
    }
}
.roleCircle_a26d7b {
    box-shadow: 0 0 0 $size-xxs $black;
}

// Notes
.note_c90ad7 textarea {
    border-radius: $size-l;
}
.note_c90ad7 .inputDefault_f8bc55 {
    border-radius: $size-m;
}

// Send DM
.messageInputContainer_f2c0a8 {
    border: 0;
}

// Connected accounts
.connectedAccountContainer_f3eb60 {
    @include card.med;

    .connectedAccountOpenIcon_f3eb60 {
        color: $cream;
    }
}

// Activity
#{$root} :is(.activityProfile_d5089b, .activityProfileV2_d5089b, .activityUserPopout_d5089b, .activityUserPopoutV2_d5089b) {
    :is(
            .activityName_d5089b,
            .content_d5089b,
            .details_d5089b,
            .name_d5089b,
            .nameNormal_d5089b,
            .nameWrap_d5089b,
            .activityUserPopoutV2_d5089b .headerText_d5089b
        ) {
        color: $cream;
    }
}

// Mutuals
.listRow_e4be58 {
    color: $cream;
    &:hover {
        background: $black;
    }

    .listAvatar_e4be58 {
        border-radius: $size-max;
    }

    .guildNick_b26403 {
        color: $cream;
    }
}

// None
.emptyText_e4be58 {
    color: $cream;
}

// None image
.emptyIcon_e4be58 {
    @include filter.sepia;
}
