@use "../top/vars" as *;
@use "../top/filter";
@use "../top/card";

.userPopoutOuter-1OHwPL {
    @include card.outer;
}

.userProfileOuter-2tQwNf,
.userProfileInnerThemedNonPremium-2AJg-H,
.userProfileInnerThemedWithBanner-25XGmz,
.userProfileInnerThemedPremiumWithoutBanner-lZ9inp,
.overlayBackground-2aa7wt {
    background: $black;
}

.userProfileOuterThemed-2BgJCM.userPopoutOuter-1OHwPL,
.userProfileOuterThemed-2BgJCM.userProfileOuter-2tQwNf {
    padding: 0;
}

// Overlay
.userProfileInner-1ngKnf::before {
    display: none;
}

// Inner
.body-1Ukv50 {
    border-radius: 0;
}

// View full profile
.avatarHintInner-2HUAWj {
    color: $cream;
}

.avatarWrapper-eenWra {
    left: 22px + $size-s;

    circle {
        fill: unset;
    }
}
.avatarPositionNormal-2jWoC2 {
    top: 16px + $size-s;
}
.avatarPositionPremiumBanner-2EAbSH {
    left: 21px;
}

// Profile badges
.profileBadges-2pItdR,
.badgeList-2aoHPw {
    @include card.round;
}

// More options
.additionalActionsIcon-3Cy8UU {
    &,
    &:hover,
    &:active {
        color: $cream;
    }
}

// Discrim
.discriminator-hnHkyt,
.userTagUsernameBase-267ALn,
.discrimBase-v65kTs {
    color: $cream;
}

// Status
.customStatus-19KW6v {
    color: $cream;
}

// Activity detailed
// Spotify timebar
:is(.timeBarUserPopout-qLXZaR, .timeBarUserPopoutV2-32DL06) {
    .bar-1GpknY {
        @include card.round;
    }

    .barInner-3dHef4 {
        background: $cream;
    }

    .textLeft-1Noen0,
    .textRight-2IW704 {
        color: $cream;
    }
}

// Divider
.divider-2dDziJ {
    display: none;
}

// Tab bar
.userProfileOuter-2tQwNf {
    .tabBarItem-30Te4- {
        height: auto;
    }
}

// Boxes after tab bar
.tabBarContainer-sCZC4w ~ div {
    padding: 0 $size-xl !important;
}

.userInfoSection-2u2hir + .userInfoSection-2u2hir {
    border-top: 0;
}

// Member since
.discordIcon-32mgeP {
    color: $cream;
}
.divider-MZkkle {
    background: $cream;
}

// Roles
.role-2TIOKu {
    background: $cream;
    border: 0;
    border-radius: $size-max;

    .defaultColor-1EVLSt,
    .addButtonIcon-3HZ_2f {
        color: $black;
    }
}

// Notes
.note-3M15gE textarea {
    border-radius: $size-l;
}
.note-1NN2aP .inputDefault-Ciwd-S {
    border-radius: $size-m;
}

// Send DM
.messageInputContainer-24qqTx {
    border: 0;
}

// Connected accounts
.connectedAccountContainer-3aLMHJ {
    @include card.med;

    .connectedAccountOpenIcon-3i81Tz {
        color: $cream;
    }
}

// Activity
.appMount-2yBXZl :is(.activityProfile-1712BN, .activityProfileV2-1N7pee, .activityUserPopout-2MzGCj, .activityUserPopoutV2-3eKqzY) {
    :is(
            .activityName-3YXl6e,
            .content-tXPNDw,
            .details-2-ciHo,
            .name-1-Q7l2,
            .nameNormal-2fPMD2,
            .nameWrap-3TyM52,
            .activityUserPopoutV2-3eKqzY .headerText-3g1XK9
        ) {
        color: $cream;
    }
}

// Mutuals
.listRow-2nO1T6 {
    color: $cream;
    &:hover {
        background: $black;
    }

    .listAvatar-2bU5Uh {
        border-radius: $size-max;
    }

    .guildNick-fe8oPN {
        color: $cream;
    }
}

// None
.emptyText-mZZyQk {
    color: $cream;
}

// None image
.emptyIcon-uKVxYR {
    @include filter.sepia;
}
