@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Default permissions button
.container_d5f6d0 {
    @include card.round;

    &:hover {
        background: unset;
        color: $cream;
    }

    .icon__4c736 {
        background: unset;

        svg {
            zoom: 2;
        }
    }
}

// Roles list
.emptyRoles__3a6f7,
.tableHeader__0200e,
.roleRow_c357d5 {
    margin-left: 0;
}

// Drag handle spacing
.dragSpacing_aec71c {
    zoom: 1.5;
}

// Role
.roleRow_c357d5 {
    @include card.round;
    margin-bottom: $size-m;

    &::before {
        display: none;
    }

    // Drag handle
    .dragIcon__003d3 {
        color: $cream;
        visibility: visible;
        display: flex;
        align-items: center;
    }

    // Member count
    .memberCountContainer__9c91b {
        color: $cream;
    }

    // Edit role
    .editButton_c83711 {
        display: none;
    }

    // More button
    .secondary_c96c46 {
        @include card.round;

        &:hover:not(.disabled__8e315) {
            color: $cream;
        }
    }

    &:hover:not(.roleRowDisableHover__9fe35) .circleButton__29ce2 {
        background: unset;
    }
}

// Dragged role marker
.containerDragBefore_d2b382::before,
.containerDragAfter__944b7::after {
    background: $red;
    box-shadow: none;
    left: $size-xl;
    right: $size-xl;
}
.containerDragBefore_d2b382::before {
    top: 9px;
}
.containerDragAfter__944b7::after {
    bottom: -9px;
}

// Dragged role
.roleRowDragging_c5306c {
    opacity: 0.7;
}
