@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Default permissions button
.container__9c57c {
    @include card.round;

    &:hover {
        background: unset;
        color: $cream;
    }

    .icon_add68a {
        background: unset;

        svg {
            zoom: 2;
        }
    }
}

// Roles list
.emptyRoles_a192bd,
.tableHeader_f2fd5d,
.roleRow_dc2631 {
    margin-left: 0;
}

// Drag handle spacing
.dragSpacing_afd634 {
    zoom: 1.5;
}

// Role
.roleRow_dc2631 {
    @include card.round;
    margin-bottom: $size-m;

    &::before {
        display: none;
    }

    // Drag handle
    .dragIcon_c316eb {
        color: $cream;
        visibility: visible;
        display: flex;
        align-items: center;
    }

    // Member count
    .memberCountContainer_b93514 {
        color: $cream;
    }

    // Edit role
    .editButton__2db5f {
        display: none;
    }

    // More button
    .secondary__45d4f {
        @include card.round;

        &:hover:not(.disabled__4d064) {
            color: $cream;
        }
    }

    &:hover:not(.roleRowDisableHover_c9454c) .circleButton_c3a5df {
        background: unset;
    }
}

// Dragged role marker
.containerDragBefore_d61de0::before,
.containerDragAfter_f969a3::after {
    background: $red;
    box-shadow: none;
    left: $size-xl;
    right: $size-xl;
}
.containerDragBefore_d61de0::before {
    top: 9px;
}
.containerDragAfter_f969a3::after {
    bottom: -9px;
}

// Dragged role
.roleRowDragging__75785 {
    opacity: 0.7;
}
