@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

.simpleItemWrapper_e1b877,
.editCard_cd99d3.active_ef2ec5,
.editCard_cd99d3.toggled_cd99d3.active_ef2ec5 {
    background: unset;
}

.safetyStepContent_abe1fa .wrapper_c51b4e {
    @include filter.sepia;
}

// More actions
.menuIcon_ea28e2 {
    color: $cream;
}

// Toggle with further options
.editCard_cd99d3 {
    @include card.large;
    overflow: visible;
}
