@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Automod rule icon
.ruleIconContainer_c3faae {
    background: $cream;

    .ruleIcon__35bee {
        color: $black;
    }
}

// Automod actions
.actionContainer__4263f {
    background: $cream;

    .actionIcon__2888e {
        color: $black;
    }

    div,
    span {
        color: $black !important;
    }
}

// Rules
// Step
.stepCountIcon__0dbc7 {
    background: $cream;

    div {
        color: $black;
    }
}

// Arrow between steps
.dividierIcon__5e16a {
    color: $cream;
}

// Step instructions
.triggerMainContainer_ca82f6 {
    border: 0;

    // Field
    .keywordsTextArea_ae5cf2,
    .collapseable_a59844 {
        @include card.large;
    }

    .arrow__23c57,
    .arrow_ad7862 {
        color: $cream;
    }

    // Field in dropdown
    .textArea_f2223c {
        @include card.med;
    }

    // Icon
    .actionIcon__85d4d,
    .mentionLimitIcon_f097df {
        color: $cream;
    }

    .mentionLimitIcon_f097df path {
        fill: $cream;
    }

    // Link
    .editChannel__1ea3b {
        color: $red;
    }

    // Number adjust buttons
    .stepperContainer_b891a2 {
        background: unset;
        border: 0;

        .iconWrapper__0d13e {
            background: unset;
        }

        .icon_bb7288 {
            color: $cream;
        }
    }

    .collapseable__9c1ed {
        margin: 8px;
    }

    // Response
    .triggerSettingsContainer__44964 {
        &:has(.actionContainer_e638f2, .mentionLimitContainer_bb7659, .keywordListContainer__0f5a8) {
            @include card.large;
            margin-top: 8px;
            padding-top: 0;
        }

        // Row
        .actionContainer_e638f2,
        .mentionLimitContainer_bb7659,
        .keywordListContainer__0f5a8 {
            background: unset;
            margin-bottom: 0;
        }
    }

    // Search
    .container_ec5ce2 {
        @include card.round;

        // Term
        .richTag_d46ff6 {
            border-radius: $size-max;
            background: $cream;
            color: $black;

            * {
                color: $black;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    // Search results
    .resultsList__44239 {
        @include card.xlarge;
        background: $black;
    }
}

// Explicit image filter
.container_f6fb9b,
.groupCollapsedContainer__81b16,
.collapseable_a59844.toggled__0b0b4:active,
.collapseable_a59844:active,
.clickableContainer_aa1e59 {
    background: unset;
}

.groupContainer_da5f33 {
    @include card.large;

    &.toggled__0b0b4 {
        padding-bottom: 24px;
    }

    // Currently selected option
    .groupHeaderRow__2c7c0 .backgroundModifierContainer_d14724 {
        border-left: 0;
    }

    // All options
    .groupCollapsedContainer__81b16 {
        @include card.large;
        margin: 12px;
        padding: 0;
        width: auto;

        .pointer_a8c835 {
            display: none;
        }

        .statusRed__84305,
        .statusYellow__44e5c {
            border-left: 0;
        }

        // Radio icon
        .groupCollapsedRow__2e4d7 {
            color: $cream;
        }
    }
}
