@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Automod rule icon
.ruleIconContainer_baf164 {
    background: $cream;

    .ruleIcon__44d2b {
        color: $black;
    }
}

// Automod actions
.actionContainer_d21d10 {
    background: $cream;

    .actionIcon__2a5f8 {
        color: $black;
    }

    div,
    span {
        color: $black !important;
    }
}

// Rules
// Step
.stepCountIcon_a27a70 {
    background: $cream;

    div {
        color: $black;
    }
}

// Arrow between steps
.dividierIcon__05be9 {
    color: $cream;
}

// Step instructions
.triggerMainContainer_c5139b {
    border: 0;

    // Field
    .keywordsTextArea_d5eadb,
    .collapseable__71e46 {
        @include card.large;
    }

    .arrow__23c57,
    .arrow_ad7862 {
        color: $cream;
    }

    // Field in dropdown
    .textArea__3f404 {
        @include card.med;
    }

    // Icon
    .actionIcon_a6a945,
    .mentionLimitIcon_dce691 {
        color: $cream;
    }

    .mentionLimitIcon_dce691 path {
        fill: $cream;
    }

    // Link
    .editChannel__45c49 {
        color: $red;
    }

    // Number adjust buttons
    .stepperContainer__053f4 {
        background: unset;
        border: 0;

        .iconWrapper__9caa9 {
            background: unset;
        }

        .icon_ae3492 {
            color: $cream;
        }
    }

    .collapseable__0c992 {
        margin: 8px;
    }

    // Response
    .triggerSettingsContainer_bf350a {
        &:has(.actionContainer__51bd9, .mentionLimitContainer__0f0ff, .keywordListContainer_fdf41c) {
            @include card.large;
            margin-top: 8px;
            padding-top: 0;
        }

        // Row
        .actionContainer__51bd9,
        .mentionLimitContainer__0f0ff,
        .keywordListContainer_fdf41c {
            background: unset;
            margin-bottom: 0;
        }
    }

    // Search
    .container_e4c233 {
        @include card.round;

        // Term
        .richTag_fba187 {
            border-radius: $size-max;
            background: $cream;
            color: $black;

            * {
                color: $black;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    // Search results
    .resultsList_bec6cd {
        @include card.xlarge;
        background: $black;
    }
}

// Explicit image filter
.container__74689,
.groupCollapsedContainer_d7de68,
.collapseable__71e46.toggled_bb1607:active,
.collapseable__71e46:active,
.clickableContainer__69013 {
    background: unset;
}

.groupContainer_ea45bc {
    @include card.large;

    &.toggled_bb1607 {
        padding-bottom: 24px;
    }

    // Currently selected option
    .groupHeaderRow__83bb9 .backgroundModifierContainer__73a0a {
        border-left: 0;
    }

    // All options
    .groupCollapsedContainer_d7de68 {
        @include card.large;
        margin: 12px;
        padding: 0;
        width: auto;

        .pointer_d95271 {
            display: none;
        }

        .statusRed_fa8ec0,
        .statusYellow__0c86b {
            border-left: 0;
        }

        // Radio icon
        .groupCollapsedRow_b21fc7 {
            color: $cream;
        }
    }
}
