@use "../../../../top/vars" as *;
@use "../../../../top/card";

.caret__4c002,
.previewIcon__01031,
.previewIcon__01031:hover {
    color: $cream;
}

.rulesScreeningItems_c21410 > div {
    border: 0;
}

// Description
.backgroundContainer__8f24a {
    background: unset;
    padding: 0;
}

// Server rule
.fieldBackground__65920 {
    background: unset;
}

// Server rules
.containerPadding__28475 {
    padding: 0;

    .termsFieldBody__30daf {
        border: 0;
        padding: 0;
        margin-bottom: 16px;
    }

    .fieldFooterContainer__937dd {
        @include card.round;
        width: fit-content;
        padding: $size-s $size-m;

        path {
            stroke: $cream;
        }
    }
}

.containerFooter__2f30f {
    background: unset;
    padding: 0;

    // Remove rules
    .removeButton__53387 {
        color: $red;
    }
}
