@use "../../../../top/vars" as *;
@use "../../../../top/card";

.caret_e1b877,
.previewIcon_ac6678,
.previewIcon_ac6678:hover {
    color: $cream;
}

.rulesScreeningItems_c21410 > div {
    border: 0;
}

// Description
.backgroundContainer_ceff93 {
    background: unset;
    padding: 0;
}

// Server rule
.fieldBackground_ceff93 {
    background: unset;
}

// Server rules
.containerPadding_ceff93 {
    padding: 0;

    .termsFieldBody_bd5b94 {
        border: 0;
        padding: 0;
        margin-bottom: 16px;
    }

    .fieldFooterContainer_ceff93 {
        @include card.round;
        width: fit-content;
        padding: $size-s $size-m;

        path {
            stroke: $cream;
        }
    }
}

.containerFooter_ceff93 {
    background: unset;
    padding: 0;

    // Remove rules
    .removeButton_ceff93 {
        color: $red;
    }
}
