@forward "./automod";
@forward "./dmspamprotection";
@forward "./mainview";
@forward "./permissions";
@forward "./raidprotection";

@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

.simpleItemWrapper__2a0a0,
.editCard_dfa091.active_ef2ec5,
.editCard_dfa091.toggled_bf7bde.active_ef2ec5 {
    background: unset;
}

.safetyStepContent__3f392 .wrapper_edb6e0 {
    @include filter.sepia;
}

// More actions
.menuIcon__586ad {
    color: $cream;
}

// Toggle with further options
.editCard_dfa091 {
    @include card.large;
    overflow: visible;
}
