@forward "./automod";
@forward "./dmspamprotection";
@forward "./mainview";
@forward "./permissions";
@forward "./raidprotection";

@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

.simpleItemWrapper_c23fd0,
.editCard__7d03f.active_ef2ec5,
.editCard__7d03f.toggled__775cb.active_ef2ec5 {
    background: unset;
}

.safetyStepContent_e5b31e .wrapper__3ed10 {
    @include filter.sepia;
}

// More actions
.menuIcon__677dd {
    color: $cream;
}

// Toggle with further options
.editCard__7d03f {
    @include card.large;
    overflow: visible;
}
