// Channel header
.chat-2ZfjoI .title-31SJ6t {
    background: var(--color-one);
    border-bottom: $thin solid var(--color-two);

    // Channel name
    .titleWrapper-24Kyzc .title-17SveM {
        position: relative;
        font-style: oblique;
        bottom: 2px;
        overflow: visible;
        color: var(--color-three);
    }

    // Channel description
    --header-secondary: var(--color-two);
    .topic-11NuQZ a {
        color: var(--color-three);
    }
    .children-3xh0VB::after {
        background: linear-gradient(90deg, transparent, var(--color-one));
    }

    // Icons
    --interactive-normal: var(--color-two);
    --interactive-hover: var(--color-three);
    --interactive-active: var(--color-three);
    --text-normal: var(--color-two);
    --text-muted: var(--color-two);
    --channel-icon: var(--color-two);

    // Strikethrough notification bell
    path[d="M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z"] {
        color: var(--color-three);
    }
    // New pin bubble
    .iconBadge-3Mmg92{
        background: var(--color-three);
    }

    // Search bar
    .searchBar-jGtisZ {
        border-radius: $max;
        background: var(--color-three);
        border: $x-thin solid var(--color-two);
        height: 28px;

        // Shift typed text to left a little
        .DraftEditor-editorContainer {
            padding-left: 3px;
        }

        // Clear search bar icon
        .clear-2KQ7l1.iconLayout-SqV3nb:hover .icon-18rqoe {
            --interactive-hover: var(--color-one);
        }
    }
}