// Search results panel
.searchResultsWrap-5RVOkx {
    background: var(--color-three);
    border: solid var(--color-two);
    border-width: 0 $thin;

    --background-primary: var(--color-three);
    --background-tertiary: var(--color-one);
    --header-primary: var(--color-two);
    --header-secondary: var(--color-two);
    --text-muted: var(--color-one);
    --text-normal: var(--color-two);
    --interactive-muted: var(--color-one);
    --interactive-normal: var(--color-two);
    --interactive-active: var(--color-two);
    --interactive-hover: var(--color-one);

    // Header
    .searchHeader-1r_ZSh {
        background: var(--color-two);
        height: 40px;
        padding-bottom: 0;
        overflow: hidden;
        border-bottom: $thin solid var(--color-three);

        --header-primary: var(--color-three);

        // Result count
        .totalResults-2On644 {
            .text-md-normal-304U3g {
                font-family: var(--font-display);
                font-size: 22px;
                margin-top: -18px;
            }

            .spinnerWrapper-6lH0US {
                margin-top: -10px;
            }
        }

        // Button
        .item-3XjbnG {
            --background-modifier-hover: var(--color-three);
            background: var(--color-one);
            border-radius: 16px 16px 0 0;
            padding: 6px 15px;

            &.selected-g-kMVV {
                background: var(--color-three);
            }
        }
    }

    // Result channel title
    .channelName-3w2Y3c {
        background: transparent;
    }

    // Result box
    .searchResult-O9NDji {
        @import "chat/msgessentials";
    }

    /* Search jump button */
    .button-cfOvv-,
    .button-cfOvv-:hover {
        border-radius: 20px;
        padding: 4px 8px;
        color: var(--color-three);
    }
}