/* Window bar */
.wordmarkWindows-2dq6rw {
    color: var(--color-three);
}
.winButton-3UMjdg {
    color: var(--color-two);
    background: var(--color-three);
    border-left: $thin solid var(--color-one);
}
.winButtonMinMax-3RsPUg:hover,
.winButtonClose-3Q8ZH5:hover{
    color: var(--color-three);
    background: var(--color-one);
}