@use "../top/vars" as *;

.content_a4d4d9 {
    border: solid $cream;
    border-width: $size-s $size-m $size-s 0;
}

.chat_a7d72e {
    overflow: hidden;
    background: $black;
}

// Channel group and member group title
.container_cc72c1 {
    font-style: oblique;
    text-align: center;
    font-size: 20px;
    line-height: 28px;

    &,
    .overflow_c74e70 {
        color: $black;
    }
}

// Rounding based on notice banner presence

// Without banner
.base_a4d4d9 {
    // Sidebar
    .sidebar_a4d4d9,
    .sidebar_a4d4d9.hasNotice_a4d4d9 {
        border-radius: $size-l 0 0 $size-l;
    }

    // Main chat
    .chat_a7d72e,
    .pageWrapper_a3a4ce,
    .sidebar_a4d4d9 + .scroller_a39aa3 {
        border-radius: 0 $size-l $size-l 0;
    }

    // Split chat
    .container_d1c246:not(.floating_d1c246),
    .sidebarContianer_d2194f .profileThemedContainer_d2194f {
        border-radius: $size-l;
    }
}

// With banner
.base_a4d4d9:has(.bd-notice, .notice__5fd4c) {
    .sidebar_a4d4d9,
    .sidebar_a4d4d9.hasNotice_a4d4d9 {
        border-top-left-radius: 0;
    }

    .chat_a7d72e,
    .pageWrapper_a3a4ce,
    .sidebar_a4d4d9 + .scroller_a39aa3 {
        border-top-right-radius: 0;
    }

    .container_d1c246:not(.floating_d1c246),
    .sidebarContianer_d2194f .profileThemedContainer_d2194f {
        border-radius: 0 0 $size-l $size-l;
    }
}
