@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

// Channels & Roles
#{$root} .emptyPage_c6b11b,
#{$root} .scrollerContainer_c6b11b,
#{$root} .container_c2efea,
.scroller_c6b11b {
    background: unset;
}

// Customisation question
.prompt_c6b11b {
    @include card.large;
    overflow: unset;
    border-color: $cream !important;

    // Required answer
    .required_c6b11b {
        color: $red;
        &.error_c6b11b {
            text-decoration-color: $red;
        }
    }

    // Role
    .helpText_c6b11b {
        align-items: baseline;
        div {
            border-radius: $size-max;
            border: $size-xxs solid $cream;
            padding: $size-s;
        }
    }

    // Dropdown
    .select_fb76b2 {
        // Top
        .css-llyypf,
        .css-mb2az-placeholder,
        .css-1c3ogn8-indicatorContainer {
            color: $cream;
        }
        .css-fcsbhh-control {
            @include card.round;
        }
        .css-1t5q03r-control {
            &,
            &:hover {
                @include card.round;
            }
        }

        // Dropdown
        .css-6sv4e8-menu {
            @include card.xlarge;
            background: $black;

            .css-1gl4k7y {
                color: $cream;
            }
        }
    }
}

// Profile preview
.profileCard_c6b11b {
    @include card.xlarge;

    .separator_c6b11b {
        display: none;
    }

    .title_c6b11b {
        margin-top: $size-m;
    }

    .role_c6b11b {
        background: $cream;
        color: $black;

        div {
            color: $black !important;
        }
    }
}

// Browse channels
.search_c2efea {
    @include card.round;
}

// Tip banner
.container_b55df8 {
    @include card.large;

    .image_b55df8 {
        @include filter.sepia;
    }

    .closeButton_b55df8 {
        color: $cream;
    }
}

// Channel
.channelRow_f04d06 {
    @include card.large;

    &:hover:not(.disabled_f04d06) {
        background: unset;
    }

    &:not(.firstChannel_f04d06) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }

    &:not(.lastChannel_f04d06) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
}

.separator_f04d06 {
    display: none;
}
