@use "../top/vars" as *;

// Channel sidebar
.sidebar-1tnWFu {
    --interactive-normal: $cream;
    --interactive-hover: $cream;
    --interactive-active: $cream;
    --interactive-muted: $red;
    --status-danger: $red;
    --channel-icon: $cream;
    --text-normal: $cream;

    // All except self panel
    .container-1NXEtd {
        background: $red;

        // Server banner
        .container-1-ERn5 {
            box-shadow: 0 (-$thin) 0 0 $cream inset;

            .headerContent-2SNbie {
                filter: none;
                --header-primary: $cream;

                // Server status star
                .flowerStar-2tNFCR path {
                    fill: $black;
                }

                .boostedGuildIconGem-u5aHBL,
                .icon-3BYlXK {
                    color: $cream;
                }

                // Server name
                .name-3Uvkvr {
                    font-family: var(--font-display);
                    position: relative;
                    font-style: oblique;
                    bottom: 4px;
                    font-size: 22px;
                    line-height: 32px;
                    color: $black;
                }
            }

            // Public server bubble
            .communityInfoContainer-1dMVpU {
                margin-top: 1px;
                margin-left: -20px;
                --background-accent: $cream;

                .communityInfoPill-2Mll66 {
                    border-radius: 0 $max $max 0;
                    color: $black;
                }
            }
        }

        /* Boost progress bar */
        .progressBarContainer-1efroK {
            border: $x-thin solid $cream;
            border-radius: 8px;

            .progressBar-2yl2pi,
            .container-2giAcK:hover .progressBar-2yl2pi {
                background: linear-gradient(90deg, $red, $cream);
            }
        }

        // Channel list
        $channel-height: 16px;

        @mixin channel() {
            background: $black;
            border: $x-thin solid $cream;
            border-radius: 0 $channel-height $channel-height 0;
            margin-top: 4px;
            border-left: 0;

            .mainContent-20q_Hp,
            .iconItem-1EjiK0 {
                padding: 2px 0;
            }
        }

        // Divider
        .sectionDivider-189lqb,
        .divider-3qUeLQ {
            // width: auto;
            // height: $thin;
            // border-radius: $max;
            // background-color: $cream;
            display: none;
        }

        // New unreads bubble
        .bar-2eAyLE {
            border: $thin solid $black;
            background: $cream;
            color: $black;
            height: 24px - $thin;
            font-size: 16px;
            border-radius: $max;

            .text-2GsXbW {
                margin-top: -4px;
            }
        }

        // Current event info
        .container-2Y4CWj {
            border-bottom: $thin solid $cream;

            .channelNotice-K4UfZY {
                border-bottom: 0;
                --header-primary: $black;
                --header-secondary: $black;

                // Happening now indicator
                --text-positive: $cream;

                .liveIndicator-TJKS7N {
                    background: var(--text-positive);
                }

                // Event Details button
                .joinButton-1HdI2a {
                    border-color: $cream;
                    background: $black;
                }
            }
        }

        // Server home
        .content-2a4AW9 > .wrapper-NhbLHG {
            @include channel;
        }

        // Show all voice channels button
        .voiceChannelsButton-SRmgo8 {
            border: $x-thin solid $cream;
            background: $black;
            border-radius: $max;
        }

        // Channel category
        .container-q97qHp {
            text-transform: none;
            text-align: center;
            --interactive-hover: $black;
        }

        // Channel
        .containerDefault-YUSmu3 {
            @include channel;

            // Selected channel
            &.selected-2TbFuo {
                background: $cream;
                border-color: $black;
                --channel-icon: $black;
                --interactive-normal: $black;
                --interactive-active: $black;
                --interactive-hover: $black;
            }

            // Muted channel
            .modeMuted-2T4MDZ:hover {
                .actionIcon-2sw4Sl {
                    --interactive-normal: $red;
                    --interactive-hover: $red;
                }

                .name-28HaxV {
                    --interactive-hover: $red;
                }
            }

            // Channel info
            .channelInfo-3jN1ay {
                // Forum active/new threads
                & > .text-xs-semibold-3E_l31 {
                    --text-muted: $cream;
                    --text-brand: $cream;
                }

                // VC user limit
                .wrapper-2fEmwW {
                    margin-right: -5px;

                    .users-2JoyGL {
                        --background-primary: $red;
                    }

                    .total-1c5KCN {
                        --background-tertiary: $cream;
                        color: $black;
                    }
                }
            }

            // VC user list
            .list-2x9Cl9 {
                padding-left: 26px;
                padding-bottom: 2px;

                // User
                .draggable-S2aEx4 {
                    height: auto;
                }

                .userSmall-1Raexx {
                    height: auto;

                    // User icon
                    .avatar-3FKimL {
                        margin: 2px 8px 0 0;
                    }

                    // Live in VC bubble
                    .live-1V2D-f {
                        --status-red-500: $red;
                        color: $cream;
                        line-height: 12px;
                    }
                }
            }
        }

        // Active threads
        .container-1Bj0eq {
            border-bottom-right-radius: $channel-height;
            border: solid $cream;
            border-width: 0 $x-thin $x-thin 0;
            overflow: hidden;
            width: 210px;

            // Thread
            .containerDefault-YUSmu3 {
                border: none;
                margin-top: 0;
                border-radius: 0;
            }

            // Spine vertical
            .spineBorder-1-F4s1 {
                z-index: 1;
            }

            // Spine curves
            .spine-29OFwR {
                top: 2px;
            }
        }

        // Unread pip
        .unread-36eUEm {
            $unread-size: 6px;
            height: $unread-size * 2;
            width: $unread-size;
            border-radius: 0 $unread-size $unread-size 0;
            margin-top: -$unread-size;
        }

        // Mention in channel
        .numberBadge-37OJ3S {
            --status-danger: $cream;
            border: 2px solid $cream;
            color: $black;
            padding-left: 2px;
            padding-bottom: 5px;
        }

        // Event "mention"
        .numberBadge-3uSQY0 {
            background: $cream;
        }
    }

    // Self panel
    .container-YkUktl {
        background: $red;
        --interactive-normal: $cream;
        --interactive-hover: $cream;
        --header-primary: $black;
        --header-secondary: $cream;
        --status-danger: $cream;
        border-top: $thin solid $cream;

        // Username
        .title-338goq {
            font-family: var(--font-display);
            margin-top: -10px;
            line-height: 28px;
        }

        // User icon
        .wrapper-1VLyxH {
            border: $x-thin solid $cream;
            background: $black;
        }

        // Stream options
        .button-1EGGcP.buttonColor-3bP3fX,
        .button-1EGGcP .buttonColor-3bP3fX {
            background: $black;
            border-radius: $max;
            border: $x-thin solid $cream;
        }

        // Connection info
        .inner-llGtyq {
            --text-positive: $black;
            --text-warning: $black;
            --text-danger: $black;
            --text-muted: $black;
        }
    }
}
