@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

// Channels & Roles
#{$root} .emptyPage-2TGR7j,
#{$root} .scrollerContainer-y16Rs9,
#{$root} .container-1um7CU,
.scroller-1fIBSS {
    background: unset;
}

// Customisation question
.prompt-1sE27N {
    @include card.large;
    overflow: unset;
    border-color: $cream !important;

    // Required answer
    .required-2b9vjX {
        color: $red;
        &.error-nWpAd- {
            text-decoration-color: $red;
        }
    }

    // Role
    .helpText-2SCsDl {
        align-items: baseline;
        div {
            border-radius: $size-max;
            border: $size-xxs solid $cream;
            padding: $size-s;
        }
    }

    // Dropdown
    .select-1YfRS9 {
        // Top
        .css-llyypf,
        .css-mb2az-placeholder,
        .css-1c3ogn8-indicatorContainer {
            color: $cream;
        }
        .css-fcsbhh-control {
            @include card.round;
        }
        .css-1t5q03r-control {
            &,
            &:hover {
                @include card.round;
            }
        }

        // Dropdown
        .css-6sv4e8-menu {
            @include card.xlarge;
            background: $black;

            .css-1gl4k7y {
                color: $cream;
            }
        }
    }
}

// Profile preview
.profileCard-2gVmvm {
    @include card.xlarge;

    .separator-2prxtM {
        display: none;
    }

    .title-20kNQS {
        margin-top: $size-m;
    }

    .role-3uAPnQ {
        background: $cream;
        color: $black;

        div {
            color: $black !important;
        }
    }
}

// Browse channels
.search-kg4MrS {
    @include card.round;
}

// Tip banner
.container-27tlK1 {
    @include card.large;

    .image-I6enhm {
        @include filter.sepia;
    }

    .closeButton-TVK2OG {
        color: $cream;
    }
}

// Channel
.channelRow-4X_3fi {
    @include card.large;

    &:hover:not(.disabled-3cfocy) {
        background: unset;
    }

    &:not(.firstChannel-3vAGDY) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }

    &:not(.lastChannel-21yyBC) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
}

.separator-3vTHjS {
    display: none;
}
