/* Friends panel */
.theme-dark .container-2cd8Mz {
    background: var(--ieytd-color-1);
}
/* Friends banner */
.searchBar-3TnChZ {
    border-bottom: 3px solid var(--ieytd-color-2);
    height: 45px;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background: var(--ieytd-color-3);
    border: 2px solid var(--ieytd-color-2);
    border-radius: 14px;
}
/* Friends buttons */
.item-3XjbnG[aria-controls="add_friend-tab"] {
    background: var(--ieytd-color-2) !important;
    color: var(--ieytd-color-3) !important;
    border: 2px solid var(--ieytd-color-2);
    padding: 0 8px;
    border-radius: 14px;
}
/* Add friend button in friends tab */
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1,
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
    color: var(--ieytd-color-3);
    background-color: var(--ieytd-color-2);
    border-radius: 20px;
}
.item-3XjbnG {
    line-height: 24px;
}
/* Divider */
.divider-q3P9HC {
    width: 2px;
}
/* New friend request bubble */
.container-2cd8Mz .numberBadge-37OJ3S {
    background: var(--ieytd-color-3) !important;
}
/* Friends list */
.tabBody-2dgbAs {
    border-left: 10px solid var(--ieytd-color-2);
}
/* Friends list search */
.container-2oNtJn {
    background: var(--ieytd-color-3);
    border: 3px solid var(--ieytd-color-2);
    border-radius: 19px;
}
/* Friends list title */
.title-x4dI75 {
    color: var(--ieytd-color-3);
    font-size: 18px;
    line-height: 24px;
    margin: 0px 20px 8px 30px;
}
/* Add friends description */
.description-30xx7u {
    color: var(--ieytd-color-2);
}
/* Add friend name box */
.addFriendInputWrapper-kkoSV9 {
    background: var(--ieytd-color-3);
    border: 3px solid var(--ieytd-color-2);
    border-radius: 27px;
}
.addFriendInputWrapper-kkoSV9 .button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    border-radius: 16px;
    background: var(--ieytd-color-2);
    color: var(--ieytd-color-3);
}
.addFriendInputWrapper-kkoSV9 .button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ:active,
.addFriendInputWrapper-kkoSV9 .button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: var(--ieytd-color-1);
}
/* Empty list wumpus */
.theme-dark .text-27cdrj,
.theme-dark .title-2CL_z0 {
    color: var(--ieytd-color-2);
}
/* Friends in list */
.peopleListItem-u6dGxF,
.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover,
.peopleListItem-u6dGxF.active-2UF8Zh + .peopleListItem-u6dGxF,
.peopleListItem-u6dGxF:hover + .peopleListItem-u6dGxF {
    border: 2px solid var(--ieytd-color-2);
    background: var(--ieytd-color-3);
    margin: 5px 10px 0 20px;
    padding: 16px 10px;
    border-radius: 36px;
}
/* Friend name */
.discordTag-3HiQI9 {
    overflow: visible;
}
.username-Qpc78p {
    color: var(--ieytd-color-2);
    font-family: var(--font-display);
    font-size: 18px;
    overflow: visible;
}
.discriminator-WV5K5s {
    line-height: 10px;
}
/* Friend list buttons */
.actionButton-3-B2x-:active {
    background: var(--ieytd-color-2);
}
.icon-1WVg4I {
    color: var(--ieytd-color-1);
}
.actionButton-3-B2x-:not(.highlight-3DSi7b) .icon-1WVg4I {
    color: var(--ieytd-color-2);
}

/* DM list */
/* New message/friend bubble */
.privateChannels-oVe7HL .numberBadge-37OJ3S {
    background: var(--ieytd-color-1) !important;
}
/* Direct Messages title */
.container-q97qHp {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    color: var(--ieytd-color-3);
}
.privateChannelsHeaderContainer-1UWASm {
    padding: 0;
    padding-top: 12px;
    align-items: baseline;
}
.privateChannelsHeaderContainer-1UWASm:hover {
    color: var(--ieytd-color-3);
}
/* DM channel */
.channel-1Shao0 {
    margin-top: 4px;
    margin-left: 0;
    max-width: 232px;
}
.interactive-iyXY_x,
.interactive-1vLZ_I:focus-within,
.interactive-1vLZ_I:hover,
.interactive-1vLZ_I:active {
    background: var(--ieytd-color-3);
    color: var(--ieytd-color-2);
    border-radius: 0 40px 40px 0;
    border: 3px solid var(--ieytd-color-2);
    border-left: 0;
}
.interactiveSelected-29CP8y,
.interactiveSelected-29CP8y:focus-within,
.interactiveSelected-29CP8y:hover,
.interactiveSelected-29CP8y:active {
    background: var(--ieytd-color-2);
    color: var(--ieytd-color-3);
    border: 3px solid var(--ieytd-color-3);
    border-left: 0;
}

/* List name */
.name-3Vmqxm {
    font-family: var(--font-display);
    font-size: 18px;
    line-height: 30px;
    margin-top: -5px;
}
/* DM name */
.header-1dhDWV {
    color: var(--ieytd-color-2);
    font-size: 48px;
}
/* Buttons */
.chatContent-3KubbW .lookFilled-yCfaCM {
    border-radius: 20px;
    color: var(--ieytd-color-3);
}
.chatContent-3KubbW .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.chatContent-3KubbW .lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background: var(--ieytd-color-1);
    color: var(--ieytd-color-3);
}

/* Now playing / active now list */
.container-1oAagU {
    border-left: 10px solid var(--ieytd-color-2);
}
.scroller-hE2gWq {
    border: 0;
}
/* Title */
.scroller-hE2gWq .base-21yXnu {
    color: var(--ieytd-color-2);
}
/* Activity window */
.itemCard-3Etziu {
    border: 2px solid var(--ieytd-color-2);
    border-radius: 20px;
}
.theme-dark .outer-2JOHae.active-1W_Gl9,
.theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background: var(--ieytd-color-1);
}
/* Name */
.sectionTitle-2AR_TY {
    font-family: var(--font-display);
}
