@use "../top/vars" as *;
@use "../top/card";

// Very outer
.container_b92032 {
    background: unset;
}

// Header
.mainCard__0ec2c {
    @include card.xlarge;

    .titleContainer_e517ed {
        align-items: center;
    }

    .forumPostFormButton_bdd97b,
    .searchIcon__22803,
    .closeIcon_c5e78e,
    .mediaIcon__5d208,
    .slowModeIcon__99064,
    .uploadIcon_dd6e1a,
    .uploadInput_a6cb60:hover .uploadIcon_dd6e1a {
        color: $cream;
    }

    // Post title / search
    .title__20d69 {
        border: 0;
        border-radius: 0;
        margin: 0;
        font-size: 32px;
        line-height: 36px;
        min-height: 36px;
    }

    // Add attachment
    .uploadInput_a6cb60 {
        @include card.large;
    }

    // Post content
    .scrollableContainer_ff917f {
        border-radius: 0;
        border: 0;
        cursor: text;
    }
    .placeholder_dec8c7 {
        color: $cream;
    }

    // Preview
    @at-root .previewForm__6f804 {
        border: $size-xs dashed $cream;
        border-radius: $size-m;
        background: unset;
    }

    // Tags
    .tagsContainer__20c4f .tagsIcon_c07aeb,
    .tagsDivider__0c01e {
        display: none;
    }

    .tagsButton__0cd76 {
        color: $red;
        .tagsButtonInner__4a4a2 {
            color: $red;
        }
    }
}

// Shift enter
.matchingPostsRow__6cdb0 {
    background: unset;
}

// Post guidelines
.container__852f7 {
    @include card.large;

    // Header
    @at-root .headerContainer__61f66 {
        // Book icon
        @at-root .guidelinesHeader__1ca47 svg {
            zoom: 1.6;
        }

        // Close icon
        .clickable_cbf441 {
            color: $cream;
        }
    }

    // Guidelines container
    .descriptionContainer__24e5f {
        background: unset;
    }

    // Links in guidelines
    .guidelines__02381 a {
        color: $red;
    }

    // Show more
    @at-root .showMore__0846c {
        @at-root .gradient__2a8c0 {
            background: linear-gradient(to top, $black, transparent);
        }
        @at-root .linkContainer_f0e24d {
            background: $black;
        }
    }
}

// Sort and view
.sortDropdown__40a16 {
    @include card.round;
    overflow: visible;

    .sortDropdownInner_c71d90 {
        color: $cream;
    }
}

.divider_d1051b {
    width: 0;
    margin-left: 0;
}

// Tags
.pill_f055c3 {
    @include card.round;

    &.clickable_daf171:not(.disabled_fbfabf):hover {
        background: $black;
    }

    #{$root} &.selected__50db4 {
        border-color: $cream;

        &,
        &.clickable_daf171:not(.disabled_fbfabf):hover {
            background: $cream;
        }

        div {
            color: $black;
        }
    }
}

// All tags
.tagsButton__34537 {
    @include card.round;

    .tagsButtonInner_c1ff90 {
        color: $cream;
    }
}

// Selected tags count
:is(.countContainer_a9a63f, .countContainer_a9a63f) {
    background: $cream;
    margin-left: 0;
    :is(.countText__90ea0, .countText__90ea0) {
        color: $black;
    }
}

// Post
.container_de2a56 {
    &:hover {
        transform: none;
        background: unset;
    }

    // Post title
    .lineClamp2Plus_d4306b {
        -webkit-line-clamp: 1 !important;
    }

    // Post author
    .author_ce38b7 a,
    .author_ce38b7.hasUnreads__1827c a {
        color: $cream;
    }

    // Post info
    .messageCountIcon__8c6fd,
    .messageCountText__0393e {
        color: $cream;
    }

    .bullet__4f67e {
        display: none;
    }
}

// Loading post
.loadingCard_ecb256 {
    @include card.xlarge;
    opacity: 0.3;
}

// No posts with tag
.container__50cdd {
    background: unset;

    .stars_c83456 path {
        fill: $cream;
    }

    .icon_fb50ab {
        background: $cream;
        color: $black;
    }

    .cta__3ca11 {
        &,
        &:hover {
            color: $red;
        }
    }
}

// Forum post controls
.container__68e43 {
    background: unset;
    border-top: 0;

    .addReactButton__4342f {
        border: 0;
        background: unset;
        min-width: unset;
        font-size: 0;

        & .icon__0f1ac,
        &:hover .icon__0f1ac {
            color: $cream;
        }
    }

    // Right side buttons
    .buttonInner__865de {
        @include card.round;

        &.active_f1266e {
            background: $cream;
            color: $black;
        }
    }
}

// Channel type
.iconWrapper_a8f659 {
    display: none;
}

// Forum start conversation reminder
.box_dd6d91 {
    display: none;
}

// Forum OP / replies divider
.divider__4df9f {
    display: none;
}
