@use "../top/vars" as *;
@use "../top/card";

// Very outer
.container_b181b6 {
    background: unset;
}

// Header
.mainCard__8a660 {
    @include card.xlarge;

    .titleContainer__01b90 {
        align-items: center;
    }

    .searchIcon_affa6a,
    .closeIcon__55065,
    .mediaIcon_aa9048,
    .slowModeIcon__2aa5a,
    .uploadIcon_fe2ad4,
    .uploadInput_bbab2f:hover .uploadIcon_fe2ad4 {
        color: $cream;
    }

    // Post guidelines
    .guidelinesButton_d7afe7 svg {
        color: $cream;
        zoom: 1.2;
    }

    // Post title / search
    .title__38892 {
        border: 0;
        border-radius: 0;
        margin: 0;
        font-size: 32px;
        line-height: 36px;
        min-height: 36px;
    }

    // Add attachment
    .uploadInput_bbab2f {
        @include card.large;
    }

    // Post content
    .placeholder_e68c63 {
        color: $cream;
    }

    // Tags
    .tagsContainer__11211 .tagsIcon_a86878,
    .tagsDivider_a1443e {
        display: none;
    }

    .tagsButton_d1fec1 {
        color: $red;
        .tagsButtonInner__98938 {
            color: $red;
        }
    }
}

// Shift enter
.matchingPostsRow__510be {
    background: unset;
}

// Post guidelines
.container__1b27a {
    @include card.large;

    .descriptionContainer__3814d {
        background: unset;
    }
}

// Sort and view
.sortDropdown_ec3016 {
    @include card.round;
    overflow: visible;

    .sortDropdownInner__2456c {
        color: $cream;
    }
}

.divider__0a999 {
    width: 0;
    margin-left: 0;
}

// Tags
.pill_f055c3 {
    @include card.round;

    &.clickable__8b375:not(.disabled__70fda):hover {
        background: $black;
    }

    #{$root} &.selected_dc72d1 {
        border-color: $cream;

        &,
        &.clickable__8b375:not(.disabled__70fda):hover {
            background: $cream;
        }

        div {
            color: $black;
        }
    }
}

// All tags
.tagsButton_e96762 {
    @include card.round;

    .tagsButtonInner_a70c04 {
        color: $cream;
    }
}

// Selected tags count
:is(.countContainer__1b48f, .countContainer__1b48f) {
    background: $cream;
    margin-left: 0;
    :is(.countText__6ebee, .countText__6ebee) {
        color: $black;
    }
}

// Post
.container__99b06 {
    &:hover {
        transform: none;
        background: unset;
    }

    // Post title
    .lineClamp2Plus_d4306b {
        -webkit-line-clamp: 1 !important;
    }

    // Post author
    .author_ce38b7 a,
    .author_ce38b7.hasUnreads_bbeda4 a {
        color: $cream;
    }

    // Post info
    .messageCountIcon__73000,
    .messageCountText__13680 {
        color: $cream;
    }

    .bullet__4f67e {
        display: none;
    }
}

// Loading post
.loadingCard_a6aa0a {
    @include card.xlarge;
    opacity: 0.3;
}

// No posts with tag
.container__4abd7 {
    background: unset;

    .stars_c83456 path {
        fill: $cream;
    }

    .icon__8bfe4 {
        background: $cream;
        color: $black;
    }

    .cta__3ca11 {
        &,
        &:hover {
            color: $red;
        }
    }
}

// Forum post controls
.container__8ee50 {
    background: unset;
    border-top: 0;

    .addReactButton__59750 {
        border: 0;
        background: unset;
        min-width: unset;
        font-size: 0;

        & .icon__9ea62,
        &:hover .icon__9ea62 {
            color: $cream;
        }
    }

    // Right side buttons
    .buttonInner__2771e {
        @include card.round;

        &.active_f1266e {
            background: $cream;
            color: $black;
        }
    }
}

// Channel type
.iconWrapper__3e4a9 {
    display: none;
}

// Forum start conversation reminder
.box_dd6d91 {
    display: none;
}

// Forum OP / replies divider
.divider_ffec75 {
    display: none;
}
