@use "../top/vars" as *;
@use "../top/card";

// Very outer
.container_a6d69a {
    background: unset;
}

// Header
.mainCard_a6d69a {
    @include card.xlarge;

    .titleContainer_c1668f {
        align-items: center;
    }

    .forumPostFormButton_c1668f,
    .searchIcon_c1668f,
    .closeIcon_c1668f,
    .mediaIcon__5d208,
    .slowModeIcon_fbe485,
    .uploadIcon_a15d29,
    .uploadInput_a15d29:hover .uploadIcon_a15d29 {
        color: $cream;
    }

    // Post title / search
    .title_c1668f {
        border: 0;
        border-radius: 0;
        margin: 0;
        font-size: 32px;
        line-height: 36px;
        min-height: 36px;
    }

    // Add attachment
    .uploadInput_a15d29 {
        @include card.large;
    }

    // Post content
    .scrollableContainer_d0696b {
        border-radius: 0;
        border: 0;
        cursor: text;
    }
    .placeholder_a552a6 {
        color: $cream;
    }

    // Preview
    @at-root .previewForm_c1668f {
        border: $size-xs dashed $cream;
        border-radius: $size-m;
        background: unset;
    }

    // Tags
    .tagsContainer_c1668f .tagsIcon_c1668f,
    .tagsDivider_c1668f {
        display: none;
    }

    .tagsButton_c1668f {
        color: $red;
        .tagsButtonInner_c1668f {
            color: $red;
        }
    }
}

// Shift enter
.matchingPostsRow_a6d69a {
    background: unset;
}

// Post guidelines
.container_ddbb27 {
    @include card.large;

    // Header
    @at-root .headerContainer_ddbb27 {
        // Book icon
        @at-root .guidelinesHeader_ddbb27 svg {
            zoom: 1.6;
        }

        // Close icon
        .clickable_ddbb27 {
            color: $cream;
        }
    }

    // Guidelines container
    .descriptionContainer_ddbb27 {
        background: unset;
    }

    // Links in guidelines
    .guidelines_ddbb27 a {
        color: $red;
    }

    // Show more
    @at-root .showMore_ddbb27 {
        @at-root .gradient_ddbb27 {
            background: linear-gradient(to top, $black, transparent);
        }
        @at-root .linkContainer_ddbb27 {
            background: $black;
        }
    }
}

// Sort and view
.sortDropdown_a6d69a {
    @include card.round;
    overflow: visible;

    .sortDropdownInner_a6d69a {
        color: $cream;
    }
}

.divider_a6d69a {
    width: 0;
    margin-left: 0;
}

// Tags
.pill_c993da {
    @include card.round;

    &.clickable_c993da:not(.disabled_c993da):hover {
        background: $black;
    }

    #{$root} &.selected_c993da {
        border-color: $cream;

        &,
        &.clickable_c993da:not(.disabled_c993da):hover {
            background: $cream;
        }

        div {
            color: $black;
        }
    }
}

// All tags
.tagsButton_a6d69a {
    @include card.round;

    .tagsButtonInner_a6d69a {
        color: $cream;
    }
}

// Selected tags count
:is(.countContainer_a6d69a, .countContainer_a6d69a) {
    background: $cream;
    margin-left: 0;
    :is(.countText_a6d69a, .countText_a6d69a) {
        color: $black;
    }
}

// Post
.container_d331f1 {
    &:hover {
        transform: none;
        background: unset;
    }

    // Post title
    .lineClamp2Plus_d4306b {
        -webkit-line-clamp: 1 !important;
    }

    // Post author
    .author_c2ac9c a,
    .author_c2ac9c.hasUnreads_c2ac9c a {
        color: $cream;
    }

    // Post info
    .messageCountIcon_d331f1,
    .messageCountText_d331f1 {
        color: $cream;
    }

    .bullet_d331f1 {
        display: none;
    }
}

// Loading post
.loadingCard_a6d69a {
    @include card.xlarge;
    opacity: 0.3;
}

// No posts with tag
.container_a03b48 {
    background: unset;

    .stars_a03b48 path {
        fill: $cream;
    }

    .icon_a03b48 {
        background: $cream;
        color: $black;
    }

    .cta_a03b48 {
        &,
        &:hover {
            color: $red;
        }
    }
}

// Forum post controls
.container_b385c8 {
    background: unset;
    border-top: 0;

    .addReactButton_b385c8 {
        border: 0;
        background: unset;
        min-width: unset;
        font-size: 0;

        & .icon_ec6b19,
        &:hover .icon_ec6b19 {
            color: $cream;
        }
    }

    // Right side buttons
    .buttonInner_b385c8 {
        @include card.round;

        &.active_b385c8 {
            background: $cream;
            color: $black;
        }
    }
}

// Channel type
.iconWrapper_e378b3 {
    display: none;
}

// Forum start conversation reminder
.box_af45f8 {
    display: none;
}

// Forum OP / replies divider
.divider_af45f8 {
    display: none;
}
