@use "../top/vars" as *;

// Channel (and thread) header
.container-ZMc96U.themed-Hp1KC_ {
    background: $red;
    border-bottom: $thin solid $cream;

    // Thread title wrapper
    .children-3xh0VB {
        overflow: visible;
    }

    // Channel name
    .titleWrapper-24Kyzc .title-17SveM {
        position: relative;
        font-style: oblique;
        bottom: 2px;
        overflow: visible;
        color: $black;
        font-size: 1.2em;
    }

    // Channel description
    --header-secondary: $cream;

    .topic-11NuQZ a {
        color: $black;
    }

    .children-3xh0VB::after {
        background: linear-gradient(90deg, transparent, $red);
    }

    // Icons
    --interactive-normal: $cream;
    --interactive-hover: $black;
    --interactive-active: $black;
    --text-normal: $cream;
    --text-muted: $cream;
    --channel-icon: $cream;

    // Strikethrough notification bell
    path[d="M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z"] {
        color: $black;
    }

    // New pin bubble
    .iconBadge-3Mmg92 {
        background: $black;
    }

    // Search bar
    .searchBar-jGtisZ {
        border-radius: $max;
        background: $black;
        border: $x-thin solid $cream;
        height: 28px;

        // Shift typed text to left a little
        .DraftEditor-editorContainer {
            padding-left: 3px;
        }

        // Clear search bar icon
        .clear-2KQ7l1.iconLayout-SqV3nb:hover .icon-18rqoe {
            --interactive-hover: $red;
        }
    }
}
