@use "../top/vars" as *;
@use "../top/filter";

// Channel header
.container__26baa:is(.themed_b152d4, .transparent__8d0a5) {
    background: $red;
    border-bottom: $size-s solid $cream;

    // Thread title wrapper
    .children_cde9af {
        overflow: visible;
        align-items: flex-end;
    }

    // User icon
    .avatar__991e2::before {
        background: $cream;
    }

    // Channel name
    .titleWrapper_d6133e {
        @include filter.shadow;

        .title__84e16 {
            position: relative;
            font-style: oblique;
            bottom: 2px;
            overflow: visible;
            color: $black;
            font-size: 22px;
        }
    }

    // Divider
    .divider_bdb894 {
        display: none;
    }

    // Streamer
    .container__6ae8e {
        align-items: flex-end;
        .playingText__44fce {
            color: $black;
        }
    }

    // Channel description
    .topic__16ae3 {
        color: $black;
        font-size: 16px;
    }

    .children_cde9af::after {
        background: linear-gradient(90deg, transparent, $red);
    }

    // Icons
    .controlIcon__73723,
    .icon_ae0b42 {
        &,
        .selected__1fc53 &,
        .clickable_ce0925 &,
        .clickable_ce0925:hover & {
            color: $cream;
        }

        // Strikethrough for muted channels
        .strikethrough__4cbc4 {
            color: $black;
        }
    }
    .iconBadge__20a6b {
        background: $cream;
    }

    // Search bar
    .searchBar__5a20a {
        color: $cream;
        border-radius: $size-max;
        background: $black;
        border: $size-xs solid $cream;
        height: 28px;

        // Shift typed text to left a little
        .DraftEditor-editorContainer:not(:has(.searchFilter_dbda51)) {
            padding-left: 3px;
        }

        .icon__5c8c7 {
            color: $cream;
        }
    }
}

// Icons
.controlIcon__73723,
.controlIcon__73723.active_ff29dc,
.controlIcon__73723:hover {
    color: $cream;
}
