@use "../top/vars" as *;
@use "../top/filter";

// Channel header
.container__11d72:is(.themed_b152d4, .transparent__7f3e0) {
    background: $red;
    border-bottom: $size-s solid $cream;

    // Thread title wrapper
    .children__32014 {
        overflow: visible;
        align-items: flex-end;
    }

    // User icon
    .avatar__991e2::before {
        background: $cream;
    }

    // Channel name
    .titleWrapper__482dc {
        @include filter.shadow;

        .title__9e2b0 {
            position: relative;
            font-style: oblique;
            bottom: 2px;
            overflow: visible;
            color: $black;
            font-size: 22px;
        }
    }

    // Divider
    .divider_c09b64 {
        display: none;
    }

    // Streamer
    .container__0754a {
        align-items: flex-end;
        .playingText_f2f60c {
            color: $black;
        }
    }

    // Channel description
    .topic__16ae3 {
        color: $black;
        font-size: 16px;
    }

    .children__32014::after {
        background: linear-gradient(90deg, transparent, $red);
    }

    // Icons
    .controlIcon__25700,
    .icon__4cb88 {
        &,
        .selected_be2668 &,
        .clickable_d23a1a &,
        .clickable_d23a1a:hover & {
            color: $cream;
        }

        // Strikethrough for muted channels
        .strikethrough__99649 {
            color: $black;
        }
    }
    .iconBadge_cc5031 {
        background: $cream;
    }

    // Search bar
    .searchBar_e0c60b {
        color: $cream;
        border-radius: $size-max;
        background: $black;
        border: $size-xs solid $cream;
        height: 28px;

        // Shift typed text to left a little
        .DraftEditor-editorContainer:not(:has(.searchFilter__118cb)) {
            padding-left: 3px;
        }

        .icon_f50f05 {
            color: $cream;
        }
    }
}

// Icons
.controlIcon__25700,
.controlIcon__25700.active_ff29dc,
.controlIcon__25700:hover {
    color: $cream;
}
