@forward "./channels";
@forward "./channelsroles";
@forward "./chat";
@forward "./discover";
@forward "./dm";
@forward "./forum";
@forward "./header";
@forward "./members";
@forward "./notice";
@forward "./onboarding";
@forward "./search";
@forward "./serverguide";
@forward "./servers";
@forward "./settings";
@forward "./split";
@forward "./titlebar";
@forward "./voice";

@use "../top/vars" as *;

.content__4bf10 {
    border: solid $cream;
    border-width: $size-s $size-m $size-s 0;
}

.chat__52833 {
    overflow: hidden;
    background: $black;
}

// Channel group and member group title
.container_de798d {
    font-style: oblique;
    text-align: center;
    font-size: 20px;
    line-height: 28px;

    &,
    .overflow__87fe8 {
        color: $black;
    }
}

// Rounding based on notice banner presence

// Without banner
.base__3e6af {
    // Sidebar
    .sidebar_ded4b5,
    .sidebar_ded4b5.hasNotice__1d477 {
        border-radius: $size-l 0 0 $size-l;
    }

    // Main chat
    .chat__52833,
    .pageWrapper_fef757,
    .sidebar_ded4b5 + .scroller_e9501c {
        border-radius: 0 $size-l $size-l 0;
    }

    // Split chat
    .container_def45c:not(.floating_f021e2) {
        border-radius: 0 0 $size-l $size-l;
    }
}

// With banner
.base__3e6af:has(.bd-notice, .notice__5fd4c) {
    .sidebar_ded4b5,
    .sidebar_ded4b5.hasNotice__1d477 {
        border-top-left-radius: 0;
    }

    .chat__52833,
    .pageWrapper_fef757,
    .sidebar_ded4b5 + .scroller_e9501c {
        border-top-right-radius: 0;
    }

    .container_def45c:not(.floating_f021e2) {
        border-radius: 0 0 0 $size-l;
    }
}
