@use "../top/vars" as *;

// Member sidebar
.container_b2ce9c {
    background: $red;
    border-left: $size-m solid $cream;
}

.membersWrap__90226 {
    --interactive-hover: $cream;
    --interactive-active: $cream;

    .members__9f47b {
        background: $red;
    }

    // Member list
    .members__9f47b {
        // Member group
        .membersGroup__85843 {
            text-align: center;
            text-transform: none;
            height: auto;
            padding-top: 24px - 12px;
        }

        // Member
        .container__4f20e {
            background: $black;
            border: $size-xs solid $cream;
            border-radius: $size-max;

            &.clickable__17ccb:hover {
                color: $cream;
            }

            // Shifting contents around
            &:not(.membersGroup__85843 + .member_b44d5d) {
                margin-top: 4px;
            }

            .layout_bb8e67 {
                height: 42px - 8px;
                padding-left: 3px;
            }

            // Username
            .name__16feb {
                font-family: var(--font-display);
                margin: -3px 0 2px 0;
            }

            // Bot tag
            .botTag__4211a {
                border-radius: 8px;
                background: $red;
                color: $black;

                .botText__19848 {
                    display: inline-block;
                    padding-top: 2px;
                }
            }

            // Member with profile open
            &.selected__9800b {
                background: $cream;
                border-color: $black;

                .name__16feb,
                .activity__3cbac {
                    color: $black;
                }

                .botTag__4211a {
                    color: $cream;
                }
            }
        }
    }
}
