@use "../top/vars" as *;

// Member sidebar
.container_cbd271 {
    background: $red;
    border-left: $size-m solid $cream;
}

.membersWrap_cbd271 {
    --interactive-hover: $cream;
    --interactive-active: $cream;

    .members_cbd271 {
        background: $red;
    }

    // Member list
    .members_cbd271 {
        // Member group
        .membersGroup_cbd271 {
            text-align: center;
            text-transform: none;
            height: auto;
            padding-top: 24px - 12px;
        }

        // Member
        .container_e9f61e {
            background: $black;
            border: $size-xs solid $cream;
            border-radius: $size-max;

            &.clickable_e9f61e:hover {
                color: $cream;
            }

            // Shifting contents around
            &:not(.membersGroup_cbd271 + .member_cbd271) {
                margin-top: 4px;
            }

            .layout_e9f61e {
                height: 42px - 8px;
                padding-left: 3px;
            }

            // Username
            .name_e9f61e {
                font-family: var(--font-display);
                margin: -3px 0 2px 0;
            }

            // Bot tag
            .botTag_a02df3 {
                border-radius: 8px;
                background: $red;
                color: $black;

                .botText_a02df3 {
                    display: inline-block;
                    padding-top: 2px;
                }
            }

            // Member with profile open
            &.selected_e9f61e {
                background: $cream;
                border-color: $black;

                .name_e9f61e,
                .activity_a31c43 {
                    color: $black;
                }

                .botTag_a02df3 {
                    color: $cream;
                }
            }
        }
    }
}
