@use "../top/vars" as *;

// Member sidebar
.container_f79ab4 {
    background: $red;
    border-left: $size-m solid $cream;
}

.membersWrap__5ca6b {
    --interactive-hover: $cream;
    --interactive-active: $cream;

    .members__573eb {
        background: $red;
    }

    // Member list
    .members__573eb {
        // Member group
        .membersGroup_cad095 {
            text-align: center;
            text-transform: none;
            height: auto;
            padding-top: 24px - 12px;
        }

        // Member
        .container_a48b21 {
            background: $black;
            border: $size-xs solid $cream;
            border-radius: $size-max;

            &.clickable__03a29:hover {
                color: $cream;
            }

            // Shifting contents around
            &:not(.membersGroup_cad095 + .member_b44d5d) {
                margin-top: 4px;
            }

            .layout_bb8e67 {
                height: 42px - 8px;
                padding-left: 3px;
            }

            // Username
            .name__7afe8 {
                font-family: var(--font-display);
                margin: -3px 0 2px 0;
            }

            // Bot tag
            .botTag__4211a {
                border-radius: 8px;
                background: $red;
                color: $black;

                .botText_daff56 {
                    display: inline-block;
                    padding-top: 2px;
                }
            }

            // Member with profile open
            &.selected__7f4cb {
                background: $cream;
                border-color: $black;

                .name__7afe8,
                .activity_bafb94 {
                    color: $black;
                }

                .botTag__4211a {
                    color: $cream;
                }
            }
        }
    }
}
