@use "../top/vars" as *;
@use "../top/card";

// Members tab
.page_d20375 {
    background: $black !important; // Discord used !important
}

// Table of members
.mainTableContainer_e23072 {
    @include card.xlarge;

    // Header
    @at-root .searchHeaderContainer_b0740c {
        // Sort users
        @at-root .sortButton_b0740c path {
            fill: $cream;
        }
    }

    // Table
    @at-root .table_aabef9 {
        border-top: 0;

        // Column filter icon
        @at-root .filterIcon_e6d0a5 {
            margin-bottom: -6px;
            path {
                fill: $cream;
            }
        }

        // Table row
        @at-root .memberRowContainer_a39fe9 {
            td::after {
                display: none;
            }

            // Invite tag
            @at-root .inviteContainer_cdb562 {
                @include card.round;
            }

            // Roles
            .otherRoles_a39fe9 {
                @include card.round;
                box-sizing: border-box;

                @at-root .addRoleIcon_a39fe9 {
                    color: $cream;
                }
            }

            // Action buttons
            .button_a39fe9 {
                @include card.round;
            }
        }
    }

    // Nav footer
    @at-root .paginationContainer_cb152b {
        border-top: none;

        // Showing x members of y
        @at-root .pageLabel_cb152b strong {
            color: $cream;
        }

        // Navigation
        .pageControlContainer_b48941 {
            border: none;
        }
    }
}

// Member details
.sidebarContianer_d2194f {
    @at-root .userProfileInner_c69a7b {
        border-radius: 0;

        @at-root .innerContainer_d2194f {
            padding: 0;
            color: $cream;

            // Header container
            @at-root .container_d936aa {
                background: unset !important;

                // Make username section a proper header
                @at-root .topRow_d936aa {
                    border-radius: 0;
                    background: $red !important;
                    border-bottom: $size-s solid $cream;
                    padding: 5px 8px 2px;

                    // Shrink contents
                    @at-root .memberNameContainer_d936aa {
                        display: flex;
                        align-items: baseline;

                        // User avatar
                        .wrapper_c51b4e {
                            width: 24px !important;
                            height: 24px !important;

                            .svg_c51b4e {
                                height: calc(24 / 48 * 57px);
                            }
                        }

                        // User name and discrim
                        @at-root .memberName_d936aa .text-lg-medium__72c29,
                            .memberName_d936aa + div,
                            .memberName_d936aa + div .text-md-medium_a84e09 {
                            font-size: 16px;
                            line-height: 2;
                        }
                    }
                }

                @at-root .bottomRowAction_d936aa {
                    background-color: unset !important;
                    color: $cream;

                    path {
                        fill: $cream;
                    }

                    .innerBottomRowAction_d936aa:hover {
                        background-color: unset;
                        color: $cream;
                    }
                }
            }

            // Mod permissions container
            @at-root .container_f51af4 {
                background: unset !important;

                // Mod View
                @at-root .header_f51af4 {
                    background: unset !important;

                    // Icon
                    @at-root .headerTitle_f51af4 svg {
                        zoom: 1.4;
                        margin-bottom: -4px;
                    }
                }

                // Section header
                @at-root .headerContainer_a507b4 {
                    @at-root .viewAllPermissions_a507b4 path {
                        fill: $cream;
                    }
                }

                // Section content
                @at-root .modInfoItemContainer_ce9fb9 {
                    @include card.med;

                    // Section item
                    @at-root .modInfoItem_ce9fb9 {
                        background: unset;

                        &:hover {
                            background: unset;
                            color: $cream;
                        }

                        path {
                            fill: $cream;
                        }

                        // Permission item
                        .permissionChiplet_a507b4 {
                            @include card.round;
                        }
                    }
                }
            }
        }
    }
}
