@use "../top/vars" as *;

// Banners
.notice__5fd4c {
    background: $black;
    color: $cream;
    border-radius: $size-xl $size-xl 0 0;
    margin: $size-s $size-m 0 0;

    .base_c0676e:has(.bd-notice) & {
        border-radius: 0;
    }
}

// Disable stream mode button
.colorStreamerMode_cb7f84 .button__33db6:hover {
    color: $cream;
}

// Close icon
.closeIcon__967e7 path {
    fill: $cream;
}
