@use "../top/vars" as *;

// Banners
.notice__5fd4c {
    background: $black;
    color: $cream;
    border-radius: $size-xl $size-xl 0 0;
    margin: $size-s $size-m 0 0;

    .base__3e6af:has(.bd-notice) & {
        border-radius: 0;
    }
}

// Disable stream mode button
.colorStreamerMode_e927c0 .button__57d93:hover {
    color: $cream;
}

// Close icon
.closeIcon_ae6326 path {
    fill: $cream;
}
