@use "../top/vars" as *;
@use "../top/card";

// Onboarding

.main_d8215a {
    // Background
    .gradient_d8215a {
        background: unset !important;
    }

    // Question window
    .prompt_cd377c {
        @include card.outer;

        // Shader
        .overlay_cd377c {
            display: none;
        }

        // Footer
        .navButtons_cd377c {
            background: $red;

            .helpTextItem_cd377c {
                color: $cream;
            }
        }
    }
}

// Answer
.optionButtonWrapper_bd5e1f {
    @include card.round;

    &:hover,
    &.selected_bd5e1f {
        border-color: $cream;
        background: $black;
    }

    &.pressed_bd5e1f {
        transform: none;
    }

    // Selected answer
    .checkIcon_bd5e1f {
        position: relative;
        top: 0;
        right: 0;
        margin-left: auto;
        min-width: 20px;
        zoom: 1.5;
        background: $cream;

        path {
            fill: $black;
        }
    }

    // Other members in group
    .memberCount_bd5e1f {
        top: $size-m;
        right: 32px;
        background: $cream;

        div {
            color: $black !important;
        }
    }
}

// Rules
.termsFieldBody_cd377c {
    @include card.large;

    .termsRow_cd377c {
        border-bottom: 0;
    }
}
