@use "../top/vars" as *;
@use "../top/card";

// Onboarding

.main_e0b3ac {
    // Background
    .gradient_fd12e1 {
        background: unset !important;
    }

    // Question window
    .prompt__671aa {
        @include card.outer;

        // Shader
        .overlay_a15774 {
            display: none;
        }

        // Footer
        .navButtons__60fcf {
            background: $red;

            .helpTextItem__01722 {
                color: $cream;
            }
        }
    }
}

// Answer
.optionButtonWrapper_c86844 {
    @include card.round;

    &:hover,
    &.selected__31118 {
        border-color: $cream;
        background: $black;
    }

    &.pressed_e85da9 {
        transform: none;
    }

    // Selected answer
    .checkIcon__3c055 {
        position: relative;
        top: 0;
        right: 0;
        margin-left: auto;
        min-width: 20px;
        zoom: 1.5;
        background: $cream;

        path {
            fill: $black;
        }
    }

    // Other members in group
    .memberCount__2f2df {
        top: $size-m;
        right: 32px;
        background: $cream;

        div {
            color: $black !important;
        }
    }
}

// Rules
.termsFieldBody_c56d5f {
    @include card.large;

    .termsRow__4a332 {
        border-bottom: 0;
    }
}
