@use "../top/vars" as *;
@use "../top/card";

// Onboarding

.main__58b77 {
    // Background
    .gradient__582ae {
        background: unset !important;
    }

    // Question window
    .prompt__671aa {
        @include card.outer;

        // Shader
        .overlay_ef4f80 {
            display: none;
        }

        // Footer
        .navButtons__484bf {
            background: $red;

            .helpTextItem__72c86 {
                color: $cream;
            }
        }
    }
}

// Answer
.optionButtonWrapper__4072c {
    @include card.round;

    &:hover,
    &.selected__90dd8 {
        border-color: $cream;
        background: $black;
    }

    &.pressed__03c1e {
        transform: none;
    }

    // Selected answer
    .checkIcon__5aa1f {
        position: relative;
        top: 0;
        right: 0;
        margin-left: auto;
        min-width: 20px;
        zoom: 1.5;
        background: $cream;

        path {
            fill: $black;
        }
    }

    // Other members in group
    .memberCount_b5b6d4 {
        top: $size-m;
        right: 32px;
        background: $cream;

        div {
            color: $black !important;
        }
    }
}

// Rules
.termsFieldBody__96dcb {
    @include card.large;

    .termsRow_f10fb0 {
        border-bottom: 0;
    }
}
