@use "../top/vars" as *;
@use "../top/tabs";

.searchResultsWrap__2e184 {
    border-left: $size-m solid $cream;
    background: $black;

    .scroller__5f036 {
        overflow: hidden scroll !important;
    }
}

// Results header
.searchHeader__4d70e {
    background: $red;
    padding: 0 $size-l;
    height: auto;

    .totalResults__8eee9 div {
        color: $black !important;
    }

    .searchHeaderTabList__75f6b {
        padding-top: $size-m;
    }

    .item__48dda.themed_b957e8 {
        &,
        &:hover:not(.disabled__2717e) {
            @include tabs.tab($ISINVERT: true);
        }

        &.selected_a523ff {
            &,
            &:hover:not(.disabled__2717e) {
                @include tabs.tab;
            }
        }
    }
}

// Channel name
.channelNameContainer__2d85c {
    position: sticky;
    top: $size-xxs;

    .channelNameIcon__05f94,
    .channelNameText__56ed8,
    .parentChannelNameIcon__0abd1 {
        color: $cream;
    }

    svg {
        zoom: 1.5;
    }
}

// Message
.searchResult__00093 {
    background: unset;
}

// Jump
.button_ef08e7 {
    display: none;
}
