@use "../top/vars" as *;
@use "../top/tabs";

.searchResultsWrap__9f374 {
    border-left: $size-m solid $cream;
    background: $black;

    .scroller_c8d5ad {
        overflow: hidden scroll !important;
    }
}

// Results header
.searchHeader__19d87 {
    background: $red;
    padding: 0 $size-l;
    height: auto;

    .totalResults__695d3 div {
        color: $black !important;
    }

    .searchHeaderTabList__78b98 {
        padding-top: $size-m;
    }

    .item__48dda.themed_b957e8 {
        &,
        &:hover:not(.disabled__85bca) {
            @include tabs.tab($ISINVERT: true);
        }

        &.selected__5711d {
            &,
            &:hover:not(.disabled__85bca) {
                @include tabs.tab;
            }
        }
    }
}

// Channel name
.channelNameContainer_e0c26c {
    position: sticky;
    top: $size-xxs;

    .channelNameIcon_dbb458,
    .channelNameText_ae1c38,
    .parentChannelNameIcon_f2b243 {
        color: $cream;
    }

    svg {
        zoom: 1.5;
    }
}

// Message
.searchResult_dcd237 {
    background: unset;
}

// Jump
.button_f8244b {
    display: none;
}
