@use "../top/vars" as *;
@use "../top/tabs";

.searchResultsWrap-5RVOkx {
    border-left: $size-m solid $cream;
    background: $black;

    .scroller-3iiyhZ {
        overflow: hidden scroll !important;
    }
}

// Results header
.searchHeader-1r_ZSh {
    background: $red;
    padding: 0 $size-l;
    height: auto;

    .totalResults-2On644 div {
        color: $black !important;
    }

    .searchHeaderTabList-3CZMQB {
        padding-top: $size-m;
    }

    .item-2GWPIy.themed-qqoYp3 {
        &,
        &:hover:not(.disabled-2G98Nl) {
            @include tabs.tab($ISINVERT: true);
        }

        &.selected-1sf9UK {
            &,
            &:hover:not(.disabled-2G98Nl) {
                @include tabs.tab;
            }
        }
    }
}

// Channel name
.channelNameContainer-4pFmC- {
    position: sticky;
    top: $size-xxs;

    .channelNameIcon-2d0YcP,
    .channelNameText-2q3Lge,
    .parentChannelNameIcon-3ziOpg {
        color: $cream;
    }

    svg {
        zoom: 1.5;
    }
}

// Message
.searchResult-O9NDji {
    background: unset;
}

// Jump
.button-cfOvv- {
    display: none;
}
