@use "../top/vars" as *;

// Search results panel
.searchResultsWrap-5RVOkx {
    background: $black;
    border: solid $cream;
    border-width: 0 $size-s;

    --background-primary: $black;
    --background-tertiary: $red;
    --header-primary: $cream;
    --header-secondary: $cream;
    --text-muted: $red;
    --text-normal: $cream;
    --interactive-muted: $red;
    --interactive-normal: $cream;
    --interactive-active: $cream;
    --interactive-hover: $red;

    // Header
    .searchHeader-1r_ZSh {
        background: $cream;
        height: 40px;
        padding-bottom: 0;
        overflow: hidden;
        border-bottom: $size-s solid $black;

        --header-primary: $black;

        // Result count
        .totalResults-2On644 {
            .text-md-normal-304U3g {
                font-family: var(--font-display);
                font-size: 22px;
                margin-top: -18px;
            }

            .spinnerWrapper-6lH0US {
                margin-top: -10px;
            }
        }

        // Button
        .item-3XjbnG {
            --background-modifier-hover: $black;
            background: $red;
            border-radius: 16px 16px 0 0;
            padding: 6px 15px;

            &.selected-g-kMVV {
                background: $black;
            }
        }
    }

    // Result channel title
    .channelName-3w2Y3c {
        background: transparent;
    }

    // Result box
    .searchResult-O9NDji {
        @import "chat/msgessentials";
    }

    /* Search jump button */
    .button-cfOvv-,
    .button-cfOvv-:hover {
        border-radius: 20px;
        padding: 4px 8px;
        color: $black;
    }
}
