@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

.homeContainer_c36871 {
    width: auto;
    padding-right: 16px;

    // Default banner
    .headerArtPlaceholder__68f10 {
        background: unset;
        @include filter.sepia;
    }

    // Server icon
    .headerIcon_f56272 {
        border-radius: $size-max;
        border-color: $black;
        background: $red;
    }

    // Server name
    .headerName_b10e0f {
        align-items: baseline;

        .inviteButton__5a17a {
            align-self: center;
        }
    }

    // Resource
    .row__4f559 {
        @include card.large;
    }

    // Get started action
    .clickableAction__9e970 {
        &:hover .action__94060 {
            background: $black;
        }

        .checkCircle__5103d {
            color: $cream;
        }
    }
    .action__94060 {
        .rulesIcon__239a2 {
            color: $cream;
            zoom: 2;
        }
    }

    // Server description
    .sidebarCardWrapper__98124 {
        @include card.large;

        .dotOnline__5a389 {
            background: $cream;
        }

        .resourceChannelsList__45019 {
            gap: $size-s;

            .resourceChannel__12be0 {
                @include card.round;
            }

            .resourceImageBase_b39084 {
                border-radius: $size-max;
            }

            .placeholderImage_b2ab1b {
                background: $cream;
                color: $black;
            }
        }
    }
}
