@use "../top/vars" as *;
@use "../top/pip";

// Server sidebar
.guilds__2b93a {
    background: $cream;
    --status-danger: #{$cream};

    // Rounded icons and folders
    .wrapper__9916c foreignObject {
        mask: none;
    }

    .wrapper__8436d,
    .folder__17546,
    .circleIconButton__05cf2 {
        border-radius: $size-max;
        overflow: hidden;
    }

    // Folders
    .folder__17546,
    .expandedFolderBackground_b1385f,
    .expandedFolderBackground_b1385f.collapsed__98ad5,
    .expandedFolderBackground_b1385f.collapsed__98ad5.hover__043de {
        background: $red;
    }

    .expandedFolderIconWrapper__324c1 path {
        stroke: $black;
        stroke-width: $size-xs;
    }

    .expandedFolderBackground_b1385f {
        border-radius: $size-max;
        border: $size-s solid $black;
        left: 12px - $size-s;
        top: -$size-s;
        bottom: 8px - $size-s;
        min-height: 48px;
    }

    // Server not in folder
    .wrapper__9916c:not(.wrapper__832f2 .wrapper__9916c) {
        &,
        .svg__34dd4 {
            width: 48px + 2 * $size-s;
            height: 48px + 2 * $size-s;
        }
    }

    .wrapper__8436d:not(.wrapper__832f2 .wrapper__8436d) {
        border: $size-s solid $black;
        box-sizing: border-box;
    }

    // DM icon
    :is(.wrapper__8436d, .wrapper__8436d.selected_ae80f7, .wrapper__8436d:hover) {
        .childWrapper_a6ce15 {
            background: $red;
            color: $cream;
        }
    }

    // Add server and explore buttons
    .circleIconButton__05cf2,
    .circleIconButton__05cf2.selected_aded59 {
        border: $size-s solid $black;
        background: $red;
        color: $cream;
    }

    // Unread pip
    .item_f9d377 {
        @include pip.pip($COLOR: $black);
        margin-left: 0;

        &[style*="20px"] {
            height: 20px !important;
        }

        &[style*="40px"] {
            height: 40px !important;
        }
    }

    // Reordering servers
    // Background behind dragged icon
    .placeholderMask_ca6625 {
        border-radius: $size-max;

        .dragInner_d5b34c {
            background: $red;
        }
    }

    // Dragged icon target
    .target__2c5c2.dragOver_efabec::before,
    .centerTarget_ec3a01.dragOver_efabec::before {
        background: $red;
        box-shadow: none;
    }

    // Badge
    .lowerBadge_e89e22,
    .upperBadge__00ad0 {
        & > div {
            border: $size-xs solid $black;
            height: 20px;
            min-width: 20px;
            border-radius: $size-max;
            box-sizing: border-box;
        }

        // Mention
        .base__5ed84 {
            background: $cream;
            color: $black;
            padding: 0 0 4px 2px;
            font-size: 16px;

            // Live/event indicator
            .icon__62c73 {
                padding: 3px 2px 0 0;
            }

            // Broadcasts
            &[style*="background-color: var(--background-accent);"] {
                background: $cream !important;
            }
        }

        // Paused invites
        .pauseBackground__69277 {
            border: $size-xs solid $black;
            background: $cream;

            .pause_ec5e63 path {
                fill: $black;
            }
        }
    }

    // New unreads bubble
    :is(.unreadMentionsIndicatorBottom__9351c, .unreadMentionsIndicatorTop__153ad) {
        padding: 2px;

        .unreadMentionsBar__8cd45 {
            border: $size-s solid $black;
            box-sizing: border-box;

            .text__50a62 {
                color: $black;
                font-size: 16px;
                margin: 0 0 6px 2px;
            }
        }
    }
}
