@use "../top/vars" as *;
@use "../top/pip";

// Server sidebar
.guilds_a4d4d9 {
    background: $cream;
    --status-danger: #{$cream};

    // Rounded icons and folders
    .wrapper_c5f96a foreignObject {
        mask: none;
    }

    .wrapper_f90abb,
    .folder_bc7085,
    .circleIconButton_db6521,
    .icon_f90abb {
        border-radius: $size-max;
        overflow: hidden;
    }

    // Folders
    .folder_bc7085,
    .expandedFolderBackground_bc7085,
    .expandedFolderBackground_bc7085.collapsed_bc7085,
    .expandedFolderBackground_bc7085.collapsed_bc7085.hover_bc7085 {
        background: $red;
    }

    .expandedFolderIconWrapper_bc7085 path {
        stroke: $black;
        stroke-width: $size-xs;
    }

    .expandedFolderBackground_bc7085 {
        border-radius: $size-max;
        border: $size-s solid $black;
        left: 12px - $size-s;
        top: -$size-s;
        bottom: 8px - $size-s;
        min-height: 48px;
    }

    // Server not in folder
    .wrapper_c5f96a:not(.wrapper_bc7085 .wrapper_c5f96a) {
        &,
        .svg_c5f96a {
            width: 48px + 2 * $size-s;
            height: 48px + 2 * $size-s;
        }
    }

    .wrapper_f90abb:not(.wrapper_bc7085 .wrapper_f90abb) {
        border: $size-s solid $black;
        box-sizing: border-box;
    }

    // DM icon
    :is(.wrapper_f90abb, .wrapper_f90abb.selected_ae80f7, .wrapper_f90abb:hover) {
        .childWrapper_f90abb {
            background: $red;
            color: $cream;
        }
    }

    // Add server and explore buttons
    .circleIconButton_db6521,
    .circleIconButton_db6521.selected_db6521 {
        border: $size-s solid $black;
        background: $red;
        color: $cream;
    }

    // Unread pip
    .item_fd07a3 {
        @include pip.pip($COLOR: $black);
        margin-left: 0;

        &[style*="20px"] {
            height: 20px !important;
        }

        &[style*="40px"] {
            height: 40px !important;
        }
    }

    // Reordering servers
    // Background behind dragged icon
    .placeholderMask_f734d8 {
        border-radius: $size-max;

        .dragInner_f734d8 {
            background: $red;
        }
    }

    // Dragged icon target
    .target_b7c66a.dragOver_b7c66a::before,
    .centerTarget_b7c66a.dragOver_b7c66a::before {
        background: $red;
        box-shadow: none;
    }

    // Badge
    .lowerBadge_c5f96a,
    .upperBadge_c5f96a {
        & > div {
            border: $size-xs solid $black;
            height: 20px;
            min-width: 20px;
            border-radius: $size-max;
            box-sizing: border-box;
        }

        // Mention
        .base__5ed84 {
            background: $cream;
            color: $black;
            padding: 0 0 4px 2px;
            font-size: 16px;

            // Live/event indicator
            .icon__62c73 {
                padding: 3px 2px 0 0;
            }

            // Broadcasts
            &[style*="background-color: var(--background-accent);"] {
                background: $cream !important;
            }
        }

        // Paused invites
        .pauseBackground_fdcfe0 {
            border: $size-xs solid $black;
            background: $cream;

            .pause_fdcfe0 path {
                fill: $black;
            }
        }
    }

    // New unreads bubble
    :is(.unreadMentionsIndicatorBottom_fea3ef, .unreadMentionsIndicatorTop_fea3ef) {
        padding: 2px;

        .unreadMentionsBar_fea3ef {
            border: $size-s solid $black;
            box-sizing: border-box;

            .text_c10249 {
                color: $black;
                font-size: 16px;
                margin: 0 0 6px 2px;
            }
        }
    }
}
