@use "../top/vars" as *;

// Threads (inc. forum posts and vc text chat)

// Chat split bar
.resizeHandle-PBRzPC {
    background: $cream;
    width: $size-m;
}

// Main chat and thread
.container-3XgAHv,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    border-radius: 0;
}

// Thread in floating view
.floating-3M3WeH {
    filter: none;
    border-left: 0;

    .container-ZMc96U {
        border-left: $size-m solid $cream;
    }
}

// Thread title handled by components/channel-header

// Thread type icon
.iconWrapper-3FqQ75 {
    background: $red;
}

// Forum post controls
.container-3YcgdM {
    background: transparent;
    border-top: 0;
    --interactive-normal: $red;
    --interactive-hover: $red;
    --interactive-active: $red;

    // Buttons
    .reaction-102jx9,
    .addReactButton-3bSQb6,
    .buttonInner-3aRbcx {
        background: transparent;
        border: $size-xs solid $red;
        border-radius: $size-max;
    }

    // Reaction
    .reaction-102jx9 {
        margin-bottom: 0;
    }

    // Reaction added
    .reactionMe-2zhiyZ {
        border-color: $cream;
        margin-bottom: 4px;

        .reactionCount-SWXh9W {
            color: $cream;
        }
    }

    // Followed post
    .active-OdlCV-,
    .active-OdlCV-:hover {
        border-color: $cream;
        color: $cream;
    }
}

// Main post / replies divider
.divider-AZrXIA {
    background: transparent;
}

// Forum start the convo reminder
.box-2iMsQm {
    display: none;
}
