@use "../top/vars" as *;
@use "../top/card";

// Channel in split / floating view

// Split bar
.resizeHandle_cc9d34 {
    background: $cream;
    width: $size-m;
}

// Split view
.container__694a1 {
    background: $black;

    .iconWrapper__8795c {
        display: none;
    }
}

// Floating view
.floating__8f631 {
    @include card.outer;
    inset: $size-l 0 $size-l auto;
    filter: none;
    border-radius: $size-xl 0 0 $size-xl;
    border-right: 0;
}
