@use "../top/vars" as *;
@use "../top/card";

// Channel in split / floating view

// Split bar
:is(.resizeHandle-PBRzPC, .resizeHandle-2F4Beb) {
    background: $cream;
    width: $size-m;
}

// Split view
:is(.container-3XgAHv, .container-3s2w-i) {
    background: $black;

    .iconWrapper-3plkqh {
        display: none;
    }
}

// Floating view
:is(.floating-3M3WeH, .floating-1T0kDs) {
    @include card.outer;
    inset: $size-l 0 $size-l auto;
    filter: none;
    border-radius: $size-xl 0 0 $size-xl;
    border-right: 0;
}
