@use "../top/vars" as *;

// Threads (inc. forum posts and vc text chat)

// Chat split bar
.resizeHandle-PBRzPC {
    background: var(--ieytd-color-2);
    width: 10px;
}

// Main chat and thread
.container-3XgAHv,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    border-radius: 0;
}

// Thread in floating view
.floating-3M3WeH {
    filter: none;
    border-left: 0;

    .container-ZMc96U {
        border-left: 10px solid var(--ieytd-color-2);
    }
}

// Thread title handled by components/channel-header

// Thread type icon
.iconWrapper-3FqQ75 {
    background: var(--ieytd-color-1);
}

// Forum post controls
.container-3YcgdM {
    background: transparent;
    border-top: 0;
    --interactive-normal: var(--ieytd-color-1);
    --interactive-hover: var(--ieytd-color-1);
    --interactive-active: var(--ieytd-color-1);

    // Buttons
    .reaction-102jx9,
    .addReactButton-3bSQb6,
    .buttonInner-3aRbcx {
        background: transparent;
        border: $x-thin solid var(--ieytd-color-1);
        border-radius: $max;
    }

    // Reaction
    .reaction-102jx9 {
        margin-bottom: 0;
    }

    // Reaction added
    .reactionMe-2zhiyZ {
        border-color: var(--ieytd-color-2);
        margin-bottom: 4px;

        .reactionCount-SWXh9W {
            color: var(--ieytd-color-2);
        }
    }

    // Followed post
    .active-OdlCV-,
    .active-OdlCV-:hover {
        border-color: var(--ieytd-color-2);
        color: var(--ieytd-color-2);
    }
}

// Main post / replies divider
.divider-AZrXIA {
    background: transparent;
}

// Forum start the convo reminder
.box-2iMsQm {
    display: none;
}
