@use "../top/vars" as *;

// Windows bar
.wordmarkWindows_ffbc5e {
    color: $black;
}

.winButton_f17fb6 {
    color: $cream;
    background: $black;
    border-left: $size-s solid $red;
}

.winButtonMinMax_caf9c8:hover,
.winButtonClose__6396d:hover {
    color: $black;
    background: $red;
}
