@use "../top/vars" as *;

/* Window bar */
.wordmarkWindows-2dq6rw {
    color: var(--ieytd-color-3);
}

.winButton-3UMjdg {
    color: var(--ieytd-color-2);
    background: var(--ieytd-color-3);
    border-left: $thin solid var(--ieytd-color-1);
}

.winButtonMinMax-3RsPUg:hover,
.winButtonClose-3Q8ZH5:hover {
    color: var(--ieytd-color-3);
    background: var(--ieytd-color-1);
}
