@use "../top/vars" as *;

// Windows bar
.wordmarkWindows__05c46 {
    color: $black;
}

.winButton__88672 {
    color: $cream;
    background: $black;
    border-left: $size-s solid $red;
}

.winButtonMinMax__72f36:hover,
.winButtonClose__73489:hover {
    color: $black;
    background: $red;
}
