@use "../top/vars" as *;
@use "../top/card";
@use "../top/button";
@use "../top/grabber";

// Voice chat
.root__3eef0 {
    border-left: $size-m solid $cream;
    color: $cream;

    // Evenly spaced tiles
    .listItems__49027 {
        left: 0 !important;

        .row_fd7b05 {
            gap: $size-s;
            margin-bottom: $size-s;
        }

        .tile_e7f911 {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

// Overall container
.wrapper__6bf2d.chatSidebarOpen_f2e544 .callContainer__1477d {
    border-radius: 0;
}

// Tile
.tile_a411a4 {
    @include card.large;

    // Large tile
    &.noBorder__9016a {
        border: 0;
    }

    // Disconnected
    .header__43611,
    .description_cd2eef {
        color: $cream;
    }

    // Username
    .overlayTitle_de9b41,
    .status__42e87 {
        @include card.round;
        border: 0;
    }

    // Video icon
    .selectedIcon__9e012 {
        color: $cream;
    }

    // Stream, video
    .streamPreview__3a6b0,
    .videoWrapper__3ffda,
    .emptyPreview_d9a076 {
        background: unset;
    }
}

// Participant list toggle
.participantsButton__11fa3 {
    @include card.round;

    &:hover {
        background: $black;
    }

    .iconContainer__9a2de > svg {
        color: $cream;
    }
}

// Voice chat controls
.bottomControls__72d8d {
    // Centre buttons
    .colorable__4f530 {
        &.primaryDark_ec74a7 {
            @include button.control($black, $cream);
        }
        &.white_ce1c7b {
            @include button.control($cream, $black);
        }
        &.red__45e65 {
            @include button.control($black, $red);
        }
    }

    .leftDivider__622f7 {
        display: none;
    }

    .slash_c0ba36 {
        color: $red;
    }
}
