@use "../top/vars" as *;
@use "../top/card";
@use "../top/button";
@use "../top/grabber";

// Voice chat
.root_dd069c {
    border-left: $size-m solid $cream;
    color: $cream;

    // Evenly spaced tiles
    .listItems_dcade6 {
        left: 0 !important;

        .row_d8e960 {
            gap: $size-s;
            margin-bottom: $size-s;
        }

        .tile_d8e960 {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

// Overall container
.wrapper_d880dc.chatSidebarOpen_d880dc .callContainer_d880dc {
    border-radius: 0;
}

// Tile
.tile_dc5fc4 {
    @include card.large;

    // Large tile
    &.noBorder_dc5fc4 {
        border: 0;
    }

    // Disconnected
    .header_e5cc00,
    .description_e5cc00 {
        color: $cream;
    }

    // Username
    .overlayTitle_ba4b17,
    .status_ba4b17 {
        @include card.round;
        border: 0;
    }

    // Video icon
    .selectedIcon_ba4b17 {
        color: $cream;
    }

    // Stream, video
    .streamPreview_ba4b17,
    .videoWrapper_ba4b17,
    .emptyPreview_eb1d8c {
        background: unset;
    }
}

// Participant list toggle
.participantsButton_b83b18 {
    @include card.round;

    &:hover {
        background: $black;
    }

    .iconContainer_b83b18 > svg {
        color: $cream;
    }
}

// Voice chat controls
.bottomControls_dd069c {
    // Centre buttons
    .colorable_ef18ee {
        &.primaryDark_ef18ee {
            @include button.control($black, $cream);
        }
        &.white_ef18ee {
            @include button.control($cream, $black);
        }
        &.red_ef18ee {
            @include button.control($black, $red);
        }
    }

    .leftDivider_d8c748 {
        display: none;
    }

    .slash_c0ba36 {
        color: $red;
    }
}
