@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Featured servers
#{$root} {
    // Main panel
    .pageWrapper_a3a4ce {
        background: $black;
        color: $cream;
        border-left: $size-m solid $cream;
    }

    // Splash and search
    .searchHeader_a3a4ce {
        @include card.xlarge;

        .headerImage_a3a4ce {
            @include filter.sepia;
        }

        .searchBoxInputWrapper_c93aab {
            padding-left: $size-m;
        }

        .searchSubtitle_a3a4ce,
        .searchTitle_a3a4ce {
            color: $black;
        }
    }

    // Server
    .card_eb1ca6 {
        @include card.large;

        &,
        &:hover,
        &:focus {
            background: $black;
            transform: none;

            .iconMask_eb1ca6 {
                background: $black;
            }

            .splash_eb1ca6 {
                transform: none;
            }
        }

        // Icon
        .guildIcon_eb1ca6 {
            border-radius: $size-max;
            overflow: hidden;

            foreignObject {
                mask: none;
            }

            .svg_d48241 {
                border-radius: $size-max;
            }
        }

        // More actions
        .actionButtons_eb1ca6 {
            top: 145px;
            right: $size-s;
        }

        // Name
        .title_eb1ca6 {
            align-items: baseline;
            overflow: visible;

            .guildName_eb1ca6 {
                overflow: visible;
            }
        }

        // Dot
        .dotOnline_eb1ca6 {
            background: $cream;
        }
        .dotOffline_eb1ca6 {
            &::before {
                @include status.dot;
                margin: 2px;
            }
        }
    }

    // Footer
    .footerImage_a3a4ce {
        @include filter.sepia;
    }
}
