@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Featured servers
#{$root} {
    // Main panel
    .pageWrapper_c182d3 {
        background: $black;
        color: $cream;
        border-left: $size-m solid $cream;
    }

    // Splash and search
    .searchHeader__2707c {
        @include card.xlarge;

        .headerImage_bc3304 {
            @include filter.sepia;
        }

        .searchBoxInputWrapper_c93aab {
            padding-left: $size-m;
        }

        .searchSubtitle__94796,
        .searchTitle__533c3 {
            color: $black;
        }
    }

    // Server
    .card__86773 {
        @include card.large;

        &,
        &:hover,
        &:focus {
            background: $black;
            transform: none;

            .iconMask__4092e {
                background: $black;
            }

            .splash_c32fae {
                transform: none;
            }
        }

        // Icon
        .guildIcon__66641 {
            border-radius: $size-max;
            overflow: hidden;

            foreignObject {
                mask: none;
            }

            .svg_bb7847 {
                border-radius: $size-max;
            }
        }

        // More actions
        .actionButtons_dc4206 {
            top: 145px;
            right: $size-s;
        }

        // Name
        .title_cb8320 {
            align-items: baseline;
            overflow: visible;

            .guildName_c7c59e {
                overflow: visible;
            }
        }

        // Dot
        .dotOnline__9c3e9 {
            background: $cream;
        }
        .dotOffline__6325d {
            &::before {
                @include status.dot;
                margin: 2px;
            }
        }
    }

    // Footer
    .footerImage__2c3fd {
        @include filter.sepia;
    }
}
