@forward "./featured";
@forward "./search";
@forward "./studenthub";
@forward "./studenthubs";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Explore discoverable servers#

// Sidebar
.sidebar_ded4b5 {
    .discoverHeader_fae7fd {
        color: $black;
    }

    // Category
    .categoryItem_b1be5c {
        margin-left: 0;
        background: $black;
        border-radius: 0 $size-max $size-max 0;
        border: $size-xs solid $cream;
        border-left: 0;
        margin-top: 4px;

        .wrappedLayout_fd7073 {
            padding: 0 $size-m;
        }

        &,
        &:hover {
            color: $cream;
        }

        &.selectedCategoryItem__0bf4c {
            background: $cream;
            border-color: $black;
            color: $black;

            .itemInner__9e755 {
                background: unset;
            }
        }
    }

    // New tag
    .new__5e6ab {
        background: currentColor;

        .newText__604d6 {
            color: $black;
        }
    }
}

// More actions
.wrapper_c727b6 {
    background: unset;
}
