@forward "./featured";
@forward "./search";
@forward "./studenthub";
@forward "./studenthubs";

@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Explore discoverable servers#

// Sidebar
.sidebar_a4d4d9 {
    .discoverHeader_b992d4 {
        color: $black;
    }

    // Category
    .categoryItem_c72b37 {
        margin-left: 0;
        background: $black;
        border-radius: 0 $size-max $size-max 0;
        border: $size-xs solid $cream;
        border-left: 0;
        margin-top: 4px;

        .wrappedLayout_e9f61e {
            padding: 0 $size-m;
        }

        &,
        &:hover {
            color: $cream;
        }

        &.selectedCategoryItem_c72b37 {
            background: $cream;
            border-color: $black;
            color: $black;

            .itemInner_c72b37 {
                background: unset;
            }
        }
    }

    // New tag
    .new__689fa {
        background: currentColor;

        .newText__57553 {
            color: $black;
        }
    }
}

// More actions
.wrapper_ef319f {
    background: unset;
}
