@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";
@use "../../top/tabs";

// Search results
.viewWrapper_d8b39a {
    width: fit-content;
}

// Header
.searchHeader_d44e8b {
    align-items: baseline;

    strong,
    .arrow__3dfcd {
        color: $cream;
    }
}

// Searchbar
#{$root} {
    .searchBox_a63854 {
        @include card.round;

        &,
        &:focus,
        &:focus-within {
            box-shadow: none;
            border-color: $cream;
        }

        .searchBoxInput__73c9c,
        .closeIcon__3dfb5,
        .searchIcon_e60ea8,
        .closeIcon__3dfb5:hover,
        .clearIcon__91449 {
            color: $cream;
        }
    }
}

// Categories
.categories_e49c23 {
    @include tabs.bar;
    margin-bottom: 0;

    .categoryPill_c95cea {
        @include tabs.tab;

        .categoryLabel__44b10 {
            color: inherit;
        }

        &.selected__24846 {
            @include tabs.tab($ISINVERT: true);
        }

        &:hover:not(.selected__24846) {
            background: $black;
        }
    }
}

// Results
:is(.results__9b201, .guildList__454fa) {
    max-width: 848px;
    margin: $size-m $size-l;

    .separator_f527c9 {
        display: none;
    }
}

// Result
.card__33bd0 {
    @include card.large;

    .splashContainer__5cb35,
    .content_f124d7 {
        height: 135px + ($size-m * 2);
    }

    // Banner
    .splashContainer__5cb35 {
        border-radius: 0;

        .splashImage__3a90b {
            transform: none;
        }
    }

    // Info
    .content_f124d7 {
        padding: $size-m 0;
        box-sizing: border-box;

        .svg__7900e {
            width: 40px;
            height: 40px;
        }

        foreignObject {
            mask: none;
        }

        // Icon
        .avatar_c551f0 {
            border-radius: $size-max;
            border: $size-xs solid $cream;
            box-sizing: border-box;
        }

        // Name
        .headerName__3905d {
            align-items: baseline;
        }

        .dotSeparator__44bc0 {
            background: $cream;
        }
    }
}

// Loading result
.placeholder__278ac {
    @include card.large;
}

// Navbar
.pageControlContainer_b111b0 {
    @include card.round;
    position: sticky;
    width: auto;
    bottom: -$size-l;

    .pageButton_bcd673 {
        &,
        &:hover {
            color: inherit;
            background: inherit;
        }
    }

    .activeButton__7a550 {
        &,
        &:hover {
            color: $black;
            background: $cream;
        }
    }
}
