@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";
@use "../../top/tabs";

// Search results
.viewWrapper_a3a4ce {
    width: fit-content;
}

// Header
.searchHeader_e37a20 {
    align-items: baseline;

    strong,
    .arrow_e37a20 {
        color: $cream;
    }
}

// Searchbar
#{$root} {
    .searchBox__56feb {
        @include card.round;

        &,
        &:focus,
        &:focus-within {
            box-shadow: none;
            border-color: $cream;
        }

        .searchBoxInput__56498,
        .closeIcon_f69601,
        .searchIcon_d1a3c1,
        .closeIcon_f69601:hover,
        .clearIcon__21453 {
            color: $cream;
        }
    }
}

// Categories
.categories_f69601 {
    @include tabs.bar;
    margin-bottom: 0;

    .categoryPill_f69601 {
        @include tabs.tab;

        .categoryLabel_f69601 {
            color: inherit;
        }

        &.selected_f69601 {
            @include tabs.tab($ISINVERT: true);
        }

        &:hover:not(.selected_f69601) {
            background: $black;
        }
    }
}

// Results
:is(.results_e37a20, .guildList_a3a4ce) {
    max-width: 848px;
    margin: $size-m $size-l;

    .separator_e825f6 {
        display: none;
    }
}

// Result
.card_e825f6 {
    @include card.large;

    .splashContainer_e825f6,
    .content_e825f6 {
        height: 135px + ($size-m * 2);
    }

    // Banner
    .splashContainer_e825f6 {
        border-radius: 0;

        .splashImage_e825f6 {
            transform: none;
        }
    }

    // Info
    .content_e825f6 {
        padding: $size-m 0;
        box-sizing: border-box;

        .svg_d48241 {
            width: 40px;
            height: 40px;
        }

        foreignObject {
            mask: none;
        }

        // Icon
        .avatar_e825f6 {
            border-radius: $size-max;
            border: $size-xs solid $cream;
            box-sizing: border-box;
        }

        // Name
        .headerName_e825f6 {
            align-items: baseline;
        }

        .dotSeparator_e825f6 {
            background: $cream;
        }
    }
}

// Loading result
.placeholder_e825f6 {
    @include card.large;
}

// Navbar
.pageControlContainer_b48941 {
    @include card.round;
    position: sticky;
    width: auto;
    bottom: -$size-l;

    .pageButton_b48941 {
        &,
        &:hover {
            color: inherit;
            background: inherit;
        }
    }

    .activeButton_b48941 {
        &,
        &:hover {
            color: $black;
            background: $cream;
        }
    }
}
