@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Student hub for one institution
.pageContainer_a9a262 {
    background: $black;
}

.header_d33b18 {
    @include card.xlarge;

    .headerImage_d33b18 {
        @include filter.sepia;
    }

    .defaultColor__77578 {
        color: $black;
    }

    .searchBox_d33b18 .searchBoxInput_d33b18 {
        color: $cream;
    }
}

// Servers
.cardsContainer_a9a262 {
    padding: $size-m 0;
}

.icon_f11207 {
    border-radius: $size-max;
}

// Server
.card_f18d6c {
    @include card.large;

    .splash_f18d6c {
        background: $cream;
    }

    foreignObject {
        mask: 0;
    }

    .iconMask_f18d6c {
        background: $black;
        border-radius: $size-max;
    }

    .statusDot_f18d6c {
        background: $cream;

        &.dotOffline_f18d6c {
            &::before {
                @include status.dot;
                margin: 2px;
            }
        }
    }
}

// Add server
.addEntryCard_d9422a img {
    @include filter.sepia;
}

// Sidebar
.sidebar_a4d4d9 {
    .container_e9f61e {
        border: $size-xs solid $cream;
        border-radius: 0 $size-max $size-max 0;
        border-left: 0;
        margin-left: 0;
        margin-top: 4px;

        &,
        &:hover {
            background: $black;
            color: $cream;
        }

        &.selected_e9f61e {
            background: $cream;
            border-color: $black;
            color: $black;
        }

        .icon_ec85ca {
            color: inherit;
        }
    }
}

// Search results
.headerTitleWrapper_ce978e {
    align-items: baseline;

    .arrow_ce978e,
    .searchPageTitle_ce978e strong {
        color: $cream;
    }
}
