@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Student hubs
.sidebar_e031be + .scroller__32e73 {
    background: $black;
    border-left: $size-m solid $cream;
}

// Header
.headerContainer_bfb753 {
    @include card.xlarge;

    .headerDescription__8eeea,
    .headerText_e06981 {
        color: $black;
    }

    .headerImage__9a34a {
        margin-bottom: 0;
        @include filter.sepia;
    }
}

// Server
.container_c83a4f {
    @include card.large;

    .iconContainer__6b1cc {
        background: $cream;
        .icon__388ab {
            background: svg.$hub;
        }
    }

    .addButton__8962d {
        color: $cream;
    }
}

.divider__6c6c1 {
    display: none;
}
