@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Student hubs
.sidebar_a4d4d9 + .scroller_a39aa3 {
    background: $black;
    border-left: $size-m solid $cream;
}

// Header
.headerContainer_a39aa3 {
    @include card.xlarge;

    .headerDescription_a39aa3,
    .headerText_a39aa3 {
        color: $black;
    }

    .headerImage_a39aa3 {
        margin-bottom: 0;
        @include filter.sepia;
    }
}

// Server
.container_f11cbf {
    @include card.large;

    .iconContainer_f11cbf {
        background: $cream;
        .icon__388ab {
            background: svg.$hub;
        }
    }

    .addButton_f11cbf {
        color: $cream;
    }
}

.divider_a39aa3 {
    display: none;
}
