@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Student hubs
.sidebar_ded4b5 + .scroller_e9501c {
    background: $black;
    border-left: $size-m solid $cream;
}

// Header
.headerContainer_e815c8 {
    @include card.xlarge;

    .headerDescription_f4733e,
    .headerText__4cd6e {
        color: $black;
    }

    .headerImage_d4505b {
        margin-bottom: 0;
        @include filter.sepia;
    }
}

// Server
.container__8877d {
    @include card.large;

    .iconContainer__004ce {
        background: $cream;
        .icon__388ab {
            background: svg.$hub;
        }
    }

    .addButton__7e2ae {
        color: $cream;
    }
}

.divider__7f9aa {
    display: none;
}
