@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Student hub for one institution
.pageContainer__853b6 {
    background: $black;
}

.header_b35652 {
    @include card.xlarge;

    .headerImage__36f10 {
        @include filter.sepia;
    }

    .defaultColor__77578 {
        color: $black;
    }

    .searchBox_f2dfb6 .searchBoxInput__23323 {
        color: $cream;
    }
}

// Servers
.cardsContainer_cddbb9 {
    padding: $size-m 0;
}

.icon__94164 {
    border-radius: $size-max;
}

// Server
.card__73022 {
    @include card.large;

    .splash__42283 {
        background: $cream;
    }

    foreignObject {
        mask: 0;
    }

    .iconMask_da0856 {
        background: $black;
        border-radius: $size-max;
    }

    .statusDot__556cd {
        background: $cream;

        &.dotOffline_c65f49 {
            &::before {
                @include status.dot;
                margin: 2px;
            }
        }
    }
}

// Add server
.addEntryCard_d9422a img {
    @include filter.sepia;
}

// Sidebar
.sidebar_e031be {
    .container_a48b21 {
        border: $size-xs solid $cream;
        border-radius: 0 $size-max $size-max 0;
        border-left: 0;
        margin-left: 0;
        margin-top: 4px;

        &,
        &:hover {
            background: $black;
            color: $cream;
        }

        &.selected__7f4cb {
            background: $cream;
            border-color: $black;
            color: $black;
        }

        .icon_ec85ca {
            color: inherit;
        }
    }
}

// Search results
.headerTitleWrapper_ccc9fa {
    align-items: baseline;

    .arrow_b1133f,
    .searchPageTitle__8f38d strong {
        color: $cream;
    }
}
