@use "../../top/vars" as *;
@use "../../top/filter";

// Server banner
.container__7c79d {
    .headerContent_ee8727 {
        color: $cream;
        @include filter.shadow;

        // Server name
        .name_c08dbc {
            font-family: var(--font-display);
            position: relative;
            font-style: oblique;
            bottom: 4px;
            font-size: 22px;
            line-height: 32px;
            color: $black;
        }
    }

    // Public server bubble
    .communityInfoContainer__286d6 {
        margin-top: $size-xxs;
        margin-left: -20px;
        --background-accent: $cream;

        .communityInfoPill_d3f445 {
            border-radius: 0 $size-max $size-max 0;
            color: $black;
        }
    }
}
