@use "../../top/vars" as *;
@use "../../top/filter";

// Server banner
.container-1-ERn5 {
    .headerContent-2SNbie {
        color: $cream;
        @include filter.shadow;

        // Server name
        .name-3Uvkvr {
            font-family: var(--font-display);
            position: relative;
            font-style: oblique;
            bottom: 4px;
            font-size: 22px;
            line-height: 32px;
            color: $black;
        }
    }

    // Public server bubble
    .communityInfoContainer-1dMVpU {
        margin-top: $size-xxs;
        margin-left: -20px;
        --background-accent: $cream;

        .communityInfoPill-2Mll66 {
            border-radius: 0 $size-max $size-max 0;
            color: $black;
        }
    }
}
