@use "../../top/vars" as *;

// Boost info
.textArea_f2029c {
    .goalText__3bdd2,
    .progressFraction_a9cb03 > * {
        color: $cream !important;
    }
}

// Boost progress bar
.progressBarContainer__9b571 {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    .progressBar_db0972,
    .container__4f639:hover & .progressBar_db0972 {
        background: linear-gradient(90deg, $red, $cream);
    }
}

// By Jaegerwald - Replace Tada Icon when the Server Has Unlocked All Boosting Perks with one from Twemoji.
// https://discord.com/channels/1015060230222131221/1028106818368589824/1093881144719720488
.tadaIcon__3b97b {
    color: transparent;
    background-image: url("https://abs.twimg.com/emoji/v2/svg/1f389.svg");
    height: 16px;
    width: 16px;
    position: relative;
    bottom: 8px;
    left: 200px;
}
