@use "../../top/vars" as *;

// New unreads / in voice bubble
.bar__004d9 {
    border: $size-s solid $black;
    background: $cream;

    height: 24px - $size-s;
    font-size: 16px;
    border-radius: $size-max;

    svg,
    .barText__32a63 {
        color: $black !important;
    }

    .voiceChannelsIcon__2516e path {
        fill: $black;
    }
}
