@use "../../top/vars" as *;

// Channel category
.icon_ef4486 {
    color: $black;
    width: 20px;
    height: 20px;
}

:is(.icon_ef4486, .name__590d6) {
    .wrapper__9c483.muted_de6e6e & {
        color: $black;
        opacity: 0.6;
    }

    .wrapper__9c483:hover &,
    .wrapper__9c483.muted_de6e6e:hover & {
        color: $black;
    }
}
