@use "../../top/vars" as *;
@use "../../top/pip";

$spacing: 4px;
$channel-height: calc(34px - ($spacing / 2));
$icon-size: calc(20px + 6px);
$spine-size: calc($icon-size / 1.5);

// Channel
.containerDefault-YUSmu3 {
    background: $black;
    height: $channel-height;
    box-sizing: border-box;
    border: $size-xs solid;
    border-left: 0;

    &:not(.container-1Bj0eq .containerDefault-YUSmu3) {
        border-color: $cream;
        border-radius: 0 calc($channel-height / 2) calc($channel-height / 2) 0;
        margin-top: $spacing;
    }

    // Browse channels
    &.wrapper-NhbLHG {
        margin-left: 0;
    }

    // Inner link
    .link-1_kTxV {
        padding: 0 8px;
    }

    // Channel icon
    .icon-2W8DHg {
        height: $icon-size;
        width: $icon-size;
    }

    .name-28HaxV {
        line-height: $icon-size;
    }

    :is(.name-28HaxV, .icon-2W8DHg, :is(.iconItem-1EjiK0, .iconItem-1EjiK0:hover) .actionIcon-2sw4Sl, .overflow-1wOqNV) {
        color: $cream;
    }

    // Unread pip
    .unread-36eUEm {
        @include pip.pip($color: $cream);
        margin-top: -(pip.$pip-size);
    }
}

// Red when muted
.modeMuted-2T4MDZ,
.modeMuted-2T4MDZ:hover {
    :is(.name-28HaxV, .icon-2W8DHg, :is(.iconItem-1EjiK0, .iconItem-1EjiK0:hover) .actionIcon-2sw4Sl, .overflow-1wOqNV) {
        color: $red;
    }
}

// Cream when unread
.modeUnread-3Cxepe,
.modeUnread-3Cxepe:hover {
    :is(.name-28HaxV, .icon-2W8DHg, :is(.iconItem-1EjiK0, .iconItem-1EjiK0:hover) .actionIcon-2sw4Sl, .overflow-1wOqNV) {
        color: $cream;
    }
}

// Inverted when connected or selected
.containerDefault-YUSmu3:has(.modeConnected-NrO4cP, .modeSelected-3DmyhH) {
    background: $cream;
    border-color: $black !important;
}

:is(.modeConnected-NrO4cP, .modeSelected-3DmyhH) {
    &,
    &:hover {
        :is(.name-28HaxV, .icon-2W8DHg, :is(.iconItem-1EjiK0, .iconItem-1EjiK0:hover) .actionIcon-2sw4Sl, .overflow-1wOqNV) {
            color: $black;
        }
    }
}

// Threads
.container-1Bj0eq {
    overflow: hidden;
    border: solid $cream;
    border-width: 0 $size-xs $size-xs 0;
    width: 210px;
    border-radius: 0 0 calc($channel-height / 2) 0;

    // Thread
    .containerDefault-YUSmu3 {
        margin-top: 0;
        border: 0;
    }

    // Spine
    .spine-29OFwR,
    .spineBorder-1-F4s1 {
        top: 0;
        height: $spine-size;
        width: $spine-size;
        color: $red;
    }

    .spine-29OFwR + .spine-29OFwR {
        transform: rotateX(180deg) translateY(4px - $spine-size) !important;
    }
}

// Channel info
.channelInfo-3jN1ay {
    // Forum active/new threads
    & > .text-xs-semibold-3E_l31 {
        --text-muted: $cream;
        --text-brand: $cream;
    }

    // Mention badge
    .numberBadge-37OJ3S {
        background: $red !important;
        color: $black;
        padding-left: 2px;
        padding-bottom: 5px;
    }
}
