@use "../../top/vars" as *;
@use "../../top/card";

// Current event info
.container__8567b {
    margin: 0;

    &:not(:empty) {
        border-bottom: $size-s solid $cream;
    }

    .channelNotice__36ec1 {
        @include card.xlarge;
        margin: 0 $size-m $size-m;
        padding: $size-m;
        background: $black;

        .closeIcon__0a0fe,
        .stageIcon_fb04a0 {
            color: $cream;
        }

        .liveIndicator_b9b167 {
            background: $cream;
        }

        .liveNowText__8623e {
            color: $cream !important;
        }

        // Event Details button
        .joinButton_a6e0b7 {
            @include card.round;
        }
    }
}
