@use "../../top/vars" as *;
@use "../../top/card";

// Get started tasks

.progressBarContainer__7db4a {
    margin: 0 0 12px 8px;

    .progressBarText_a3f934 {
        h3 {
            font-family: var(--font-primary);
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .arrow_fe305f {
            color: $cream;
        }
    }

    .progressBar__0df5c {
        border: $size-xs solid $cream;
        border-radius: $size-max;
        background: $black !important;

        .progressBar__00a1a {
            height: 4px;
            background: linear-gradient(90deg, $red, $cream) !important;
        }
    }
}

.divider__7b6ed {
    display: none;
}
