@use "../../top/vars" as *;
@use "../../top/card";

// Get started tasks

.progressBarContainer__82ad7 {
    margin: 0 0 12px 8px;

    .progressBarText__17eb1 {
        h3 {
            font-family: var(--font-primary);
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .arrow_fe305f {
            color: $cream;
        }
    }

    .progressBar__2cbc2 {
        border: $size-xs solid $cream;
        border-radius: $size-max;
        background: $black !important;

        .progressBar__47525 {
            height: 4px;
            background: linear-gradient(90deg, $red, $cream) !important;
        }
    }
}

.divider_e297a9 {
    display: none;
}
