@forward "./banner";
@forward "./boost";
@forward "./bubbles";
@forward "./category";
@forward "./channel";
@forward "./event";
@forward "./userpanel";
@forward "./voice";

@use "../../top/vars" as *;

// Overall background
.sidebar-1tnWFu,
#{$root} .container-1NXEtd {
    background: $red;
}
