@forward "./banner";
@forward "./boost";
@forward "./bubbles";
@forward "./category";
@forward "./channel";
@forward "./event";
@forward "./userpanel";
@forward "./voice";

@use "../../top/vars" as *;

// Overall background
.sidebar-1tnWFu,
.appMount-2yBXZl .container-1NXEtd {
    background: $red;
}

.platform-win .sidebar-1tnWFu {
    border-radius: $size-l 0 0 $size-l;
}

// Dividers
.container-2giAcK:after,
.sectionDivider-189lqb {
    display: none;
}
