@use "../../top/vars" as *;
@use "../../top/card";

.panels-3wFtMD,
:is(.container-1zzFcN, .container-2NLBJg),
#{$root} :is(.container-YkUktl, .container-1CH86i),
#{$root} :is(.panel-2ZFCRb, .panel-ufc1-o) {
    background: $black;
}

.panels-3wFtMD {
    border-top: $size-s solid $cream;

    // Activity panel
    .activityPanel-9icbyU {
        border-bottom: 0;
    }

    // VC controls
    :is(.container-1zzFcN, .container-2NLBJg) {
        border-bottom: 0;

        // Ping bars
        .ping-2IpLcU {
            color: $black;
        }
        .rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc,
        .rtcConnectionQualityAverage-USzsaD .pingForeground-1BRBTc:not(:last-child) {
            color: $cream;
        }
        .rtcConnectionQualityBad-3fxsmZ .pingForeground-1BRBTc:first-child {
            color: $red;
        }

        // Connection status text
        .rtcConnectionStatusConnected-1c73OK,
        .rtcConnectionStatusConnecting-2D7M2N {
            color: $cream;
        }
        .rtcConnectionStatusError-2QNGCS {
            color: $red;
        }

        // Connected users
        .voiceUsers-25eR9q {
            gap: $size-s;

            .avatarContainer-3tBLDx,
            .expandButton-16yJoR {
                border: $size-xs solid $cream;
                width: 24px;
            }

            .avatarIconOverlay-ZVSfbr {
                color: $cream;
                .avatarIconRed-uo-tMF {
                    color: $red;
                }
            }

            // See all connected users
            .primary-38Hs-h {
                background: $cream;
                color: $black;
                box-sizing: content-box;
                padding: 0;
            }
        }

        // Voice chat options
        :is(.button-1EGGcP, .button-2gNyE9):not(.disabledButtonWrapper-1m0hYZ) {
            @include card.round;
        }
    }

    // Self panel
    :is(.container-YkUktl, .container-1CH86i) {
        // Username
        .title-338goq {
            font-family: var(--font-display);
            margin-top: -10px;
            line-height: 28px;
        }
    }

    .title-338goq,
    .subtext-2HDqJ7,
    .button-12Fmur,
    .button-12Fmur:hover {
        color: $cream;
    }

    :is(.redIcon-1ppjsM, .redIcon-3U81HA),
    :is(.strikethrough-2Kl6HF, .strikethrough-3nXjYr) {
        color: $red;
    }
}
