/* Settings panel */
.bd-settings-title,
.bd-setting-header label,
.bd-addon-list .bd-description {
    color: var(--ieytd-color-2);
}

.bd-search,
.bd-title * {
    color: var(--ieytd-color-3);
}

.bd-description-wrap,
.bd-footer,
.floating-window-buttons {
    background: var(--ieytd-color-3);
}

.bd-addon-card {
    border: 2px solid var(--ieytd-color-2);
    box-shadow: inset 0 0 0 2px var(--ieytd-color-2);
}

.defaultColor-2cKwKo,
.title-2dsDLn {
    color: var(--ieytd-color-2);
}

.contentColumn-1C7as6 .button-f2h6uQ {
    color: var(--ieytd-color-3);
}

.contentColumn-1C7as6 .button-f2h6uQ:hover {
    background: var(--ieytd-color-1);
}

.contentColumn-1C7as6 .button-f2h6uQ.colorRed-rQXKgM {
    color: var(--ieytd-color-1);
}

.contentColumn-1C7as6 .button-f2h6uQ.colorRed-rQXKgM:hover {
    color: var(--ieytd-color-3);
}

.popoutInfo-16MuYF {
    background: var(--ieytd-color-3);
}

.accountList-305sx3 .h5-2RwDNl {
    color: var(--ieytd-color-3);
}

/* ??? */
.bd-button,
.bd-button:hover,
.bd-addon-views .bd-view-button.selected {
    background-color: var(--ieytd-color-1);
    color: var(--ieytd-color-2);
}

.bd-reload,
.bd-reload:hover,
.bd-addon-views .bd-view-button.selected svg {
    fill: var(--ieytd-color-2);
}

.bd-addon-button svg {
    fill: var(--ieytd-color-2) !important;
}

.bd-button.bd-button-danger {
    background-color: var(--ieytd-color-3);
    border: 2px solid var(--ieytd-color-1);
}

.bd-button.bd-button-danger:hover {
    background-color: var(--ieytd-color-1);
}

.bd-addon-header .bd-switch-body {
    border: 2px solid var(--ieytd-color-1);
    height: 28px;
    width: 44px;
}

/* Plugin error */
.bd-error-modal-header h4 {
    color: var(--ieytd-color-3);
}

.bd-tab-bar {
    position: relative;
    top: 10px;
}

.bd-tab-item {
    color: var(--ieytd-color-1);
}

.bd-addon-error {
    background-color: var(--ieytd-color-3);
}

.bd-addon-error-file {
    color: var(--ieytd-color-2);
}

/* Toasts */
.bd-toasts {
    align-items: flex-end;
}

.bd-toast {
    color: var(--ieytd-color-2);
    border: 2px solid var(--ieytd-color-2);
    border-radius: 20px;
    padding-right: 35px;
}

/* Custom CSS editor
    Keep Custom CSS editor and code related parts untouched.
    Avoids issues when working with the Custom CSS editor.
*/
#bd-customcss-detach-container.hljs,
#bd-customcss-detach-container.inline,
#bd-customcss-detach-container.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace !important;
    text-transform: none !important;
    text-shadow: none !important;
}

#bd-editor-controls,
#bd-editor-controls button,
#bd-editor-controls button:hover {
    color: var(--ieytd-color-3);
}
