@use "../top/vars" as *;
@use "../top/card";

.vc-addon-card {
    @include card.large;

    &:hover {
        background: unset;
        transform: none;
    }
}

.vc-plugins-info-button {
    &.button__4f306,
    svg:not(:hover, :focus) {
        color: $cream;
    }
}

.vc-settings-donate {
    .contents_fb6220 {
        color: $cream;
    }
    .lookLink__93965.colorTransparent__4c280 {
        @include card.round;
        transform: none !important;
        position: absolute;
        bottom: 1em;
    }
}
