@use "../../../top/vars" as *;
@use "../../../top/card";

// Publish announcement reminder

.bumpBox-1Pp4td {
    @include card.med;
    align-items: baseline;

    .icon-3N9zCW,
    .closeIcon-2Qp1gl {
        color: $cream;
        margin-bottom: -2px;
    }
}
