@use "../../../top/vars" as *;
@use "../../../top/card";

// Publish announcement reminder

.bumpBox_b41ccc {
    @include card.med;
    align-items: baseline;

    .icon_c83684,
    .closeIcon__9f1b5 {
        color: $cream;
        margin-bottom: -2px;
    }
}
