@use "../../../top/vars" as *;
@use "../../../top/card";

// Publish announcement reminder

.bumpBox_cfd81a {
    @include card.med;
    align-items: baseline;

    .icon_c766f4,
    .closeIcon__1f39d {
        color: $cream;
        margin-bottom: -2px;
    }
}
