@use "../../../top/vars" as *;
@use "../../../top/card";

// Reacts
:is(.reaction_f61c73, .reaction_ec6b19) {
    &,
    &:hover {
        @include card.round;

        :is(.reactionCount_f61c73, .reactionCount_ec6b19) {
            color: inherit;
        }
    }

    // Selected react
    &:is(.reactionMe_f61c73, .reactionMe_ec6b19) {
        border-color: $cream;
        background: $cream;

        :is(.reactionCount_f61c73, .reactionCount_ec6b19) {
            color: $black;
        }
    }

    // Super react
    &[style*="background"] {
        border-color: $red !important;
        background: $black !important;

        :is(.reactionCount_f61c73, .reactionCount_ec6b19) {
            color: $red !important;
        }

        // Selected super react
        &:is(.reactionMe_f61c73, .reactionMe_ec6b19) {
            background: $red !important;

            :is(.reactionCount_f61c73, .reactionCount_ec6b19) {
                color: $cream !important;
            }
        }
    }
}

// Add reacts button
.reactionBtn_f61c73 {
    visibility: visible;

    &,
    &:hover .icon_f61c73 {
        color: $cream;
    }
}
