@use "../../../top/vars" as *;
@use "../../../top/card";

// Reacts
:is(.reaction_b90ab0, .reaction_fef95b) {
    &,
    &:hover {
        @include card.round;

        :is(.reactionCount__60448, .reactionCount_b49901) {
            color: inherit;
        }
    }

    // Selected react
    &:is(.reactionMe_bf6909, .reactionMe__98f57) {
        border-color: $cream;
        background: $cream;

        :is(.reactionCount__60448, .reactionCount_b49901) {
            color: $black;
        }
    }

    // Super react
    &[style*="background"] {
        border-color: $red !important;
        background: $black !important;

        :is(.reactionCount__60448, .reactionCount_b49901) {
            color: $red !important;
        }

        // Selected super react
        &:is(.reactionMe_bf6909, .reactionMe__98f57) {
            background: $red !important;

            :is(.reactionCount__60448, .reactionCount_b49901) {
                color: $cream !important;
            }
        }
    }
}

// Add reacts button
.reactionBtn__46474 {
    visibility: visible;

    &,
    &:hover .icon_b0b9a4 {
        color: $cream;
    }
}
