@use "../../../top/vars" as *;
@use "../../../top/card";

// Reply preview
.repliedMessage__636d2 {
    --reply-spacing: 0;
    color: $cream;

    // Spine
    &::before {
        border-color: $red;

        .cozy_f5c119 & {
            --avatar-size: 36px;
        }
    }

    // Username
    .username__0b0e7.clickable__09456 {
        font-size: 1.2rem;
        margin-top: -0.5rem;
    }

    // Message text
    .repliedTextPreview__1a8a4.clickable__09456:hover {
        color: $cream;
    }
}
