@use "../../../top/vars" as *;
@use "../../../top/card";

// Spoiler
.spoilerContent__383f3 {
    background: unset;

    // Text specific
    .markup_a7e664 & {
        @include card.round;
        box-decoration-break: slice;
        border-color: $red;
    }

    // Embed specific
    .container__62863 & {
        // Hidden spoiler
        &.hidden_f44e41 {
            &,
            &:not(:focus) {
                box-shadow: 0 0 0 $size-xs $red inset;
            }
        }

        // Spoiler icon
        .spoilerWarning_d68130 {
            background: $black;
            color: $red;
        }

        // Immediate wrapper around content
        .hiddenAttachment_a5e57b.obscured_d8e1c5 {
            filter: none;
            visibility: hidden;
        }
    }

    // Hidden spoiler
    &.hidden_f44e41 {
        background: repeating-linear-gradient(-45deg, $red, $red $size-xs, $black $size-xs, $black $size-m);
    }
}
