@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Thread preview
.container_c15230 {
    @include card.large;
    background: $black;
    padding: 0;

    .topLine_c15230,
    .bottomLine_c15230 {
        padding: $size-s $size-m;
    }

    .topLine_c15230 {
        background: $red;
        align-items: baseline;

        .name_c15230,
        .cta_c15230 {
            color: $black;
        }

        // Thread title
        .name_c15230 {
            font-family: var(--font-display);
            font-style: oblique;
            font-size: 1rem;
            overflow: visible;
            @include filter.shadow($size-xxs);
        }

        // Message count
        .cta_c15230 {
            font-size: 0.8rem;
        }
    }

    .bottomLine_c15230 {
        color: $cream;
        align-items: baseline;

        .threadMessageAccessory_ec86aa {
            align-items: baseline;
        }

        .username_ec86aa {
            font-size: 0.875rem;
            margin-top: -4px;
        }

        .timestamp_c15230 {
            color: $cream;
            opacity: 0.7;
        }
    }
}

// Thread line
.cozy_ec86aa.hasThread_ec86aa::after {
    border-color: $cream;
    bottom: 29px + ($size-s * 2);

    :is(.font-size-12, .font-size-14, .font-size-15, .font-size-16, .font-size-18, .font-size-20, .font-size-24) & {
        left: 35px + $size-s;
        width: 120px;
        z-index: -1;
    }
}
