@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Thread preview
.container__17159 {
    @include card.large;
    background: $black;
    padding: 0;

    .topLine_a04ad0,
    .bottomLine__799ea {
        padding: $size-s $size-m;
    }

    .topLine_a04ad0 {
        background: $red;
        align-items: baseline;

        .name_ff3e83,
        .cta__52756 {
            color: $black;
        }

        // Thread title
        .name_ff3e83 {
            font-family: var(--font-display);
            font-style: oblique;
            font-size: 1rem;
            overflow: visible;
            @include filter.shadow($size-xxs);
        }

        // Message count
        .cta__52756 {
            font-size: 0.8rem;
        }
    }

    .bottomLine__799ea {
        color: $cream;
        align-items: baseline;

        .threadMessageAccessory_ef0459 {
            align-items: baseline;
        }

        .username__0b0e7 {
            font-size: 0.875rem;
            margin-top: -4px;
        }

        .timestamp_e50e7f {
            color: $cream;
            opacity: 0.7;
        }
    }
}

// Thread line
.cozy_f5c119.hasThread__44ae4::after {
    border-color: $cream;
    bottom: 29px + ($size-s * 2);

    :is(.font-size-12, .font-size-14, .font-size-15, .font-size-16, .font-size-18, .font-size-20, .font-size-24) & {
        left: 35px + $size-s;
        width: 120px;
        z-index: -1;
    }
}
