@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";
@use "../../../top/svg";

.quickSelectLabel-ArUyd9,
.quickSelect-384d3G {
    color: $cream;
}

.appMount-2yBXZl .quickSelectArrow-1dOOHb {
    background-image: svg.$audit-arrow;
}

.content-28mbXd {
    gap: $size-l;
}

// Log entries
.appMount-2yBXZl {
    .auditLog-1NVAY0 {
        @include card.large;
        margin-bottom: $size-l;

        // Open arrow
        &,
        &:hover {
            .expandForeground-1rs9T1 {
                stroke: $cream;
            }
        }

        // Text
        strong {
            color: $cream;
        }
    }

    // Inner
    .headerClickable-zGQJz3,
    .headerDefault-1e6yjj,
    .headerExpanded-1-zwDr,
    .changeDetails-1kMZqI {
        background: unset;
        color: $cream;
    }

    // Action type icon
    .icon-2PiQ65 {
        @include filter.sepia;
    }
}

.divider-M3saWq {
    display: none;
}
