@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";
@use "../../../top/svg";

.quickSelectLabel_cf5c1b,
.quickSelect_ae48d2 {
    color: $cream;
}

#{$root} .quickSelectArrow__9853b {
    background-image: svg.$audit-arrow;
}

.content__3d283 {
    gap: $size-l;
}

// Log entries
#{$root} {
    .auditLog__6c805 {
        @include card.large;
        margin-bottom: $size-l;

        // Open arrow
        &,
        &:hover {
            .expandForeground_c53c75 {
                stroke: $cream;
            }
        }

        // Text
        strong {
            color: $cream;
        }
    }

    // Inner
    .headerClickable_c4d7a9,
    .headerDefault__3e003,
    .headerExpanded__03c29,
    .changeDetails_ecd760 {
        background: unset;
        color: $cream;
    }

    // Action type icon
    .icon__99140 {
        @include filter.sepia;
    }
}

.divider__1505d {
    display: none;
}
