@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";
@use "../../../top/svg";

.quickSelectLabel__79774,
.quickSelect__540d0 {
    color: $cream;
}

#{$root} .quickSelectArrow__5988b {
    background-image: svg.$audit-arrow;
}

.content__97388 {
    gap: $size-l;
}

// Log entries
#{$root} {
    .auditLog__9228d {
        @include card.large;
        margin-bottom: $size-l;

        // Open arrow
        &,
        &:hover {
            .expandForeground__0d39b {
                stroke: $cream;
            }
        }

        // Text
        strong {
            color: $cream;
        }
    }

    // Inner
    .headerClickable__334f7,
    .headerDefault__31bb1,
    .headerExpanded__05a35,
    .changeDetails_c0aa16 {
        background: unset;
        color: $cream;
    }

    // Action type icon
    .icon__2cbfe {
        @include filter.sepia;
    }
}

.divider__1ee1f {
    display: none;
}
