@use "../../../top/vars" as *;
@use "../../../top/card";

#{$root} {
    .bannedUser_fb03db {
        @include card.large;
        box-shadow: none;
        padding: $size-m;

        .username_ae1d35,
        .username_ae1d35 .discrim__7fd4d {
            color: $cream;
        }
    }
}
