@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";
@use "../../../top/status";

// Preview
.sparkles__67f09 {
    @include filter.sepia;
}

// Preview card
.card__81c50 {
    @include card.large;

    .guildIcon_ebe093 {
        foreignObject {
            mask: none;
        }

        .iconMask_c8b196,
        .avatar__8f944 {
            border-radius: $size-max;
            background: $black;
        }
    }

    .dotOnline__0994b {
        background: $cream;
    }

    .dotOffline__65e50 {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $cream;

        &::before {
            @include status.dot;
        }
    }
}

.checklist__88646 {
    @include card.large;

    .header_d08072 {
        background: unset;

        .headerIcon_eec0c0 {
            @include filter.sepia;
        }

        .doesNot__6a1dd {
            color: $red;
        }
    }
}

.separator__26ad8 {
    height: 0;
}
