@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";
@use "../../../top/status";

// Preview
.sparkles_b90792 {
    @include filter.sepia;
}

// Preview card
.card__81c50 {
    @include card.large;

    .guildIcon__3f308 {
        foreignObject {
            mask: none;
        }

        .iconMask__4618d,
        .avatar__8f944 {
            border-radius: $size-max;
            background: $black;
        }
    }

    .dotOnline__0276c {
        background: $cream;
    }

    .dotOffline__3ba8f {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $cream;

        &::before {
            @include status.dot;
        }
    }
}

.checklist__0a7d3 {
    @include card.large;

    .header__17969 {
        background: unset;

        .headerIcon__038a6 {
            @include filter.sepia;
        }

        .doesNot__5f60b {
            color: $red;
        }
    }
}

.separator__31144 {
    height: 0;
}
