@use "../../../top/vars" as *;

.appMount-2yBXZl {
    .emojiRow-1aPaM- {
        box-shadow: none;
    }

    .emojiAliasPlaceholder-3oShSx {
        &::before,
        &::after {
            color: $cream;
            opacity: 0.6;
        }
    }

    .emojiAliasPlaceholderContent-12ybcH {
        color: $cream;
    }
}
