@use "../../../top/vars" as *;

.uploader__9af74 {
    box-shadow: none;
}

.emojiUploadUploadRequirementsList__51c84 {
    color: $cream;
}

#{$root} {
    .emojiRow_db53d4 {
        box-shadow: none;
    }

    .emojiAliasPlaceholder_ecea45 {
        &::before,
        &::after {
            color: $cream;
            opacity: 0.6;
        }
    }

    .emojiAliasPlaceholderContent_e3b4e8 {
        color: $cream;
    }
}
