@use "../../../top/vars" as *;

.uploader__312df {
    box-shadow: none;
}

.emojiUploadUploadRequirementsList__2ac5a {
    color: $cream;
}

#{$root} {
    .emojiRow__4661c {
        box-shadow: none;
    }

    .emojiAliasPlaceholder__71733 {
        &::before,
        &::after {
            color: $cream;
            opacity: 0.6;
        }
    }

    .emojiAliasPlaceholderContent_ea7491 {
        color: $cream;
    }
}
