@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.caret_ea2a21,
.detailsIcon_d5408a,
.featureIcon_ea2a21,
.expandIcon_c26824 {
    color: $cream;
}

// Default icons
.iconWrapper_d5408a {
    background: $cream;

    .icon_d5408a {
        color: $black;
    }
}

// Channel dropdown
.wrapper_f6639d {
    .iconsContainer_f6639d {
        height: auto;
    }
}

// Bots and apps
// Group name
.name_bfc5ea {
    align-items: flex-end;
}

// Group icon
.icon_bfc5ea,
.icon_b119de,
.channelIcon_a93d5d {
    color: $cream;
}

// Card
.cardHeader_dedfd1 {
    background: unset;
}

// Card content
.entryItem_ec6bf1:last-child {
    margin-bottom: 16px;
}

// Approve/deny
.item_b05c08 {
    background: $black;

    &.deny_b05c08 {
        color: $red;
    }

    &.allow_b05c08 {
        color: $cream;
    }

    &.selected_b05c08 {
        color: $black;

        &.deny_b05c08 {
            background: $red;
        }

        &.allow_b05c08 {
            background: $cream;
        }
    }
}

// Granted and denied permissions
.check_a06168 {
    color: $cream;
}
.cross_a06168 {
    color: $red;
}
