@use "../../../top/vars" as *;
@use "../../../top/card";

.inviteDisabledContainer__409ce {
    margin-bottom: $size-l;

    path {
        fill: $cream;
    }
}

.user__3b273 {
    color: $cream;
}

#{$root} .inviteSettingsInviteRow__0d747 {
    box-shadow: none;
}
