@use "../../../top/vars" as *;
@use "../../../top/card";

.inviteDisabledContainer_edb39d {
    margin-bottom: $size-l;

    path {
        fill: $cream;
    }
}

.user_edb39d {
    color: $cream;
}

#{$root} .inviteSettingsInviteRow_edb39d {
    box-shadow: none;
}
