@use "../../../top/vars" as *;
@use "../../../top/card";

.inviteDisabledContainer_c32c85 {
    margin-bottom: $size-l;

    path {
        fill: $cream;
    }
}

.user__3b273 {
    color: $cream;
}

#{$root} .inviteSettingsInviteRow__130c9 {
    box-shadow: none;
}
