@use "../../../top/vars" as *;
@use "../../../top/card";

.searchBar_d72441 {
    @include card.round;
}

.member__55269 {
    @include card.round;
    padding: $size-m;
    margin-top: $size-l;

    .overflowIcon_b3d30c .overflowIconFg__2b31c {
        fill: $cream;
    }
}
