@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

// Upload custom image
.imageUploaderIcon__0c13b {
    display: none;
}

// Server icon upload
.avatarUploader__243fd {
    // Icon preview
    .imageUploaderInner_da8332 {
        border: $size-s solid $cream;
    }

    // Change icon text
    .imageUploaderHint_dc8def {
        color: $black;
        text-shadow: 0 0 2px $cream;
        font-size: 24px;
        line-height: 24px;
        font-family: var(--font-display);
    }
}

// Display boost bar
.progressBarImage__1bc20 {
    @include filter.sepia;
}

// Server background
.avatarUploaderInnerSquare__72e9d {
    @include card.large;
}
.avatarUploaderInnerSquareDisabled__3cfd1 {
    border-color: $red;
}
