@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

// Upload custom image
.imageUploaderIcon__4b7d2 {
    display: none;
}

// Server icon upload
.avatarUploader__92702 {
    // Icon preview
    .imageUploaderInner_ecfc97 {
        border: $size-s solid $cream;
    }

    // Change icon text
    .imageUploaderHint__3b483 {
        color: $black;
        text-shadow: 0 0 2px $cream;
        font-size: 24px;
        line-height: 24px;
        font-family: var(--font-display);
    }
}

// Display boost bar
.progressBarImage__54e3f {
    @include filter.sepia;
}

// Server background
.avatarUploaderInnerSquare__317f2 {
    @include card.large;
}
.avatarUploaderInnerSquareDisabled__2abd0 {
    border-color: $red;
}
