@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

// Upload custom image
.imageUploaderIcon_de76e4 {
    display: none;
}

// Server icon upload
.avatarUploader_f0a9ff {
    // Icon preview
    .imageUploaderInner_de76e4 {
        border: $size-s solid $cream;
    }

    // Change icon text
    .imageUploaderHint_de76e4 {
        color: $black;
        text-shadow: 0 0 2px $cream;
        font-size: 24px;
        line-height: 24px;
        font-family: var(--font-display);
    }
}

// Display boost bar
.progressBarImage_f0a9ff {
    @include filter.sepia;
}

// Server background
.avatarUploaderInnerSquare_e9b3be {
    @include card.large;
}
.avatarUploaderInnerSquareDisabled_e9b3be {
    border-color: $red;
}
