@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.banner-2VHeQm {
    @include filter.sepia;
}

.featureCard_b1a8d5 {
    @include card.large;

    .featureIcon_b1a8d5 {
        background: unset;

        svg {
            zoom: 2;
        }

        path {
            fill: $cream;
        }
    }
}

// Eligibility
.checklistContainer-12xGp5 {
    @include card.large;

    .checklistHeader-3liG7E {
        background: unset;

        .requirementsImage-B2ufg6 {
            @include filter.sepia;
        }

        .warning-2DeIgm {
            color: $red;
        }
    }
}

// Checks
.checklistItem_bd2368 {
    align-items: center;

    .checklistIcon_bd2368 {
        path[fill="var(--yellow-300)"] {
            fill: $cream;
        }

        path[fill="var(--red-400)"] {
            fill: $red;
        }
    }
}

.separator-RaufQu,
.separator-2qVfIV {
    height: 0;
}
