@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.descriptionBox_c38f8d {
    background: unset;
}

.descriptionRow_c38f8d {
    color: $cream;
}

.descriptionIcon_c38f8d {
    circle {
        fill: $black;
    }

    path {
        fill: $cream;
        .descriptionSection_c38f8d:last-child & {
            fill: $red;
        }
    }
}
