@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.descriptionBox_cca0c3 {
    background: unset;
}

.descriptionRow__5d784 {
    color: $cream;
}

.descriptionIcon__2e291 {
    circle {
        fill: $black;
    }

    path {
        fill: $cream;
        .descriptionSection_d8976f:last-child & {
            fill: $red;
        }
    }
}
