@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.descriptionBox_bdb07b {
    background: unset;
}

.descriptionRow__9397a {
    color: $cream;
}

.descriptionIcon__59591 {
    circle {
        fill: $black;
    }

    path {
        fill: $cream;
        .descriptionSection_e074a0:last-child & {
            fill: $red;
        }
    }
}
