@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

// Tier chain
#{$root} {
    .tierAccomplished__77998,
    .tierCurrent_fc87b4,
    .tierFirst__327f4 {
        background: $cream;
    }

    .currentTierIcon__6df20 {
        color: $black;
    }

    .background__092a0 {
        color: $red;
    }

    .tierInProgress__549bc {
        background: $red;
    }
}

.foreground__44f58 {
    color: $cream;
}

// Tiers
.tier_d16770 {
    @include card.large;

    .tierHeader_a0ef30,
    .tierBody_fd5f94 {
        color: $cream;
        background: unset;
    }

    // Gem icons
    .tierIcon_fc03d4,
    .tierIconLocked__99052,
    .tierLock__2d9cb {
        color: $cream;
    }

    // Locked tiers
    .tierIconLocked__99052,
    .tierLock__2d9cb {
        opacity: 0.5;
    }

    // Placeholders
    .emptyTierImage_db059c,
    .placeholderImg__4e811 {
        @include filter.sepia;
    }

    // Sticker grid
    .grid_d33a08 {
        gap: $size-s;
        justify-content: center;
        margin: $size-m;

        // Sticker
        .wrapper_d9a30a {
            background: unset;
        }

        .placeholderCard__393a9 {
            border-color: $cream;
            border-radius: $size-m;
        }
    }
}

// Sticker actions
@media (min-width: 1010px) {
    .actions__52158 {
        flex-direction: row;
        inset: -16px 0 auto;

        .action__725fd {
            margin-top: 0;
            width: 50%;
        }
    }
}

.action__725fd,
.soundEdit__4ee33 {
    box-shadow: none;
    background: unset;

    :is(&, &:hover, &:focus) {
        color: $cream;
    }

    &:is(.actionRemove__736ed, .soundRemove__8f7ff) {
        &,
        &:hover,
        &:focus {
            color: $red;
        }
    }

    svg {
        zoom: 1.2;
    }
}
