@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

// Tier chain
#{$root} {
    .tierAccomplished__77998,
    .tierCurrent_fc87b4,
    .tierFirst__327f4 {
        background: $cream;
    }

    .currentTierIcon_bca4bf {
        color: $black;
    }

    .background__3dd67 {
        color: $red;
    }

    .tierInProgress_f08e8b {
        background: $red;
    }
}

.foreground__44f58 {
    color: $cream;
}

// Tiers
.tier_d16770 {
    @include card.large;

    .tierHeader__5bf89,
    .tierBody__615a1 {
        color: $cream;
        background: unset;
    }

    // Gem icons
    .tierIcon__2ac8f,
    .tierIconLocked_c2f292,
    .tierLock__3e43d {
        color: $cream;
    }

    // Locked tiers
    .tierIconLocked_c2f292,
    .tierLock__3e43d {
        opacity: 0.5;
    }

    // Placeholders
    .emptyTierImage__8f53d,
    .placeholderImg_f047ac {
        @include filter.sepia;
    }

    // Sticker grid
    .grid_da1263 {
        gap: $size-s;
        justify-content: center;
        margin: $size-m;

        // Sticker
        .wrapper__93f27 {
            background: unset;
        }

        .placeholderCard__622e2 {
            border-color: $cream;
            border-radius: $size-m;
        }
    }
}

// Sticker actions
@media (min-width: 1010px) {
    .actions__00a5e {
        flex-direction: row;
        inset: -16px 0 auto;

        .action_d01fae {
            margin-top: 0;
            width: 50%;
        }
    }
}

.action_d01fae,
.soundEdit__8bf1b {
    box-shadow: none;
    background: unset;

    :is(&, &:hover, &:focus) {
        color: $cream;
    }

    &:is(.actionRemove_e920bc, .soundRemove__7165f) {
        &,
        &:hover,
        &:focus {
            color: $red;
        }
    }

    svg {
        zoom: 1.2;
    }
}
