@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.heroBanner_f6ab4c,
.howItWorksImage_aa72d6,
.roleSubscriptionLanyardIllo_da92c3,
.roleSubscriptionSocial_da92c3,
.roleSubscriptionEarningIllo_da92c3,
.roundAvatar_da92c3 {
    @include filter.sepia;
}

// Top card
.card_ea91d1 {
    @include card.xlarge;

    .brownMessageBlock_b74455 {
        @include card.large;
    }
}

.sectionDivider_ea91d1 + div {
    margin-top: $size-xl;
}

// How it works
.howItWorksContainer_aa72d6,
.howItWorksImageContainer_aa72d6 {
    background: unset;
}

// Benefits for creators
.earningsPreviewContainer_da92c3 {
    @include card.med;
    background: unset !important;
}
.avatarCard_da92c3 {
    @include card.med;
    overflow: visible;
}
.verticalConnector_da92c3 {
    border: $size-xxs solid $cream !important;
}

// Learn from other creators
.carouselCaret_d6fc3a,
.viewServerButtonText_adff39 {
    color: $cream;
}

.guildCardHeaderAvatar_adff39 {
    border-radius: $size-max;
}

.guildSubscriberCount_adff39 {
    @include card.round;

    .subscriberCountText_adff39,
    .subscriberCountValue_adff39 {
        background: unset;
        font-style: normal;
    }

    svg {
        display: none;
    }
}

.premiumEmojisRow_adff39 {
    gap: $size-m;
}

.emojisContainer_adff39 {
    @include card.round;
}
