@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.heroBanner_ef5822,
.howItWorksImage__643c5,
.roleSubscriptionLanyardIllo__5178c,
.roleSubscriptionSocial__59cb2,
.roleSubscriptionEarningIllo__18c33,
.roundAvatar_d193ab {
    @include filter.sepia;
}

// Top card
.card_bc6ee2 {
    @include card.xlarge;

    .brownMessageBlock__0339a {
        @include card.large;
    }
}

.sectionDivider_e3de9e + div {
    margin-top: $size-xl;
}

// How it works
.howItWorksContainer__025eb,
.howItWorksImageContainer__33219 {
    background: unset;
}

// Benefits for creators
.earningsPreviewContainer__2b25a {
    @include card.med;
    background: unset !important;
}
.avatarCard__8d1e3 {
    @include card.med;
    overflow: visible;
}
.verticalConnector__63610 {
    border: $size-xxs solid $cream !important;
}

// Learn from other creators
.carouselCaret__329f2,
.viewServerButtonText__0d2c5 {
    color: $cream;
}

.guildCardHeaderAvatar_c2e74d {
    border-radius: $size-max;
}

.guildSubscriberCount_a81224 {
    @include card.round;

    .subscriberCountText__53bbe,
    .subscriberCountValue_f16cf3 {
        background: unset;
        font-style: normal;
    }

    svg {
        display: none;
    }
}

.premiumEmojisRow__72baf {
    gap: $size-m;
}

.emojisContainer__8e659 {
    @include card.round;
}
