@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.notice__082c9 {
    @include card.large;
}

.enableContainer__8015f {
    background: unset;
    margin-bottom: $size-l;

    .activeCircle__563e0 {
        background: $cream;
        color: $black;
    }
}

.previewContainer__0eaea {
    @include card.xlarge;

    .icon_b6bb49 {
        border-radius: $size-max;
    }

    .welcomeTitle__0d3cf strong {
        color: $cream;
    }

    .welcomeChannel__64805 {
        @include card.large;

        img {
            @include filter.sepia;
        }
    }

    .channelTitleIcon__72f24 {
        color: $cream;
        zoom: 1.5;
    }
}
