@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.notice_dcd39d {
    @include card.large;
}

.enableContainer_a1879c {
    background: unset;
    margin-bottom: $size-l;

    .activeCircle_a1879c {
        background: $cream;
        color: $black;
    }
}

.previewContainer_dcd39d {
    @include card.xlarge;

    .icon_dcd39d {
        border-radius: $size-max;
    }

    .welcomeTitle_dcd39d strong {
        color: $cream;
    }

    .welcomeChannel_dcd39d {
        @include card.large;

        img {
            @include filter.sepia;
        }
    }

    .channelTitleIcon_dcd39d {
        color: $cream;
        zoom: 1.5;
    }
}
