@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.notice__082c9 {
    @include card.large;
}

.enableContainer__0945b {
    background: unset;
    margin-bottom: $size-l;

    .activeCircle_b77e4d {
        background: $cream;
        color: $black;
    }
}

.previewContainer_b0f5b4 {
    @include card.xlarge;

    .icon__5946a {
        border-radius: $size-max;
    }

    .welcomeTitle__722eb strong {
        color: $cream;
    }

    .welcomeChannel__0122f {
        @include card.large;

        img {
            @include filter.sepia;
        }
    }

    .channelTitleIcon_e46886 {
        color: $cream;
        zoom: 1.5;
    }
}
