/* Focus lock popouts
    (All)
    Channel description
    Member profile
    Ctrl+t quickswitcher
    Create/Add new server
    Folder settings
    Link warning
*/

/* Header */
.header-1zd7se {
    background: var(--color-two);
    overflow: hidden;
}
    /* x to close */
    .close-1mLglB {
        opacity: 1;
    }
        .closeIcon-11LhXr {
            color: var(--color-one);
        }
/* Content */
.content-2hZxGK {
    background: var(--color-one);
    border: solid var(--color-two);
    border-width: 4px;
    border-radius: 5px;
} .content-2hZxGK:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
} .content-2hZxGK:not(:last-of-type) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}
    /* Mini titles */
    .h5-2RwDNl {
        color: var(--color-three);
    }
/* Footer */
.theme-dark .footer-31IekZ {
    background-color: var(--color-two);
    box-shadow: none;
}
    /* Major button */
    .lookFilled-yCfaCM.colorRed-rQXKgM {
        color: var(--color-one);
        background-color: var(--color-two);
    }
    .lookFilled-yCfaCM.colorRed-rQXKgM:hover,
    .lookFilled-yCfaCM.colorRed-rQXKgM:active {
        background-color: var(--color-three);
    }
    /* Minor button */
    .theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
        color: var(--color-two);
    }
    .theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk {
        background-image: linear-gradient(0deg,transparent,transparent 1px,var(--color-two) 0,var(--color-two) 2px,transparent 0);
    }
    /* Buttons */
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo,
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
    .theme-dark .footer-31IekZ .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
        color: var(--color-two);
        background: var(--color-one);
    }

/* Channel description focus lock popout */
    /* Content */
    .content-2hZxGK.content-FDHp32 {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-width: 4px;
    }
    .content-FDHp32 a {
        color: var(--color-three);
    }

/* Member profile focus lock popout */
    /* Top section */
    .topSection-13QKHs {
        border: 3px solid var(--color-two);
        box-shadow: 0 0 0 1px var(--color-two) inset;
    }
        /* Colour / image banner */
        .profileBanner-1owKI5,
        .profileBannerPremium-KD60EB {
            width: auto;
        }
        /* Avatar */
        .avatar-3QF_VA {
            border: 6px solid var(--color-two);
            box-shadow: 0 0 0 2px var(--color-two) inset;
        }
        /* Tabs in full */
        .tabBarContainer-sCZC4w {
            border-bottom: 0;
        }
            .tabBar-2hXqzU {
                height: 30px;
            }
            .top-K_jibn .item-3XjbnG {
                border: 2px solid var(--color-two);
                border-bottom: 0;
                margin-right: 5px;
                padding: 0 10px;
                border-radius: 15px 15px 0 0;  
            }
            .top-K_jibn .selected-g-kMVV.item-3XjbnG,
            .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
                background: var(--color-two);
            }
    /* Body in full */
    .body-1Ukv50 {
        background: var(--color-two);
        border-top: 3px solid var(--color-two);
    }
        /* About me etc. */
        .body-1Ukv50 .userInfoSectionHeader-2mYYun,
        .body-1Ukv50 .overflow-1wOqNV {
            color: var(--color-three);
            overflow: visible;
        }
        /* Note and about me text */
        .body-1Ukv50 .input-2g-os5,
        .body-1Ukv50 .input-2g-os5:hover,
        .body-1Ukv50 .input-2g-os5.focused-1AtTHC,
        .body-1Ukv50 .input-2g-os5:focus,
        .body-1Ukv50 .markup-eYLPri,
        .theme-dark .newProfileActivityStyles .content-tXPNDw,
        .theme-dark .newProfileActivityStyles .nameNormal-2fPMD2,
        .theme-dark .newProfileActivityStyles .activityName-3YXl6e {
            background: var(--color-two);
            color: var(--color-one);
        }
        /* Connected accounts, Mutual servers */
        .listScroller-entkMk .listRow-2nO1T6,
        .connectedAccount-1xKpli {
            background: var(--color-three);
            border-radius: 27px;
            margin-bottom: 3px;
        }
    /* Member profile modal fixes */
    .userInfoText-2MFCmH div {
        color: var(--color-one);
    }
    .theme-dark .activityProfile-1712BN .activityName-3YXl6e,
    .theme-dark .activityProfile-1712BN .content-tXPNDw,
    .theme-dark .activityProfile-1712BN .details-2-ciHo,
    .theme-dark .activityProfile-1712BN .name-1-Q7l2,
    .theme-dark .activityProfile-1712BN .nameNormal-2fPMD2,
    .theme-dark .activityProfile-1712BN .nameWrap-3TyM52,
    .theme-dark .activityUserPopout-2MzGCj .activityName-3YXl6e,
    .theme-dark .activityUserPopout-2MzGCj .content-tXPNDw,
    .theme-dark .activityUserPopout-2MzGCj .details-2-ciHo,
    .theme-dark .activityUserPopout-2MzGCj .name-1-Q7l2,
    .theme-dark .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
    .theme-dark .activityUserPopout-2MzGCj .nameWrap-3TyM52,
    .theme-dark .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
    .theme-dark .activityUserPopoutV2-3eKqzY .content-tXPNDw,
    .theme-dark .activityUserPopoutV2-3eKqzY .details-2-ciHo,
    .theme-dark .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
    .theme-dark .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
    .theme-dark .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52,
    .theme-light .activityProfile-1712BN .activityName-3YXl6e,
    .theme-light .activityProfile-1712BN .content-tXPNDw,
    .theme-light .activityProfile-1712BN .details-2-ciHo,
    .theme-light .activityProfile-1712BN .name-1-Q7l2,
    .theme-light .activityProfile-1712BN .nameNormal-2fPMD2,
    .theme-light .activityProfile-1712BN .nameWrap-3TyM52,
    .theme-light .activityUserPopout-2MzGCj .activityName-3YXl6e,
    .theme-light .activityUserPopout-2MzGCj .content-tXPNDw,
    .theme-light .activityUserPopout-2MzGCj .details-2-ciHo,
    .theme-light .activityUserPopout-2MzGCj .name-1-Q7l2,
    .theme-light .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
    .theme-light .activityUserPopout-2MzGCj .nameWrap-3TyM52,
    .theme-light .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
    .theme-light .activityUserPopoutV2-3eKqzY .content-tXPNDw,
    .theme-light .activityUserPopoutV2-3eKqzY .details-2-ciHo,
    .theme-light .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
    .theme-light .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
    .theme-light .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52 {
        color: var(--color-one);
    }
    .barInner-3dHef4 {
        background-color: var(--color-one);
    }
    .text-31kWmP {
        color: var(--color-one);
    }
    
/* Ctrl+T quickswitcher focus lock popout */
.quickswitcher-pKcM9U {
    background: var(--color-one);
    border: 2px solid var(--color-two);
}
    .input-3r5zZY {
        background: var(--color-three);
        border-radius: 50px;
        border: 3px solid var(--color-two);
    }
    .scroller-2qwVWY::-webkit-scrollbar-track {
        background: transparent!important;
    }
    .header-1ZpMzy {
        font-family: var(--font-display);
        color: var(--color-three);
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        font-style: italic;
    }
    /* ping bubble */
    .wrapper-2olG5t {
        background: var(--color-three);
        color: var(--color-two);
        border-radius: 50%;
        width: 18px;
    }
    /* autocomplete */
    .autocompleteQuerySymbol-1iAOG7 {
        color: var(--color-three);
    }

/* Create a new server / Add a server focus lock popout */
.theme-light .root-g14mjS {
    background: transparent;
}
    /* Header */
    .header-1c1AhF,
    .header-12n7su,
    .header-1AP5SJ {
        padding: 16px 24px;
    }
        /* Subtitle */
        .header-1c1AhF .colorHeaderSecondary-g5teka,
        .header-12n7su .colorHeaderSecondary-g5teka,
        .header-1AP5SJ .colorHeaderSecondary-g5teka {
            color: var(--color-one);
        }
    /* Content */
    .templatesList-uohY49,
    .optionsList-dmHy1l {
        margin-top: 0;
        padding-top: 24px;
    }
    .createGuild-2m1V10 {
        margin: 0;
        padding: 16px 4px 16px 24px;
    }
        /* Links */
        .optionsList-dmHy1l .anchor-1MIwyf,
        .createGuild-2m1V10 .anchor-1MIwyf {
            color: var(--color-three);
        }
    /* Footer */
    .footer-31IekZ {
        background: var(--color-two);
    }
        /* Button */
        .theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
            color: var(--color-two);
            background: var(--color-one);
        } .theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
            background: var(--color-three);
        }

/* Folder settings focus lock popout */
    /* Content */
    .content-2hZxGK {
        padding-top: 16px;
    }
        /* colour picker */
        .theme-dark .colorPickerCustom-1swUKF {
            background: var(--color-three);
            border: 2px solid var(--color-two);
            border-radius: 15px;
        }
            /* hue drag handle */
            .hue-2nWTuO > div > div > div > div, .alpha-VcPGeR > div > div > div > div {
                background: var(--color-two)!important;
            }

/* Link warning focus lock popout */
    /* Content */
    .title-3hptVQ {
        color: var(--color-three);
        font-size: 22px;
    }
    /* Footer */
    .footer-31IekZ .lookFilled-yCfaCM.colorBrand-I6CyqQ {
        background: var(--color-one);
        color: var(--color-two);
        border-radius: 40px;
    } .footer-31IekZ .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
        background: var(--color-three);
    }
    .minorAction-194-_3 {
        color: var(--color-three);
    }