/* Tooltips */
.theme-dark .tooltipPrimary-3qLMbS,
.aboutMeGuildIconTooltip-1hnrui {
    background: var(--color-three);
    border: 2px solid var(--color-two);
}
.theme-dark .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
    border-top-color: var(--color-two);
}
    /* Verified server */
    .icon-3BYlXK {
        color: var(--color-three);
    }

/* Emoji tooltip Click to learn more */
.clickCTA-1bk0UN {
    color: var(--color-one);
}